<div class="modal" tabindex="-1" role="dialog" id="searchUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">사용자 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <div class="row">
                            <form id="userModalForm" class="w-lg-100">
                                <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                    <div class="form-group">
                                        <label class="d-block">이름</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="uName">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">휴대폰번호</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="uPhone">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">사원번호</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="uId">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">부서</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="uDepart">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">직급(직책)</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="uPosition">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">상태</label>
                                        <select name="uState" class="form-control form-control-sm w-120px">
                                            <option></option>
                                            <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group end">
                                        <button type="button" class="btn btn-secondary" onclick="searchUserForCompany()">
                                            <span class="ladda-label"><i class="icon-search4 mr-1"></i>조회하기</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table table-hover" id="userModalTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="icon-cross2 mr-1"></i>닫기</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function showUserModal() {
        $('#searchUserModal').modal('show');
        selectUserDatatable();
    }

    function searchUserForCompany() {
        $("#userModalTable").DataTable().page('first').ajax.url('/user/userModal.dataTable?'+$('#userModalForm').serialize()).load();
    }
</script>
<script th:inline="javascript">
    function selectUserDatatable() {
        if ($.fn.DataTable.isDataTable('#userModalTable')) {
            refreshTable('#userModalTable');
        } else {
            $("#userModalTable").DataTable({
                dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
                ordering: false,
                autoWidth: true,
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                serverSide: true,
                ajax:{
                    url:'/user/userModal.dataTable',
                    type:'post'
                },
                columns : [
                    {'title':'No','data':'No','render':function(data,type,full,meta){
                            return meta.settings._iDisplayStart+meta.row+1;
                        }}
                    ,{'title':'이름','data':'U_NAME','defaultContent':''}
                    ,{'title':'휴대폰번호','data':'U_PHONE','defaultContent':''}
                    ,{'title':'사원번호','data':'U_ID','defaultContent':''}
                    ,{'title':'부서','data':'U_DEPART','defaultContent':''}
                    ,{'title':'직급(직책)','data':'U_POSITION','defaultContent':''}
                    ,{'title':'이메일(개인)','data':'U_PERSON_MAIL','defaultContent':''}
                    ,{'title':'전화번호(사무실번호)','data':'U_COMPANY_TEL','defaultContent':''}
                    ,{'title':'상태','data':'U_STATE_STR','defaultContent':''}
                    ,{'title':'선택','data':'U_IDX', 'render': function (data, type, full, meta) {
                            return '<a href="#" onclick="selectUser(' + meta.row + ')" class="badge badge-primary">선택</a>'
                        }}
                ]
            });
        }
    }
</script>
