<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매매출관리(자사몰)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                            <i class="mr-1" th:classappend="${subIcon}"></i>
                                            <th:block th:text="${subTitle}"></th:block>
                                        </span>
                                    </div>
                                </h6>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="searchForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">정산상태</label>
                                                    <select name="U_STATE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산처리일</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산담당자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_PHONE">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">마감상태</label>
                                                    <select name="U_STATE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">마감처리일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="COM_NAME">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">마감담당자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_ID">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">주문코드</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_DEPART">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">주문쇼핑몰/판매처</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_POSITION">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산구분(품목구분1)</label>
                                                    <select name="U_STATE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">입점사</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_PERSON_MAIL">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">배송출고일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="COM_NAME">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">설치완료일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="COM_NAME">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">결제완료일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="COM_NAME">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">결제취소일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="COM_NAME">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1" onclick="searchBtn()"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" onclick="openConfirmModal()">
                                            정산처리
                                        </a>
                                    </div>
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" onclick="openCloseModal()">
                                            마감처리
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <table class="table" id="calculateTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>



<!-- 공통 js -->
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<th:block th:replace="calculate/modal/salesConfirmModal.html"/>
<th:block th:replace="calculate/modal/salesCloseModal.html"/>
<th:block th:replace="calculate/modal/salesAdjustModal.html"/>
<script>
    function searchBtn(){
        calculateTable.page('first').ajax.url('/calculate/calculateGroup.dataTable?'+$('#searchForm').serialize()).load();
    }
</script>
<script th:inline="javascript">
    var calculateTable = $('#calculateTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/calculate/orderGs.dataTable?'+$('#searchForm').serialize(),
            type:'post'
        },
        "columns": [
            {
                'class':'select-checkbox',
                'title':'선택',
                'data':'OG_IDX',
                'defaultContent':'',
                'render': function (data, type, full, meta) {
                    return '<input type="hidden" name="ogIdx" value="'+data+'">';
                }
            }
            , {'title':'정산상태','data':'OG_CAL_CONFIRM_STATE','defaultContent':''}
            , {'title':'정산처리일','data':'OG_CAL_CONFIRM_DATE','defaultContent':''}
            , {'title':'정산담당자','data':'OG_CAL_CONFIRM_BY','defaultContent':''}
            , {'title':'마감상태','data':'OG_CAL_CLOSE_STATE','defaultContent':''}
            , {'title':'마감처리일','data':'OG_CAL_CLOSE_DATE','defaultContent':''}
            , {'title':'마감담당자','data':'OG_CAL_CLOSE_BY','defaultContent':''}
            , {'title':'주문코드','data':'OG_IDX','defaultContent':''}
            , {'title':'주문상품코드','data':'','defaultContent':''}
            , {'title':'정산구분<br>(품목구분1)','data':'','defaultContent':''}
            , {'title':'입점사','data':'','defaultContent':''}
            , {'title':'주문쇼핑몰/판매처','data':'','defaultContent':''}
            , {'title':'출고구분','data':'','defaultContent':''}
            , {'title':'주문상태','data':'','defaultContent':''}
            , {'title':'환불상태','data':'','defaultContent':''}
            , {'title':'주문자이름','data':'','defaultContent':''}
            , {'title':'주문자연락처','data':'','defaultContent':''}
            , {'title':'결제방식','data':'','defaultContent':''}
            , {'title':'PG결제<br>승인코드','data':'','defaultContent':''}
            , {'title':'PG결제<br>취소코드','data':'','defaultContent':''}
            , {'title':'판매가<br>(뉴퍼마켓가)','data':'','defaultContent':''}
            , {'title':'할인가','data':'','defaultContent':''}
            , {'title':'사용적립금<br>(마일리지)','data':'','defaultContent':''}
            , {'title':'사용적립금<br>(예치금)','data':'','defaultContent':''}
            , {'title':'쿠폰할인가','data':'','defaultContent':''}
            , {'title':'배송비(설치비)','data':'','defaultContent':''}
            , {'title':'최종결제금액','data':'','defaultContent':''}
            , {'title':'환불금','data':'','defaultContent':''}
            , {'title':'정산대상액','data':'','defaultContent':''}
            ,{'title':'정산조정금액','data':'OG_CAL_ADJUST_COST', 'render': function (data,type,full,meta) {
                    return '<a onclick="openAdjustModal('+full.OG_IDX+')" class="badge badge-primary">' + data + '</a>';
                }}
            , {'title':'매출확정액','data':'','defaultContent':''}
            , {'title':'배송출고일','data':'','defaultContent':''}
            , {'title':'설치완료일','data':'','defaultContent':''}
            , {'title':'반품완료일','data':'','defaultContent':''}
            , {'title':'환불완료일','data':'','defaultContent':''}
            , {'title':'결제완료일','data':'','defaultContent':''}
            , {'title':'결제취소일','data':'','defaultContent':''}
        ]
    });

    $('#searchForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });
</script>
</html>