<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>입점사매입정산 상세</title>

    <th:block th:replace="common/css.html"></th:block>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold">입점사매입정산 상세</h4>
                        </div>
                    </div>
                </div>
            </div>
            <form id="userForm" onsubmit="return false;">
                <div class="card">
                    <div class="card-body popup-contents pb-4">
                        <fieldset class="mb-0">
                            <legend>
                                정산금액정보
                                <span class="small ml-2">
                                    <i class="icon-info22 text-secondary mr-1 opacity-80"></i>
                                </span>
                                <span class="ml-2">
                                    <a class="btn btn-sm btn-primary ml-1">저장</a>
                                </span>
                            </legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       정산코드
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       정산구분
                                                    </span>
                                                </span>
                                            <select class="form-control">
                                                <option>일반</option>
                                                <option>조정</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       정산기간
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control w-datarange daterange-basic" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       판매액합계
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       반품액합계
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       배송비합계(고객)
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       반품배송비합계(고객)
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       정산조정
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" id="adjust_sum" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       정산확정금액
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       지급예정일
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       세금계산서발행일
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="mb-0">
                            <legend>
                                정산상태정보
                                <span class="small ml-2">
                                <i class="icon-info22 text-secondary mr-1 opacity-80"></i>
                            </span>

                                <span class="ml-2">
                                <a class="btn btn-sm btn-primary ml-1" onclick="updateConfirmState('COMPLETE')">정산확정</a>
                            </span>

                                <span class="ml-2">
                                <a class="btn btn-sm btn-secondary ml-1" onclick="updateConfirmState('CANCEL')">정산취소</a>
                            </span>

                                <span class="ml-2">
                                <a class="btn btn-sm btn-primary ml-1" onclick="updateCloseState('COMPLETE')">마감확정</a>
                            </span>

                                <span class="ml-2">
                                <a class="btn btn-sm btn-secondary ml-1" onclick="updateCloseState('CANCEL')">마감취소</a>
                            </span>
                            </legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                   정산담당자
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" th:value="${ccg.ccgConfirmBy}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                               마감담당자
                                            </span>
                                        </span>
                                            <input type="text" class="form-control" th:value="${ccg.ccgCloseBy}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                   정산상태
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" th:value="${ccg.ccgConfirmState.option}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                               마감상태
                                            </span>
                                        </span>
                                            <input type="text" class="form-control" th:value="${ccg.ccgCloseState.option}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                   정산처리일
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" th:value="|${ccg.ccgConfirmDate} : ${ccg.ccgConfirmTime}|" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                   마감처리일
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" th:value="|${ccg.ccgCloseDate} : ${ccg.ccgCloseTime}|" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                   정산메모
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" name="ccgMemo" th:value="${ccg.ccgMemo}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                   마감메모
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" name="ccgCloseMemo" th:value="${ccg.ccgCloseMemo}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                   지급예정일
                                                </span>
                                            </span>
                                            <input type="text" class="form-control w-datarange daterange-single" name="ccgDueDate" th:value="${ccg.ccgDueDate}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                   세금계산서발행일
                                                </span>
                                            </span>
                                            <input type="text" class="form-control w-datarange daterange-single" name="ccgTaxDate" th:value="${ccg.ccgTaxDate}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="mb-0">
                            <legend>거래처 정보 <span class="small ml-2"><i class="icon-info22 text-secondary mr-1 opacity-80"></i></span></legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       거래처 구분코드
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       은행
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       상호법인명
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       계좌번호
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       대표자명
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       예금주명
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       사업자번호
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       성명(담당자)
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       전화번호
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       이메일
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       구매담당자
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       휴대폰번호
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <form id="adjustForm">
                            <input type="hidden" name="ccgIdx" th:value="${ccg.ccgIdx}">
                            <fieldset class="mb-0">
                                <legend>
                                    정산조정
                                    <span class="ml-2">
                                        <a class="btn btn-sm btn-primary ml-1" onclick="saveAdjust();">저장</a>
                                    </span>
                                    <span class="ml-2">
                                        <a class="btn btn-sm btn-primary ml-1" onclick="adjustAdd();">추가</a>
                                    </span>
                                </legend>

                                <div class="row overflow-x-scroll">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>조정항목</th>
                                                <th>조정사유</th>
                                                <th>조정금액</th>
                                                <th>삭제</th>
                                            </tr>
                                        </thead>
                                        <tbody id="adjustTbody">
                                            <tr th:if="${adjust != null}" th:each="i : ${adjust}" th:class="|adjust-tr adjust-tr-no-${iStat.index}|">
                                                <input type="hidden" name="ccaIdx" th:value="${i.ccaIdx}">
                                                <td><input type="text" class="form-control" name="ccaContent" th:value="${i.ccaContent}"></td>
                                                <td><input type="text" class="form-control" name="ccaReason" th:value="${i.ccaReason}"></td>
                                                <td><input type="text" class="form-control text-won adjust-cost" name="ccaCost" th:value="${i.ccaCost}"></td>
                                                <td><a class="btn btn-sm btn-warning" th:onclick="|adjustRemove(${iStat.index}, ${i.ccaIdx})|">삭제</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </form>

                        <fieldset class="mb-0">
                            <legend>정산내역</legend>
                            <div class="row overflow-x-scroll">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th>주문코드</th>
                                            <th>주문상품코드</th>
                                            <th>출고구분</th>
                                            <th>주문상태</th>
                                            <th>상품코드</th>
                                            <th>상품명</th>
                                            <th>옵션1</th>
                                            <th>옵션2</th>
                                            <th>옵션3</th>
                                            <th>수량</th>
                                            <th>판매가</th>
                                            <th>배송비</th>
                                            <th>수수료 율/액</th>
                                            <th>정산예정금액</th>
                                            <th>정산기준일</th>
                                            <th>결제완료일</th>
                                            <th>환불완료일</th>
                                            <th>배송완료일</th>
                                            <th>반품완료일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>NO</td>
                                            <td>주문코드</td>
                                            <td>주문상품코드</td>
                                            <td>출고구분</td>
                                            <td>주문상태</td>
                                            <td>상품코드</td>
                                            <td>상품명</td>
                                            <td>옵션1</td>
                                            <td>옵션2</td>
                                            <td>옵션3</td>
                                            <td>수량</td>
                                            <td>판매가</td>
                                            <td>배송비</td>
                                            <td>수수료 율/액</td>
                                            <td>정산예정금액</td>
                                            <td>정산기준일</td>
                                            <td>결제완료일</td>
                                            <td>환불완료일</td>
                                            <td>배송완료일</td>
                                            <td>반품완료일</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                        
                    </div>
                </div>
            </form>
        </div>

        <!-- Footer -->
        <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
            <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
            <button onclick="userCreate()" type="button" class="btn btn-sm btn-secondary ml-1" id="userCreate"><i class="icon-floppy-disk mr-1"></i>저장</button>
        </div>
        <!-- /footer -->
    </div>
</div>

<link rel="stylesheet" type="text/css" th:href="@{/assets/css/icons/icomoon/styles.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/all.css}">

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>


<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 데이터테이블 -->
<script th:src="@{/assets/js/demo_pages/datatables_extension_select.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>
<!-- 다음 주소 api -->
<script th:src="@{/assets/js/daum_address.js}"></script>
<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script>
    function updateCloseState(state) {
        if ($('input[name=ccgCloseMemo]').val() == '') {
            alert('마감메모를 입력해 주세요');
            return false;
        }

        var confirm_str = '';
        if (state == 'COMPLETE') {
            confirm_str = "마감확정 처리 하시겠습니까?";
        } else {
            confirm_str = "마감취소 처리 하시겠습니까?";
        }

        if (confirm(confirm_str)) {
            $.ajax({
                url: '/calculate/updateCloseState.ajax',
                data: {
                    'ccgIdx':[[${ccg.ccgIdx}]],
                    'ccgCloseState': state,
                    "ccgCloseMemo":$('input[name=ccgCloseMemo]').val()
                },
                type:'post',
                success() {
                    location.reload();
                }
            });
        }
    }

    function updateConfirmState(state) {
        if ($('input[name=ccgMemo]').val() == '') {
            alert('정산메모를 입력해 주세요');
            return false;
        }

        var confirm_str = '';
        if (state == 'COMPLETE') {
            confirm_str = "정산확정 처리 하시겠습니까?";
        } else {
            confirm_str = "정산취소 처리 하시겠습니까?";
        }

        if (confirm(confirm_str)) {
            $.ajax({
                url: '/calculate/updateConfirmState.ajax',
                data: {
                    'ccgIdx':[[${ccg.ccgIdx}]],
                    'ccgConfirmState': state,
                    "ccgMemo":$('input[name=ccgMemo]').val()
                },
                type:'post',
                success() {
                    location.reload();
                }
            });
        }
    }

    function saveAdjust() {
        if ($('.adjust-tr').length == 0) {
            alert('저장할 조정건이 없습니다.');
            return false;
        }


        var ccaIdx = '';

        $.each($('input[name=ccaIdx]'), function (index, value) {
            ccaIdx += $(this).val() + ',';
        });
        ccaIdx = ccaIdx.slice(0, -1);

        textWonRemoveComma();

        if (confirm("조정건을 추가하시겠습니까?")) {
            $.ajax({
                url: '/calculate/saveAdjust.ajax',
                data: $('#adjustForm').serialize(),
                type:'post',
                success() {
                    adjustSum();
                    location.reload();
                }
            });
        }
    }

    function adjustAdd() {
        var num = $('.adjust-tr').length;

        var html =
            '<tr class="adjust-tr adjust-tr-no-'+num+'">' +
            '<input type="hidden" name="ccaIdx" value="0">' +
            '<td><input type="text" class="form-control" name="ccaContent"></td>' +
            '<td><input type="text" class="form-control" name="ccaReason"></td>' +
            '<td><input type="text" class="form-control text-won adjust-cost" name="ccaCost"></td>' +
            '<td><a type="text" class="btn btn-sm btn-warning" onclick="adjustRemove('+num+','+0+')">삭제</a></td>' +
            '</tr>'

        $('#adjustTbody').append(html);
    }

    adjustSum();

    function adjustRemove(num, ccaIdx) {
        if (ccaIdx == 0) {
            $('.adjust-tr-no-'+num).remove();
            adjustSum();
            return false;
        } else {
            if (confirm("해당 조정건을 정말 삭제하시겠습니까?")) {
                $.ajax({
                    url: '/calculate/removeAdjust.ajax',
                    data:{
                        "ccgIdx":[[${ccg.ccgIdx}]],
                        "ccaIdx":ccaIdx
                    },
                    type:'post',
                    success() {
                        $('.adjust-tr-no-'+num).remove();
                        adjustSum();
                    }
                });
            }
        }
    }

    function adjustSum(){
        var total_cost = 0;
        $.each($('.adjust-cost'), function (index, value) {
            total_cost += parseInt($(this).val().replace(/,/gi, ''));
        });

        $('#adjust_sum').val(comma(total_cost));
    }

    // 숫자만 입력되도록
    $(document).on('input', '.text-won', function (event) {
        inputOnlyNumber($(event.target));
        adjustSum();
    });

</script>

</body>
</html>