<html xmlns:th="http://www.thymeleaf.org">
<div class="navbar navbar-sm navbar-expand-lg navbar-light navbar-static px-0">
  <div class="d-flex  pl-2">
    <div class="navbar-brand wmin-0 mr-1">
      <a th:href="@{/shopHome}" class="d-inline-block">
        <img src="../../static/assets/img/logo/logo.png" class="d-none d-sm-block" alt="" th:src="@{/assets/img/logo/logo.png}">
        <img src="../../static/assets/img/logo/logo.png" class="d-sm-none" alt="" th:src="@{/assets/img/logo/logo.png}">
      </a>
    </div>
  </div>
  <!-- iam Menu -->
  <div class="d-flex w-100 w-lg-auto overflow-x overflow-lg-visible border-top border-top-light-100 border-top-lg-0 order-1 order-lg-0"><!-- scrollbar-hidden -->
    <ul class="navbar-nav flex-row text-nowrap mx-auto">
      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>HOME</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
<!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
            <a class="dropdown-item">대쉬보드</a>
            <a class="dropdown-item">공지사항,요청관리</a>
<!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>거래처, 사용자관리</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
<!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
            <a class="dropdown-item" th:href="@{/company/}">거래처관리</a>
            <a class="dropdown-item">거래처 계약관리</a>
            <a class="dropdown-item">사용자 관리</a>
            <a class="dropdown-item">상품별 수수료관리</a>
            <a class="dropdown-item">매입처 보증보험관리</a>
<!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>상품관리</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
<!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
            <a class="dropdown-item">상품분류체계(대,중,소분류)</a>
            <a class="dropdown-item">브랜드관리</a>
            <a class="dropdown-item">상품상태</a>
            <a class="dropdown-item">상품관리</a>
            <a class="dropdown-item">조합상품</a>
            <a class="dropdown-item">상품권관리</a>
            <a class="dropdown-item">고시정보 관리</a>
            <a class="dropdown-item">상품 SPEC관리</a>
<!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>발주관리</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
<!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
            <a class="dropdown-item">견적서관리</a>
            <a class="dropdown-item">발주품의</a>
            <a class="dropdown-item">발주관리</a>
<!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>공정관리</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
<!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
            <a class="dropdown-item">입고관리</a>
            <a class="dropdown-item">입고검수</a>
            <a class="dropdown-item">영업검수</a>
            <a class="dropdown-item">공정보드</a>
            <a class="dropdown-item">매입처반품</a>
            <a class="dropdown-item">가공관리</a>
            <a class="dropdown-item">수리관리</a>
            <a class="dropdown-item">도색관리</a>
            <a class="dropdown-item">재검수관리</a>
            <a class="dropdown-item">BOM관리</a>
            <a class="dropdown-item">출고전검수관리</a>
            <a class="dropdown-item">리퍼센터 기회 회의 1차</a>
<!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>재고관리</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">재고인수,인계</a>
          <a class="dropdown-item">창고입고(적재관리)</a>
          <a class="dropdown-item">적재현황</a>
          <a class="dropdown-item">재고현황</a>
          <a class="dropdown-item">자산조회</a>
          <a class="dropdown-item">재고입출고현황</a>
          <a class="dropdown-item">창고관리</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>영업관리</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">영업활동관리(리드관리)</a>
          <a class="dropdown-item">일정관리</a>
          <a class="dropdown-item">영업분석</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>판매관리</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">주문통합관리</a>
          <a class="dropdown-item">SHOP주문관리</a>
          <a class="dropdown-item">BAN(SCM)주문관리</a>
          <a class="dropdown-item">상태별 주문관리</a>
          <a class="dropdown-item">대량주문관리</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>고객관리(CS관리)</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">회원관리</a>
          <a class="dropdown-item">고객별 구매내역</a>
          <a class="dropdown-item">고객별 쿠폰사용내역</a>
          <a class="dropdown-item">고객별 적립금사용내역(적립,사용)</a>
          <a class="dropdown-item">고객별 예치금사용내역</a>
          <a class="dropdown-item">고객상담관리(1:1)문의관리</a>
          <a class="dropdown-item">SMS발송내역</a>
          <a class="dropdown-item">카카오톡발송내역</a>
          <a class="dropdown-item">APP 푸쉬 발송내역</a>
          <a class="dropdown-item">쿠폰생성관리</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>배송관리</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">출고관리_자사상품</a>
          <a class="dropdown-item">배송관리</a>
          <a class="dropdown-item">설치관리</a>
          <a class="dropdown-item">반품관리</a>
          <a class="dropdown-item">교환관리</a>
          <a class="dropdown-item">AS관리</a>
          <a class="dropdown-item">화물,직접수령관리</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>매출정산</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">판매매출관리(자사몰)</a>
          <a class="dropdown-item">BAN(SCM)정산관리</a>
          <a class="dropdown-item">SHOP 정산관리</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>매입정산</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">정산 개요 및 정산방식 정의</a>
          <a class="dropdown-item">상품매입정산</a>
          <a class="dropdown-item">입점사매입정산</a>
          <a class="dropdown-item">벤더, 이지웰 매입정산</a>
          <a class="dropdown-item">PG 정산관리</a>
          <a class="dropdown-item">외주 가공비</a>
          <a class="dropdown-item">AS 비용</a>
          <a class="dropdown-item">배송비 정산</a>
          <a class="dropdown-item">설치비 정산</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>회계관리</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">회계 관리</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>통계</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">하위 아이템</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>ADMIN</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">권한설정</a>
          <a class="dropdown-item">템플릿관리_문자</a>
          <a class="dropdown-item">템플릿관리_카카오톡</a>
          <a class="dropdown-item">상담결과 관리</a>
          <a class="dropdown-item">기타코드관리</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>

      <li class="nav-item dropdown nav-item-dropdown-lg">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span>보상닷컴 기능</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg">
          <!--            <div class="dropdown-header">중메뉴 TITLE</div>-->
          <a class="dropdown-item">하위 아이템</a>
          <!--            <div class="dropdown-divider">중메뉴 DIVIDE</div>-->
        </div>
      </li>



<!--      <li class="nav-item dropdown nav-item-dropdown-lg" th:each="menu:${T(com.newper.entity.Menu).MENUS}" th:if="(${#lists.size(menu.childMenu) > 0} or ${not #strings.isEmpty(menu.url)} ) and ${@sessionInfo.hasAuth(menu.auth)}">-->
<!--        <a th:href="${menu.url}" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" th:classappend="${menu_idx} == ${menu.menuIdx} ? active">-->
<!--          <i class="mr-1" th:classappend="${menu.icon}"></i>-->
<!--          <span th:text="${menu.name}">대분류 NAME</span>-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-scrollable-lg" th:if="${#lists.size(menu.childMenu) > 0}">-->
<!--          <th:block th:each="childMenu, i : ${menu.childMenu}" th:if="${@sessionInfo.hasAuth(childMenu.auth)}">-->
<!--            <th:block th:switch="${childMenu.type}">-->
<!--              <div class="dropdown-header" th:class="" th:case="${T(com.newper.entity.Menu.MenuType).TITLE}" th:text="${childMenu.name}">중메뉴 TITLE</div>-->
<!--              <a class="dropdown-item" th:case="${T(com.newper.entity.Menu.MenuType).MENU}" th:href="@{${childMenu.url}}" th:text="${childMenu.name}" th:classappend="${submenu_idx} == ${childMenu.menuIdx} ? active">중메뉴 MENU</a>-->
<!--              <div class="dropdown-divider" th:case="${T(com.newper.entity.Menu.MenuType).DIVIDE}">중메뉴 DIVIDE</div>-->
<!--            </th:block>-->
<!--          </th:block>-->
<!--        </div>-->
<!--      </li>-->

    </ul>
  </div>

  <div class="d-flex flex-lg-1 justify-content-lg-end order-0 order-lg-1 pr-3">
    <ul class="navbar-nav flex-row">

      <!-- 고객단 바로가기 : 이 위치의 하위메뉴는 클릭해야 나타남-->
      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link" data-toggle="dropdown">
          <i class="icon-store2"></i>
          <span class="d-xl-none ml-2">With badge</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="" target="_blank" class="dropdown-item">고객단 홈페이지 바로 가기</a>

          <div class="dropdown-divider"></div>

          <a href="#" class="dropdown-item">
            <i class="icon-link"></i> 기타 바로가기 연결
          </a>
        </div>
      </li>

      <li class="nav-item nav-item-dropdown-lg dropdown dropdown-user h-100">
        <a href="#" class="navbar-nav-link navbar-nav-link-toggler d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
          <span>관리자</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <i class="icon-user"></i> 내 정보
          </a><!-- 비밀번호 변경 등 -->

          <div class="dropdown-divider"></div>

          <a href="#" class="dropdown-item"><i class="icon-cog5"></i> 관리자 설정</a><!-- 마스터 관리자 추가관리 페이지로 이동 -->
          <a th:href="@{/login}" class="dropdown-item"><i class="icon-switch2"></i> 로그아웃</a>
        </div>
      </li>
    </ul>
  </div>
</div>

</html>