<html xmlns:th="http://www.thymeleaf.org">
<div class="navbar navbar-sm navbar-expand-lg navbar-light navbar-static px-0">
  <div class="d-flex  pl-2">
    <div class="navbar-brand wmin-0 mr-1">
      <a th:href="@{/home}" class="d-inline-block">
        <img src="../../static/assets/img/logo/logo.png" class="d-none d-sm-block" alt="" th:src="@{/assets/img/logo/logo.png}">
        <img src="../../static/assets/img/logo/logo.png" class="d-sm-none" alt="" th:src="@{/assets/img/logo/logo.png}">
      </a>
    </div>
  </div>
  <!-- iam Menu -->
  <div class="d-flex w-100 w-lg-auto overflow-x overflow-lg-visible border-top border-top-light-100 border-top-lg-0 orders-1 orders-lg-0"><!-- scrollbar-hidden -->
    <!--<div style="width: 100px;">
      <select class="form-control" onchange="if(this.value!='')location.href=this.value;">
        <option value="/erpAdmin">ERP ADMIN</option>
        <option value="" selected>SHOP ADMIN</option>
      </select>
    </div>-->
    <ul class="navbar-nav flex-row text-nowrap mx-auto">

      <li class="nav-item dropdown nav-item-dropdown-lg" th:each="menus: ${T(com.newper.component.MenuList).menus}">
        <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" th:classappend="${menus.getActiveClass(#httpServletRequest.requestURI)}">
          <span th:text="${menus.menuName}">대메뉴명</span>
        </a>
        <div class="dropdown-menu dropdown-scrollable-lg" th:if="${menus.getSubMenuList().size() gt 0}">
          <a class="dropdown-item" th:each="submenu: ${menus.subMenuList}" th:text="${submenu.smName}" th:href="${submenu.smUrl}" th:classappend="${submenu.getActiveClass(#httpServletRequest.requestURI)}">중메뉴</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="d-flex flex-lg-1 justify-content-lg-end orders-0 orders-lg-1 pr-3">
    <ul class="navbar-nav flex-row">

      <!-- 고객단 바로가기 : 이 위치의 하위메뉴는 클릭해야 나타남-->
      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link" data-toggle="dropdown">
          <i class="icon-store2"></i>
          <span class="d-xl-none ml-2">With badge</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="" target="_blank" class="dropdown-item">고객단 홈페이지 바로 가기</a>

          <div class="dropdown-divider"></div>

          <a href="#" class="dropdown-item">
            <i class="icon-link"></i> 기타 바로가기 연결
          </a>
        </div>
      </li>

      <li class="nav-item nav-item-dropdown-lg dropdown dropdown-user h-100">
        <a href="#" class="navbar-nav-link navbar-nav-link-toggler d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
          <span>관리자</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <i class="icon-user"></i> 내 정보
          </a><!-- 비밀번호 변경 등 -->

          <div class="dropdown-divider"></div>

          <a href="#" class="dropdown-item"><i class="icon-cog5"></i> 관리자 설정</a><!-- 마스터 관리자 추가관리 페이지로 이동 -->
          <a th:href="@{/logout}" class="dropdown-item"><i class="icon-switch2"></i> 로그아웃</a>
        </div>
      </li>
    </ul>
  </div>
</div>

</html>