<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HOME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
  <div class="content-wrapper">
    <div class="content-inner">

      <!-- Content area -->
      <div class="content container-fluid">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-header header-elements-inline">
                <h6 class="card-title">
                  <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>
                                            </span>
                    <span class="breadcrumb-item font-weight-bold text-secondary">
                                                <i class="mr-1" th:classappend="${subIcon}"></i>
                                                <th:block th:text="${subTitle}"></th:block>
                                            </span>
                  </div>
                </h6>
                <div class="header-elements text-right">
                  <div class="d-inline-block d-md-flex d-md-flex-row justify-content-between">
                    <div class="list-icons ml-2">
                      <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="collapse show" id="collapse-button-collapsed">
                <div class="card-body pt-0">
                  <form id="productShopForm" onkeypress="if(event.keyCode==13){searchBtn();return false;}">
                    <div class="row">
                      <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                        <div class="form-group">
                          <label class="d-block">발행 상품 등록 여부</label>
                          <select class="form-control form-control-sm select" name="p_exist" data-placeholder="전체" data-container-css-class="select-sm">
                            <option value="all">전체</option>
                            <option selected>Y</option>
                            <option>N</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="d-block">구매사</label>
                          <select class="form-control form-control-sm select-search" name="shop_idx" data-placeholder="선택" data-container-css-class="select-sm">
                            <option></option>
                            <option th:each="shop: ${shopList}" th:text="${shop.SHOP_NAME}" th:value="${shop.SHOP_IDX}"></option>
                          </select>
                        </div>
                        <div class="form-group no-close">
                          <label class="d-block">상품 구분</label>
                          <select class="form-control form-control-sm select-fixed-single" name="pType" data-container-css-class="select-sm">
                            <option th:each="pType: ${pTypeList}" th:text="${pType.itemcodeName}" th:value="${pType.itemCode}"></option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label class="d-block">내부 판매 상태</label>
                          <select name="state" class="form-control form-control-sm select-fixed-single" data-placeholder="선택" data-container-css-class="select-sm" data-fouc>
                            <option></option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label class="d-block">SHOP 등록 여부</label>
                          <select name="productState" class="form-control form-control-sm select-fixed-single" data-placeholder="선택" data-container-css-class="select-sm" data-fouc>
                            <!--                                                        <option></option>-->
                            <option value="등록">등록</option>
                            <option value="미등록">미등록</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label class="d-block">조회조건</label>
                          <select data-placeholder="선택" class="form-control form-control-sm select-fixed-single" data-container-css-class="select-sm" name="searchCondition">
                            <option></option>
                            <option value="goodsgroupId">내부 상품코드</option>
                            <option value="goodsName">발행사 상품명</option>
                            <option value="brandName">브랜드명</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="d-block">조건내용</label>
                          <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="searchContent">
                        </div>

                        <div class="form-group end">
                          <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                            <span class="ladda-label">조회하기</span>
                          </button>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 카드 2열 레이아웃 -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-white header-elements-inline justify-content-start">
                <h6 class="card-title" th:text="${subTitle}"></h6>
                <a class="btn btn-sm btn-primary ml-1" onclick="insertShopProduct()">계약정보 동기화</a>
              </div>
              <table class="table" id="productShopTable"></table>

              <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil3 mr-1"></i>일괄변경</button>
                  <div class="dropdown-menu">
                    <a onclick="changeShopProductState('Y')" class="dropdown-item">판매</a>
                    <a onclick="changeShopProductState('N')" class="dropdown-item">중지</a>
                    <div class="dropdown-divider"></div>
                    <a onclick="allChangeSpInfo()" class="dropdown-item">상품 정보변경</a>
                    <div class="dropdown-divider"></div>
                    <a onclick="deleteShop()" class="dropdown-item">등록 해지</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>

</script>
<script>

</script>
</html>