<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>견적서 등록</title>
    <th:block th:replace="/common/css.html"></th:block>
</head>
    <body>
    <!-- 본문 영역 시작 -->
        <div class="page-content">
            <div class="content-wrapper">
                <div class="content-inner">
                    <div class="page-header page-header-dark">
                        <div class="page-header-content container-fluid header-elements-md-inline px-3">
                            <div class="d-flex">
                                <div class="page-title">
                                    <h4 class="font-weight-semibold"><i class="icon-office mr-1"></i>견적서 신규등록</h4>
                                    <div class="text-white-50 ml-3">견적서 신규등록</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Content area -->
                    <div class="content container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="createForm" method="POST" enctype="multipart/form-data">
                                    <div class="card">
                                        <div class="card-body popup-contents">
                                            <!-- 타이틀 -->
                                            <fieldset class="mb-0">
                                                <legend class="">1. 거래처 정보</legend>
                                                <div class="row">
                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">견적서 코드</span>
                                                                </span>
                                                                <input type="text" name="peCode" class="form-control" placeholder="자동입력" readonly>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">견적서명</span>
                                                                </span>
                                                                <input type="text" name="peName" class="form-control" placeholder="입력">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">견적서 상태</span>
                                                                </span>
                                                                <select name="peState" class="form-control select">
                                                                    <option th:each="opt: ${T(com.newper.constant.PeState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">견적 유효기간</span>
                                                                </span>
                                                                <input type="text" name="pePeriodDate" class="form-control w-datarange daterange-basic" placeholder="날짜" readonly>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">매입처<a href="javascript: openCompanyModal();" class="badge badge-sm badge-primary ml-1">검색</a></span>
                                                                </span>
                                                                <input type="text" name="comName" class="form-control" placeholder="검색" readonly>
                                                                <input type="hidden" name="comIdx">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">사업자등록번호</span>
                                                                </span>
                                                                <input type="text" class="form-control" placeholder="검색" name="comNum" readonly>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">총 견적 수량</span>
                                                                </span>
                                                                <input type="text" name="peEstimateCount" class="form-control" placeholder="자동입력" readonly>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">총 견적 금액</span>
                                                               </span>
                                                                <input type="text" name="peEstimateCost" class="form-control" placeholder="자동입력" readonly>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                    <span class="input-group-prepend">
                                                                        <span class="input-group-text">첨부파일</span>
                                                                    </span>
                                                                <input type="file" name="peEstimateFile" class="form-control form-control-plaintext" placeholder="파일첨부">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 입력필드 -->
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                    <span class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            견적 메모
                                                                        </span>
                                                                    </span>
                                                                <input type="text" name="peMemo" class="form-control" placeholder="입력">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body popup-contents">
                                            <!-- 타이틀 -->
                                            <fieldset class="mb-0">
                                                <legend class="">2. 상품정보
                                                    <a onclick="openProductModal()" class="btn btn-sm btn-primary ml-1">검색</a>
                                                </legend>
                                                <div class="row">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>상품코드</th>
                                                            <th>상품명</th>
                                                            <th>모델명</th>
                                                            <th>브랜드</th>
                                                            <th>카테고리<br>대분류</th>
                                                            <th>기준매입가</th>
                                                            <th>매입수량</th>
                                                            <th>매입총액</th>
                                                            <th>삭제</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="productTbody"></tbody>
                                                    </table>
                                                </div>
                                            </fieldset>
                                            <!-- 타이틀 구분 끝-->
                                        </div>
                                    </div>
                                </form>
                                <!-- #regiForm end -->
                            </div>
                        </div>

                    </div>
                    <!-- /content area -->

                </div>
                <!-- /inner content -->

                <!-- Footer -->
                <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                    <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
                    <button type="button" class="btn btn-sm btn-secondary ml-1" id="saveBtn"><i class="icon-floppy-disk mr-1"></i>저장</button>
                </div>
                <!-- /footer -->
            </div>
        </div>
        <!-- 공통 js -->
        <script th:src="@{/assets/js/main/jquery.min.js}"></script>
        <script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

        <!-- input -->
        <script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
        <script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
        <script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
        <script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

        <!-- 데이터테이블 -->
        <script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
        <script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
        <script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

        <!-- 맞춤 js -->
        <script th:src="@{/assets/js/app.js}"></script>
        <!-- input -->
        <script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
        <script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

        <!-- 멀티 선택 (숫자) -->
        <script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
        <script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

        <script th:src="@{/assets/js/common.js}"></script>

        <th:block th:replace="@{/company/modal/companyModal.html}"/>
        <th:block th:replace="@{/product/modal/productModal.html}"/>

        <script>
            function saveAction(){
                var peEstimateCount = $('input[name=peEstimateCount]').val().replace(/,/gi,'');
                var peEstimateCost = $('input[name=peEstimateCost]').val().replace(/,/gi,'');

                $('input[name=peEstimateCount]').val(peEstimateCount);
                $('input[name=peEstimateCost]').val(peEstimateCost);

                if($('input[name=peName]').val() == '') {
                    alert('견적서명을 입력해 주세요.');
                    return false;
                }

                if($('input[name=comIdx]').val() == '') {
                    alert('매입처를 선택해 주세요.');
                    return false;
                }

                if($('input[name=pePurchaseCost]').val() == '') {
                    alert('총 견적 금액을 입력해 주세요');
                    return false;
                }

                if($('input[name=pePurchaseCount]').val() == '') {
                    alert('총 견적 수량을 입력해 주세요');
                    return false;
                }

                $("#createForm").submit();
            }

        </script>

        <script>
            $("#saveBtn").on("click", saveAction);
        </script>
    </body>
</html>
