<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${po != null ? '발주품의 상세/수정' : '발주품의 신규 등록'}"></title>
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold" th:text="${po != null ? '발주품의 상세' : '발주품의 신규 등록'}"><i class="icon-office mr-1"></i></h4>
                            <div class="text-white-50 ml-3" th:text="${po != null ? '발주품의 상세' : '발주품의 신규 등록'}"></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="createForm">
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-0">
                                        <legend class="">1. 등록 정보</legend>
                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">발주코드</span>
                                                        </span>
                                                        <input type="text" name="poCode" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.poCode}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">품의작성자(등록자)</span>
                                                        </span>
                                                        <input type="text" name="createdBy" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.createdBy}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">품의등록일(등록일)</span>
                                                        </span>
                                                        <input type="text" name="createdDate" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.createdDate}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">품의 승인/반려일</span>
                                                        </span>
                                                        <input type="text" name="hwAprvDate" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.hwAprvDate}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">품의 승인/반려자</span>
                                                        </span>
                                                        <input type="text" name="hwAprvId" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.hwAprvId}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">품의상태</span>
                                                        </span>
                                                        <select name="poState" class="form-control select">
                                                            <option th:each="opt : ${T(com.newper.constant.PoState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}" th:selected="${po != null} and ${po.poState} == ${opt.name()}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>



                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">품의요청일</span>
                                                        </span>
                                                        <input type="text" name="poRequestDate" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.poRequestDate}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">첨부파일<a th:if="${po != null}" th:href="|javascript: fileDownload('${po.poFile}', '${po.poFileName}')|" class="badge badge-sm badge-primary ml-1">다운로드</a></span>
                                                        </span>
                                                        <input type="file" name="poFile" class="form-control form-control-plaintext" placeholder="파일첨부">
                                                        <input type="hidden" name="poFileOri" th:if="${po != null}" th:value="${po.poFile}">
                                                        <input type="hidden" name="poFileNameOri"  th:if="${po != null}" th:value="${po.poFileName}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">구매담당자</span>
                                                        </span>
                                                        <input type="text" name="uName" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.user.uName}" readonly>
                                                        <input type="hidden" name="uIdx" th:value="${po != null} ? ${po.user.uIdx}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">품의메모</span>
                                                        </span>
                                                        <input type="text" name="poMemo" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poMemo}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-0">
                                        <legend class="">2. 구매개요</legend>
                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">매입처<a onclick="openCompanyModal_flag('BUY');" class="badge badge-sm badge-primary ml-1">검색</a></span>
                                                        </span>
                                                        <input type="text" name="comName_buy" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.company.comName}" readonly>
                                                        <input type="hidden" name="comIdx_buy" th:value="${po != null} ? ${po.company.comIdx}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">채널유형</span>
                                                        </span>
                                                        <select name="poBuyChannel" class="form-control select">
                                                            <option th:each="opt: ${T(com.newper.constant.Channel).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}" th:selected="${po != null} and ${po.poBuyChannel} == ${opt.name()}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">미수대금</span>
                                                        </span>
                                                        <input type="text" name="poBuyReceiveAmount" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poBuyReceiveAmount}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">미지급대금</span>
                                                        </span>
                                                        <input type="text" name="poBuyUnpaidAmount" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poBuyUnpaidAmount}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">총구매액</span>
                                                        </span>
                                                        <input type="text" name="poTotalAmount" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.poTotalAmount}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">원사용처</span>
                                                        </span>
                                                        <input type="text" name="poBuyOriUse" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poBuyOriUse}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">제품상태(품목구분1)</span>
                                                        </span>
                                                        <select name="poBuyProductType" class="form-control select">
                                                            <option th:each="opt: ${T(com.newper.constant.PType1).values()}" th:text="${opt.option}" th:value="${opt.name()}" th:selected="${po != null} and ${po.poBuyProductType} == ${opt.name()}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">판매기한</span>
                                                        </span>
                                                        <input type="text" name="poBuySellPeriod" class="form-control w-datarange daterange-basic-form" th:value="${po != null} ? ${po.poBuySellPeriod}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-0">
                                        <legend class="">3. 판매개요</legend>
                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">판매처<a href="javascript: openCompanyModal_flag('SELL');" class="badge badge-sm badge-primary ml-1">검색</a></span>
                                                        </span>
                                                        <input type="text" name="comName_sell" class="form-control" placeholder="검색" th:value="${po != null} ? ${po.company2.comIdx}" readonly>
                                                        <input type="hidden" name="comIdx_sell" th:value="${po != null} ? ${po.company2.comIdx}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">채널유형</span>
                                                        </span>
                                                        <select name="poSellChannel" class="form-control select">
                                                            <option th:each="opt: ${T(com.newper.constant.Channel).values()}" th:text="${opt.option}" th:value="${opt.name()}" th:selected="${po != null} and ${po.poSellChannel} == ${opt.name()}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">미수대금</span>
                                                        </span>
                                                        <input type="text" name="poSellReceiveAmount" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poSellReceiveAmount}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">미지급대금</span>
                                                        </span>
                                                        <input type="text" name="poUnpaidAmount" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poUnpaidAmount}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">총판매액</span>
                                                        </span>
                                                        <input type="text" name="poSellTotalAmount" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.poSellTotalAmount}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">대금지급일</span>
                                                        </span>
                                                        <input type="text" name="poSellPayDate" class="form-control w-datarange daterange-single" th:value="${po != null} ? ${po.poSellPayDate}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">예상수익률</span>
                                                        </span>
                                                        <input type="text" name="poSellProfit" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.poSellProfit}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">사용용도</span>
                                                        </span>
                                                        <input type="text" name="poSellUse" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poSellUse}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-0">
                                        <legend class="">4. 계약조건</legend>
                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">입고예정일</span>
                                                        </span>
                                                        <input type="text" name="poInDate" class="form-control w-datarange daterange-single" th:value="${po != null} ? ${po.poInDate}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">납기일</span>
                                                        </span>
                                                        <input type="text" name="poDueDate" class="form-control w-datarange daterange-single" th:value="${po != null} ? ${po.poDueDate}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">반품기한</span>
                                                        </span>
                                                        <input type="text" name="poRefundDate" class="form-control w-datarange daterange-single" th:value="${po != null} ? ${po.poRefundDate}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">A/S기한</span>
                                                        </span>
                                                        <input type="text" name="poAsDate" class="form-control w-datarange daterange-single" th:value="${po != null} ? ${po.poAsDate}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">재매입</span>
                                                        </span>
                                                        <select name="poRepurchase" class="form-control select">
                                                            <option value="false">N</option>
                                                            <option value="true" th:selected="${po != null} ? ${po.poRepurchase == 'Y'}">Y</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">입고예정창고<a onclick="openWarehouseModal();" class="badge badge-sm badge-primary ml-1">검색</a></span>
                                                        </span>
                                                        <input type="text" name="whName" class="form-control" placeholder="검색" th:value="${po != null} ? ${po.warehouse.whName}">
                                                        <input type="hidden" name="whIdx" th:value="${po != null} ? ${po.warehouse.whIdx}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">매입운송비 주체</span>
                                                        </span>
                                                        <input type="text" name="poDeliveryMain" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poDeliveryMain}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">매입운송비</span>
                                                        </span>
                                                        <input type="text" name="poDeliveryCost" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poDeliveryCost}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">계산서발행월</span>
                                                        </span>
                                                        <input type="text" name="poTaxMonth" class="form-control w-datarange daterange-single" placeholder="입력" th:value="${po != null} ? ${po.poTaxMonth}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">지급예정일</span>
                                                        </span>
                                                        <input type="text" name="poPayDate" class="form-control w-datarange daterange-single" placeholder="입력" th:value="${po != null} ? ${po.poPayDate}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">입금계좌정보</span>
                                                        </span>
                                                        <input type="text" name="poPayAccount" class="form-control" placeholder="입력" th:value="${po != null} ? ${po.poReceiveAmount}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">계약정보<a onclick="openContractModal();" class="badge badge-sm badge-primary ml-1">검색</a></span>
                                                        </span>
                                                        <input type="text" name="ccName" class="form-control" placeholder="검색" th:value="${po != null} ? ${po.contract.ccName}" readonly>
                                                        <input type="hidden" name="ccIdx" th:value="${po != null} ? ${po.contract.ccIdx}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">정산방식</span>
                                                        </span>
                                                        <input type="text" name="ccCalType" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.contract.ccCalType}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">정산주기</span>
                                                        </span>
                                                        <input type="text" name="ccCycle" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.contract.ccCycle}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">계약번호</span>
                                                        </span>
                                                        <input type="text" name="ccNum" class="form-control" placeholder="자동입력" th:value="${po != null} ? ${po.contract.ccNum}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-0">
                                        <legend class="">5. 상품정보
                                            <a onclick="openProductModal()" class="btn btn-sm btn-primary ml-1">검색</a>
                                        </legend>
                                        <div class="row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>상품코드</th>
                                                        <th>외부상품코드</th>
                                                        <th>상품명</th>
                                                        <th>브랜드</th>
                                                        <th>옵션1</th>
                                                        <th>옵션2</th>
                                                        <th>옵션3</th>
                                                        <th>기준매입가</th>
                                                        <th>구매단가<br>(실매입가)</th>
                                                        <th>매입수량</th>
                                                        <th>매입총액</th>
                                                        <th>입고SPEC(예정)</th>
                                                        <th>판매SPEC(예정)</th>
                                                        <th>수리</th>
                                                        <th>도색</th>
                                                        <th>가공</th>
                                                        <th>삭제</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="productTbody">
                                                    <tr th:if="${poProduct != null}" th:each="i : ${poProduct}" th:id="|tr_${i.product.P_IDX}|">
                                                        <td th:text="${i.P_CODE}"></td>
                                                        <td th:text="${i.P_NAME}"></td>
                                                        <td th:text="${i.BRAND}"></td>
                                                        <td th:text="${i.CATEGORY}"></td>
                                                        <input type="hidden" name="sell_price" th:value="${i.P_SELL_PRICE}">
                                                        <td th:text="${i.P_SELL_PRICE_COMMA}"></td>
                                                        <td><input type="text" name="purchase_count" onkeyup="addPurchaseCount();" th:value="${i.PEP_COUNT}"></td>
                                                        <td><input type="text" name="purchase_cost"  th:value="${i.SUM}" readonly></td>
                                                        <td><button type="button" th:onclick="|deleteProduct(${i.P_IDX})|">삭제</button></td>
                                                        <input type="hidden" name="pIdxs" th:value="${i.P_IDX}">
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                    <!-- 타이틀 구분 끝-->
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-0">
                                        <legend class="">6. 수익률</legend>
                                        <div class="row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>상품코드</th>
                                                        <th>상품명</th>
                                                        <th>매입수량</th>
                                                        <th>예상가공비용</th>
                                                        <th>예상수리비</th>
                                                        <th>예상도색비</th>
                                                        <th>생산원가합</th>
                                                        <th>생산원가율</th>
                                                        <th>구매단가</th>
                                                        <th>구매단가 총액</th>
                                                        <th>예상판매가</th>
                                                        <th>예상판매가총액</th>
                                                        <th>총이익</th>
                                                        <th>수익률</th>
                                                        <th>목표수익률</th>
                                                        <th>삭제</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="productTbody2">

                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                    <!-- 타이틀 구분 끝-->
                                </div>
                            </div>
                        </form>
                        <!-- #regiForm end -->
                    </div>
                </div>
            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

        <!-- Footer -->
        <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
            <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
            <button type="button" class="btn btn-sm btn-secondary ml-1" id="saveBtn"><i class="icon-floppy-disk mr-1"></i>저장</button>
        </div>
        <!-- /footer -->
    </div>
</div>
<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/autocomplete/autocomplete-jquery-ui.min.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<th:block th:replace="@{company/modal/companyModal.html}"/>
<th:block th:replace="@{product/modal/productModal_po.html}"/>
<th:block th:replace="@{goods/modal/warehouseModal.html}"/>
<th:block th:replace="@{company/modal/contractModal.html}"/>

<script>
    function saveAction(){
        $.ajax({
            url: location.pathname + '.ajax',
            processData: false,
            contentType: false,
            type: 'post',
            data: new FormData($('#createForm')[0])
        });
    }


    // 거래처 검색 선택
    var companyFlag = '';
    function openCompanyModal_flag (flag) {
        companyFlag = flag;
        openCompanyModal();
    }
    function companySelect(row){
        var rowData = $('#companyModalTable').DataTable().rows(row).data()[0];

        if (companyFlag == 'BUY') {
            $('input[name=comIdx_buy]').val(rowData.COM_IDX);
            $('input[name=comName_buy]').val(rowData.COM_NAME);
        } else {
            $('input[name=comIdx_sell]').val(rowData.COM_IDX);
            $('input[name=comName_sell]').val(rowData.COM_NAME);
        }
        $('#companyModal').modal('hide');
    }

    // 창고 검색 선택
    function warehouseSelect () {
        var whIdx = dataTableGetSelectedDataArray('warehouseModalTable', 'WH_IDX');
        var whName = dataTableGetSelectedDataArray('warehouseModalTable', 'WH_NAME');

        if(whIdx.length != 1){
            alert('창고는 하나만 선택해 주세요');
            return false;
        }else{
            $('input[name=whIdx]').val(whIdx);
            $('input[name=whName]').val(whName);
            $('#warehouseModal').modal('hide');
        }
    }

    //거래처 모달에서 선택
    function contractSelect(row){
        var rowData = $('#contractModalTable').DataTable().rows(row).data()[0];

        $('input[name=ccIdx]').val(rowData.CC_IDX);
        $('input[name=ccName]').val(rowData.CC_NAME);
        $('input[name=ccType]').val(rowData.CC_TYPE_STR);
        $('input[name=ccCycle]').val(rowData.CC_CYCLE_STR);
        $('input[name=ccNum]').val(rowData.CC_NUM);
        $('#contractModal').modal('hide');
    }
</script>
<script>
    $(function () {
        priceSetting();
    });

    $("#saveBtn").on("click", saveAction);
</script>
</body>
</html>
