<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:if="${category.cateDepth==1}">대분류 상세보기</title>
  <title th:if="${category.cateDepth==2}">중분류 상세보기</title>
  <title th:if="${category.cateDepth==3}">소분류 상세보기</title>

  <th:block th:replace="common/css.html"></th:block>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="page-header page-header-dark">
        <div class="page-header-content container-fluid header-elements-md-inline px-3">
          <div class="d-flex">
            <div class="page-title">
              <h4 class="font-weight-semibold"><i class="icon-basket mr-1"></i>대분류 상세</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Content area -->
      <div class="content container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body popup-contents">
                <form id="categoryFirstForm" method="post" enctype="multipart/form-data">
                  <fieldset class="mb-0">
                    <legend class="" th:if="${category.cateDepth==1}">1. 대분류 상세정보</legend>
                    <legend class="" th:if="${category.cateDepth==2}">1. 중분류 상세정보</legend>
                    <legend class="" th:if="${category.cateDepth==3}">1. 소분류 상세정보</legend>
                    <div class="row">
                      <div class="col-sm-12" th:if="${category.cateDepth==1}">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-prepend">
                              <span class="input-group-text">대분류명</span>
                            </span>
                            <input th:value="${category.cateName}" type="text" class="form-control" name="CATE_NAME">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6" th:if="${category.cateDepth!=1}">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-prepend">
                              <span class="input-group-text requested" th:if="${category.cateDepth==2}">대분류명</span>
                              <span class="input-group-text requested" th:if="${category.cateDepth==3}">중분류명</span>
                            </span>
                            <select name="CATE_PARENT_IDX" class="form-control form-control-sm select-search" data-container-css-class="select-sm" data-fouc>
                              <option value="">선택</option>
                              <option th:each="parent : ${parent}" th:value="${parent.CATE_IDX}" th:text="${parent.CATE_NAME}" th:selected="${parent.CATE_IDX eq category.parentCategory.cateIdx}"></option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6" th:if="${category.cateDepth!=1}">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text requested" th:if="${category.cateDepth==2}">
                                  중분류명
                                </span>
                                <span class="input-group-text requested" th:if="${category.cateDepth==3}">
                                  소분류명
                                </span>
                            </span>
                            <input type="text" class="form-control" name="CATE_NAME" th:value="${category.cateName}">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">이미지(아이콘)</span>
                            </span>
                            <input th:if="${category.cateIcon == ''}" type="file" class="form-control form-control-plaintext" name="CATE_ICON" accept="image/*">
                            <div class="form-control" th:if="${category.cateIcon != ''}">
                              <img th:src="${category.cateIcon}" class="input-thumb">
                              <input type="file" name="CATE_ICON" accept="image/*" class="input-thumb-file">
                              <input type="hidden" name="re_CATE_ICON" th:value="${category.cateIcon}">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">이미지(썸네일)</span>
                            </span>
                            <input th:if="${category.cateThumbnail == ''}" type="file" class="form-control form-control-plaintext" name="CATE_THUMBNAIL" accept="image/*">
                            <div class="form-control" th:if="${category.cateThumbnail != ''}">
                              <img th:src="${category.cateThumbnail}" class="input-thumb">
                              <input type="file" name="CATE_THUMBNAIL" accept="image/*" class="input-thumb-file">
                              <input type="hidden" name="re_CATE_THUMBNAIL" th:value="${category.cateThumbnail}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <br>
                  <fieldset class="mb-0">
                    <span class="input-group-text w-100 mb--1">이미지 상세</span>
                    <textarea th:value="${image}" th:text="${image}" id="cate_summernote" name="CATE_IMAGE"></textarea>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          <input hidden id="cate_depth" th:value="${category.cateDepth}">
        </div>

      </div>
      <!-- /content area -->

    </div>
    <!-- /inner content -->

  </div>
  <!-- /main content -->

</div>

<div class="navbar navbar-expand-lg navbar-dark">
  <div class=" w-100 text-right mt-1 mb-1">
    <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();">
      <i class="icon-cross2 mr-1"></i>닫기
    </button>
    <button type="button" class="btn btn-sm btn-secondary" onclick="updateCategoryFirst()">
      <i class="icon-floppy-disk mr-1"></i>수정
    </button>
  </div>
</div>
<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 에디터 -->
<script th:src="@{/assets/js/demo_pages/editor_summernote.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<!-- 첨부이미지 hover 미리보기 -->
<script language="JavaScript">
  $(document).ready(function() {
    var xOffset = 150;
    var yOffset = -10;

    $(document).on("mouseover",".input-thumb",function(e){
      var image_data = $(this).data("image");
      var add_caption = (image_data != undefined) ? "<br/>" + image_data : "" ;
      $("body").append("<p id='preview' class='input-thumb-preview'><img src='"+ $(this).attr("src") +"' width='100%' />"+ add_caption +"</p>");
      $("#preview")
              .css("left",(e.clientX - xOffset) + "px")
              .css("top",(e.clientY - yOffset) + "px")
              .fadeIn("fast");
    });

    $(document).on("mousemove",".input-thumb",function(e){
      $("#preview")
              .css("left",(e.clientX - xOffset) + "px")
              .css("top",(e.clientY - yOffset) + "px");
    });

    $(document).on("mouseout",".input-thumb",function(){
      $("#preview").remove();
    });
  });
</script>
</body>
<th:block th:replace="modal/summernoteImageModal.html"></th:block>
<script th:inline="javascript">
  //대분류 등록
  function updateCategoryFirst(){
    var cate_name = $('input[name=CATE_NAME]').val();
    var CATE_PARENT_IDX = $('select[name=CATE_PARENT_IDX]').val();
    if(window.confirm('수정하시겠습니까?')){
      var cate_depth = $('#cate_depth').val();
      if(cate_name==""){
        if(cate_depth==1){
          alert('대분류명을 입력해주세요.');
        }else if(cate_depth==2){
          alert('중분류명을 입력해주세요.');
        }else if(cate_depth==3){
          alert('소분류명을 입력해주세요.');
        }
        return false;
      }else{
        if(cate_depth==2&&CATE_PARENT_IDX==""){
          alert("대분류명을 선택해주세요.");
          return false;
        }else if(cate_depth==3&&CATE_PARENT_IDX==""){
          alert("중분류명을 선택해주세요.");
          return false;
        }
        $('#categoryFirstForm').submit();
      }
    }
  }

</script>
<script th:inline="javascript">
  window.onload=function(){
    smImage('#cate_summernote');
  }

</script>
</html>
