<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="part/head :: head('상품 카테고리')"></head>

<body th:classappend="${@shopComp.getShopDesign()}">
<div class="page-container">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- 로그인 모달창 -->
<th:block th:replace="part/modal :: login-modal"></th:block>

<!-- 좌측 상단 해당 페이지 메뉴 경로 -->
<section class="padding-section padding-half">
    <div class="container">
        <p class="menu-route">
            <span class="color-grey999" th:text="${cateMenuName?.get('SCATE_NAME')}">노트북/데스크탑</span><i class="circle-down2"></i>

            <th:block th:if="${cateMenuName?.get('MIDDLE_NAME') != null }">
            &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
            <span class="color-grey999" th:text="${cateMenuName?.get('MIDDLE_NAME')}">노트북/스마트PC</span><i class="circle-down2"></i>
            </th:block>

            <th:block th:if="${cateMenuName?.get('SMALL_NAME') != null }">
            &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
            <span class="color-grey333" th:text="${cateMenuName?.get('SMALL_NAME')}">울트라북</span></span><i class="circle-down2"></i>
            </th:block>
        </p>
    </div>
</section>

<!-- 상단 이벤트 썸네일 슬라이드 -->
<section class="padding-section">
    <div class="swiper swiper-itemCategory container">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <div class="thumb-wrap box-outline">
                    <div th:replace="part/thumbnail :: thumbnail-category"></div>
                </div>
            </li>
            <li class="swiper-slide">
                <div class="thumb-wrap box-outline">
                    <div th:replace="part/thumbnail :: thumbnail-category"></div>
                </div>
            </li>
            <li class="swiper-slide">
                <div class="thumb-wrap box-outline">
                    <div th:replace="part/thumbnail :: thumbnail-category"></div>
                </div>
            </li>
        </ul>
        <div class="itemCategory-pagination pagination"></div>
    </div>
</section>

<section class="category-table padding-menu">
    <form id="searchCategoryForm">
    <input type="hidden" name="scateIdx" th:value="${scateIdx}">
    <input type="hidden" name="parentCateIdx" th:value="${parentCateIdx}">
    <input type="hidden" name="cateIdx" th:value="${cateIdx}">
    <div class="container">
    <!-- 상품 카테고리 대분류/중분류 목록페이지 -->
        <div class="cate-title">
            <p th:text="${cateMenuName?.get('SCATE_NAME')}">노트북/데스크탑</p>
        </div>
        <!-- 상위 카테고리 [대중소분류/상품상태] -->
        <div class="cate-table-wrap">
            <ul class="cate-table">
                <!-- 대분류 -->
                <li>
                    <div class="cate-table-title">대분류</div>
                    <!-- 선택된 카테고리는 li에 class="on" 추가 -->
                    <ul class="cate-table-cont">
                        <li th:each="shopCategory : ${@shopComp.shopCategoryList}" th:classappend="${shopCategory.SCATE_IDX == scateIdx}? 'on' : ''">
                            <a th:href="@{|/product/category?scateIdx=${shopCategory.SCATE_IDX}|}" th:text="${shopCategory.SCATE_NAME}"></a>
                        </li>
                    </ul>
                </li>
                <!-- 중분류 -->
                <li th:if="${#maps.containsKey(@shopComp.middleCategoryList,scateIdx)}">
                    <div class="cate-table-title">중분류</div>
                    <ul class="cate-table-cont">
                        <li th:each="middleCategory: ${@shopComp.getMiddleCategoryList().get(__${scateIdx}__)}" th:classappend="${middleCategory.CATE_IDX == parentCateIdx}? 'on':''">
                            <a th:href="@{|/product/category?scateIdx=${scateIdx}&parentCateIdx=${middleCategory.CATE_IDX}|}" th:text="${middleCategory.CATE_NAME}"></a>
                        </li>
                    </ul>
                </li>
                <!-- 소분류 -->
                <li th:if="${parentCateIdx != null && #maps.containsKey(@shopComp.smallCategoryList,parentCateIdx)}">
                    <div class="cate-table-title">소분류</div>
                    <ul class="cate-table-cont">
                        <li th:each="smallCategory: ${@shopComp.smallCategoryList.get(__${parentCateIdx}__)}" th:classappend="${smallCategory.CATE_IDX == cateIdx}? 'on':''">
                            <a th:href="@{|/product/category?scateIdx=${scateIdx}&parentCateIdx=${parentCateIdx}&cateIdx=${smallCategory.CATE_IDX}|}" th:text="${smallCategory.CATE_NAME}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 하위카테고리 [상품상태, 브랜드, 색상, 배송옵션 ...] -->
        <div class="cate-table-wrap">
            <ul class="cate-table cate-table2">
                <!-- 상품상태 -->
                <li>
                    <div class="cate-table-title">상품상태</div>
                    <ul class="cate-table-cont">
                        <li>새상품</li>
                        <li>박스개봉</li>
                        <li>단기사용</li>
                        <li>해외리퍼</li>
                        <li>A급리퍼</li>
                        <li>가성비중고</li>
                        <li>임박상품</li>
                        <li class="itemGuide">
                            <a href="javascript:;"><i class="questionMark"></i>상품가이드상태</a>
                        </li>
                    </ul>
                </li>
                <!-- 브랜드 -->
                <li>
                    <div class="cate-table-title">브랜드</div>
                    <ul class="cate-table-cont">
                        <li class="on">삼성</li>
                        <li class="on">LG</li>
                        <li>HP/컴펙</li>
                        <li>IBM/레노버</li>
                        <li class="on">DELL</li>
                        <li>SONY/도시바/후지쯔</li>
                        <li>ASUS/MSI/ACER</li>
                        <li>넷북/미니노트북</li>
                        <li>윈도 태블릿</li>
                    </ul>
                </li>
                <!-- CPU -->
                <li>
                    <div class="cate-table-title">CPU</div>
                    <ul class="cate-table-cont">
                        <li>펜티엄</li>
                        <li>코어i3</li>
                        <li class="on">코어i5</li>
                        <li>AMD</li>
                        <li>셀러론</li>
                        <li>기타</li>
                    </ul>
                </li>
                <!-- 화면사이즈 -->
                <li>
                    <div class="cate-table-title">화면사이즈</div>
                    <ul class="cate-table-cont">
                        <li>15~16인치</li>
                        <li class="on">14인치</li>
                        <li>13인치</li>
                        <li>11~12인치</li>
                        <li>10인치이하</li>
                    </ul>
                </li>
                <!-- 무게 -->
                <li>
                    <div class="cate-table-title">무게</div>
                    <ul class="cate-table-cont">
                        <li>1kg미만</li>
                        <li>1.0~1.4kg</li>
                        <li class="on">1.4~1.7kg</li>
                        <li>1.7~2.0kg</li>
                        <li>2.3~2.5kg</li>
                        <li>2.5~2.8kg</li>
                        <li>2.8~3.0kg</li>
                        <li>3kg이상</li>
                    </ul>
                </li>
                <!-- 가격대 -->
                <li>
                    <div class="cate-table-title">가격대</div>
                    <ul class="cate-table-cont">
                        <li>20만원 이하</li>
                        <li>20만원~50만원</li>
                        <li class="on">50만원~100만원</li>
                        <li>11~12인치</li>
                        <li>100만원 이상</li>
                    </ul>
                </li>
                <!-- 색상 -->
                <li>
                    <div class="cate-table-title">색상</div>
                    <div class="cate-table-cont">
                        <div class="item-color">
                            <span class="on"><span></span></span>
                            <span><span></span></span>
                            <span><span></span></span>
                        </div>
                    </div>
                </li>
                <!-- 배송옵션-->
                <li>
                    <div class="cate-table-title">배송옵션</div>
                    <div class="cate-table-cont">
                        <p>당일배송</p>
                    </div>
                </li>
                <!-- 결과 내 재검색 -->
                <li>
                    <div class="cate-table-title">결과 내 재검색</div>
                    <div class="cate-table-cont">
                        <label for="includedWords">포함단어</label><input type="text" class="form-control-sm word-input" id="includedWords" name="includedWords" maxlength="10" title="포함단어" value="">
                        <label for="exceptWords">제외단어</label><input type="text" class="form-control-sm word-input" id="exceptWords" name="exceptWords" maxlength="10" title="제외단어" value="">
                        <a href="javascript:;" class="btn btn-sm btn-point btn-width-xs radius-xlarge ok-btn">확인</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 펼침 & 접기 -->
        <div class="cate-selectedOption-wrap">
            <div class="cate-selectedOption color-blue font-sm">
                <p>노트북/스마트PC<i class="close"></i></p>
                <p>울트라북<i class="close"></i></p>
                <p>삼성<i class="close"></i></p>
                <p>LG<i class="close"></i></p>
                <p>DELL<i class="close"></i></p>
                <div class="item-color">
                    <span><span></span></span>
                    <i class="close"></i>
                </div>
            </div>
            <div>
                <p class="revert"><i class="revert-icon"></i>전체해제</p>
                <div class="filter-toggle">
                    <i class="filter-toggle-icon"></i><span class="filter-text">접기</span>
                </div>
            </div>
        </div>
    </div>
    </form>
</section>

    <!-- 검색결과 -->
<section class="padding-section container" id="searchThumbnailList">

<!--         1행 1열 썸네일로 보기-->
<!--    <div>-->
<!--        <ul class="col-list lg-1col">-->
<!--            <li>-->
<!--                <div class="thumb-wrap boxShadow-hover">-->
<!--                    <div class="compareAdd-wrap">-->
<!--                        <input type="checkbox" id="compareAdd" class="custom-checkbox" name="" value="">-->
<!--                        <label for="compareAdd"><span class="font-sm">비교담기</span></label>-->
<!--                    </div>-->
<!--                    <div th:replace="part/thumbnail :: thumbnail-searchResults"></div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="thumb-wrap boxShadow-hover">-->
<!--                    <div class="compareAdd-wrap">-->
<!--                        <input type="checkbox" id="compareAdd" class="custom-checkbox" name="" value="">-->
<!--                        <label for="compareAdd"><span class="font-sm">비교담기</span></label>-->
<!--                    </div>-->
<!--                    <div th:replace="part/thumbnail :: thumbnail-searchResults"></div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="thumb-wrap boxShadow-hover">-->
<!--                    <div class="compareAdd-wrap">-->
<!--                        <input type="checkbox" id="compareAdd" class="custom-checkbox" name="" value="">-->
<!--                        <label for="compareAdd"><span class="font-sm">비교담기</span></label>-->
<!--                    </div>-->
<!--                    <div th:replace="part/thumbnail :: thumbnail-searchResults"></div>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</section>

<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!--js-->
<th:block th:replace="part/js"></th:block>

</div>
</body>
<script>
    function searchCategoryProductList(){
        $.ajax({
            url:'/product/category.ajax'
            ,type:'post'
            ,data: $('#searchCategoryForm').serialize()
            ,success:function (res){
                $('#searchThumbnailList').empty();
                $('#searchThumbnailList').append(res);

                // action
                // $('#myOrderTabMenu').children('li').removeClass("on");
                // $('#myOrderTabMenu').find($('#'+menu)).addClass("on");
            }
            ,error(){}
        })
    }
</script>
<script>
    $(function(){
        searchCategoryProductList();
    })
</script>
</html>