<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="part/head :: head('상품상세')">
</head>
<body th:classappend="${@shopComp.getShopDesign()}">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- 로그인 모달창 -->
<th:block th:replace="part/modal :: login-modal"></th:block>

<!-- 좌측 상단 해당 페이지 메뉴 경로 -->
<div class="container">
    <p class="menu-route">
        <span>태블릿/휴대폰/웨어러블</span><i class="circle-down"></i>
        &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
        <span>갤럭시탭/아이패드/서피스</span><i class="circle-down"></i>
        &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
        <span>애플아이패드</span></span><i class="circle-down"></i>
    </p>
</div>

<section class="padding-section">
    <div class="container">
        <ul class="product-thumb">
            <!-- 좌측 상품 썸네일 -->
            <li>
                <!-- 큰 이미지 썸네일 -->
                <div class="swiper prod-thumb">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/eeeeee/777" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/000000/fff" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/f29d13/777" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/333333/fff" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/49a5de/fff" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/eeeeee/777" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/eeeeee/777" alt="상품이미지">
                        </li>
                    </ul>
                </div>
                <!-- 큰 이미지 썸네일 하단 상품 브랜드 & 상품 번호 -->
                <div class="prod-thumb-group">
                    <div><span>삼성</span><span class="prod-num">상품번호 : 001240231</span></div>
                    <i class="share"></i>
                </div>
                <!-- 작은 이미지 썸네일 슬라이드 -->
                <div class="prod-thumbList">
                   <div class="swiper prod-thumbList-swiper">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/eeeeee/777" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/000000/fff" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/f29d13/777" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/333333/fff" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/49a5de/fff" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/eeeeee/777" alt="상품이미지">
                        </li>
                        <li class="swiper-slide">
                            <img src="https://dummyimage.com/500x500/eeeeee/777" alt="상품이미지">
                        </li>
                    </ul>
                </div>
                </div>
                <!-- 배송 공고 -->
                <div class="delivery-notice color-blue">
                    <i class="delivery"></i>
                    <span class="font-xlg semi-bold">당일발송</span>
                    <span class="font-xsm">오늘 오후 2시 이전 주문 시 당일 발송됩니다.</span>
                </div>
                <!-- 배너 영역 -->
                <div class="prod-banner">
                    <img src="https://dummyimage.com/500x70/ffffd1/333" alt="광고배너">
                </div>
            </li>
            <!-- 우측 상품 정보 -->
            <li>
                <!-- 상품 상태 & 남은 수량 & 업체상품 모두보기 -->
                <div class="prod-thumb-top">
                    <div class="prod-thumb-top-left">
                        <div class="item-inner-wrap item-bedge-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                                <span class="item-condition item-conditionB-1">스크래치</span>
                            </div>
                        </div>
                        <p>남은수량 <span class="color-red ">1</span>개</p>
                    </div>
                    <div class="companyItemView-btn"><a href="javascript:;" class="font-xxsm">이 업체상품 모두보기</a></div>
                </div>
                <!-- 상품 제목 -->
                <div class="prod-title">
                    <h2>[이가격 마지막!!] 애플 아이패드 7세대 10.1 Wi-Fi 32GB 스페이스 그레이</h2>
                    <p class="font-sm">전작 대비 더 커진 화면크기, 키보드 사용 가능! / 모델명:A2197 / RAM:3GB / ROM:32GB / VGA:2160X1620 / OS:iPadOS 13 / 생삭:스페이스그레이</p>
                </div>
                <!-- 상품 설명 & 가격 등 -->
                <ul class="prod-info font-sm">
                    <li>
                        <div class="prod-info-group">
                            <div>제품상태</div>
                            <i class="info-icon"></i>
                        </div>

                        <div>단기사용</div>
                    </li>
                    <li>
                        <div>네이버 최저가</div>
                        <div class="prod-info-group">
                            <div class="naver-price">701,290<span class="won">원</span></div>
                            <a href="javascript:;" class="font-xsm">가격비교 링크이동</a>
                        </div>
                    </li>
                    <li>
                        <div>뉴퍼마켓가</div>
                        <div class="prod-info-group">
                            <p class="newper-price bold">359,000<span class="won">원</span></p>
                            <p class="aenuri-wrap color-red">-60,000원<i class="aenuri"></i></p>
                        </div>
                    </li>
                    <li>
                        <div>최종혜택가</div>
                        <div class="prod-info-group">
                            <div class="color-red font-xxlg bold">339,000<span class="won">원</span></div>
                            <i class="open-arrow-red"></i>
                        </div>
                    </li>
                    <li>
                        <div>배송안내</div>
                        <div><span>무료배송</span><span class="div-line">협력업체 배송</span></div>
                    </li>
                    <li>
                        <div>무이자할부</div>
                        <div class="prod-info-group">
                            <p>
                                <span class="color-blue">월 56,500원</span>&nbsp;
                                <span>(56,500X6개월)</span>
                                <span class="div-line">해당카드보기</span>
                            </p>
                            <i class="open-arrow-grey"></i>
                        </div>
                    </li>
                </ul>
                <!-- 옵션상품 -->
                <ul class="prod-option font-sm">
                    <li>
                        <label for="">필수옵션상품</label>
                        <select id="">
                            <option value="0">옵션선택</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </li>
                    <li>
                        <label for="">필수옵션상품</label>
                        <select id="">
                            <option value="0">옵션선택</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </li>
                    <li>
                        <label for="">선택옵션상품</label>
                        <select id="">
                            <option value="0">옵션선택</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </li>
                    <li>
                        <label for="">선택옵션상품</label>
                        <select id="">
                            <option value="0">옵션선택</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </li>
                </ul>
                <!-- 선택된 옵션가격 -->
                <div class="prod-option-price">
                    <ul>
                        <li >
                            <div class="prod-op-price-group">
                                <p>상품상태-단기사용</p>
                                <div class="prod-op-price-group select-amount-wrap">
                                    <div class="select-amount">
                                        <span class="amount-minus">-</span>
                                        <input type="text" name="-" value="1" size="5" readonly="">
                                        <span class="amount-plus">+</span>
                                    </div>
                                    <div>
                                       <span>+ 0</span><span class="won">원</span>
                                    </div>
                                    <i class="option-close"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prod-op-price-group">
                                <p>[이가격 마지막!!]애플 아이패드 7세대 1.0 Wi-Fi 32GB 레드</p>
                                <div class="prod-op-price-group select-amount-wrap">
                                    <div class="select-amount">
                                        <span class="amount-minus">-</span>
                                        <input type="text" name="-" value="1" size="5" readonly="">
                                        <span class="amount-plus">+</span>
                                    </div>
                                    <div>
                                        <span>+ 19,000</span><span class="won">원</span>
                                    </div>
                                    <i class="option-close"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prod-op-price-group">
                                <p>AS보증 1년 무상서비스 (유료제공)<br>
                                <span class="font-xxsm opacity-8">배송완료일로부터 해당기간만큼 AS서비스 제공</span><br>
                                <span class="font-xxsm color-red">(*고객 과실에 의한, 외관/액정 파손은 유상 AS처리)</span></p>
                                <div class="prod-op-price-group select-amount-wrap">
                                    <div class="select-amount">
                                        <span class="amount-minus">-</span>
                                        <input type="text" name="-" value="1" size="5" readonly="">
                                        <span class="amount-plus">+</span>
                                    </div>
                                    <div>
                                        <span>+ 19,000</span><span class="won">원</span>
                                    </div>
                                    <i class="option-close"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="option-totalPrice">총 상품금액&nbsp;&nbsp;<span class="font-xxxlg bold">339,000</span><span class="won">원</span></p>
                </div>
                <!-- 바로구매, 장바구니, 찜하기 버튼 -->
                <div>
                    <div class="prod-btn-group">
                        <div class="btn-blue">
                            <a href="javascript:;">바로구매</a>
                        </div>
                        <div class="btn-white">
                            <a href="javascript:;">장바구니</a>
                        </div>
                        <div class="prod-heart">
                            <i class="heart"></i>
                            <span>25</span>
                        </div>
                    </div>
                    <span class="nonMember-buy">비회원 구매</span>
                </div>
            </li>
        </ul>
    </div>

    <!-- 연관상품 -->
    <div class="container">
        <h3>연관상품</h3>
    </div>
    <section th:insert="part/thumbnailList :: relatedProducts" class="padding-section padding-none relatedProducts swiper-all">
    </section>

    <!--메뉴 : 박스형 탭 메뉴 : 하단 라인 -->
    <section th:insert="part/menu :: boxTab3">
    </section>

    <div class="container">
        <div class="launchingStory">
            <div>
                <h5 class="font-lg bold color-red">런칭스토리</h5>
                <p class="font-md">중고지만 괜찮아 ! 쓰다 보면 생길수 있는 미세한 생활 흠집, 스크래치 등에 문제가 있을 수 있으나, 외관에 별로 신경 쓰지 않는, 초가성비 제품을 찾으시는 고객님을 위한 상품입니다. 멍/빛샘 등에 문제는 흰색 바탕을 제외한 화면 상에서 잘티가 나지 않으며, 12단계 검수 과정을 거쳐 성능 기준에 합격한 제품만 선별하여 발송해드리고 있습니다.</p>
            </div>
        </div>
    </div>
</section>




<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!--js-->
<th:block th:replace="part/js"></th:block>

</body>
</html>