<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="userForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">이름</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_NAME">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">휴대폰번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_PHONE">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상호법인명<br>(소속)</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="COM_NAME">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">로그인ID</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_ID">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">부서</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_DEPART">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">직급(직책)</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_POSITION">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">이메일(개인)</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_PERSON_MAIL">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상태</label>
                                                    <select name="U_STATE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">권한</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="U_AUTH_IDX">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">등록일</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1" onclick="searchBtn()"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popNewBtn">
                                            <i class="icon-popout mr-1"></i>신규등록
                                        </a>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-primary ml-1 dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil3 mr-1"></i>계정상태변경</button>
                                    <div class="dropdown-menu">
                                        <div th:each="opt: ${T(com.newper.constant.UState).values()}" >
                                            <a th:text="${opt.getOption()}" th:onclick="userChange([[${opt.name()}]])" class="dropdown-item"></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table" id="userTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>


<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>



<script>

    function userChange(U_STATE,U_STATE_STR){
        var uIdx = dataTableGetSelectedDataArray('userTable', 'U_IDX')
        if(uIdx.length == 0) {
            alert("선택된 회원이 없습니다");
            return false;
        }else{
            if(window.confirm('선택된 회원들의 상태를 변경하시겠습니까?')){
                $.ajax({
                    url: '/user/userChange.ajax',
                    type: 'post',
                    data: {
                    uIdx : uIdx,
                    U_STATE_STR : U_STATE
                },
                success: function(res){
                    $('#userTable').DataTable().ajax.reload();
                },
                error: function(){
                }
            });
            }
        }
    }

</script>

<script>
    function searchBtn() {
        var table = $('#userTable').DataTable();
        table.page('first').ajax.url('/user/user.dataTable?' + $('#userForm').serialize()).load(null, false);
    }

    function userDetailPop(uIdx) {
        var focusPopup = window.open('userPopup/' + uIdx, 'userPopup', 'width=1000, height=800, left=' + screenX + ', top=' + screenY + ',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }
</script>


<script>
    var userTable = $('#userTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering: false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax: {
            url: '/user/user.dataTable?' + $('#userForm').serialize(),
            type: 'post'
        },
        columnDefs: [{
            orderable: false,
            targets: [0]

        }],

        "columns": [
            {
                'class': 'select-checkbox',
                'title': '선택',
                'data': 'SP_IDX',
                'defaultContent': '',
                'render': function (data, type, full, meta) {
                    return '';
                }
            }
            , {
                'title': '이름', 'data': null, 'render': function (data, type, full, meta) {
                    return '<a href="javascript: userDetailPop(' + data['U_IDX'] + ')" class="badge badge-primary">' + data['U_NAME'] + '</a>';
                }
            }
            , {'title': '휴대폰번호', 'data': 'U_PHONE'}
            , {'title': '상호법인명<br>(소속)', 'data': 'COM_NAME'}
            , {'title': '로그인ID', 'data': 'U_ID'}
            , {'title': '부서', 'data': 'U_DEPART'}
            , {'title': '직급(직책)', 'data': 'U_POSITION'}
            , {'title': '이메일(개인)', 'data': 'U_PERSON_MAIL'}
            , {'title': '전화번호(사무실번호)', 'data': 'U_COMPANY_TEL'}
            , {'title': '상태', 'data': 'U_STATE_STR', 'defaultContent':''}
            , {'title': '권한', 'data': 'AUTH_IDX'}
            , {'title': '등록자', 'data': 'CREATED_BY'}
            , {'title': '등록일', 'data': 'CREATED_DATE'}
            , {'title': '수정자', 'data': 'MODIFIED_BY'}
            , {'title': '수정일', 'data': 'MODIFIED_DATE'}
            , {
                'title': '수정이력', 'data': '', 'render': function (data) {
                    return '<a href="#" class="badge badge-primary">보기</a>';
                }
            }


        ]
    });

    $('#userForm').on('keyup', function (event) {
        if (event.keyCode == 13) {
            searchBtn();
            return false;
        }
    });


    $('#popNewBtn').on('click', function () {
        var focusPopup = window.open('userPopup', 'insert_user', 'width=1000, height=800, left=' + screenX + ', top=' + screenY + ',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    });


</script>
</html>