<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품권관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>
                                            </span>
                                        <!-- <span class="breadcrumb-item font-weight-bold text-secondary">
                                                 <i class="mr-1" th:classappend="${subIcon}"></i>
                                                 <th:block th:text="${subTitle}"></th:block>
                                             </span>-->
                                    </div>
                                </h6>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="giftForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                                                <div class="form-group">
                                                    <label class="d-block">상품권발행명</label>
                                                    <input type="text" name="giftgName" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상품권 등록상태</label>
                                                    <select name="giftgState" data-placeholder="multi select" class="form-control multiselect-reset" multiple="multiple">
                                                        <option th:each="opt: ${T(com.newper.constant.GiftgState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상품권유효기간시작일</label>
                                                    <input type="text" name="giftgStartDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상품권유효기간종료일</label>
                                                    <input type="text" name="giftgEndDate" class="form-control form-control-sm w-120px  w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상품권 고유코드</label>
                                                    <input type="text" name="giftCode" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">등록자</label>
                                                    <input type="text" name="createdBy" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">등록일</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm  w-datarange daterange-basic">
                                                </div>

                                                <!--<div class="form-group">
                                                    <label class="d-block">승인자</label>
                                                    <input type="text" name="" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">승인일</label>
                                                    <input type="text" name="" class="form-control form-control-sm  w-datarange daterange-basic">
                                                </div>-->

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label">조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popNewBtn">
                                            <i class="icon-popout mr-1"></i>신규등록
                                        </a>
                                    </div>
                                </div>


                            </div>

                            <table class="table table-hover" id="giftTable"></table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    function searchBtn(){
        giftTable.page('first').ajax.url('/gift/giftGroup.dataTable?'+$('#giftForm').serialize()).load();
    }

    function giftDetailPop(giftgIdx) {
        var focusPopup = window.open('/gift/giftPop/' + giftgIdx, 'giftDetail', 'width=1030, height=830, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }
</script>
<script th:inline="javascript">
    var giftTable = $('#giftTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/gift/giftGroup.dataTable',
            type:'post'
        },
        columns : [
            {'class':'select-checkbox', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
            ,{'title':'상품권 발행명','data':'GIFTG_NAME', 'render': function (date, type, full, meta) {
                    return '<a href="#" onclick="giftDetailPop(' + full.GIFTG_IDX + ')" class="badge badge-primary">'+full.GIFTG_NAME+'</a>'
                }}
            ,{'title':'상품권 등록상태','data':'GIFTG_STATE_STR','defaultContent':''}
            ,{'title':'상품권유효기간시작일','data':'GIFTG_START_DATE','defaultContent':''}
            ,{'title':'상품권유효기간종료일','data':'GIFTG_END_DATE','defaultContent':''}
            ,{'title':'상품권 생성수량','data':'GIFTG_CNT','defaultContent':''}
            ,{'title':'상품권 사용수량','data':'GIFTG_USED_CNT','defaultContent':''}
            ,{'title':'등록자','data':'CREATED_BY','defaultContent':''}
            ,{'title':'등록일','data':'CREATED_DATE','defaultContent':''}
            ,{'title':'승인자','data':'','defaultContent':''}
            ,{'title':'승인일','data':'','defaultContent':''}
        ]
    });

    $('#giftForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });

    $('#popNewBtn').on('click',function (){
        var focusPopup = window.open('/gift/giftPop', 'insertGift', 'width=1030, height=830, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    });
</script>
</html>