<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${giftGroup != null} ? '상품권 조회/수정'">상품권 등록</title>
    <th:block th:replace="common/css.html"></th:block>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold" th:if="${giftGroup == null}"><i class="icon-office mr-1"></i>상품권 등록</h4>
                            <h4 class="font-weight-semibold" th:unless="${giftGroup == null}"><i class="icon-office mr-1"></i>상품권 조회/수정</h4>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">

                    <div class="col-lg-12">

                        <form id="regiForm" method="post" enctype="multipart/form-data">
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-2">
                                        <legend class="">1. 등록정보</legend>

                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    상품권 발행명
                                                                </span>
                                                            </span>
                                                        <input type="text" name="giftgName" class="form-control" th:value="${giftGroup?.giftgName}" th:readonly="${giftGroup != null}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">상품권 등록상태</span>
                                                            </span>
                                                        <select data-placeholder="선택" name="giftgState" class="form-control select">
                                                            <option th:each="opt: ${T(com.newper.constant.GiftgState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}" th:selected="${#strings.toString(giftGroup?.giftgState) eq opt.name()}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    상품권유효기간시작일
                                                                </span>
                                                            </span>
                                                        <input type="text" name="giftgStartDate" class="form-control w-datarange daterange-single" th:value="${giftGroup?.giftgStartDate}" th:disabled="${giftGroup != null}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    상품권유효기간종료일
                                                                </span>
                                                            </span>
                                                        <input type="text" name="giftgEndDate" class="form-control w-datarange daterange-single" th:value="${giftGroup?.giftgEndDate}" th:disabled="${giftGroup != null}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    상품권 생성수량
                                                                </span>
                                                            </span>
                                                        <input type="text" name="giftgCnt" class="form-control" th:value="${giftGroup?.giftgCnt}" th:readonly="${giftGroup != null}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    상품권 금액
                                                                </span>
                                                            </span>
                                                        <input type="text" name="giftgMoney" class="form-control" th:value="${giftGroup?.giftgMoney}" th:readonly="${giftGroup != null}">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                        <!-- #regiForm end -->

                        <div th:if="${giftGroup != null}">
                            <div class="card">
                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary ml-1 dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil3 mr-1"></i>일괄변경</button >
                                        <div class="dropdown-menu">
                                            <a onclick="disposeGift()" class="dropdown-item">폐기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <table class="table table-hover" id="giftTable"></table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

        <!-- Footer -->
        <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
            <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
            <button type="button" class="btn btn-sm btn-secondary ml-1" id="saveBtn"><i class="icon-floppy-disk mr-1"></i>저장</button>
        </div>
        <!-- /footer -->
    </div>
</div>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 컬러픽커 -->
<script th:src="@{/assets/js/plugins/pickers/color/spectrum.js}"></script>

<!-- 그래프 -->
<script th:src="@{/assets/js/plugins/visualization/echarts/echarts.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 데이터테이블 -->
<script th:src="@{/assets/js/demo_pages/datatables_extension_select.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script th:inline="javascript">
    function saveAction(){
        $.ajax({
            url: '/gift/giftPop',
            type: 'post',
            data: $('#regiForm').serialize()
        });
    }

    function disposeGift() {
        var param = '';
        var length = $("#giftTable .selected").length;
        if (length == 0) {
            alert("선택한 데이터가 없습니다.");
            return false;
        } else {
            $.each($('#giftTable .selected'), function (key) {
                var row = $(this)[0].rowIndex - 1;
                var data = $('#giftTable').DataTable().rows(row).data()[0];
                param += data.GIFT_IDX + ',';
            });
            param.replace(/.$/,'');
            if (confirm("상품권 일괄 폐기 하시겠습니까?\n폐기 후 복구가 불가합니다.")) {
                $.ajax({
                    url: '/gift/disposal.ajax',
                    type: 'post',
                    data: 'giftIdxs='+param,
                    success: function () {
                        $('#giftTable').DataTable().ajax.reload();
                    }
                });
            }
        }
    }
</script>
<script th:inline="javascript">
    if ($('#giftTable')) {
        $('#giftTable').DataTable({
            dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
            ordering:true,
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            serverSide: true,
            ajax:{
                url:'/gift/gift.dataTable?giftgIdx=' + [[${giftGroup?.giftgIdx}]],
                type:'post'
            },
            columnDefs: [ {
                orderable: true,
                targets:   [0]
            } ],
            columns : [
                {'class':'select-checkbox', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                        return '';
                    }}
                ,{'title':'상품권상태','data':'GIFT_STATE','defaultContent':''}
                ,{'title':'상품권번호','data':'GIFT_CODE','defaultContent':''}
                ,{'title':'상품권 사용 고객 정보','data':'CU_NAME','defaultContent':''}
                ,{'title':'처리일','data':'','defaultContent':''}
            ]
        });
    }

    $("#saveBtn").on("click", saveAction);
</script>
</body>
</html>