<div class="modal" tabindex="-1" role="dialog" id="searchGoodsStockModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">상품코드 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <div class="row">
                            <form id="goodsStockModalForm">
                                <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                    <div class="form-group">
                                        <label class="d-block">재고코드</label>
                                        <input type="text" name="gsCode" class="form-control form-control-sm w-120px">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">재고상품명</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="gsName">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">등급</label>
                                        <div class="input-group">
                                            <select name="" data-placeholder="multi select" class="form-control form-control multiselect-reset" multiple="multiple">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group end">
                                        <button type="button" class="btn btn-secondary" onclick="searchGoodsStockDataTable()">
                                            <span class="ladda-label">조회하기</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table table-hover" id="goodsStockModalTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="icon-cross2 mr-1"></i>닫기</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function showGoodsStockModal(res) {
        $('#searchGoodsStockModal').modal('show');
        selectGoodsStockDatatable();
    }

    function searchGoodsStockDataTable() {
        $("#goodsStockModalTable").DataTable().page('first').ajax.url('/product/goodsStock.datatable?'+$('#goodsStockModalForm').serialize()).load();
    }

</script>
<script th:inline="javascript">
    function selectGoodsStockDatatable() {
        if ($.fn.DataTable.isDataTable('#goodsStockModalTable')) {
            searchProductDataTable();
        } else {
            $("#goodsStockModalTable").DataTable({
                dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
                ordering: false,
                autoWidth: true,
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                serverSide: true,
                ajax:{
                    url:'/product/goodsStock.datatable',
                    type:'post'
                },
                columnDefs: [ {
                    orderable: false,
                    targets: [0]
                } ],
                columns : [
                    {'title':'No','data':'No','render':function(data,type,full,meta){
                            return meta.settings._iDisplayStart+meta.row+1;
                        }}
                    ,{'title':'대표썸네일','data':'GS_THUMB_FILE1','render':function(data,type,full,meta){
                            if(data==''){
                                return '';
                            }else{
                                return '<img src="'+data+'" class="input-thumb">'
                            }
                        }}
                    ,{'title':'재고코드','data':'GS_CODE','defaultContent':''}
                    ,{'title':'재고품명','data':'GS_NAME','defaultContent':''}
                    ,{'title':'기준판매가(재고)','data':'CATE_NAME1','defaultContent':''}
                    ,{'title':'등급','data':'GS_RANK','defaultContent':''}
                    ,{'title':'옵션1','data':'OPTION1','defaultContent':''}
                    ,{'title':'옵션2','data':'OPTION2','defaultContent':''}
                    ,{'title':'옵션3','data':'OPTION3','defaultContent':''}
                    ,{'title':'스펙','data':'SPEC_LOOKUP','defaultContent':''}
                    ,{'title':'선택','data':'GS_IDX', 'render': function (data, type, full, meta) {
                            return '<a onclick="selectProduct('+meta.row+')" class="badge badge-primary">선택</a>';
                        }}
                ]
            });
        }
    }


</script>