<div class="modal" tabindex="-1" role="dialog" id="searchShopModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">분양몰 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <div class="row">
                            <form id="shopModalForm">
                                <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                    <div class="form-group">
                                        <label class="d-block">분양몰코드</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="SHOP_IDX">
                                        <input type="hidden" name="CT_TYPE">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">분양몰명</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="SHOP_NAME">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">운영상태</label>
                                        <select name="SHOP_STATE" data-placeholder="multi select" class="form-control form-control multiselect-reset" multiple="multiple">
                                        <option th:each="opt: ${T(com.newper.constant.ComType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">분양몰타입</label>
                                        <select name="SHOP_TYPE" data-placeholder="multi select" class="form-control form-control multiselect-reset" multiple="multiple">
                                        <option th:each="opt: ${T(com.newper.constant.ComType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group end">
                                        <button type="button" class="btn btn-secondary" onclick="searchShopDataTable()">
                                            <span class="ladda-label">조회하기</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table table-hover" id="shopModalTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="icon-cross2 mr-1"></i>닫기</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function showShopModal() {
        $('#searchShopModal').modal('show');
        selectShopDatatable();
    }

    function searchShopDataTable() {
        $("#shopModalTable").DataTable().page('first').ajax.url('/shop/shop.dataTable'+$('#shopModalForm').serialize()).load();
    }

</script>
<script th:inline="javascript">
    function selectShopDatatable() {
        if ($.fn.DataTable.isDataTable('#companyModalTable')) {
            searchShopDataTable();
        } else {
            $("#shopModalTable").DataTable({
                dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
                ordering: false,
                autoWidth: true,
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                serverSide: true,
                ajax:{
                    url:'/shop/shop.dataTable',
                    type:'post'
                },
                columnDefs: [ {
                    orderable: false,
                    targets: [0]
                } ],
                columns : [
                    {'title':'No','data':'No','render':function(data,type,full,meta){
                            return meta.settings._iDisplayStart+meta.row+1;
                        }}
                    ,{'title':'분양몰 코드','data':'SHOP_IDX','defaultContent':''}
                    ,{'title':'분양몰명','data':'SHOP_NAME','defaultContent':''}
                    ,{'title':'도메인','data':'DOM_URL','defaultContent':''}
                    ,{'title':'운영상태','data':'SHOP_STATE','defaultContent':''}
                    ,{'title':'분양몰타입','data':'SHOP_TYPE','defaultContent':''}
                    ,{'title':'선택','data':'SHOP_IDX', 'render': function (data, type, full, meta) {
                            return '<a onclick="selectShop('+meta.row+')" class="badge badge-primary">선택</a>';
                        }}
                ]
            });
        }
    }


</script>