<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${product != null} ? 'SHOP 상품 조회/수정':'SHOP 상품 등록'"></title>

    <th:block th:replace="common/css.html"></th:block>
    <style>
        .modal-dialog{
            max-width: 950px;
        }

        .table-hover {
            width: 100% !important;
        }
    </style>
</head>

<body>
<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold" >SHOP 상품 등록</h4>
                        </div>
                    </div>
                </div>
            </div>
            <form id="productForm">
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">1.SHOP 상품 등록정보<span class="small ml-2"></span></legend>
                            <div class="row">
                                <!-- 입력필드 -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                SHOP 상품코드
                                            </span>
                                        </span>
                                            <input type="text" name="SP_CODE" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text requested">
                                                SHOP 상품명
                                            </span>
                                        </span>
                                            <input type="text" name="SP_NAME" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text requested">
                                                판매 SHOP
                                                &nbsp;<a class="btn btn-sm badge-indigo legitRipple" onclick="showShopModal()">검색</a>
                                            </span>
                                        </span>
                                            <input type="text" name="SHOP_NAME" class="form-control" readonly>
                                            <input type="hidden" name="SP_SHOP_IDX">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                SHOP 판매기간 시작일
                                            </span>
                                        </span>
                                            <input type="text" name="SP_SELL_START_DATE" class="form-control daterange-singlenull" readonly>
                                            <input type="time" name="SP_SELL_START_TIME" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                SHOP 판매기간 종료일
                                            </span>
                                        </span>
                                            <input type="text" name="SP_SELL_END_DATE" class="form-control daterange-singlenull" readonly>
                                            <input type="time" name="SP_SELL_END_TIME" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                SHOP 노출기간 시작일
                                            </span>
                                        </span>
                                            <input type="text" name="SP_SHOW_START_DATE" class="form-control daterange-singlenull" readonly>
                                            <input type="time" name="SP_SHOW_START_TIME" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                SHOP 노출기간 종료일
                                            </span>
                                        </span>
                                            <input type="text" name="SP_SHOW_END_DATE" class="form-control daterange-singlenull" readonly>
                                            <input type="time" name="SP_SHOW_END_TIME" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                전시 대분류
                                            </span>
                                        </span>
                                            <select class="form-control select " data-placeholder="선택" name="P_CATE_IDX2">
                                                <option></option>
                                                <option th:each="shopCategory:${shopCategory}" th:text="${shopCategory.SCATE_NAME}" th:value="${shopCategory.SCATE_IDX}" th:selected="${product?.shopCategory?.scateIdx == shopCategory.SCATE_IDX}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                카테고리 대분류
                                            </span>
                                        </span>
                                            <select class="form-control select" data-placeholder="선택" name="CATE_IDX1" onchange="category1()">
                                                <option></option>
                                                <option th:each="cate:${category}" th:text="${cate.CATE_NAME}" th:value="${cate.CATE_IDX}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                카테고리 중분류
                                            </span>
                                        </span>
                                            <select class="form-control select" data-placeholder="선택" name="CATE_IDX2" onchange="category2()">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                카테고리 소분류
                                            </span>
                                        </span>
                                            <select class="form-control select" data-placeholder="선택" name="CATE_IDX3" onchange="category3()">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">2.SHOP상품 관리정보<span class="small ml-2"></span></legend>
                            <div class="row">
                                <!-- 입력필드 -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            썸네일1
                                        </span>
                                    </span>
                                            <input th:if="${#strings.isEmpty(product?.pThumbFile1)}" type="file" name="P_THUMB_FILE1" accept="image/*" class="input-thumb-file form-control">
                                            <div class="form-control" th:unless="${#strings.isEmpty(product?.pThumbFile1)}">
                                                <img th:src="${product?.pThumbFile1}" class="input-thumb">
                                                <input type="file" name="P_THUMB_FILE1" accept="image/*" class="input-thumb-file">
                                                <input type="hidden" name="re_P_THUMB_FILE1" th:value="${product?.pThumbFile1}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            썸네일2
                                        </span>
                                    </span>
                                            <input th:if="${#strings.isEmpty(product?.pThumbFile2)}" type="file" name="P_THUMB_FILE2" accept="image/*" class="input-thumb-file form-control">
                                            <div class="form-control" th:unless="${#strings.isEmpty(product?.pThumbFile2)}">
                                                <img th:src="${product?.pThumbFile2}" class="input-thumb">
                                                <input type="file" name="P_THUMB_FILE2" accept="image/*" class="input-thumb-file">
                                                <input type="hidden" name="re_P_THUMB_FILE2" th:value="${product?.pThumbFile2}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            썸네일3
                                        </span>
                                    </span>
                                            <input th:if="${#strings.isEmpty(product?.pThumbFile3)}" type="file" name="P_THUMB_FILE3" accept="image/*" class="input-thumb-file form-control">
                                            <div class="form-control" th:unless="${#strings.isEmpty(product?.pThumbFile3)}">
                                                <img th:src="${product?.pThumbFile3}" class="input-thumb">
                                                <input type="file" name="P_THUMB_FILE3" accept="image/*" class="input-thumb-file">
                                                <input type="hidden" name="re_P_THUMB_FILE3" th:value="${product?.pThumbFile3}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br>
                        <fieldset class="mb-0">
                            <span class="input-group-text w-100 mb--1">상세이미지</span>
                            <textarea id="summerNote1" name="P_CONTENT1" th:text="${content1}"></textarea>
                            <span class="input-group-text w-100 mb--1">공통이미지</span>
                            <textarea id="summerNote2" name="P_CONTENT2" th:text="${content2}"></textarea>
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">3.가격정보<span class="small ml-2"></span></legend>
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">기준판매가(상품) 합</span>
                                    </span>
                                            <input type="text" name="P_COST" class="form-control" onkeyup="numCommaKeyUp()" th:value="${product}==null? 0:${#numbers.formatInteger(product?.pCost,0,'COMMA')}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">기준판매가(재고) 합</span>
                                    </span>
                                            <input type="text" name="P_RETAIL_PRICE" class="form-control" onkeyup="numCommaKeyUp()" th:value="${product}==null? 0:${#numbers.formatInteger(product?.pRetailPrice,0,'COMMA')}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">SHOP 판매가(뉴퍼마켓가) 합</span>
                                    </span>
                                            <input type="text" name="P_SELL_PRICE" class="form-control" onkeyup="numCommaKeyUp()" th:value="${product}==null? 0:${#numbers.formatInteger(product?.pSellPrice,0,'COMMA')}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">할인가 합</span>
                                    </span>
                                            <input type="text" name="P_DEL_PRICE" class="form-control" onkeyup="numCommaKeyUp()" th:value="${product}==null? 0:${#numbers.formatInteger(product?.pDelPrice,0,'COMMA')}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">네이버최저가의 합</span>
                                    </span>
                                            <input type="text" name="P_DEL_TOGETHER" class="form-control" onkeyup="numCommaKeyUp()" max="3" th:value="${product}==null? 0 : ${product?.pDelTogether}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">유통가의 합</span>
                                    </span>
                                            <input type="text" name="P_DEL_TOGETHER" class="form-control" onkeyup="numCommaKeyUp()" max="3" th:value="${product}==null? 0 : ${product?.pDelTogether}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">4.재고상품 구성<span class="small ml-2"></span>
                                <a class="btn btn-sm badge-indigo" onclick="essentialAdd()">필수상품 추가</a>
                                <input type="hidden" id="essentialCnt" value="1">
                            </legend>
                            <div class="row" id="essential">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-text w-100 mb--1">
                                        4-1. 필수상품
                                        <a class="btn btn-sm badge-indigo" onclick="">판매가 저장</a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="form-control">
                                        1번 필수상품
                                        <a class="btn btn-sm badge-indigo" onclick="showGoodsStockModal(1)">재고상품 검색</a>
                                    </span>
                                        </div>
                                    </div>
                                    <table class="table table-bordered" id="essentialTable1">
                                        <thead>
                                        <tr class="alpha-brown text-bold">
                                            <th>NO</th>
                                            <th>상품코드</th>
                                            <th>상품명</th>
                                            <th>모델명</th>
                                            <th>재고코드</th>
                                            <th>재고상품명</th>
                                            <th>등급</th>
                                            <th>옵션1</th>
                                            <th>옵션2</th>
                                            <th>옵션3</th>
                                            <th>스펙</th>
                                            <th>기준매입원가</th>
                                            <th>네이버최저가</th>
                                            <th>유통가</th>
                                            <th>기준판매가(상품)</th>
                                            <th>기준판매가(재고)</th>
                                            <th>SHOP 판매가(뉴퍼마켓가)</th>
                                            <th>할인가(최종혜택가)</th>
                                            <th>재고자산</th>
                                            <th>삭제</th>
                                        </tr>
                                        </thead>
                                        <input type="hidden" id="eaCnt1" value="0">
                                        <tbody id="essential_area1">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                        </fieldset>
                        <fieldset class="mb-0">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-text w-100 mb--1">
                                        4-2 추가(선택)상품
                                        <a class="btn btn-sm badge-indigo legitRipple" onclick="">재고상품 검색</a>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="form-control">
                                        <a class="btn btn-sm badge-indigo" onclick="">판매가 저장</a>
                                    </span>
                                        </div>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead id="choose_head">
                                        <tr class="alpha-brown text-bold">
                                            <th>NO</th>
                                            <th>상품코드</th>
                                            <th>상품명</th>
                                            <th>모델명</th>
                                            <th>재고코드</th>
                                            <th>재고상품명</th>
                                            <th>등급</th>
                                            <th>옵션1</th>
                                            <th>옵션2</th>
                                            <th>옵션3</th>
                                            <th>스펙</th>
                                            <th>기준매입원가</th>
                                            <th>네이버최저가</th>
                                            <th>유통가</th>
                                            <th>기준판매가(상품)</th>
                                            <th>기준판매가(재고)</th>
                                            <th>SHOP 판매가(뉴퍼마켓가)</th>
                                            <th>할인가(최종혜택가)</th>
                                            <th>재고자산</th>
                                            <th>삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody id="choose_area">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">5.리뷰정보<span class="small ml-2"></span></legend>
                            <div class="row">
                                <!-- 입력필드 -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    조회수
                                                </span>
                                            </span>
                                        </span>
                                            <input type="text" name="" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    관심받은 수
                                                </span>
                                            </span>
                                        </span>
                                            <input type="text" name="" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    상품문의수
                                                </span>
                                            </span>
                                        </span>
                                            <input type="text" name="" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    상품평 수
                                                </span>
                                            </span>
                                        </span>
                                            <input type="text" name="" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">6.SHOP상품 제어항목<span class="small ml-2"></span></legend>
                            <div class="row">
                                <!-- 입력필드 -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                부적격상품
                                            </span>
                                        </span>
                                    </span>
                                            <select class="form-control select " data-placeholder="선택" name="">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                상품숨김기능
                                            </span>
                                        </span>
                                    </span>
                                            <select class="form-control select " data-placeholder="선택" name="">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                무상서비스 기간 선택
                                            </span>
                                        </span>
                                    </span>
                                            <input type="text" name="" class="form-control form-control-sm daterange-singlenull" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                할인율제외
                                            </span>
                                        </span>
                                    </span>
                                            <select class="form-control select " data-placeholder="선택" name="">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                할인율표기여부
                                            </span>
                                        </span>
                                    </span>
                                            <select class="form-control select " data-placeholder="선택" name="">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                타임특가 여부
                                            </span>
                                        </span>
                                    </span>
                                            <select class="form-control select " data-placeholder="선택" name="">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                구매 최대수량(1회 최대구매 수량)
                                            </span>
                                        </span>
                                    </span>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                아이디당 구매제한(전체기간)
                                            </span>
                                        </span>
                                    </span>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                최소 주문수량
                                            </span>
                                        </span>
                                    </span>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                수도권배송상품 여부
                                            </span>
                                        </span>
                                    </span>
                                            <select class="form-control select " data-placeholder="선택" name="">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                앱전용상품 여부
                                            </span>
                                        </span>
                                    </span>
                                            <select class="form-control select " data-placeholder="선택" name="">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                네이버최저가/유통가
                                            </span>
                                        </span>
                                    </span>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                네이버최저가 리미트
                                            </span>
                                        </span>
                                    </span>
                                            <select class="form-control select " data-placeholder="선택" name="">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">7.관련상품<span class="small ml-2"></span></legend>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="input-group-text w-100 mb--1">
                                        관련 SHOP 상품
                                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                    <span class="form-control">
                                        <a class="btn btn-sm badge-indigo" onclick="">SHOP상품 검색</a>
                                    </span>
                                        </div>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead id="related_head">
                                        <tr class="alpha-brown text-bold">
                                            <th>NO</th>
                                            <th>SHOP상품코드</th>
                                            <th>SHOP상품명</th>
                                            <th>SHOP판매가(뉴퍼마켓가)의 합</th>
                                            <th>할인가의 합</th>
                                            <th>삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody id="related_area">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
            <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
                <!--                <button th:if="${product}==null" onclick="productSave()" type="button" class="btn btn-sm btn-secondary ml-1" id=""><i class="icon-floppy-disk mr-1"></i>저장</button>-->
                <!--                <button th:unless="${product}==null" onclick="productUpdate()" type="button" class="btn btn-sm btn-secondary ml-1" id=""><i class="icon-floppy-disk mr-1"></i>수정</button>-->
            </div>
        </div>
    </div>
</div>
<th:block th:replace="product/modal/shopModal.html"/>
<th:block th:replace="product/modal/goodsStockModal.html"/>

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<script th:src="@{/assets/js/common.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/demo_pages/extension_dnd.js}"></script>
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/demo_pages/editor_summernote.js}"></script>
<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>
</body>


<th:block th:replace="modal/summernoteImageModal.html"></th:block>

<script th:inline="javascript">

    function selectShop(row){
        var rowData = getDatatablemap('shopModalTable', row);
        $('#searchShopModal').modal('hide');
        $('input[name="SHOP_NAME"]').val(rowData.SHOP_NAME);
        $('input[name="SP_SHOP_IDX"]').val(rowData.SHOP_IDX);
    }

    function category1(){
        var category = $('select[name=CATE_IDX1]').val();
        $.ajax({
            url:'/product/category/parent.ajax',
            data:'CATE_IDX='+category,
            type:'post',
            async: false,
            success:function (res){
                $('select[name=CATE_IDX2] option').remove();
                $('select[name=CATE_IDX3] option').remove();
                var str = '<option value="">선택</option>';
                $.each(res.data.list,function (i){
                    var result = res.data.list[i]
                    str+='<option value="'+result.CATE_IDX+'">'+result.CATE_NAME+'</option>'
                })
                $('select[name=CATE_IDX2]').append(str);
                // $('input[name=P_CATE_IDX]').val(category);
            }
        })
    }

    function category2(){
        var category = $('select[name=CATE_IDX2]').val();
        $.ajax({
            url:'/product/category/parent.ajax',
            data:'CATE_IDX='+category,
            type:'post',
            async: false,
            success:function (res){
                $('select[name=CATE_IDX3] option').remove();
                var str = '<option value="">선택</option>';
                $.each(res.data.list,function (i){
                    var result = res.data.list[i]
                    str+='<option value="'+result.CATE_IDX+'">'+result.CATE_NAME+'</option>'
                })
                $('select[name=CATE_IDX3]').append(str);
                $('input[name=P_CATE_IDX]').val(category);
            }
        })
    }


    function category3(){
        var category = $('select[name=CATE_IDX3]').val();
        $('input[name=P_CATE_IDX]').val(category);
    }

    function essentialAdd(){
        var essentialCnt = $('#essentialCnt').val();
        essentialCnt++;
        $('#essentialCnt').val(essentialCnt);
        var str = '';
        str += '<div class="col-sm-12"><div class="form-group"><div class="input-group">';
        str += '<span class="form-control">'+essentialCnt+'번 필수상품<a class="btn btn-sm badge-indigo" onclick="showGoodsStockModal('+essentialCnt+')">재고상품 검색</a></span></div></div>';
        str += '<table class="table table-bordered" id="essentialTable'+essentialCnt+'"><thead><tr class="alpha-brown text-bold">';
        str += '<th>NO</th><th>상품코드</th><th>상품명</th><th>모델명</th><th>재고코드</th><th>재고상품명</th><th>등급</th><th>옵션1</th><th>옵션2</th><th>옵션3</th><th>스펙</th>';
        str += '<th>기준매입원가</th><th>네이버최저가</th><th>유통가</th><th>기준판매가(상품)</th><th>기준판매가(재고)</th><th>SHOP 판매가(뉴퍼마켓가)</th><th>할인가(최종혜택가)</th><th>재고자산</th><th>삭제</th></tr>'
        str += '</thead><input type="hidden" id="eaCnt'+essentialCnt+'" value="0"><tbody id="essential_area'+essentialCnt+'"></tbody></table></div>'
        $('#essential').append(str);
    }

    function selectProduct(row,cnt){

        var rowData = getDatatablemap('goodsStockModalTable', row);
        $('#searchGoodsStockModal').modal('hide');
        $('input[name="SHOP_NAME"]').val(rowData.SHOP_NAME);
        var eaCnt = $('#eaCnt'+cnt).val();
        eaCnt++;
        $('#eaCnt'+cnt).val(eaCnt);
        var str = '';
        str += '<tr id="essentialTr'+cnt+'-'+eaCnt+'"><td id="essentialTd'+cnt+'-'+eaCnt+'">'+eaCnt+'</td><td>'+rowData.P_IDX+'</td><td>'+rowData.P_NAME+'</td><td>'+rowData.P_MODEL+'</td><td>'+rowData.GS_CODE+'</td><td>'+rowData.GS_NAME+'</td>';
        str += '<td>'+rowData.GS_RANK+'</td><td>'+rowData.OPTION1+'</td><td>'+rowData.OPTION2+'</td><td>'+rowData.OPTION3+'</td><td>'+rowData.SPEC_LOOKUP+'</td><td>'+comma(rowData.P_COST)+'</td>'
        str += '<td>'+comma(rowData.NAVER)+'</td><td>'+comma(rowData.P_RETAIL_PRICE)+'</td><td>'+comma(rowData.P_SELL_PRICE)+'</td><td>'+comma(rowData.GS_PRICE)+'</td>'
        str += '<td><input type="text" class="form-control" name="SPO_MONEY'+cnt+'-'+eaCnt+'" onkeyup="numCommaKeyUp()"></td>'
        str += '<td><input type="text" class="form-control" name="SPO_DISCOUNT'+cnt+'-'+eaCnt+'" onkeyup="numCommaKeyUp()"><input type="hidden" name="GS_IDX'+cnt+'-'+eaCnt+'" value="'+rowData.GS_IDX+'"></td>'
        str += '<td>ea</td>'
        str += '<td><button onclick="deleteGoodsStock('+cnt+','+eaCnt+')" class="btn btn-sm btn-secondary ml-1">삭제</button></td>'


        $('#essential_area'+cnt).append(str);
    }

    function deleteGoodsStock(cnt,eaCnt) {
        $('#essentialTr'+cnt+'-'+eaCnt).remove();
        var eaCnt = $('#eaCnt'+cnt).val();
        eaCnt--;
        $('#eaCnt'+cnt).val(eaCnt);
        $('tr[id^="essentialTr"]').each(function(index,element){
            console.log(index)
            console.log(element)
            $('#essentialTr'+cnt+'-'+eaCnt).attr('id','essentialTr'+cnt+'-'+(index+1));
            $('#essentialTd'+cnt+'-'+eaCnt).html(index+1);
            $('#essentialTd'+cnt+'-'+eaCnt).attr('id','essentialTd'+cnt+'-'+(index+1));
        })
    }

</script>
<script th:inline="javascript">
    window.onload=function(){
        smImage('#summerNote1');
        smImage('#summerNote2');
    }
</script>

</html>
