<!--배너 : 풀 배너-->
<th:block th:fragment="banner_1">
    <div class="container">
        <div class="review-top-banner">
            <div class="reviewBanner-title-wrap">
                <p class="font-xxxlg semi-bold reviewBanner-title"><i class="speechBubble"></i><span class="color-blue">포토리뷰</span>&nbsp;작성하고 적립금받자!</p>
                <div class="review-go-btn font-lg semi-bold">
                    <a href="javscript:;">상품평 작성 바로가기<i></i></a>
                </div>
            </div>
            <ul>
                <li>
                    <div class="writeBenefit-title"><i></i><span>상품평</span>&nbsp;작성혜택</div>
                    <p>상품평을 남겨주신 모~든 고객님께 적립금 증정<br>(일반상품평 500P / 포토상품평 1,000P)</p>
                </li>
                <li>
                    <div class="writeBenefit-title"><i></i><span>포토 상품평</span>&nbsp;작성혜택</div>
                    <p>포토 상품평을 남기시면 적립금 1만원 추가 증정<br>(상품별 포토 상품평 5개 한정 / 이메일&문자 마케팅 수신동의 필수!)</p>
                </li>
                <li class="font-xxsm">
                    <p class="color-blue font-xsm semi-bold review-notice">유의사항</p>
                    <div>
                        <p>- 포토상품평 추가 적립은 판매가 10만원 이상 상품만 해당</p>
                        <p>- 포토상품평 추가 적립은 매월 말 일괄 적립 (ID당 1회 한정)</p>
                        <p>- 상품평은 구매 후 60일 이내 작성 가능</p>
                        <p>- 지급된 적립금은 1개월 경과시 자동소멸</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</th:block>

<!--배너 : 2열 배너-->
<th:block th:fragment="banner_2">
    <ul class="lg-col-6 sm-col-12 banner2">
        <li>
            <img src="https://dummyimage.com/660x210/eee/777" alt="이벤트 광고">
        </li>
        <li>
            <img src="https://dummyimage.com/660x210/eee/777" alt="이벤트 광고">
        </li>
        <li>
            <img src="https://dummyimage.com/660x210/eee/777" alt="이벤트 광고">
        </li>
        <li>
            <img src="https://dummyimage.com/660x210/eee/777" alt="이벤트 광고">
        </li>
        <li>
            <img src="https://dummyimage.com/660x210/eee/777" alt="이벤트 광고">
        </li>
    </ul>
</th:block>
