<!-- Swiper -->
<link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}" />

<!-- jQuery UI -->
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}" />

<!-- design -->
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/media_max_767px.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/media_max_991px.css}" />