<!--푸터-->
<footer th:fragment="main-footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-inner">
                <ul class="footer-menu">
                    <li><a href="javascript:;">회사소개</a></li>
                    <li><a href="javascript:;">고객센터</a></li>
                    <li><a href="javascript:;">지점안내</a></li>
                    <li><a href="javascript:;">제휴 및 입점안내</a></li>
                    <li><a href="javascript:;">회원혜택안내</a></li>
                </ul>
                <ul class="footer-sns">
                    <li>
                        <a href="https://apps.apple.com/kr/app/aj%EC%A0%84%EC%8B%9C%EB%AA%B0/id1473153660" target="_blank">
                            <img th:attr="src=@{/image/sns/apple.png},title='애플',alt='애플'">
                        </a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.ajjuncmall.app" target="_blank">
                            <img th:attr="src=@{/image/sns/googlePlay.png},title='구글플레이',alt='구글플레이'">
                        </a>
                    </li>
                    <li>
                        <a href="https://band.us/band/61156961" target="_blank">
                            <img th:attr="src=@{/image/sns/band.png},title='밴드',alt='밴드'">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/newpermarket" target="_blank">
                            <img th:attr="src=@{/image/sns/facebook.png},title='페이스북',alt='페이스북'">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/newpermarket/" target="_blank">
                            <img th:attr="src=@{/image/sns/instagram.png},title='인스타그램',alt='인스타그램'">
                        </a>
                    </li>
                    <li>
                        <a href="https://pf.kakao.com/_hxhxijV" target="_blank">
                            <img th:attr="src=@{/image/sns/kakaoch.png},title='카카오톡채널',alt='카카오톡채널'">
                        </a>
                    </li>
                    <li>
                        <a href="https://blog.naver.com/dgreward" target="_blank">
                            <img th:attr="src=@{/image/sns/blog.png},title='네이버블로그',alt='네이버블로그'">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-content">
                <div class="footerLogo">
                    <a href="javascript:;">
                        <img th:href="@{/}" th:attr="src=@{/image/logo.png},title='로고타이틀',alt='로고알트'">
                    </a>
                </div>
                <div class="footerLeft">
                    <div class="comp-info">
                        <p>상호명 : 에이제이전시몰(주)</p>
                        <p>대표이사 : 이정진, 김준&nbsp;&nbsp;&nbsp;<span class="separation">&nbsp;&nbsp;&nbsp;서울시 송파구 법원로 11길 11, 문정현대지식산업센터 1-1 제9종, 905-908호</span></p>
                        <p>사업자등록번호 : 117-81-62550&nbsp;&nbsp;&nbsp;<span class="separation">&nbsp;&nbsp;&nbsp;통신판매업신고 : 제2018-서울송파-1623호 사업자정보확인</span></p>
                        <p>Fax : 02) 6941-0978&nbsp;&nbsp;&nbsp;<span class="separation">&nbsp;&nbsp;&nbsp;Mail : junsymall@newpermarket.com (발신전용메일)&nbsp;&nbsp;&nbsp;</span><span class="separation">&nbsp;&nbsp;&nbsp;개인정보 보호책임자 : 문인주</span></p>
                    </div>
                    <div class="policy">
                        <span>개인정보처리방침</span>
                        <span>이용약관</span>
                        <span>NHN KCP 구매안전 서비스</span>
                    </div>
                    <ul class="award-list">
                        <li>
                            <a href="javascript:;"><i class="award-icon award-icon1"></i>소비자가 뽑은<br>한국소비자만족지수 1위</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="award-icon award-icon2"></i>2016<br>국가품질 만족지수 1위</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="award-icon award-icon3"></i>트렌드 코리아<br>전시몰이 쏜다!</a>
                        </li>
                    </ul>
                    <div class="copyright">
                        COPYRIGHT 2022 AJ junsymall Corp. All RIGHTS RESERVED
                    </div>
                </div>
                <div class="footerRight">
                    <h3>고객센터</h3>
                    <div class="center-info-wrap">
                        <div class="center-tell">
                            <p>1566-5027</p>
                        </div>
                        <div class="center-info">
                            <p>평일 09:00 - 18:00&nbsp;&nbsp;&nbsp;
                                <span class="separation">&nbsp;&nbsp;&nbsp;점심시간 12:00 - 13:00</span></p>
                            <p>(토/일요일, 공휴일 휴무)</p>
                            <p class="center-info-notice">문의 전 자주묻는질문을 통해 <a href="javascript:;" class="simpleCheck">간단확인</a><i class="triangle"></i> 을 진행 해 주세요.</p>
                        </div>
                    </div>
                    <div class="footer-btn">
                        <ul>
                            <li><a href="/custCenter">자주묻는질문</a></li>
                            <li><a href="javascript:;">1:1 문의</a></li>
                            <li><a href="/custCenter/asInfo">A/S 온라인접수</a></li>
                            <li><a href="javascript:;">지점위치안내</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--푸터 끝-->
