<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">

    <title th:text="${title}">타이틀</title>

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper-bundle.min.css}" />

    <!-- design -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/media_max_991px.css}" />

    <!-- jQuery UI -->
    <script type="text/javascript" th:src="@{/js/core/jquery-3.6.0.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}" />

    <!--favicon-->
    <link rel="icon" href="/image/favicon/shop-favicon.png">
</head>