<!-- 2행 로고 중앙 / 2-1 -->
<th:block th:fragment="middle-logo-center">

</th:block>
<!-- 2행 로고 왼쪽 / 2-2 -->
<th:block th:fragment="middle-logo-left">

</th:block>
<!-- 2행 검색창 / 2-2, 2-3 -->
<th:block th:fragment="middle-search">

</th:block>
<!-- 3행 검색창 / 3-3 -->
<th:block th:fragment="bottom-search">

</th:block>
<!-- 2행 로그인그룹 / 2-3-->
<th:block th:fragment="middle-login-group">

</th:block>
<!-- 3행 로그인그룹 / 3-3 -->
<th:block th:fragment="bottom-login-group">

</th:block>
<!-- 2행 검색창_로그인그룹 / 2-3 -->
<th:block th:fragment="middle-search-login-group">

</th:block>
<!-- 3행 검색창_로그인그룹 / 3-3 -->
<th:block th:fragment="bottom-search-login-group">

</th:block>
<!-- 2행,3행 메뉴 좌측 / 2-2, 3-1-->
<th:block th:fragment="menu-left">

</th:block>
<!-- 2행,3행 메뉴 중앙 / 2-2, 3-2-->
<th:block th:fragment="menu-center">

</th:block>
<!-- 2행 헤더형배너 / 2-3 -->
<th:block th:fragment="middle-banner">

</th:block>
<!-- 3행 주간 PICK (임의 생성) / 3-3 -->
<th:block th:fragment="week-pick">

</th:block>

<!-- 없음 > 파일 2개로 찢음에 따라 공통 사용되는 없음 타입 두개가 됨 (order_1과 order_2에 중복) -->
<th:block th:fragment="block-none">
    <div class="data_none"></div>
</th:block>

<!-- 불필요시 또는 명칭변경 시 요청해주세요(문성모에게) -->