<th:block th:fragment="main-header-mobile">
    <!--메인헤더-모바일-->
    <div class="mo-header">
        <div class="mo-header-top">
            <div class="mo-header-left">
                <h1 class="mo-logo">
                    <a href="javascript:;">
                        <img th:attr="src=@{/image/logo.png},title='로고타이틀',alt='로고알트'">
                    </a>
                </h1>
                <p class="color-blue">가성비 쇼핑, 안심하게 여기다.</p>
            </div>
            <div class="mo-header-right">
                <div class="mo-search"></div>
                <div class="shopping-basket"></div>
            </div>
        </div>
        <div class="mo-nav">
            <div class="swiper swiper-gnb">
                <ul class="gnb swiper-wrapper">
                    <li class="swiper-slide on"><a href="javascript:;">홈</a>
                    </li>
                    <li class="swiper-slide new"><a href="javascript:;">단돈천원</a>
                    </li>
                    <li class="swiper-slide new"><a href="javascript:;">신상입고</a></li>
                    <li class="swiper-slide"><a href="javascript:;">균일가특판</a></li>
                    <li class="swiper-slide"><a href="javascript:;">베스트100</a></li>
                    <li class="swiper-slide new"><a href="javascript:;">뉴퍼딜</a></li>
                    <li class="swiper-slide"><a href="javascript:;">품절임박</a></li>
                    <li class="swiper-slide"><a href="javascript:;">이벤트/기획전</a></li>
                    <li class="swiper-slide"><a href="javascript:;">상품리뷰</a></li>
                </ul>
                <div class="swiper-gnb-next"></div>
            </div>
        </div>
    </div>
    <!--메인헤더-모바일 끝-->

    <!-- 모바일 하단 고정 네비게이션 -->
    <div id="mo-bottom-nav">
        <ul class="mo-bottom-nav">
            <li>
                <a href="javascript:;"><i class="nav-ctg"></i>카테고리</a>
            </li>
            <li>
                <a href="javascript:;"><i class="nav-zzim"></i>찜한상품</a>
            </li>
            <li class="mo-home">
                <a href="javascript:;"><i class="nav-home"></i>홈</a>
            </li>
            <li>
                <a href="javascript:;"><i class="nav-my"></i>마이쇼핑</a>
            </li>
            <li>
                <a href="javascript:;"><i class="nav-recent"></i>최근본상품</a>
            </li>
        </ul>
    </div>
    <!-- //모바일 하단 고정 네비게이션 끝 -->
</th:block>