<!--메뉴 -->
<!-- 행 전체 모바일 스와이프 메뉴 : 전체보기 있음 -->
<th:block th:fragment="thumbnailCategory">
    <div class="container">
        <div class="ctg-tab-cover">
            <div class="swiper swiper-ctg-tab">
                <ul class="ctg-tab swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-menu"></i>
                            <div class="ctg-tab-title">
                                <span class="color-blue">전체보기</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon1"></i>
                            <div class="ctg-tab-title">
                                <span>노트북</span><span>/데스크탑</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon2"></i>
                            <div class="ctg-tab-title">
                                <span>모니터</span><span>/주변기기</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide on">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon3"></i>
                            <div class="ctg-tab-title">
                                <span>휴대폰</span><span>/웨어러블</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon4"></i>
                            <div class="ctg-tab-title">
                                <span>음향기기</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon5"></i>
                            <div class="ctg-tab-title">
                                <span>가전/세탁기</span><span>/냉장고</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon6"></i>
                            <div class="ctg-tab-title">
                                <span>주방/생활</span><span>/레져</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon7"></i>
                            <div class="ctg-tab-title">
                                <span>차량용품</span><span>/블랙박스</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon8"></i>
                            <div class="ctg-tab-title">
                                <span>패션/잡화</span><span class="slash"></span><span>/뷰티</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon9"></i>
                            <div class="ctg-tab-title">
                                <span>식품</span><span>/헬스케어</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>

<!-- 행 전체 메뉴 menu-full -->

<!--행 전체 메뉴(menu-full) - 1. 박스형 언더라인 ----------------------------------------->
<!--[메인메뉴 : 품절임박] : 모바일 처리 -->
<th:block th:fragment="menu-full">
    <div class="container">
        <ul class="menu-full menu-box">
            <li class="on">노트북</li>
            <li>컴퓨터</li>
            <li>모니터</li>
            <li>애플컴퓨터</li>
            <li>태블릿</li>
            <li>가전·생활</li>
        </ul>
    </div>
</th:block>

<!--[메인메뉴 : 이벤트 분류] 통합-->
<th:block th:fragment="menu-full2">
    <div class="container">
        <ul class="menu-full menu-box">
            <li class="on">진행 중인 이벤트</li>
            <li>종료된 이벤트</li>
        </ul>
    </div>
</th:block>

<!--행 전체 메뉴 - 2. 상하 라인 -->
<!--[상품상세페이지 플로팅 메뉴]-->
<th:block th:fragment="boxTab3">
    <div class="container">
        <ul class="menu-full menu-lines">
            <li class="on">상품상세</li>
            <li>상품리뷰(10)</li>
            <li>상품문의(2)</li>
            <li>배송안내</li>
            <li>교환·환불안내</li>
        </ul>
    </div>
</th:block>

<!--행 일부 메뉴(menu-part) - 좌측 버튼형 ------------------------------------------>
<!--이벤트 하위 카테고리 분류-->
<th:block th:fragment="buttonTab">
    <div class="container">
        <ul class="event-content">
            <!-- 진행중인 이벤트 -->
            <li class="on">
                <ul class="button-tab font-lg">
                    <li class="on">전체</li>
                    <li>IT</li>
                    <li>가전</li>
                    <li>생활</li>
                </ul>
                <div class="button-tab-content" th:insert="part/banner :: banner_2"></div>
            </li>
            <!-- 종료 된 이벤트 -->
            <li>
                <ul class="button-tab font-lg">
                    <li class="on">전체</li>
                    <li>IT</li>
                    <li>가전</li>
                    <li>생활</li>
                </ul>
                <div class="button-tab-content" th:insert="part/banner :: banner_2"></div>
            </li>
        </ul>
    </div>
</th:block>