<!-- 행 전체 메뉴 menu-full -->

<!--행 전체 메뉴(menu-full) - 1. 박스형 언더라인 ----------------------------------------->
<!--[메인메뉴 : 품절임박] : 모바일 처리 -->
<th:block th:fragment="menu-full">
    <div class="container">
        <ul class="menu-full menu-box">
            <li class="on">노트북</li>
            <li>컴퓨터</li>
            <li>모니터</li>
            <li>애플컴퓨터</li>
            <li>태블릿</li>
            <li>가전·생활</li>
        </ul>
    </div>
</th:block>

<!--[메인메뉴 : 이벤트 분류] 통합-->
<th:block th:fragment="menu-full2">
    <div class="container">
        <ul class="menu-full menu-box">
            <li class="on">진행 중인 이벤트</li>
            <li>종료된 이벤트</li>
        </ul>
    </div>
</th:block>

<!--[메인메뉴 : 로그인 아이디 / 비밀번호 찾기] 통합-->
<th:block th:fragment="menu-full3">
    <ul class="menu-full menu-box" id="findCustomerTab">
        <li onclick="findCustomer('findId')" id="findId">아이디 찾기</li>
        <li onclick="findCustomer('findPw')" id="findPw">비밀번호 찾기</li>
    </ul>
</th:block>

<!--행 전체 메뉴 - 2. 상하 라인 -->
<!--[상품상세페이지 플로팅 메뉴]-->
<th:block th:fragment="boxTab3">
    <div class="container">
        <ul class="menu-full menu-lines">
            <li class="on">상품상세</li>
            <li>상품리뷰(10)</li>
            <li>상품문의(2)</li>
            <li>배송안내</li>
            <li>교환·환불안내</li>
        </ul>
    </div>
</th:block>

<!--행 일부 메뉴(menu-part) - 좌측 버튼형 ------------------------------------------>
<!--이벤트 하위 카테고리 분류-->
<th:block th:fragment="menu-part">
    <div class="container">
        <ul class="menu-part menu-button underline-dark">
            <li class="on">전체</li>
            <li>IT</li>
            <li>가전</li>
            <li>생활</li>
        </ul>
    </div>
</th:block>

<!--주문 프로세스 브레드 크럼-->
<th:block th:fragment="cart-breadcrumb(classOn)">
    <ul class="menu-part cart-breadcrumb">
        <li th:class="${classOn == 1 ?'on':''}">01. 장바구니</li>
        <li th:class="${classOn == 2 ?'on':''}">02. 주문&#183;결제정보입력</li>
        <li th:class="${classOn == 3 ?'on':''}">03. 주문완료</li>
        <!--<p class="font-sm semi-bold">
            <span class="color-blue">01 장바구니</span><i class="route-icon on"></i><i class="route-icon"></i>
        </p>-->
    </ul>
</th:block>

<!--썸네일 메뉴 ---------------------------------------------------------->

<!-- 썸네일 데이터 공통영역 -->
<th:block th:fragment="thumbnailCategory(idx)">
    <li class="swiper-slide" th:each="shopCategory : ${@shopComp.shopCategoryList}">
        <a th:if="${idx != null}" th:onclick="|loadCategoryProductMain(${shopCategory.scateIdx}, ${idx})|" class="thumbnail-icon cate">
            <img th:src="@{../image/}+${shopCategory.scateIcon}+'.png'" th:alt="${shopCategory.scateName}">
            <span th:text="${shopCategory.scateName}">노트북/데스크탑</span>
        </a>
        <a th:if="${idx == null}" th:onclick="|loadCategoryProduct(${shopCategory.scateIdx})|" class="thumbnail-icon cate">
            <img th:src="@{../image/}+${shopCategory.scateIcon}+'.png'" th:alt="${shopCategory.scateName}">
            <span th:text="${shopCategory.scateName}">노트북/데스크탑</span>
        </a>
    </li>

    <script>
        function loadCategoryProductMain(scateIdx, msIdx){
            $.ajax({
                url:'/product/category/'+msIdx+'/'+scateIdx+'.ajax'
                ,type:'post'
                ,success:function(res){
                    var cateSection = $('#idx'+msIdx);
                    cateSection.empty();
                    cateSection.append(res);
                    if(scateIdx == ''){
                        $('#moveCategory').parent('div').hide();
                    }else{
                        $('#moveCategory').attr('href', '/product/category?scateIdx='+scateIdx);
                    }
                }
            });
        }
        function loadCategoryProduct(scateIdx){
            // $.ajax({
            //     url:'/product/category/'+msIdx+'/'+scateIdx+'.ajax'
            //     ,type:'post'
            //     ,success:function(res){
            //         var cateSection = $('#idx'+msIdx);
            //         cateSection.empty();
            //         cateSection.append(res);
            //         if(scateIdx == ''){
            //             $('#moveCategory').parent('div').hide();
            //         }else{
            //             $('#moveCategory').attr('href', '/product/category?scateIdx='+scateIdx);
            //         }
            //     }
            // });
        }
        $(function(){
            $('.cate').eq(0).trigger('click');
        });
    </script>
</th:block>

<!-- 기본 썸네일 카테고리 : 행 전체 모바일 스와이프 메뉴 : 전체보기 있음 -->
<th:block th:fragment="thumbnailCategory1">
    <div class="container">
        <div class="ctg-tab-cover">
            <div class="swiper swiper-ctg-tab">
                <ul class="ctg-tab swiper-wrapper">
                    <li class="swiper-slide">
                        <a th:onclick="loadCategoryProduct('')" class="thumbnail-icon cate">
                            <img src="../image/menu-btn-blue.png" alt="전체보기">
                            <span>전체보기</span>
                        </a>
                    </li>
                    <div th:replace="part/menu :: thumbnailCategory(null)"></div>
                </ul>
            </div>
        </div>
    </div>
</th:block>

<!-- 메인 썸네일 카테고리 : 행 전체 모바일 스와이프 메뉴 : 전체보기 없음 -->
<th:block th:fragment="thumbnailCategory2(idx)">
    <div class="container">
        <div class="swiper swiper-ctg-tab">
            <ul class="ctg-tab swiper-wrapper">
                <div th:replace="part/menu :: thumbnailCategory(__${idx}__)"></div>
            </ul>
        </div>
    </div>
</th:block>