<!--메뉴 : 썸네일 카테고리 메뉴-->
<th:block th:fragment="thumbnailCategory">
    <div class="ctg-tab-cover">
        <div class="container swiper swiper-ctg-tab">
            <ul class="ctg-tab swiper-wrapper">
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-menu"></i>
                        <div class="ctg-tab-title">
                            <span class="color-blue">전체보기</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-icon1"></i>
                        <div class="ctg-tab-title">
                            <span>노트북</span><span>/데스크탑</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-icon2"></i>
                        <div class="ctg-tab-title">
                            <span>모니터</span><span>/주변기기</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide on">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-icon3"></i>
                        <div class="ctg-tab-title">
                            <span>휴대폰</span><span>/웨어러블</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-icon4"></i>
                        <div class="ctg-tab-title">
                            <span>음향기기</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-icon5"></i>
                        <div class="ctg-tab-title">
                            <span>가전/세탁기</span><span>/냉장고</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-icon6"></i>
                        <div class="ctg-tab-title">
                            <span>주방/생활</span><span>/레져</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-icon7"></i>
                        <div class="ctg-tab-title">
                            <span>차량용품</span><span>/블랙박스</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-icon8"></i>
                        <div class="ctg-tab-title">
                            <span>패션/잡화</span><span class="slash"></span><span>/뷰티</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="ctg-tab-icon ctg-tab-icon9"></i>
                        <div class="ctg-tab-title">
                            <span>식품</span><span>/헬스케어</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</th:block>

<!--메뉴 : 박스형 탭 메뉴 : 하단 라인-->
<th:block th:fragment="boxTab">
    <ul class="container">
        <ul class="event-tab semi-bold">
            <li class="on">진행 중인 이벤트</li>
            <li>종료 된 이벤트</li>
        </ul>
    </div>
</th:block>

<!--메뉴 : 버튼형 탭 메뉴 : 사각 외각선-->
<th:block th:fragment="buttonTab">
    <div class="container">
        <ul class="event-content">
            <!-- 진행중인 이벤트 -->
            <li class="on">
                <ul class="button-tab font-lg">
                    <li class="on">전체</li>
                    <li>IT</li>
                    <li>가전</li>
                    <li>생활</li>
                </ul>
                <ul class="button-tab-content">
                    <!-- 전체 -->
                    <li class="on" th:insert="part/banner :: banner_2">
                        <!--배너 : 이미지 배너 2-->
                    </li>
                    <!-- IT -->
                    <li>IT만</li>
                    <!-- 가전 -->
                    <li>가전만</li>
                    <!-- 생활 -->
                    <li>생활만</li>
                </ul>
            </li>
            <!-- 종료 된 이벤트 -->
            <li></li>
        </ul>
    </div>
</th:block>