<!--로그인 모달창-->
<th:block th:fragment="login-modal">
    <div class="modal-wrap">
        <div class="loginModal">
            <div class="loginModal-close">Close</div>
            <h2 class="section-title">로그인</h2>
            <ul class="login-input-group">
                <li class="input-wrap">
                    <input type="text" id="" maxlength="10" name="" placeholder="아이디">
                </li>
                <li class="input-wrap">
                    <input type="password" id="" maxlength="15" name="" placeholder="비밀번호">
                </li>
            </ul>
            <div class="login-check-wrap">
                <label class="login-check">
                    <input type="checkbox" class="login-checkbox" id="" name="">
                    자동로그인
                </label>
                <ul class="login-find-group">
                    <li>
                        <a href="javascript:;">아이디 찾기</a>
                    </li>
                    <li>
                        <a href="javascript:;">비밀번호 찾기</a>
                    </li>
                </ul>
            </div>
            <div class="button button-bgBlue login-button">
                <a href="javascript:;">로그인</a>
            </div>
            <p class="or">OR</p>
            <div class="dummy-line"></div>
            <h2 class="section-title">간편 로그인하기</h2>
            <ul class="sns-login-group">
                <li>
                    <a href="javascript:;" class="naver-login">네이버</a>
                </li>
                <li>
                    <a href="javascript:;" class="kakao-login">카카오</a>
                </li>
                <li>
                    <a href="javascript:;" class="facebook-login">페이스북</a>
                </li>
                <li>
                    <a href="javascript:;" class="apple-login">애플</a>
                </li>
            </ul>
            <div class="button button-blue">
                <a href="javascript:;">뉴퍼마켓 회원가입</a>
            </div>
            <div class="button button-grey">
                <a href="javascript:;">비회원 주문조회</a>
            </div>
        </div>
    </div>

    <script>
        /*** 로그인 모달 창 ***/
        const modal = $(".modal-wrap");

        $(".login").click(function(){
            $('body').addClass('no-scroll');
            modal.show();
            return false;
        });
        $(".loginModal-close").click(function(){
            $('body').removeClass('no-scroll');
            modal.hide();
        });
        // 외부영역 클릭 시 팝업 닫기
        $(document).mouseup(function (e){
            if(modal.has(e.target).length === 0){
                modal.hide();
            }
        });
    </script>
</th:block>
<!--로그인 모달창 끝-->

