<!--썸네일 목록 : 타임세일 (1행 1열)-->
<th:block th:fragment="thumbnailLayout_1">
    <div class="container">
        <ul class="thumbnailLayout_1 thumb-list lg-col-12">
            <li>
              <div th:replace="part/thumbnail :: thumbnail-timeSale"></div>
            </li>
            <li>
                <div th:replace="part/thumbnail :: thumbnail-timeSale"></div>
            </li>
            <li>
                <div th:replace="part/thumbnail :: thumbnail-timeSale"></div>
            </li>
        </ul>
    </div>
</th:block>

<!--썸네일 목록 : 품절임박 (1행 2열)-->
<th:block th:fragment="thumbnailLayout_2">
    <div class="container">
        <ul class="thumb-list lg-col-6">
            <li>
                <div th:replace="part/thumbnail :: thumbnail-lastSecond"></div>
            </li>
            <li>
                <div th:replace="part/thumbnail :: thumbnail-lastSecond"></div>
            </li>
        </ul>
    </div>
</th:block>

<!--썸네일 목록 : 베스트 100 (형태별로 명칭 변경 : 1행 4열)-->
<th:block th:fragment="best100">
    <ul class="ctg-tab-content">
        <li>전체보기</li>
        <li>내용1</li>
        <li>내용2</li>
        <li class="on">
            <div class="container">
                <ul class="thumb-list lg-col-3 sm-col-6">
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                    </li>
                </ul>
            </div>
        </li>
        <li>내용4</li>
        <li>내용5</li>
        <li>내용6</li>
        <li>내용7</li>
        <li>내용8</li>
        <li>내용9</li>
    </ul>
</th:block>

<!--썸네일 목록 : 신상입고 (형태별로 명칭 변경 : 좌측 대형 + 우측 2행 3열)-->
<th:block th:fragment="newLaunch">
    <div class="container">
        <div id="newLaunch" class="thumb-list">
            <div class="main-newLaunch">
                <div class="main-newLaunch-thumb">
                    <div class="item-img">
                        <a href="javascript:;">
                            <img src="https://dummyimage.com/455x455/eeeeee/777777" alt="">
                        </a>
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap item-bedge-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                                <span class="item-condition item-conditionB-1">스크래치</span>
                            </div>
                        </div>
                        <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <p><span class="discount-price">359,000</span>원</p>
                                <span class="real-price">897,000</span>
                            </div>
                            <div class="discount-rate">57%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-newLaunch">
                <ul class="thumb-list lg-col-4">
                    <li>
                        <div class="sub-newLaunch-thumb">
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://dummyimage.com/200x200/eeeeee/777777" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-2">A급리퍼</span>
                                        <span class="item-condition item-conditionB-1">스크래치</span>
                                    </div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <p><span class="discount-price">359,000</span>원</p>
                                        <span class="real-price">897,000</span>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sub-newLaunch-thumb">
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://dummyimage.com/200x200/eeeeee/777777" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-2">A급리퍼</span>
                                        <span class="item-condition item-conditionB-1">스크래치</span>
                                    </div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <p><span class="discount-price">359,000</span>원</p>
                                        <span class="real-price">897,000</span>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sub-newLaunch-thumb">
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://dummyimage.com/200x200/eeeeee/777777" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-2">A급리퍼</span>
                                        <span class="item-condition item-conditionB-1">스크래치</span>
                                    </div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <p><span class="discount-price">359,000</span>원</p>
                                        <span class="real-price">897,000</span>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sub-newLaunch-thumb">
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://dummyimage.com/200x200/eeeeee/777777" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-2">A급리퍼</span>
                                        <span class="item-condition item-conditionB-1">스크래치</span>
                                    </div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <p><span class="discount-price">359,000</span>원</p>
                                        <span class="real-price">897,000</span>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sub-newLaunch-thumb">
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://dummyimage.com/200x200/eeeeee/777777" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-2">A급리퍼</span>
                                        <span class="item-condition item-conditionB-1">스크래치</span>
                                    </div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <p><span class="discount-price">359,000</span>원</p>
                                        <span class="real-price">897,000</span>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sub-newLaunch-thumb">
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://dummyimage.com/200x200/eeeeee/777777" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-2">A급리퍼</span>
                                        <span class="item-condition item-conditionB-1">스크래치</span>
                                    </div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <p><span class="discount-price">359,000</span>원</p>
                                        <span class="real-price">897,000</span>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</th:block>

<!--썸네일 목록 : 리뷰전용 썸네일 (형태별로 명칭 변경 1행 4열)-->
<th:block th:fragment="review">
    <ul class="ctg-tab-content">
        <li>전체보기</li>
        <li>내용1</li>
        <li>내용2</li>
        <li class="on">
            <div class="container">
                <ul class="thumb-list lg-col-3 sm-col-6 review-list">
                    <li>
                        <!-- 11위 부터는 <i class="review-crown"> 태그 삭제 -->
                        <i class="review-crown"></i>
                        <i class="review-ranking"><span>01</span></i>
                        <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                        </div>
                    </li>
                    <li>
                        <i class="review-crown"></i>
                        <i class="review-ranking"><span>01</span></i>
                        <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                        </div>
                    </li>
                    <li>
                        <i class="review-crown"></i>
                        <i class="review-ranking"><span>01</span></i>
                        <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                        </div>
                    </li>
                    <li>
                        <i class="review-crown"></i>
                        <i class="review-ranking"><span>01</span></i>
                        <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                        </div>
                    </li>
                    <li>
                        <i class="review-crown"></i>
                        <i class="review-ranking"><span>01</span></i>
                        <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                        </div>
                    </li>
                    <li>
                        <i class="review-crown"></i>
                        <i class="review-ranking"><span>01</span></i>
                        <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                        </div>
                    </li>
                    <li>
                        <i class="review-crown"></i>
                        <i class="review-ranking"><span>01</span></i>
                        <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>내용4</li>
        <li>내용5</li>
        <li>내용6</li>
        <li>내용7</li>
        <li>내용8</li>
        <li>내용9</li>
    </ul>
</th:block>

