<!--썸네일 세로형 -->
<th:block th:fragment="thumbnail-default">
    <div class="item-img">
        <a href="javascript:;">
            <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
        </a>
    </div>

    <div class="item-info">
        <div class="item-inner-wrap item-bedge-wrap">
            <div class="item-bedge">
                <span class="item-condition item-conditionA-2">A급리퍼</span>
                <span class="item-condition item-conditionB-1">스크래치</span>
            </div>
            <div class="buy-count color-blue">판매수 37</div>
        </div>
        <div class="item-title"><a href="javascript:;">썸네일 기본형태 : 삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</a></div>
        <div class="item-color">
            <span><span></span></span>
            <span><span></span></span>
            <span><span></span></span>
        </div>
        <div class="item-inner-wrap">
            <div class="item-price">
                <p><span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
            </div>
            <div class="discount-rate">57%</div>
        </div>
        <div class="item-inner-wrap">
            <div class="grade-wrap">
                <span class="grade"><i class="star"></i>5.0 (31)</span>
                <span>남은수량 4</span>
            </div>
            <div class="wish">25<i class="heart"></i></div>
        </div>
        <div class="item-footer">
            <span class="color-blue"><i class="delivery"></i>당일배송</span>
            &nbsp;
            <span><i class="card"></i>무이자</span>
        </div>
    </div>
</th:block>

<!--썸네일 세로형 + 남은수량 아이콘 -->
<th:block th:fragment="thumbnail-defaultQuantity">
    <div class="quantity">
        <p>남은수량</p>
        <span>1개</span>
    </div>
    <div th:replace="part/thumbnail :: thumbnail-default"></div>
</th:block>

<!--썸네일 세로형 + 베스트 아이콘 -->
<th:block th:fragment="thumbnail-defaultBest">
    <i class="best"><span>01</span></i>
    <!-- 11위부터 <i>태그 클래스명 best-down
    <i class="best-down"><span>01</span></i>
    -->
    <div th:replace="part/thumbnail :: thumbnail-default"></div>
</th:block>

<!--썸네일 가로형 -->
<th:block th:fragment="thumbnail-2">
    <div class="thumbnail-2">
        <div class="item-img">
            <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
        </div>
        <div class="item-info">
            <div class="item-inner-wrap item-bedge-wrap">
                <div class="item-bedge">
                    <span class="item-condition item-conditionA-2">A급리퍼</span>
                    <span class="item-condition item-conditionB-1">스크래치</span>
                </div>
                <div class="buy-count color-blue">판매수 37</div>
            </div>
            <div class="item-title">썸네일 기본형태 : 삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
            <div class="item-color">
                <span><span></span></span>
                <span><span></span></span>
                <span><span></span></span>
            </div>
            <div class="item-inner-wrap">
                <div class="item-price">
                    <p><span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                </div>
                <div class="discount-rate">57%</div>
            </div>
            <div class="item-inner-wrap">
                <div class="grade-wrap">
                    <span class="grade"><i class="star"></i>5.0 (31)</span>
                    <span>남은수량 4</span>
                </div>
                <div class="wish">25<i class="heart"></i></div>
            </div>
            <div class="item-footer">
                <span class="color-blue"><i class="delivery"></i>당일배송</span>
                &nbsp;
                <span><i class="card"></i>무이자</span>
            </div>
        </div>
    </li>
</th:block>

<!-- 타임세일 썸네일 -->
<th:block th:fragment="thumbnail-timeSale">
    <div class="thumbnail-timeSale thumbnail-2">
        <div class="item-img">
            <a href="javascript:;">
                <img src="https://dummyimage.com/310x310/eeeeee/777777" alt="">
            </a>
        </div>
        <div class="item-info">
            <div class="time color-red">
                <span class="time-remaining"><i></i>남은시간</span>
                <span class="time-num">10 : 07 : 15</span>
            </div>
            <div class="item-inner-wrap item-bedge-wrap">
                <div class="item-bedge">
                    <span class="item-condition item-conditionA-2">A급리퍼</span>
                    <span class="item-condition item-conditionB-1">스크래치</span>
                </div>
            </div>
            <div class="item-title"><a href="javascript:;">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</a></div>
            <div>
                <div class="timeSale-price">
                    <p class="color-red">뉴퍼딜가&nbsp;<span class="discount-rate">57%</span></p>
                    <span class="discount-price">897,000</span>
                </div>
                <div class="timeSale-price">
                    <span >뉴퍼마켓가</span>
                    <span class="real-price">897,000</span>
                </div>
                <div class="timeSale-price">
                    <span>일반유통가</span>
                    <span class="real-price">897,000</span>
                </div>
            </div>
            <div class="purchase-btn2 timeSale-btn">
                <a href="javascript:;">구매하기</a>
            </div>
            <div class="quantity">
                <p>남은수량</p>
                <span>1개</span>
            </div>
        </div>
    </div>
</th:block>

<!-- 품절임박 이벤트 썸네일 -->
<th:block th:fragment="thumbnail-lastSecond">
    <div class="thumbnail-lastSecond thumbnail-2">
        <div class="item-img">
            <a href="javascript:;">
                <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
            </a>
        </div>
        <div class="item-info">
            <div class="item-inner-wrap item-bedge-wrap">
                <div class="item-bedge">
                    <span class="item-condition item-conditionA-2">A급리퍼</span>
                    <span class="item-condition item-conditionB-1">스크래치</span>
                </div>
            </div>
            <div class="item-title"><a href="javascript:;">썸네일 기본형태 : 삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</a></div>
            <div class="item-color">
                <span><span></span></span>
                <span><span></span></span>
                <span><span></span></span>
            </div>
            <div class="item-inner-wrap">
                <div class="item-price">
                    <p><span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                </div>
                <div class="discount-rate">57%</div>
            </div>
            <div class="item-inner-wrap">
                <div class="grade-wrap">
                    <span class="grade"><i class="star"></i>5.0 (31)</span>
                    <span>남은수량 4</span>
                </div>
                <div class="wish">25<i class="heart"></i></div>
            </div>
            <div class="item-footer">
                <span class="color-blue"><i class="delivery"></i>당일배송</span>
                &nbsp;
                <span><i class="card"></i>무이자</span>
            </div>
            <div class="purchase-btn2 lastSecond-btn">
                <a href="javascript:;">구매하기</a>
            </div>
        </div>
        <div class="quantity">
            <p>남은수량</p>
            <span>1개</span>
        </div>
    </div>
</th:block>

<!-- 품절임박 썸네일2 -->
<th:block th:fragment="thumbnail-lastSecond2">
    <div th:replace="part/thumbnail :: thumbnail-default"></div>
</th:block>

<!--썸네일 리뷰-->
<th:block th:fragment="thumbnail-review">
    <div>
        <div class="realReview-inner">
            <p class="realReview-id">skycoco*****</p>
            <div class="realReview-img">
                <a href="javascript:;">
                    <img src="https://dummyimage.com/250x250/eeeeee/777777" alt="">
                    <img class="realReview-photo" src="https://dummyimage.com/100x100/eeeeee/777777" alt="">
                </a>
            </div>
            <div class="realReview-content">
                <div class="realReview-content-top">
                    <div class="realReview-grade grade_80"><i></i><span>4.9</span></div>
                    <span>2022-07-29</span>
                </div>
                <div class="realReview-text">이거 왜 이제 알았을까요?
                    일단 매일 뜯어서 샐러드해먹고 허브는 파스타, 스테이크, 부르스게타 등등 너무 잘해먹어요.
                </div>
            </div>
            <div class="item-title"><a href="javascript:;">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</a></div>
            <div class="item-price">
                <p><span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
            </div>
        </div>
    </div>
</th:block>

<!--상품상세 - 연관상품 썸네일 -->
<th:block th:fragment="thumbnail-relatedProducts">
    <div class="relatedProducts">
        <div class="item-img">
            <a href="javascript:;">
                <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
            </a>
        </div>
        <div class="item-info">
            <div class="item-title">썸네일 기본형태 : 삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
            <div class="item-inner-wrap">
                <div class="item-price">
                    <p><span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                </div>
                <div class="discount-rate">57%</div>
            </div>
        </div>
</th:block>

<!-- 상품카테고리 상단 이벤트 썸네일 -->
<th:block th:fragment="thumbnail-category">
    <div class="thumbnail-category thumbnail-2">
        <div class="item-img">
            <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
        </div>
        <div class="item-info">
            <div class="item-inner-wrap item-bedge-wrap">
                <div class="item-bedge">
                    <span class="item-condition item-conditionA-2">A급리퍼</span>
                    <span class="item-condition item-conditionB-1">스크래치</span>
                </div>
            </div>
            <div class="item-title">썸네일 기본형태 : 삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
            <div class="item-color">
                <span><span></span></span>
                <span><span></span></span>
                <span><span></span></span>
            </div>
            <div class="item-inner-wrap">
                <div class="item-price">
                    <p><span class="font-xsm">일반유통가</span><span class="real-price">897,000</span><span class="won">원</span></p>
                </div>
            </div>
            <div class="item-inner-wrap">
                <div class="item-price">
                    <p><span class="color-red font-xsm">최종혜택가</span><span class="discount-price">359,000</span><span class="won">원</span></p>
                </div>
                <div class="discount-rate">57%</div>
            </div>
            <div class="btn btn5 itemGo-btn">
                <a href="javascript:;">제품보러가기</a>
            </div>
        </div>
    </div>
</th:block>

<!-- 상품카테고리 - 검색결과 썸네일 -->
<th:block th:fragment="thumbnail-searchResults">
    <div class="thumbnail-searchResults thumbnail-2">
        <div class="item-img">
            <a href="javascript:;">
                <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
            </a>
        </div>
        <div class="item-info">
            <div class="item-inner-wrap item-bedge-wrap">
                <div class="item-bedge">
                    <span class="item-condition item-conditionA-2">A급리퍼</span>
                    <span class="item-condition item-conditionB-1">스크래치</span>
                </div>
                <div class="buy-count color-blue">판매수 37</div>
            </div>
            <div class="item-title"><a href="javascript:;">썸네일 기본형태 : 삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</a></div>
            <div>
                <p class="color-grey999">삼성노트북5 NT551EBE(8.256)(인텔 코어i5 8265U(1.6 터보3.9GHz)/DDR4 8GB/SSD 256GB/인텔
                    UHD620/광시야각 FHD 15.6인치(1920x1080)/윈도10 Pro/HDMI/1.9kg)</p>
            </div>
            <div class="item-color">
                <span><span></span></span>
                <span><span></span></span>
                <span><span></span></span>
            </div>
        </div>
        <div class="item-info2">
            <div class="item-inner-wrap">
                <div class="item-price">
                    <p><span class="discount-price">359,000</span>원</p>
                    <p><span class="real-price">897,000</span></p>
                </div>
                <div class="discount-rate">57%</div>
            </div>
            <div>
                <div class="item-footer">
                    <span class="color-blue"><i class="delivery"></i>당일배송</span>
                    &nbsp;
                    <span><i class="card"></i>무이자</span>
                </div>
                <div class="item-inner-wrap">
                        <div class="grade-wrap">
                            <span class="grade"><i class="star"></i>5.0 (31)</span>
                            <span>남은수량 4</span>
                        </div>
                        <div class="wish">25<i class="heart"></i></div>
                    </div>
            </div>
    </div>
</th:block>