<!-- 썸네일 목록 : 1행 4열 + 검색 결과(map 데이터 반환형)-->
<th:block th:fragment="thumbanil-default-map-list-search-result">
    <div class="itemSort-header">
        <p><span class="color-red" th:text="${count}">848</span>&nbsp;개의 검색결과</p>
        <div>
            <select name="itemSort-option" id="itemSort-option">
                <option value="orderByHit">인기순</option>
                <option value="orderByNew">신규런칭</option>
                <option value="orderByPriceAsc">낮은가격순</option>
                <option value="orderByPriceDesc">높은가격순</option>
                <option value="orderByReview">상품평 많은순</option>
            </select>
            <i class="itemSort itemSort1 on"></i>
            <i class="itemSort itemSort2"></i>
        </div>
    </div>
    <div th:insert="part/thumbnailList :: thumbanil-default-map-list"></div>
</th:block>

<!-- 썸네일 목록 : 1행 4열 (map 데이터 반환형)-->
<th:block th:fragment="thumbanil-default-map-list">
    <ul class="col-list lg-4col sm-2col searchResult-vertical-thumb">
        <li th:each="shopProduct : ${shopProductList}">
            <div class="thumb-wrap boxShadow-hover">
                <div class="compareAdd-wrap">
                    <input type="checkbox" id="compareAdd" class="custom-checkbox" name="" value="">
                    <label for="compareAdd"><span class="font-sm">비교담기</span></label>
                </div>
                <div th:replace="part/thumbnail :: thumbnail-default-map(${shopProduct})"></div>
            </div>
        </li>
    </ul>
</th:block>

<!--썸네일 목록 : 타임세일 (1행 1열)-->
<th:block th:fragment="thumbnailLayout_1">
    <div class="container">
        <ul class="thumbnailLayout_1">
            <li>
                <div class="thumb-wrap boxShadow">
                    <div th:replace="part/thumbnail :: thumbnail-timeSale"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow">
                    <div th:replace="part/thumbnail :: thumbnail-timeSale"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow">
                    <div th:replace="part/thumbnail :: thumbnail-timeSale"></div>
                </div>
            </li>
        </ul>
    </div>
</th:block>

<!--썸네일 목록 : 품절임박 상단 이벤트 (1행 2열)-->
<th:block th:fragment="thumbnailLayout_2">
    <div class="container">
        <ul class="col-list lg-2col">
            <li>
                <div class="thumb-wrap boxShadow">
                    <div th:replace="part/thumbnail :: thumbnail-lastSecond"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow">
                    <div th:replace="part/thumbnail :: thumbnail-lastSecond"></div>
                </div>
            </li>
        </ul>
    </div>
</th:block>

<!--썸네일 목록 : 품절임박 (1행 4열)-->
<th:block th:fragment="lastSecond">
    <div class="container">
        <ul class="col-list lg-4col sm-2col lastSecond-thumb">
            <li>
                <!-- 품절 상품에는 아래 <div>태그에 class="lastSecond-soldout" 추가 -->
                <div class="thumb-wrap boxShadow-hover lastSecond-soldout">
                    <div th:replace="part/thumbnail :: thumbnail-lastSecond2"></div>
                    <div class="quantity">
                        <p>남은수량</p>
                        <span>1개</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-lastSecond2"></div>
                    <div class="quantity">
                        <p>남은수량</p>
                        <span>1개</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-lastSecond2"></div>
                    <div class="quantity">
                        <p>남은수량</p>
                        <span>1개</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-lastSecond2"></div>
                    <div class="quantity">
                        <p>남은수량</p>
                        <span>1개</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-lastSecond2"></div>
                    <div class="quantity">
                        <p>남은수량</p>
                        <span>1개</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</th:block>

<!--썸네일 목록 : 베스트 100 (형태별로 명칭 변경 : 1행 4열)-->
<th:block th:fragment="best100">
    <div class="container">
        <ul class="col-list lg-4col sm-2col">
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-defaultBest"></div>
                </div>
            </li>
        </ul>
    </div>
</th:block>

<!--썸네일 목록 : 신상입고 상단 이벤트 (형태별로 명칭 변경 : 좌측 대형 + 우측 2행 3열)-->
<th:block th:fragment="newLaunch-event">
    <div class="container">
        <div id="newLaunch" class="col-list">
            <div class="main-newLaunch">
                <div class="main-newLaunch-thumb">
                    <div class="item-img">
                        <a href="javascript:;">
                            <img src="https://dummyimage.com/455x455/eeeeee/777777" alt="">
                        </a>
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap item-badge-wrap">
                            <div class="item-badge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                                <span class="item-condition item-conditionB-1">스크래치</span>
                            </div>
                        </div>
                        <div class="item-title"><a href="javascript:;">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</a></div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <p><span class="discount-price">359,000</span>원
                                <span class="real-price">897,000</span></p>
                            </div>
                            <div class="discount-rate">57%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-newLaunch">
                <ul class="col-list lg-3col">
                    <li>
                        <div th:replace="part/thumbnail :: newLaunch-event"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: newLaunch-event"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: newLaunch-event"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: newLaunch-event"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: newLaunch-event"></div>
                    </li>
                    <li>
                        <div th:replace="part/thumbnail :: newLaunch-event"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>

<!--썸네일 목록 : 신상입고 (1행 4열)-->
<th:block th:fragment="newLaunch">
    <div class="container">
        <ul class="col-list lg-4col sm-2col">
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
            </li>
            <li>
                <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
            </li>
        </ul>
    </div>
</th:block>

<!--썸네일 목록 : 리뷰전용 썸네일 (형태별로 명칭 변경 1행 4열)-->
<th:block th:fragment="review">
    <div class="container">
                <ul class="col-list lg-4col sm-2col review-list">
                    <li>
                        <div class="thumb-wrap">
                            <!-- 11위 부터는 <i class="review-crown"> 태그 삭제 -->
                            <i class="review-crown"></i>
                            <i class="review-ranking"><span>01</span></i>
                            <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb-wrap">
                            <!-- 11위 부터는 <i class="review-crown"> 태그 삭제 -->
                            <i class="review-crown"></i>
                            <i class="review-ranking"><span>01</span></i>
                            <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb-wrap">
                            <!-- 11위 부터는 <i class="review-crown"> 태그 삭제 -->
                            <i class="review-crown"></i>
                            <i class="review-ranking"><span>01</span></i>
                            <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb-wrap">
                            <!-- 11위 부터는 <i class="review-crown"> 태그 삭제 -->
                            <i class="review-crown"></i>
                            <i class="review-ranking"><span>01</span></i>
                            <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb-wrap">
                            <!-- 11위 부터는 <i class="review-crown"> 태그 삭제 -->
                            <i class="review-crown"></i>
                            <i class="review-ranking"><span>01</span></i>
                            <div class="thumb-package" th:replace="part/thumbnail :: thumbnail-review">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
</th:block>

<!--썸네일 목록 : 상품상세 연관상품 슬라이드 썸네일 (형태별로 명칭 변경 1행 3열)-->
<th:block th:fragment="relatedProducts">
    <div class="swiper-all">
        <div class="swiper swiper-group1 container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div th:replace="part/thumbnail :: thumbnail-relatedProducts">
                    </div>
                </li>
                <li class="swiper-slide">
                    <div th:replace="part/thumbnail :: thumbnail-relatedProducts">
                    </div>
                </li>
                <li class="swiper-slide">
                    <div th:replace="part/thumbnail :: thumbnail-relatedProducts">
                    </div>
                </li>
                <li class="swiper-slide">
                    <div th:replace="part/thumbnail :: thumbnail-relatedProducts">
                    </div>
                </li>
            </ul>
        </div>
        <div class="swiper-group1-prev prev-custom prev-custom-small"></div>
        <div class="swiper-group1-next next-custom next-custom-small"></div>
    </div>
</th:block>

<!--썸네일 목록 : 상품상세 - 이 상품을 본 고객이 많이 본 다른 상품
 슬라이드 썸네일 (형태별로 명칭 변경 1행 3열)-->
<th:block th:fragment="other-products1">
    <div class="swiper swiper-group2">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <div th:replace="part/thumbnail :: thumbnail-otherProduct">
                </div>
            </li>
            <li class="swiper-slide">
                <div th:replace="part/thumbnail :: thumbnail-otherProduct">
                </div>
            </li>
            <li class="swiper-slide">
                <div th:replace="part/thumbnail :: thumbnail-otherProduct">
                </div>
            </li>
            <li class="swiper-slide">
                <div th:replace="part/thumbnail :: thumbnail-otherProduct">
                </div>
            </li>
        </ul>
    </div>
    <div class="swiper-group2-prev prev-custom prev-custom-small"></div>
    <div class="swiper-group2-next next-custom next-custom-small"></div>
</th:block>

<!--썸네일 목록 : 상품상세 - 함께 구매하면 좋은 상품
 슬라이드 썸네일 (형태별로 명칭 변경 1행 3열)-->
<th:block th:fragment="other-products2">
    <div class="swiper swiper-group3">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <div th:replace="part/thumbnail :: thumbnail-otherProduct">
                </div>
            </li>
            <li class="swiper-slide">
                <div th:replace="part/thumbnail :: thumbnail-otherProduct">
                </div>
            </li>
            <li class="swiper-slide">
                <div th:replace="part/thumbnail :: thumbnail-otherProduct">
                </div>
            </li>
            <li class="swiper-slide">
                <div th:replace="part/thumbnail :: thumbnail-otherProduct">
                </div>
            </li>
        </ul>
    </div>
    <div class="swiper-group3-prev prev-custom prev-custom-small"></div>
    <div class="swiper-group3-next next-custom next-custom-small"></div>
</th:block>

<!--썸네일 목록 : 상품상세 베스트 포토리뷰 슬라이드 썸네일 (형태별로 명칭 변경 1행 3열)-->
<th:block th:fragment="bestPhotoReview">
    <div class="container">
        <div class="position-relative">
            <div class="swiper swiper-group4">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div th:replace="part/thumbnail :: thumbnail-bestPhotoReview">
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div th:replace="part/thumbnail :: thumbnail-bestPhotoReview">
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div th:replace="part/thumbnail :: thumbnail-bestPhotoReview">
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div th:replace="part/thumbnail :: thumbnail-bestPhotoReview">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="swiper-group4-prev prev-custom prev-custom-small"></div>
            <div class="swiper-group4-next next-custom next-custom-small"></div>
        </div>
    </div>
</th:block>