<!--썸네일-->
<th:block th:fragment="thumbnail-default">
    <div class="item-img">
        <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
    </div>

    <div class="item-info">
        <div class="item-inner-wrap item-bedge-wrap">
            <div class="item-bedge">
                <span class="item-condition item-conditionA-2">A급리퍼</span>
                <span class="item-condition item-conditionB-1">스크래치</span>
            </div>
            <div class="buy-count color-blue">판매수 37</div>
        </div>
        <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
        <div class="item-color">
            <span><span></span></span>
            <span><span></span></span>
            <span><span></span></span>
        </div>
        <div class="item-inner-wrap">
            <div class="item-price">
                <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
            </div>
            <div class="discount-rate">57%</div>
        </div>
        <div class="item-inner-wrap">
            <div class="grade-wrap">
                <span class="grade"><i class="star"></i>5.0 (31)</span>
                <span>남은수량 4</span>
            </div>
            <div class="wish">25<i class="heart"></i></div>
        </div>
        <div class="item-footer">
            <span class="color-blue"><i class="delivery"></i>당일배송</span>
            &nbsp;
            <span><i class="card"></i>무이자</span>
        </div>
    </div>
</th:block>
<!--썸네일 리뷰-->
<th:block th:fragment="thumbnail-review">

</th:block>