<!--페이지 타이틀-->
<th:block th:fragment="pageTitle(pageMainTitle,pageSubTitle)">
    <div class="container">
        <div class="page-title">
            <h2 class="section-title" th:text="${pageMainTitle}">페이지 타이틀</h2>
            <p class="section-sub-title" th:text="${pageSubTitle}">페이지 서브 타이틀</p>
        </div>
    </div>
</th:block>

<!--페이지 이미지 타이틀 1-->
<th:block th:fragment="pageImageTitle_1">
    <div class="container">
        <div class="page-title">
            <!--<img th:attr="src=@{/image/logo.png},title='품절임박',alt='품절임박'">-->
            <h2 class="section-title">품절임박 이미지 gif 자리</h2>
        </div>
    </div>
</th:block>

<!--페이지 이미지 타이틀 2-->
<th:block th:fragment="pageImageTitle_2">
    <div class="container">
        <div class="page-title">
            <!--<img th:attr="src=@{/image/logo.png},title='품절임박',alt='품절임박'">-->
            <h2 class="section-title">타임세일 이미지 gif 자리</h2>
        </div>
    </div>
</th:block>