<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="contractModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">계약서 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="contractModalForm" onkeypress="if(event.keyCode==13){searchContractModal();return false;}">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body popup-contents">
                                <fieldset class="mb-0">
                                    <legend>계약서 검색</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">등록일</span>
                                                    </span>
                                                    <input type="text" class="form-control w-datarange daterange-basic" name="createdBy" placeholder="검색">
                                                    <input type="hidden" name="comIdx" id="contractModalComIdx">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상호법인명</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="comName" placeholder="검색">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">MID</span>
                                                    </span>
                                                   <input type="text" class="form-control" name="comMid" placeholder="검색">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">계약명</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="ccName" placeholder="검색">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">계약구분</span>
                                                    </span>
                                                    <select name="CcType" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.CcType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상태</span>
                                                    </span>
                                                    <select name="comState" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.ComState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="card-footer bg-white d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-sm btn-secondary ml-1" onclick="searchContractModal()">
                                    <i class="icon-search4 mr-1"></i>조회
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table" id="contractModalTable">
                </table>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    // 계약서 검색
    function searchContractModal(){
        $('#contractModalTable').DataTable().page('first').ajax.url('/company/contract.dataTable?' + $('#contractModalForm').serialize()).load(null, false);
    }
</script>
<script th:inline="javascript">
    function selectContractDataTable(){
        destroyDatatable('contractModalTable');
        $('#contractModalTable').DataTable({
            ordering: false,
            serverSide: true,
            ajax:{
                url:'/company/contract.dataTable?' + $('#contractModalForm').serialize(),
                type:'post'
            },
            "columns" : [
                {'title':'상호법인명','data':'COM_NAME', 'defaultContent':''}
                ,{'title':'계약명','data':'CC_NAME', 'defaultContent':''}
                ,{'title':'계약구분','data':'CC_TYPE_STR', 'defaultContent':''}
                ,{'title':'상태','data':'CC_STATE_STR', 'defaultContent':''}
                ,{'title':'정산주기','data':'CC_CYCLE_STR'}
                ,{'title':'세금계산서발행일','data':'CC_TAX_DATE'}
                ,{'title':'정산방식','data':'CC_CAL_TYPE_STR','class':'text-won','defaultContent':''}
                ,{'title':'지급예정일','data':'CC_BASE_DATE','class':'text-won','defaultContent':''}
                ,{'title':'계약시작일','data':'CC_START','class':'text-won','defaultContent':''}
                ,{'title':'계약종료일','data':'CC_END','class':'text-won','defaultContent':''}
                ,{'title':'계약번호','data':'CC_NUM','class':'text-won','defaultContent':''}
                ,{'title':'선택','data':'CC_IDX','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm btn-primary" onClick="contractSelect('+meta.row+')">선택</a>';
                }}
            ]
    });
    }
</script>
</html>