<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BOM관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>
                                            </span>
                                        <!-- <span class="breadcrumb-item font-weight-bold text-secondary">
                                                 <i class="mr-1" th:classappend="${subIcon}"></i>
                                                 <th:block th:text="${subTitle}"></th:block>
                                             </span>-->
                                    </div>
                                </h6>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="bomForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                                                <div class="form-group">
                                                    <label class="d-block">상품코드</label>
                                                    <input type="text" name="pCode" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상품명</label>
                                                    <input type="text" name="pName" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label">조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popNewBtn">
                                            <i class="icon-popout mr-1"></i>신규등록
                                        </a>

                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="deleteBtn">
                                            <i class="icon-popout mr-1"></i>일괄삭제
                                        </a>

                                        <a type="button" class="btn btn-sm btn-primary ml-1">
                                            <i class="icon-upload4 mr-1"></i>엑셀업로드
                                        </a>
                                    </div>
                                </div>


                            </div>

                            <table class="table table-hover" id="bomTable"></table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>
<script th:inline="javascript">
    function bomDetailPop(pIdx) {
        var focusPopup = window.open('/bom/bomPop/' + pIdx, 'bomDetail', 'width=1030, height=830, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }

    function deleteBom() {
        var data = dataTableGetSelectedDataArray('bomTable', 'BOM_P_IDX');

        if (data.length <= 0) {
            alert("선택한 BOM이 없습니다.");

        } else if (confirm("선택한 BOM을 일괄삭제하시겠습니까?")) {
            $.ajax({
                url: '/bom/delete.ajax',
                type: 'post',
                data: {
                    pIdxList : data
                },
                success: function () {
                    refreshTable('#bomTable');
                }
            });
        }
    }

    function searchBtn(){
        $('#bomTable').DataTable().page('first').ajax.url('/bom/bom.dataTable?'+$('#bomForm').serialize()).load();
    }
</script>
<script th:inline="javascript">
    $('#bomTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/bom/bom.dataTable',
            type:'post'
        },
        columns : [
            {'class':'select-checkbox', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
            ,{'title':'상품명','data':'P_NAME','defaultContent':''}
            ,{'title':'구성상품','data':'CNT', 'render': function (data,type,full,meta) {
                    return '<a href="#" onclick="bomDetailPop('+full.BOM_P_IDX+')" class="badge badge-primary">'+full.CNT+'개</a>';
                }}
            ,{'title':'대분류','data':'CATE_NAME1','defaultContent':''}
            ,{'title':'중분류','data':'CATE_NAME2','defaultContent':''}
            ,{'title':'소분류','data':'CATE_NAME3','defaultContent':''}
        ]
    });

    $('#popNewBtn').on('click',function (){
        var focusPopup = window.open('/bom/bomPop', 'insertBom', 'width=1030, height=830, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    });

    $('#deleteBtn').on('click', deleteBom);
    $('#bomForm').on('keyup', function (event) {
        if(event.keyCode==13){searchBtn();return false;}
    });
</script>