<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="shopProductModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">상품 추가</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" id="shopProductModalTable">
                </table>
                <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-primary" onclick="selectAllEventProduct()">일괄추가</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function openShopProductModal(){
        var shopIdx = $('input[name="shopIdx"]').val();

        $('#shopProductModal').modal('show');

        initShopProductModalTable(shopIdx);
    }
    // 일괄추가(체크박스)
    function selectAllEventProduct(){
        var spIdx = dataTableGetSelectedDataArray('shopProductModalTable', 'SP_IDX');
        var spState = dataTableGetSelectedDataArray('shopProductModalTable', 'SP_STATE');
        var spName = dataTableGetSelectedDataArray('shopProductModalTable', 'SP_NAME');

        if(spIdx.length == 0){
            alert('선택된 상품이 없습니다.');
            return false;
        }else{
            for(var i=0; i< spIdx.length; i++){
                if($('input[name="spIdx"][value='+spIdx[i]+']').length > 0){
                }else{
                    var tr='<tr>';
                    tr+='<td>'+spState[i]+'</td>';
                    tr+='<td><input type="hidden" name="spIdx" value="'+spIdx[i]+'">'+spName[i]+'</td>';
                    tr+='<td><a class="btn btn-sm btn-danger" onclick="deleteShopProduct('+spIdx[i]+')">삭제</a></td>';
                    tr+='</tr>'
                    $('#shopProductTbody').append(tr);
                }
            }
        }

        $('#shopProductModal').modal('hide');
    }



    // 추가버튼
    function chooseShopProduct(id, rowIdx){
        var dataMap=getDatatablemap(id, rowIdx);

        if($('input[name=spIdx][value='+dataMap.SP_IDX+']').length>0){
            alert('이미 추가된 상품 입니다');
            return;
        }

        var tr='<tr>';
        tr+='<td>'+dataMap.SP_STATE+'</td>';
        tr+='<td><input type="hidden" name="spIdx" value="'+dataMap.SP_IDX+'">'+dataMap.SP_NAME+'</td>';
        tr+='<td><a class="btn btn-sm btn-danger" onclick="deleteShopProduct('+dataMap.SP_IDX+')">삭제</a></td>';
        tr+='</tr>'
        $('#shopProductTbody').append(tr);
        $('#shopProductModal').modal('hide');
    }
</script>
<script th:inline="javascript">
    function initShopProductModalTable(shopIdx){
        destroyDatatable('shopProductModalTable');
        $('#shopProductModalTable').DataTable({
            dom: '<"datatable-header"Bip><"datatable-scroll"t>',
            ordering: false,
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            serverSide: true,
            ajax:{
                url:'/product/shopProduct.datatable?shopIdx='+shopIdx
                ,type:'post'
            },
            columnDefs: [ {
                width: '40px',
                orderable: false,
                className: 'select-checkbox',
                targets:   [0]
            },
            {
                width: '40px',
                targets:    [1]
            }],
            "columns" : [
            {'title':'선택','data':'SP_IDX','defaultContent':'', 'render':function(data,type,full,meta){
                return '';
            }}
            ,{'title':'No','data':'No','render':function(data,type,full,meta){
                return meta.settings._iDisplayStart+meta.row+1;
            }}
            ,{'title':'상품 상태','data':'SP_STATE', 'defaultContent':''}
            ,{'title':'상품명','data':'SP_NAME', 'defaultContent':''}
            ,{'title':'','render':function(data,type,full,meta){
                return '<a class="btn btn-primary btn-sm" onclick="chooseShopProduct(\''+meta.settings.sTableId+'\','+meta.row+')">선택</a>';
            }}
        ]
    });
    }
</script>
</html>