<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" th:src="@{/js/core/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/iamport.payment-1.1.8.js}"></script>
</head>
<body>

</body>
<script>
    //결제팝업
    var payRequestAvailable = true;
    function payRequest(){
        if(payRequestAvailable){
            payRequestAvailable = false;
            $.ajax({
              url:'/orders/iamport.ajax'
              ,type:'post'
              ,data: 'test=test1234'
            }).done(function(res){
                IMP.init(res.data.id);
                IMP.request_pay(res.data.req, function (rsp) {
                    debugger;
                });

            }).always(function(){
                payRequestAvailable = true;
            });
        }else{
            console.log('not available');
        }
    }
</script>
<script>
</script>
</html>