<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>출고등록(자산등록)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<div class="page-content">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="content container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="collapse show" id="collapse-button-collapsed1">
                <div class="card-body pt-0">
                  <form id="releasePopForm1">
                    <legend class="">1.주문내역 <span class="small ml-2"></span></legend>
                    <div class="row">
                      <table class="table" id="releasePopTable1"></table>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <legend class="">2.자산내역 <span class="small ml-2"></span></legend>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="collapse show" id="collapse-button-collapsed">
                <div class="card-body pt-0">
                  <form id="releasePopForm2">
                    <div class="row">
                      <table class="table" id="releasePopTable2"></table>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>


<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>


<script>


</script>

<script>


</script>

<script>
  var releasePopTable1 = $('#releasePopTable1').DataTable({
    dom: '<"datatable-header"ip><"datatable-scroll"t><"datatable-footer">',
    ordering: false,
    select: {
      style: 'multi',
      selector: 'td:first-child'
    },
    serverSide: true,
    ajax: {
      url: '/delivery/release1.dataTable?' + $('#releasePopForm1').serialize(),
      type: 'post'
    },
    columnDefs: [{
      orderable: false,
      targets: [0]

    }],


    "columns": [

      {'title': '주문상품코드<br>(사방넷 주문번호)', 'data': ''}
      , {'title': '쇼핑몰명', 'data': 'U_PHONE'}
      , {'title': '상품코드', 'data': 'U_PHONE'}
      , {'title': '상품명', 'data': 'U_PHONE'}
      , {'title': '수량', 'data': 'U_PHONE'}
      , {'title': '주문자명', 'data': 'U_PHONE'}
      , {'title': '주문자연락처', 'data': 'U_PHONE'}
      , {'title': '출고택배사', 'data': 'U_PHONE'}
      , {'title': '출고송장번호', 'data': 'U_PHONE'}
    ]
  });

  var releasePopTable2 = $('#releasePopTable2').DataTable({
    dom: '<"datatable-header"ip><"datatable-scroll"t><"datatable-footer">',
    ordering: false,
    select: {
      style: 'multi',
      selector: 'td:first-child'
    },
    serverSide: true,
    ajax: {
      url: '/delivery/release2.dataTable?' + $('#releasePopForm2').serialize(),
      type: 'post'
    },
    columnDefs: [{
      orderable: false,
      targets: [0]

    }],


    "columns": [

      {'title': '상품코드', 'data': 'U_PHONE'}
      , {'title': '자산코드', 'data': 'U_PHONE'}
      , {'title': '수량', 'data': 'U_PHONE'}
      , {'title': '삭제', 'data': 'U_PHONE'}
    ]
  });


</script>
</html>