<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${subTitle}"></title>
    <th:block th:replace="common/css.html"></th:block>
    <style>
        .group{
            background:aliceblue;
        }
    </style>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>
<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                            <i class="mr-1" th:classappend="${subIcon}"></i>
                                            <th:block th:text="${subTitle}"></th:block>
                                        </span>

                                    </div>
                                </h6>
                                <div class="header-elements text-right">
                                    <div class="d-inline-block d-md-flex d-md-flex-row justify-content-between">
                                        <div class="list-icons ml-2">
                                            <a class="list-icons-item" data-action="collapse"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse show">
                                <div class="card-body pt-0">
                                    <form id="searchForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">분양몰</label>
                                                    <select class="form-control form-control-sm select-search" name="shopIdx" data-placeholder="선택" data-container-css-class="select-sm">
                                                        <option th:each="shop : ${shopList}" th:text="${shop.shopName}" th:value="${shop.shopIdx}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">이벤트 카테고리</label>
                                                    <input class="form-control form-control-sm w-120px" name="egCategory" data-placeholder="검색">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">이벤트그룹명</label>
                                                    <input class="form-control form-control-sm w-120px" name="egTitle" data-placeholder="검색">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-white header-elements-inline justify-content-start">
                                <h6 class="card-title" th:text="${subTitle}"></h6>
                                <a onclick="popEgDetail('new')" class="btn btn-sm btn-primary ml-1">신규등록</a>
                                <a class="btn btn-sm btn-primary ml-1" onclick="deleteAllEventGroup()">일괄 삭제</a>
                            </div>
                            <table class="table" id="eventGroupTable"></table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/demo_pages/extension_dnd.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    function searchBtn(){
        $('#eventGroupTable').DataTable().page('first').ajax.url('/board/eventGroup.dataTable?' + $('#searchForm').serialize()).load(null, false);
    }
    function popEgDetail(egIdx){
        var shopIdx = $('select[name="shopIdx"]').val();
        if(shopIdx == null || shopIdx == ''){
            alert('분양몰을 선택해주세요.');
            return false;
        }
        var focusPopup = window.open('/board/event/'+egIdx+'/'+shopIdx, 'eventDetail', 'width=1000, height=900, scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }
    function toggleEventGroup(egIdx){
        $.ajax({
            url:'/board/event/toggle.ajax',
            type:'post',
            data:{
                egIdx: egIdx
            },
            success:function(res){
                $('#eventGroupTable').DataTable().ajax.reload();
            }
            ,error:function(){}
        })
    }
    function deleteAllEventGroup(){
        var idx = dataTableGetSelectedDataArray('eventGroupTable', 'EG_IDX');
        if(idx.length == 0){
            alert('선택된 내역이 없습니다.');
            return false;
        }else{
            if(window.confirm('분양몰을 삭제하시겠습니까?')){
                $.ajax({
                    url:'/board/event/delete.ajax'
                    ,type:'post'
                    ,data:{
                        egIdxs : idx
                    }
                    ,success:function(res){
                        $('#eventGroupTable').DataTable.ajax.reload();
                    }
                    ,error:function(){}
                })
            }
        }
    }
</script>

<script>
    $(function(){
        $('#eventGroupTable').DataTable({
            dom: '<"datatable-header"Bip><"datatable-scroll"t>',
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            columnDefs: [ {
                orderable: false,
                targets:   [0]
            } ],
            ordering: false,
            serverSide: true,
            ajax:{
                url:'/board/eventGroup.dataTable?'+$('#searchForm').serialize(),
                type:'post'
            },
            "columns" : [
                {'class':'select-checkbox m-w-2', 'title':'선택','data':'EG_IDX','defaultContent':'','render': function(data,type,full,meta){
                    return '';
                }},
                {'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
                ,{'title':'분양몰','data':'SHOP_NAME', 'defaultContent':''}
                ,{'title':'노출상태','data':'EG_STATE', 'defaultContent':'', 'render':function(data,type,full,meta){
                    if(data != null){
                        var btnClass;
                        var state;
                        if(data > 0){
                            state = '노출';
                            btnClass='btn-primary';
                        }else{
                            state = '미노출';
                            btnClass='btn-secondary';
                        }
                        return '<a class="btn btn-sm '+btnClass+'" onclick="toggleEventGroup('+full.EG_IDX+')">'+state+'</a>';
                    }else{
                        return '';
                    }
                }}
                ,{'title':'이벤트그룹명','data':'EG_TITLE','defaultContent':'', 'render':function(data,type,full,meta){
                    return '<a class="btn btn-sm btn-primary" onClick="popEgDetail('+full.EG_IDX+')">'+ellipsisStr(data)+'</a>';
                }}
                ,{'title':'이벤트 메뉴','data':'EG_MENU_STR', 'defaultContent':''}
                ,{'title':'시작일','data':'EG_OPEN_DATE_TIME', 'defaultContent':''}
                ,{'title':'종료일','data':'EG_CLOSE_DATE_TIME', 'defaultContent':''}
                ,{'title':'메모','data':'EG_MEMO', 'defaultContent':''}
                ,{'title':'등록자','data':'CREATED_BY', 'defaultContent':''}
                ,{'title':'등록일','data':'CREATED_DATE_TIME', 'defaultContent':''}
            ]
        });
    })
</script>
</body>
</html>