<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>입고검수</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item"></span>
                                    </div>
                                </h6>
                            </div>
                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="inCheckForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                                                <div class="form-group">
                                                    <label class="d-block">입고검수코드</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="cgIdx">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">입고검수작업상태값</label>
                                                    <select class="form-control form-control-sm" name="cgState">
                                                        <option>전부</option>
                                                        <option th:each="opt: ${T(com.newper.constant.CgState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">입고검수업체</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="comName">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">입고검수담당자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="uName">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">요청자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="uName2">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">작업지시자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="uName3">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">완료처리자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="uName4">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">요청일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="cgRequestDate">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">작업시작일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="cgStartDate">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">작업종료일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="cgEndDate">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1" onclick="searchBtn()"></i>조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <table class="table" id="inCheckTable"></table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    function searchBtn() {
        var table = $('#inCheckTable').DataTable();
        table.page('first').ajax.url('/in/inCheck.dataTable?' + $('#inCheckForm').serialize()).load(null, false);
    }

    function inCheckPop(idx){
        var focusPopup = window.open('/in/inCheckPop/' + idx,'inCheckPop',  'width=max, height=800, left=' + screenX + ', top=' + screenY + ',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }
</script>

<script>
    var inCheckTable = $('#inCheckTable').DataTable({
        ordering:false,
        buttons: buttonsSelect(false),
        serverSide: true,
        ajax:{
            url:'/in/inCheck.dataTable',
            type:'post'
        },
        "columns" : [
            {'title':'No','data':'No','render':function(data,type,full,meta){
                return meta.settings._iDisplayStart+meta.row+1;
            }}
            ,{'title':'입고검수코드','data':'CG_IDX', 'render': function (data,type,full,meta) {
                    return '<a href="javascript: inCheckPop('+ full.CG_IDX +')" class="badge badge-primary">' + full.CG_IDX + '</a>';
                }}
            ,{'title':'입고검수<br>작업상태값','data':"CG_STATE_STR"}
            ,{'title':'입고검수<br>업체','data':'COM_NAME', 'defaultContent':''}
            ,{'title':'입고검수<br>담당자','data':'U_NAME3', 'defaultContent':''}
            ,{'title':'요청자','data':'CREATED_BY', 'defaultContent':''}
            ,{'title':'작업지시자','data':'U_NAME1', 'defaultContent':''}
            ,{'title':'완료처리자','data':'U_NAME2', 'defaultContent':''}
            ,{'title':'요청일','data':'CG_REQUEST_DATE', 'defaultContent':''}
            ,{'title':'작업시작일','data':'CG_START_DATE', 'defaultContent':''}
            ,{'title':'작업종료일','data':'CG_END_DATE', 'defaultContent':''}
            ,{'title':'공정예정비<br>합계','data':'CGS_EXPECTED_COST', class : 'text-right', render: function (data, type, full, meta) {
                return comma(data);
            }}
            //,{'title':'공정완료/<br>작업요청건','data':''}
            ,{'title':'공정비<br>합계','data':'CGS_REAL_COST', class : 'text-right', render: function (data, type, full, meta) {
                return comma(data);
            }}
        ]
    });

    $('#inCheckForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });

</script>
</html>