<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${subTitle}">쿠폰생성관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
                                        <!--<span class="breadcrumb-item font-weight-bold text-secondary">
                                             <i class="mr-1" th:classappend="${subIcon}"></i>
                                             <th:block th:text="${subTitle}"></th:block>
                                        </span>-->
                                    </div>
                                </h6>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="couponForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                                                <div class="form-group">
                                                    <label class="d-block">분양몰</label>
                                                    <input type="text" name="shopName" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">쿠폰그룹상태</label>
                                                    <select name="cpgState" data-placeholder="multi select" class="form-control multiselect" multiple="multiple">
                                                        <option th:each="opt: ${T(com.newper.constant.CpgState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">쿠폰그룹명</label>
                                                    <input type="text" name="cpgName" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">쿠폰그룹코드</label>
                                                    <input type="text" name="cpgIdx" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">할인타입</label>
                                                    <select name="cpgDiscountType" data-placeholder="multi select" class="form-control multiselect" multiple="multiple">
                                                        <option th:each="opt: ${T(com.newper.constant.CpgDiscountType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">쿠폰타입</label>
                                                    <select name="cpgType" data-placeholder="multi select" class="form-control multiselect" multiple="multiple">
                                                        <option th:each="opt: ${T(com.newper.constant.CpgType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <!--<div class="form-group">
                                                    <label class="d-block">발급유형</label>
                                                    <select name="" data-placeholder="multi select" class="form-control multiselect" multiple="multiple">
                                                        &lt;!&ndash;<option th:each="opt: ${T(com.newper.constant.CuRate).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>&ndash;&gt;
                                                    </select>
                                                </div>-->

                                                <div class="form-group">
                                                    <label class="d-block">중복사용</label>
                                                    <select name="cpgDuplicate" data-placeholder="multi select" class="form-control multiselect" multiple="multiple">
                                                        <option value="0">중복사용불가</option>
                                                        <option value="1">중복사용가능</option>
                                                    </select>
                                                </div>

                                                <!--<div class="form-group">
                                                    <label class="d-block">사용가능 카테고리</label>
                                                    <select name="" data-placeholder="multi select" class="form-control multiselect" multiple="multiple">
                                                        &lt;!&ndash;<option th:each="opt: ${T(com.newper.constant.CuRate).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>&ndash;&gt;
                                                    </select>
                                                </div>-->

                                                <div class="form-group">
                                                    <label class="d-block">사용만료일</label>
                                                    <input type="text" name="cpgEndDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label">조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popNewBtn">
                                            <i class="icon-popout mr-1"></i>신규등록
                                        </a>

                                        <a type="button" class="btn btn-sm btn-primary ml-1">
                                            <i class="icon-pencil3 mr-1"></i>일괄변경
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-hover" id="couponTable"></table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>
<script th:inline="javascript">
    function newCouponPop() {
        var focusPopup = window.open('/coupon/detail', 'newCoupon', 'width=1050, height=900, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }

    function couponDetailPop(cpgIdx) {
        var focusPopup = window.open('/coupon/detail/' + cpgIdx, 'customerDetail', 'width=1050, height=900, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }

    function searchBtn(){
        $('#couponTable').DataTable().page('first').ajax.url('/customer/customer.dataTable?'+$('#couponForm').serialize()).load();
    }
</script>
<script th:inline="javascript">
    $('#couponTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/coupon/couponGroup.dataTable',
            type:'post'
        },
        columns : [
            {'class':'select-checkbox', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
            ,{'title':'분양몰','data':'SHOP_NAME', 'defaultContent':''}
            ,{'title':'쿠폰그룹상태','data':'CPG_STATE_STR','defaultContent':''}
            ,{'title':'쿠폰그룹명','data':'CPG_NAME', 'render': function (data, type, full, meta) {
                    return '<a href="javascript: couponDetailPop('+full.CPG_IDX+')" class="badge badge-primary">'+full.CPG_NAME+'</a>';
                }}
            ,{'title':'쿠폰그룹코드','data':'CPG_IDX','defaultContent':''}
            ,{'title':'할인타입','data':'CPG_DISCOUNT_TYPE_STR','defaultContent':''}
            ,{'title':'쿠폰타입','data':'CPG_TYPE_STR','defaultContent':''}
            /*,{'title':'발급유형','data':'','defaultContent':''}*/
            ,{'title':'중복사용','data':'CPG_DUPLICATE','defaultContent':''}
            ,{'title':'사용가능 카테고리','data':'','defaultContent':''}
            ,{'title':'사용만료일','data':'CPG_END_DATE','defaultContent':''}
            ,{'title':'사용만료시간','data':'CPG_END_TIME','defaultContent':''}
            ,{'title':'쿠폰생성수량','data':'CPG_CNT','defaultContent':''}
            ,{'title':'쿠폰잔여수량','data':'CPG_LEFT_CNT','defaultContent':''}
            ,{'title':'최소사용금액','data':'CPG_MIN','defaultContent':''}
            ,{'title':'적용최대금액','data':'CPG_MAX','defaultContent':''}
            ,{'title':'등록자','data':'CREATED_BY','defaultContent':''}
            ,{'title':'등록일','data':'CREATED_DATE','defaultContent':''}
        ]
    });

    $('#couponForm').on('keyup', function (event) {
        if(event.keyCode==13){searchBtn();return false;}
    });

    $('#popNewBtn').on('click', newCouponPop);
</script>
</body>
</html>