@charset "UTF-8";

/* css reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
body, html {background: #fff; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; min-width: 1380px; color:#333;}
.hidden {display: none;}
img {width: 100%; height: auto;}

.color-blue {
    color: #314ad7;
}
.color-red {
     color: #ff0000;
 }
section {
    margin-top: 85px;
}
.separation {
    position: relative;
}
.separation::before {
    content: "";
    width: 1px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #666;
}

.container {
    width: 1380px;
    height: 100%;
    margin: 0 auto;
}

/*** item-condition ***/
.item-condition {
    display: inline-block;
    border-radius: 15px;
    padding: 3px 20px;
    font-size: 14px;
    margin-right: 7px;
}
/* 새상품 */
.item-conditionA-1 {
    color: #314ad7;
    background-color: #fff;
    border: 1px solid #314ad7;
}
/* A급리퍼 */
.item-conditionA-2 {
    color: #fff;
    background-color: #314ad7;
    border: 1px solid #314ad7;
}
/* 박스개봉 */
.item-conditionA-3 {
    color: #fff;
    background-color: #014023;
    border: 1px solid #014023;
}
/* 단기사용 */
.item-conditionA-4 {
    color: #fff;
    background-color: #009eff;
    border: 1px solid #009eff;
 }
/* 가성비중고 */
.item-conditionA-5 {
    color: #fff;
    background-color: #6845c1;
    border: 1px solid #6845c1;
}
/* 해외리퍼 */
.item-conditionA-6 {
    color:#fff;
    background-color: #fe9592;
    border: 1px solid #fe9592;
}
/* 스크레치, 신품수준, 짧은사용, 가성비, 무료배송 */
.item-conditionB-1 {
    color: #3c82ff;
    background-color: #fff;
    border: 1px solid #3c82ff;
}
/* 서브상태값 */
.item-conditionB-2 {
    color: #6e3caa;
    background-color: #fff;
    border: 1px solid #6e3caa;
}

/*** 썸네일 슬라이드 ***/
.swiper-all {
    position: relative;
    width: calc(1380px + 85px);
    margin: auto;
}
.swiper-all .swiper-slide {
    border-radius: 30px;
    border: 1px solid #d1d1d1;
    padding: 20px;
}
.item-img {
    padding: 17px;
}
.item-info>div {
    margin-bottom: 10px;
}
.item-inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-title {
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-color {
    width: 100%;
    height: 17px;
}
.item-color>span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #999;
    margin-right: 3px;
}
.item-color>span>span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
}
.item-color>span:nth-child(1)>span {
    background-color: #fff;
}
.item-color>span:nth-child(2)>span {
    background-color: #617a7a;
}
.item-color>span:nth-child(3)>span {
    background-color: #000;
}
.discount-price {
    font-size: 21px;
    font-weight: 600;
}
.real-price {
    font-size: 16px;
    font-weight: 300;
    color: #999;
    text-decoration: line-through;
}
.discount-rate {
    font-size: 26px;
    color: #ff0000;
    font-weight: 600;
}
.grade-wrap, .wish, .grade {
    display: flex;
    align-items: center;
}
.star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../image/star.png") no-repeat center/contain;
    margin-right: 3px;
}
.heart {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../image/heart.png") no-repeat center/contain;
    cursor: pointer;
}
.heart.active {
    background: url("../image/heart-blue.png") no-repeat center/contain;
}

/*** 썸네일 슬라이드 화살표 커스텀 ***/
.button-disabled {
    display: none;
}
.swiper-thumbnail-prev, .swiper-thumbnail-next {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
.swiper-thumbnail-prev {
    left:0;
    background: #fff url("../image/thumb-arrow-left.png") no-repeat center;
}
.swiper-thumbnail-next {
    right:0;
    background: #fff url("../image/thumb-arrow-right.png") no-repeat center;
}



/*** footer ***/
footer {
}
.footer-top {
    width: 100%;
    height: 60px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}
.footer-top-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu {
    display: flex;
}
.footer-menu li>a {
    padding: 0 17px;
    font-size: 15px;
    font-weight: 500;
    color: #666;
}
.footer-menu li:first-child>a {
    padding: 0 17px 0 0;
}
.footer-sns {
    display: flex;
    align-items: center;
    height: 100%;
}
.footer-sns li {
    padding: 0 10px;
}
.footer-sns li:last-child {
    padding: 0 0 0 10px;
}
.footer-sns li>a {
    display: inline-block;
    width: auto;
    height: 25px;
}
.footer-bottom {
    background-color: #f6f6f6;
}
.footer-content {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.footerLogo {
    width: 155px;
}
.footerLogo a {
    display: block;
    width: 100%;
}
.footerLeft {
    width: 50%;
    padding: 0 25px;
    color: #666;
}
.comp-info p {
    padding-bottom: 2px;
    font-weight: 300;
}
.comp-info .separation::before {
    height: 10px;
}
.policy {
    padding-top: 15px;
}
.policy span {
    text-decoration: underline;
    padding: 0 25px;
    position: relative;
}
.policy span:first-child {
    padding: 0 25px 0 0;
}
.policy span::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #666;
    width: 1px;
    height: 13px;
}
.policy span:last-child::after {
    content: none;
}
.award-list {
    padding: 20px 70px 0 0;
    display: flex;
}
.award-list li {
    flex: 1;
}
.award-list li a {
    display: inline-flex;
    color: #666;
    font-size: 12px;
}
.award-icon {
    display: inline-block;
    width: 30px;
    margin-right: 5px;
}
.award-icon1 {
    background: url("../image/award1.png") no-repeat center/contain;
}
.award-icon2 {
    background: url("../image/award2.png") no-repeat center/contain;
}
.award-icon3 {
     background: url("../image/award3.png") no-repeat center/contain;
 }
.copyright {
    font-size: 11px;
    font-weight: 300;
    padding-top: 10px;
}



.footerRight {
    width: calc(100% - 50% - 155px);
}
.footerRight h3 {
    font-size: 20px;
    font-weight: 400;
}
.center-info-wrap {
    display: flex;
}
.center-tell p {
    color:#314ad7;
    font-size: 33px;
    font-weight: 700;
}
.center-info {
    padding: 0 25px;
    font-weight: 300;
}
.center-info-notice {
    padding-top: 10px;
    color: #666;
}
.simpleCheck {
    color: #314ad7;
    font-weight: 400;
}
.triangle {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../image/triangle.png") no-repeat center/contain;
}
.footer-btn {
    padding-top: 25px;
}
.footer-btn ul {
    display: flex;
}
.footer-btn ul li {
    border: 1px solid #d1d1d1;
    margin-right: 10px;
    flex: 1;
    text-align: center;
    background-color: #fff;
}
.footer-btn ul li:last-child {
    margin-right: 0;
}
.footer-btn ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color:#666;
    font-size: 15px;
    font-weight: 300;
}