@charset "UTF-8";

/* font */
@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard Bold'), 
        url('../font/woff2-subset/Pretendard-Bold.woff2') format('woff2'), 
        url('../font/woff-subset/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard SemiBold'), 
        url('../font/woff2-subset/Pretendard-SemiBold.woff2') format('woff2'), 
        url('../font/woff-subset/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard Medium'), 
        url('../font/woff2-subset/Pretendard-Medium.woff2') format('woff2'), 
        url('../font/woff-subset/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard Regular'), 
        url('../font/woff2-subset/Pretendard-Regular.woff2') format('woff2'), 
        url('../font/woff-subset/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard Light'), 
        url('../font/woff2-subset/Pretendard-Light.woff2') format('woff2'), 
        url('../font/woff-subset/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard Thin'),
        url('../font/woff2-subset/Pretendard-Thin.woff2') format('woff2'),
        url('../font/woff-subset/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing:
    border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
body, html {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    color:#333;
    background: #fff;
}
.hidden {
    display: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

html {
    direction: ltr;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    box-shadow: none !important;
}
body.no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.font-xxxlg {
    font-size: 33px;
}
.font-xxlg {
    font-size: 26px;
}
.font-xlg {
    font-size: 21px;
}
.font-lg {
    font-size: 20px;
}
.font-md {
    font-size: 18px;
}
.font-sm {
    font-size: 17px;
}
.font-xsm {
    font-size: 15px;
}
.font-xxsm {
    font-size: 14px;
}
.font-xxxsm {
    font-size: 11px;
}
@media (max-width:991px) {
    .font-xxxlg {
        font-size: 27px;
    }
    .font-xxlg {
        font-size: 21px;
    }
    .font-xlg {
        font-size: 17px;
    }
    .font-lg {
        font-size: 16px;
    }
    .font-md {
        font-size: 15px;
    }
    .font-sm {
        font-size: 14px;
    }
    .font-xsm {
        font-size: 13px;
    }
    .font-xxsm {
        font-size: 12px;
    }
    .font-xxxsm {
        font-size: 11px;
    }
}
/* =================================
    font weight
================================= */
.thin,
.font-weight-100 {
   font-weight: 100 !important;
}
.light,
.font-weight-300 {
   font-weight: 300 !important;
}
.normal,
.font-weight-400 {
   font-weight: 400 !important;
}
.semi-bold,
.font-weight-500 {
   font-weight: 500 !important;
}
.bold,
.font-weight-600 {
   font-weight: 600 !important;
}
.extra-bold,
.font-weight-700 {
   font-weight: 700 !important;
}
@media (max-width:991px) {
    .sm-thin,
    .sm-font-weight-100 {
       font-weight: 100 !important;
    }
    .sm-light,
    .sm-font-weight-300 {
       font-weight: 300 !important;
    }
    .sm-normal,
    .sm-font-weight-400 {
       font-weight: 400 !important;
    }
    .sm-semi-bold,
    .sm-font-weight-500 {
       font-weight: 500 !important;
    }
    .sm-bold,
    .sm-font-weight-600 {
       font-weight: 600 !important;
    }
    .sm-extra-bold,
    .sm-font-weight-700 {
       font-weight: 700 !important;
    }
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom; /* input 정렬 */
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.opacity-8 {
    opacity: .8;
}

.div-line {
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
}
.div-line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #333;
}
.pc-display-none {
    display: none;
}
@media (max-width:991px) {
    .mo-display-none {
        display: none!important;
    }
    .pc-display-none {
        display: block;
    }
}

.title-img {
    width: 365px;
    height: auto;
    margin: 0 auto;
}
.separation {
    position: relative;
}
.separation::before {
    content: "";
    width: 1px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #fff;
}

.container {
    position: relative;
    max-width: var(--container-width);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.container-full .container {
    max-width: 100% !important;
}

@media (max-width:991px) {
    .sm-container-full,
    .sm-container-full .container,
    .sm-padding-fit {
        padding-left: 0px;
        padding-right: 0px;
    }
    .sm-margin-fit {
        margin-left: -10px;
        margin-right: -10px;
    }
    .sm-display-none {
        display: none;
    }
}


#mo-bottom-nav {
    display: none;
}

/*** 아이템 뱃지 컨디션 ***/
.item-condition {
    display: inline-block;
    border-radius: 15px;
    padding: 3px 20px;
    font-size: 14px;
    margin-right: 7px;
}
/* 새상품 */
.item-conditionA-1 {
    color: var(--scPoint);
    background-color: #fff;
    border: 1px solid var(--scPoint);
}
/* A급리퍼 */
.item-conditionA-2 {
    color: #fff;
    background-color: var(--scPoint);
    border: 1px solid var(--scPoint);
}
/* 박스개봉 */
.item-conditionA-3 {
    color: #fff;
    background-color: #014023;
    border: 1px solid #014023;
}
/* 단기사용 */
.item-conditionA-4 {
    color: #fff;
    background-color: #009eff;
    border: 1px solid #009eff;
 }
/* 가성비중고 */
.item-conditionA-5 {
    color: #fff;
    background-color: #6845c1;
    border: 1px solid #6845c1;
}
/* 해외리퍼 */
.item-conditionA-6 {
    color:#fff;
    background-color: #fe9592;
    border: 1px solid #fe9592;
}
/* 스크레치, 신품수준, 짧은사용, 가성비, 무료배송 */
.item-conditionB-1 {
    color: #3c82ff;
    background-color: #fff;
    border: 1px solid #3c82ff;
}
/* 서브상태값 */
.item-conditionB-2 {
    color: #6e3caa;
    background-color: #fff;
    border: 1px solid #6e3caa;
}

/********* nav ************/
header {
    width: 100%;
    /*min-width: calc(1380px + 120px);*/
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 -2px 12px 0 rgba(0,0,0,.06), 0 -1px 4px 0 rgba(0,0,0,0.18);
}
.mo-header {
    display: none;
}
.header-top {
    width: 100%;
    background-color: #fff;
}
.header-top-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-group {
    height: 100%;
    display: flex;
    justify-content: flex-start
    align-items: center;
}
.logo-group.logo-center {
    width: var(--ctg-all-width);
    justify-content: center !important;
}
/*.logo a {
    display: inline-flex;
}*/
.main-header-middle
.searchSection {
    position: relative;
}
.searchBar {
    width: 600px;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 35px;
    position: relative;
    z-index: 99999;
}
.searchBar.on {
    background: transparent;
}
#searchInput {
    width: calc(100% - 95px);
    height: 50px;
    margin-left: 40px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
}
.searchBar.on #searchInput {
    border-bottom: 1px solid #d1d1d1;
}
.search-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.search-icon::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: url('/image/search.png') no-repeat center/contain;
}
.searchBar.on .search-icon::after {
    background: url('/image/search-grey.png') no-repeat center/contain;
}
.searchBar-open {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--scPoint);
    border-radius: 30px;
    z-index: 9999;
    background-color: #fff;
    padding-top: 50px;
    display: none;
}
.searchBar-open.on {
    display: block;
}
.searchBar-banner-slide {
    position: relative;
    margin: 20px 30px;
}
.swiper-searchBar {
    margin: 0 30px;
}
.searchBar-banner-slide li {
    text-align: center;
    padding: 10px 30px;
}
.searchBar-prev, .searchBar-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #666;
    z-index: 99;
    cursor: pointer;
}
.searchBar-prev {
    left: 0;
    background: url("../image/left-arrow-grey.png") no-repeat center;
}
.searchBar-next {
    right: 0;
    background: url("../image/right-arrow-grey.png") no-repeat center;
}
.searchWord-tab {
    display: flex;
}
.searchWord-tab li {
    flex: 1;
    text-align: center;
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.searchWord-tab li.on {
    color: #0c2da3;
}
.searchWord-tab li::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
}
.searchWord-tab li.on::before {
    background-color: #0c2da3;
}
.searchWord-content>div {
    width: 100%;
    height: auto;
    display: none;
    font-weight: 500;
}
.searchWord-content>div.on {
    display: block;
}
.popular-searchWord {
    flex-direction: column;
    padding: 30px 65px;
}
.popular-searchWord li {
    padding: 7px 0;
}
.popular-searchWord p {
    font-size: 14px;
    font-weight: 300;
    text-align: end;
}
.ranking {
    display: inline-flex;
    width: 23px;
    height: 23px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--scPoint);
    color: var(--scPoint);
    font-weight: 500;
    margin-right: 20px;
}
.top-ranking {
    background-color: var(--scPoint);
    color: #fff;
}
.suggestion-searchWord>ul {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 30px 110px 30px;
}
.suggestion-searchWord>ul>li {
    margin-right: 20px;
    padding: 5px 0;
}
.suggestion-searchWord>ul>li>a {
    display: inline-block;
    padding: 5px 17px;
    font-weight: 300;
    background: #eaeef4;
    border-radius: 30px;
}
.userMenu ul {
    padding-right: 20px;
}
.userMenu ul {
    display: flex;
}
.userMenu ul li>a {
    padding: 0 20px;
    position: relative;
    color: #666;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*.userMenu ul li>a.color-blue {
    color: var(--scPoint);
}*/
.userMenu ul li.active >a {
    color: var(--scPoint);
}
.userMenu ul li.active svg path {
    fill: var(--scPoint);
}
.userMenu ul li:last-child>a {
    padding: 0 0 0 20px;
}
.userMenu ul li>a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    position: absolute;
    bottom: 2px;
    right: 0;
    background-color: #d1d1d1;
}
.userMenu ul li:last-child>a::after {
    content: none;
}
.userMenu ul li>a>i {
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
}
.login-icon {
    background: url("../image/header/login.png") no-repeat center/contain;
}
.userMenu>ul>li:hover .login-icon {
    background: url("../image/header/login-active.png") no-repeat center/contain;
}
.logout {
    background: url("../image/header/logout.png") no-repeat center/contain;
}
.userMenu>ul>li:hover .logout {
    background: url("../image/header/logout-active.png") no-repeat center/contain;
}
.signUp {
    background: url("../image/header/signUp.png") no-repeat center/contain;
}
.myShopping {
    background: url("../image/header/myShopping.png") no-repeat center/contain;
}
.cart {
    background: url("../image/header/cart.png") no-repeat center/contain;
}
.userMenu>ul>li:hover .cart {
    background: url("../image/header/cart-active.png") no-repeat center/contain;
}
.sc {
    background: url("../image/header/sc.png") no-repeat center/contain;
}
.userMenu>ul>li:hover .sc {
    background: url("../image/header/sc-active.png") no-repeat center/contain;
}

nav {
    height:70px;
    display: flex;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    border-right: 1px solid #d1d1d1;
}
.menu-btn {
    width: 25px;
    height: 20px;
    background: url('/image/menu-btn-w.png') no-repeat center/contain;
}
.menu-btn-wrap {
    width: var(--ctg-all-width);
    height:100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    cursor: pointer;
    background-color: var(--scPoint);
    color: #fff;
}
.menu-btn-wrap>p {
    text-indent: 20px;
    color: #ffffff !important;
}
.swiper-gnb {
    width: calc(100% - 410px);
    margin-left: initial;
    margin-right: initial;
}
.gnb {
    padding: 0 15px;
}
.gnb > li {
    width: auto;
}
.gnb > li.active a {
    color: var(--scPoint) !important;
}
.gnb > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 18px;
    position: relative;
}
.gnb > li > a:hover {
    color: var(--scMenu) !important;
}
.swiper-gnb-next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 999;
    cursor: pointer;
    transform: translateY(-50%);
    display: block;
    justify-content: center;
    pointer-events: none;
    width: 30px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0.3), rgba(255,255,255,1));
}
.swiper-gnb-next::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff url('/image/more-arrow.png') no-repeat center/contain;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.gnb-disabled {
    opacity: 0;
}
.snb {
    height: 100%;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}
.snb::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 15px;
    background: #d1d1d1;
}
.snb a {
    height: 100%;
    padding: 0 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
}
nav .gnb-ctg-all {
    position: absolute;
    top: 100%;
    left: var(--ctg-all-width);
    display: none;
}

/* new - 아이콘 */
.new a::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.12 16.12'%3E%3Ccircle cx='8.06' cy='8.06' r='8.06' style='fill:%23009eff'/%3E%3Cpath d='M11.83 4.17v7.79h-1.47L6.01 6.63h-.08v5.32H4.28V4.17h1.49l4.34 5.32h.08V4.17h1.64Z' style='fill:%23fff'/%3E%3C/svg%3E") no-repeat center/contain;
    position: absolute;
    top: calc(50% - 1.25em);
    right: 0;
}
/*.new a svg {
    position: absolute;
    right: 0;
    top: calc(50% - 1.25em);
    overflow: hidden;
    width: 16px;
    height: 16px;
}*/

/*** 기본 썸네일 ***/
.thumbnail {
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}

.thumbnail-wide .thumbnail {
    flex-direction: row !important;
}


/* ==================================
    animation Settings
==================================== */
/* 배경형 */
.body-thumb-bg .bg-thumb{/*(label 태그 다음)*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
}

/* 테두리형 */
.body-thumb-border .prod_event .prod_thumb_link{
    border: 1px solid #d5d5d5;
}

/* 테두리 그림자형 */
.body-thumb-shadow .prod_event .prod_thumb_link{
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 12%);
}
.body-thumb-shadow .value_group,
 .ani-thumb-shadow .value_group{
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

/* 배경형(애니메이션) */
.ani-thumb-bg .bg-thumb{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    opacity: 0;
}

.ani-thumb-bg .prod_event:hover .bg-thumb {
    transition: 0.1s;
    opacity: 1;
}

/* 테두리 그림자형(애니메이션) */
/*.ani-thumb-shadow .prod_event:hover .prod_thumb_link {
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 12%);
    transition: 0.1s;
}*/
.ani-thumb-shadow .thumbnail:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    transition: 0.2s;
}

.thumbnail img {
    transition: all .4s ease;
}
.thumbnail:hover img {
	transform: scale(1.05);
	/*transition: .4s;*/
}
/*.box-outline {
    border: 1px solid #d1d1d1;
    border-radius: 15px;
}
.boxShadow {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border-radius: 15px;
}
.ani-thumb-shadow .thumbnail:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border-radius: 15px;
}*/
/*-------------------*/

.swiper-all {
    position: relative;
    /*width: calc(1380px + 85px);*/
    margin: auto;
}
.swiper-all .swiper-slide {
    border-radius: 15px;
    padding: 5px;
}

.item-info {
    display: flex;
	flex-direction: column;
    margin-top: 15px;
}
.thumbnail-wide .item-info {
    margin-top: 0px !important;
}
.item-info>div {
    margin-bottom: 10px;
}
.item-info>div:last-child {
    margin-bottom: 0px;
}

.item-inner-wrap {
    display: flex;
	width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.item-title {
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-color {
    width: 100%;
    height: 19px;
    display: flex;
    align-items: center;
}
.item-color>span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #999;
    margin-right: 5px;
    position: relative;
}
.item-color>span>span {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
.item-color>span:nth-child(1)>span {
    background-color: #fff;
}
.item-color>span:nth-child(2)>span {
    background-color: #617a7a;
}
.item-color>span:nth-child(3)>span {
    background-color: #000;
}
.item-price {
    display: flex;
    align-items: center;
}
.discount-price {
    font-size: 21px;
    font-weight: 600;
}
.real-price {
    font-weight: 300;
    color: #999;
    padding-left: 7px;
    text-decoration: line-through;
}
.discount-rate {
    font-size: 26px;
    color: #ff0000!important;
    font-weight: 600;
}
.grade-wrap, .wish, .grade {
    display: flex;
    align-items: center;
}
.grade {
    margin-right: 5px;
}
.star, .heart {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.star {
    background: url("../image/star.png") no-repeat center/contain;
    margin-right: 3px;
}
.heart {
    background: url("../image/heart.png") no-repeat center/contain;
    cursor: pointer;
    margin-left: 5px;
}
.heart.active {
    background: url("../image/heart-blue.png") no-repeat center/contain;
}
.delivery {
    display: inline-block;
    width: 30px;
    height: 20px;
    background: url("../image/delivery.png") no-repeat center/contain;
    margin-right: 3px;
}
.card {
    display: inline-block;
    width: 18px;
    height: 15px;
    background: url("../image/card.png") no-repeat center/contain;
    margin-right: 3px;
}
.item-footer {
    display: flex;
}
.item-footer>span {
    display: inline-flex;
    align-items: center;
}
.won {
    font-size: .7em;
    font-weight: 400;
}

/*** 썸네일 슬라이드 화살표 커스텀 ***/
.btn-disabled {
    display: none;
}
.prev-custom, .next-custom {
    position: absolute;
    top: 45%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
.prev-custom {
    left:0;
    background: #fff url("../image/thumb-arrow-left.png") no-repeat center/12px auto;
}
.next-custom {
    right:0;
    background: #fff url("../image/thumb-arrow-right.png") no-repeat center/12px auto;
}

/*** non-슬라이드 썸네일 ***/
.col-list {
    display: flex;
    flex-wrap: wrap;
}
.col-list>li {
    padding: 10px;
    position: relative;
}
.lg-1col>* {
    width: 100%;
}
.lg-2col>* {
    width: 50%;
}
.lg-3col>* {
    width: 33.33%;
}
.lg-4col>* {
    width: 25%;
}
.lg-5col>* {
    width: 20%;
}
@media (max-width:991px) {
    .sm-1col>* {
        width: 100%;
    }
    .sm-2col>* {
        width: 50%;
    }
    .sm-3col>* {
        width: 33.33%;
    }
    .sm-4col>* {
        width: 25%;
    }
    .sm-5col>* {
        width: 20%;
    }
}

/*** 모든 페이지 공통 tab 디자인 ***/

/*** 대분류 썸네일 카테고리 ***/
.thumbnail-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.thumbnail-icon img {
	width: auto;
	height: 64px;
	max-width: 64px;
}
.thumbnail-icon span {
	font-size: 13px;
	font-weight: 400;
	letter-spacing: -.5px;
	margin-top: 2px;
    white-space: nowrap;
}

/* svg */
svg {
    overflow: visible;
}

.thumbnail-icon svg {
	width: auto;
	height: 40px;
	max-width: 40px;
}
.thumbnail-icon svg path {
    -webkit-transition: all .3s;
    transition: all .3s ease;
}
.thumbnail-icon:active svg path,
.thumbnail-icon:hover svg path {
    fill: var(--scPoint);
    transform: scale(1.1);
    transform-origin: center bottom;
}


.sticky {
    position: sticky;
    left: 0;
    z-index: 999;
}
.ctg-tab-cover {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    background-color: #fff;
}
.ctg-tab>li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 20px;
    font-size: 18px;
    cursor: pointer;
    height: 140px;
    min-width: 130px;
    border-bottom: 2px solid transparent;
}
.ctg-tab>li.on {
    /*background-color: #f7f7f7;*/
    border-bottom: 2px solid var(--scMenu);
}
.ctg-tab>li.on a{
    color: var(--scPoint);
    font-weight: 600;
}
.ctg-tab>li:hover {
    /*background-color: #f7f7f7;*/
    border-bottom: 2px solid var(--scBlack);
}
.ctg-tab>li:hover span {
    color: var(--scPoint);
}
.ctg-tab>li:hover img {
    transform: scale(1.25);
}
.ctg-tab>li img {
    transition: all .5s ease;
}
/*.ctg-tab>li:hover span {
    transform: scale(0.95);
    transition: all .1s ease;
}*/
@media (max-width:991px) {
    .ctg-tab>li {
        flex: none;
        width: auto;
        height: auto;
        font-size: 16px;
        min-width: auto;
        /*padding: 15px;*/
    }
}

/*.ctg-tab>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ctg-tab-title{
    margin-top: 15px;
}
.ctg-tab-icon {
    display: block;
    width: 50px;
    height: 45px;
}*/

/*.ctg-tab-menu {
    background: url("../image/menu-btn-blue.png") no-repeat center/25px 15px;
}
.ctg-tab-icon1 {
    background: url("../image/category-icon1.png") no-repeat center/contain;
}
.ctg-tab-icon2 {
    background: url("../image/category-icon2.png") no-repeat center/contain;
}
.ctg-tab-icon3 {
    background: url("../image/category-icon3.png") no-repeat center/contain;
}
.ctg-tab-icon4 {
    background: url("../image/category-icon4.png") no-repeat center/contain;
}
.ctg-tab-icon5 {
    background: url("../image/category-icon5.png") no-repeat center/contain;
}
.ctg-tab-icon6 {
    background: url("../image/category-icon6.png") no-repeat center/contain;
}
.ctg-tab-icon7 {
    background: url("../image/category-icon7.png") no-repeat center/contain;
}
.ctg-tab-icon8 {
    background: url("../image/category-icon8.png") no-repeat center/contain;
}
.ctg-tab-icon9 {
    background: url("../image/category-icon9.png") no-repeat center/contain;
}*/

/*.ctg-tab-content>li {
    display: none;
}
.ctg-tab-content>li.on {
    display: block;
}*/

.ctg-tab-content .item-img a {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.ctg-tab-content .item-img img {
    width: 240px;
    height: 240px;
}


/*** footer ***/
footer {
    width: 100%;
}
.footer-top {
    width: 100%;
    height: 60px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}
.footer-top-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu {
    display: flex;
}
.footer-menu li>a {
    padding: 0 17px;
    font-size: 15px;
    font-weight: 500;
    color: #666;
}
.footer-menu li:first-child>a {
    padding: 0 17px 0 0;
}
.footer-sns {
    display: flex;
    align-items: center;
    height: 100%;
}
.footer-sns li {
    padding: 0 10px;
}
.footer-sns li:last-child {
    padding: 0 0 0 10px;
}
.footer-sns li>a {
    display: inline-block;
    width: auto;
    height: 25px;
}
.footer-bottom {
    background-color: #f6f6f6;
}
.footer-content {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.footerLogo {
    width: 155px;
}
.footerLogo a {
    display: block;
    width: 100%;
}
.footerLeft {
    width: 50%;
    padding: 0 25px;
    color: #666;
}
.comp-info p {
    padding-bottom: 2px;
    font-weight: 300;
}
.comp-info .separation::before {
    height: 10px;
}
.policy {
    padding-top: 15px;
}
.policy span {
    text-decoration: underline;
    padding: 0 25px;
    position: relative;
}
.policy span:first-child {
    padding: 0 25px 0 0;
}
.policy span::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #666;
    width: 1px;
    height: 13px;
}
.policy span:last-child::after {
    content: none;
}
.award-list {
    padding: 20px 70px 0 0;
    display: flex;
}
.award-list li {
    flex: 1;
}
.award-list li a {
    display: inline-flex;
    color: #666;
    font-size: 12px;
}
.award-icon {
    display: inline-block;
    width: 30px;
    margin-right: 5px;
}
.award-icon1 {
    background: url("../image/award1.png") no-repeat center/contain;
}
.award-icon2 {
    background: url("../image/award2.png") no-repeat center/contain;
}
.award-icon3 {
     background: url("../image/award3.png") no-repeat center/contain;
 }
.copyright {
    font-size: 11px;
    font-weight: 300;
    padding-top: 10px;
}



.footerRight {
    width: calc(100% - 50% - 155px);
}
.footerRight h3 {
    font-size: 20px;
    font-weight: 400;
}
.center-info-wrap {
    display: flex;
}
.center-tell p {
    color:var(--scPoint);
    font-size: 33px;
    font-weight: 700;
}
.center-info {
    padding: 0 25px;
    font-weight: 300;
}
.center-info-notice {
    padding-top: 10px;
    color: #666;
}
.simpleCheck {
    color: var(--scPoint);
    font-weight: 400;
}
.triangle {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../image/triangle.png") no-repeat center/contain;
}
.footer-btn {
    padding-top: 25px;
}
.footer-btn ul {
    display: flex;
}
.footer-btn ul li {
    border: 1px solid #d1d1d1;
    margin-right: 10px;
    flex: 1;
    text-align: center;
    background-color: #fff;
}
.footer-btn ul li:last-child {
    margin-right: 0;
}
.footer-btn ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color:#666;
    font-size: 15px;
    font-weight: 300;
}

/*** 구매하기 버튼 ***/
.purchase-btn {
    border: 1px solid #d1d1d1;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
}
.purchase-btn2 {
    display: flex;
    justify-content: center;
}
.purchase-btn2 a {
    border: 1px solid #0c2da3;
    border-radius: 30px;
    padding: 10px 120px;
    color: #0c2da3;
}



/*** 모달창 ***/
.modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.8);
    overflow-y: scroll;
}
.modal {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
}

.display-flex {
    display: flex;
}
.display-inline-flex {
    display: inline-flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.flex-right {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.alignItems-center {
    align-items: center;
}
.position-relative {
    position: relative;
}
.width-100 {
    width: 100%;
}
.mt-30 {
    margin-top: 30px;
}
.mt-45 {
    margin-top: 45px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
     margin-bottom: 10px;
 }
.mb-15 {
    margin-bottom: 15px;
}
.flex-1 {
    flex: 1;
}
