@media (max-width:767px) {
    .swiper-all {
        width: 100%;
        padding-left: 25px;
        overflow: hidden;
    }
    .swiper-timeSale {
        padding-right: 25%;
    }
    .swiper-event-item-group1 {
        padding-right: 7%;
    }
    .swiper-thumbnail {
        overflow: initial;
    }
    .prev-custom, .next-custom {
        display: none;
    }

    /*** 썸네일 슬라이드 [공통] ***/
    .item-condition {
        padding: 2px 12px;
        font-size: 11px;
        margin-right: 0;
    }
    .item-inner-wrap {
        font-size: 12px;
    }
    .stock-quantity {
        font-size: 13px;
    }
    .item-price {
        font-size: 13px;
        flex: 1;
    }
    .item-title {
        font-size: 14px;
        height: 32px;
    }
    .discount-price {
        font-size: 14px;
    }
    .discount-rate {
        font-size: 24px;
    }
    .purchase-btn {
        padding: 5px 20px;
        font-size: 13px;
    }
    .item-img {
        padding: 0;
    }
    .item-footer {
        font-size: 12px;
    }
    .star, .heart {
        width: 16px;
        height: 16px;
    }

    /* 타임세일 */
    .timeSale .swiper-slide {
        padding: 20px;
    }
    .timeSale .item-img {
        padding: 0 25% 0;
    }
    .timeSale .item-title {
        font-size: 16px;
        height: 40px;
    }
    .timeSale .discount-price {
        font-size: 16px;
    }


    /* 반값 이벤트 */
    .halfPrice .swiper-slide {
        padding: 15px;
    }
}


@media (max-width:539px) {
    .timeSale .item-img {
        padding: 20px 0 0 0;;
    }
    .grade-wrap {
        flex-direction: column;
    }
    .grade {
        margin-right: 0;
        margin-bottom: 2px;
    }
    .item-inner-wrap.item-bedge-wrap {
        flex-direction: column;
        align-items: start;
    }
    .item-bedge {
        display: flex;
        order: 2;
    }
    .item-bedge span:first-child {
        margin-right: 5px;
    }
    .buy-count {
        margin-bottom: 5px;
        order: 1;
    }
    .item-color>span {
        width: 13px;
        height: 13px;
    }
    .item-color>span>span {
        width: 9px;
        height: 9px;
    }
}