@media (max-width:991px) {
    body, html {
        min-width: 100%;
    }

    .container {
        width: 100%;
        padding: 0 10px;
    }

    header {
        display: none;
    }
}
@media (max-width:991px) {
    /*** 모바일 header ***/
    .mo-header {
        display: block;
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: #fff;
    }

    .mo-header-top {
        display: flex;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        padding: 12px 15px;
    }

    .mo-header-left {
        height: 100%;
        display: flex;
        align-items: end;
    }

    .mo-logo {
        height: 100%;
        margin-right: 15px;
    }

    .mo-logo a {
        height: 100%;
        display: flex;
    }

    .mo-header-right {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .mo-search {
        width: 17px;
        height: 17px;
        background: url(../image/search.png) no-repeat center/contain;
        cursor: pointer;
    }

    .shopping-basket {
        width: 17px;
        height: 17px;
        background: url(../image/star.png) no-repeat center/contain;
        margin-left: 15px;
        cursor: pointer;
    }

    .mo-nav {
        height: 50px;
        display: flex;
        font-weight: 600;
    }

    .swiper-gnb {
        width: 100%;
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
    }

    .gnb {
        padding: 0;
    }

    .swiper-gnb-next::after {
        content: none;
    }

    .mo-nav li.on a {
        color: #314ad7;
    }

    .mo-nav li.on a::before {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 36px);
        height: 2px;
        background-color: #314ad7;
    }

    .new a::after {
        width: 15px;
        height: 15px;
        right: 1px;
    }

    /*** 메인 슬라이드 ***/
    .main-slide {
        min-width: auto;
        padding-top: 100px;
    }

    .swiper-main-image {
        width: 100%;
        height: auto;
        transform: translateX(0);
    }

    /*** 썸네일 슬라이드 ***/
    .swiper-all {
        width: 100%;
        overflow: hidden;
    }

    .swiper-newperDeal {
        padding-right: 25%;
    }

    .swiper-event-group1 {
        padding-right: 9%;
    }

    .swiper-event-group2 {
        padding-right: 12%;
    }

    .swiper-thumbnail {
        overflow: initial;
    }

    .prev-custom, .next-custom {
        display: none;
    }

    /* 썸네일 슬라이드 [공통] */
    .item-condition {
        padding: 2px 12px;
        font-size: 11px;
        margin-right: 0;
    }

    .item-inner-wrap {
        font-size: 12px;
    }

    .stock-quantity {
        font-size: 13px;
    }

    .item-price {
        font-size: 13px;
        flex: 1;
    }

    .item-title {
        font-size: 14px;
        height: 32px;
    }

    .discount-price {
        font-size: 14px;
    }

    .discount-rate {
        font-size: 24px;
    }

    .purchase-btn {
        padding: 5px 20px;
        font-size: 13px;
    }

    .item-img {
        padding: 0 10px;
    }

    .item-img img {
        width: 100%!important;
        height: auto!important;
        object-fit: contain;
    }

    .item-footer {
        font-size: 12px;
    }

    .star, .heart {
        width: 16px;
        height: 16px;
    }

    @media (max-width: 500px) {
        .swiper-event-group1 .item-price, .swiper-event-group2 .item-price, .swiper-event-group4 .item-price {
            flex-direction: column;
            align-items: stretch;
        }
        .swiper-event-group1 .real-price, .swiper-event-group2 .real-price, .swiper-event-group4 .real-price {
            padding-left: 0;
        }
        .swiper-event-group4 .item-footer span i {
            display: none;
        }
    }
    @media (max-width: 460px) {
        .swiper-todayBest .item-price, .swiper-md-content .item-price {
            flex-direction: column;
            align-items: stretch;
        }
        .swiper-todayBest .real-price, .swiper-md-content .real-price {
            padding-left: 0;
        }
    }
    @media (max-width: 400px) {
        .item-condition {
            padding: 2px 5px;
            font-size: 10px;
        }
        .discount-rate {
            font-size: 21px;
        }
        .swiper-md-content .item-footer span i {
            display: none;
        }
    }
    @media (max-width: 370px) {
        .swiper-event-group1 .item-footer span i, .swiper-todayBest .item-footer span i {
            display: none;
        }
    }

    /* 뉴퍼딜 */
    .newperDeal .swiper-slide {
        padding: 20px;
    }

    .newperDeal .item-title {
        font-size: 16px;
        height: 40px;
    }

    .newperDeal .discount-price {
        font-size: 16px;
    }

    /* 반값 이벤트 (이벤트 상품 그룹 1) */
    .swiper-event-group1 .swiper-slide {
        padding: 15px;
    }

    @media (max-width: 400px) {
        .swiper-event-group1 .swiper-slide {
            padding: 10px;
        }
    }

    @media (max-width: 539px) {
        .time {
            flex-direction: column;
        }

        .grade-wrap {
            flex-direction: column;
        }

        .grade {
            margin-right: 0;
            margin-bottom: 2px;
        }

        .item-inner-wrap.item-bedge-wrap {
            flex-direction: column;
            align-items: start;
        }

        .item-bedge {
            display: flex;
            order: 2;
        }

        .item-bedge span:first-child {
            margin-right: 3px;
        }

        .buy-count {
            margin-bottom: 5px;
            order: 1;
        }

        .item-color > span {
            width: 13px;
            height: 13px;
        }

        .item-color > span > span {
            width: 9px;
            height: 9px;
        }

        .swiper-newperDeal .item-info .item-inner-wrap:last-child {
            flex-wrap: wrap;
            justify-content: end;
        }
    }
    /*** 한정수량 일일특가 (이벤트 상품 그룹 2) ***/
    .swiper-event-group2 {
        height: auto;
    }

    .swiper-event-group2 .swiper-slide {
        height: calc((100% - 10px) / 2) !important;
    }

    .swiper-event-group2 .item-img {
        padding: 0;
    }

    .swiper-event-group2 .item-info {
        padding-left: 20px;
    }

    @media (max-width: 400px) {
        .swiper-event-group2 .swiper-slide {
            padding: 5px;
        }
    }

    /*** 뉴퍼마켓 숨은 꿀템 (이벤트 상품 그룹 3) ***/
    .swiper-event-group3 {
        padding-right: 30%;
    }

    /*** 알짜만 모아모아 기획전 (이벤트 상품 그룹 4) ***/
    .swiper-event-group4 {
        padding-right: 12%!important;
    }
    .special-exhibition-thumb {
        width: 100%;
        height: auto;
    }

    /*** TODAY BEST ***/
    .realTime-trend {
        display: none;
    }
    .todayBest-tab-wrap {
        width: 100%;
        padding-left: 0;
    }
    .todayBest-tab li {
        padding: 5px 20px!important;
    }

    /*** MD 추천 카테고리 ***/
    .ctg-tab>li {
        flex: none;
        width: auto;
        padding: 15px;
        font-size: 16px;
        height: 128px;
    }
    .swiper-ctg-tab.container {
        padding: 0;
    }
    .ctg-tab-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ctg-tab-content .swiper-all {
        padding: 0 15px;
    }
    .swiper-md-content {
        padding: 0;
    }
    .md-content-pagination {
        display: none;
    }

    /*** 리얼리뷰 ***/
    .swiper-realReview.container {
        padding: 0 15px;
    }
    .review-img img {
        width: 95%;
        height: auto;
        object-fit: contain;
    }
    .realReview-photo {
        width: 40%!important;
        height: auto!important;
    }
    .review-content {
        width: 90%;
        height: auto;
        background: #f6f6f6;
        border-radius: 15px;
        margin-bottom: 20px!important;
    }

    /*** 공지사항 ***/
    .notice-wrap {
        flex-direction: column;
    }
    .notice-wrap>div {
        width: 100%;
    }
    .notice-left {
        padding-right: 0;
    }
    .notice-right {
        padding-left: 0;
        padding-top: 20px;
    }

    /*** footer ***/
    .footer-top .container {
        padding: 0;
    }
    .footer-top {
        height: auto;
    }
    .footer-top-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-top-inner>ul {
        padding: 10px 0;
        width: 100%;
        justify-content: center;
    }
    .footer-menu {
        flex-wrap: wrap;
        border-bottom: 1px solid #d1d1d1;
    }
    .footer-menu li>a {
        padding: 0 7px!important;
    }
    .footer-sns {
        height: auto;
    }
    .footer-content {
        flex-direction: column;
        padding: 30px 0 100px;
    }
    .footerLeft, .footerRight {
        width: 100%;
    }
    .footerLogo {
        order: 2;
        display: none;
    }
    .footerLeft {
        padding: 30px 0;
        order: 3;
    }
    .footerRight {
        order: 1;
    }
    .policy {
        display: flex;
        flex-wrap: wrap;
    }
    .policy span:first-child {
        padding: 0 7px 0 0;
    }
    .policy span {
        padding: 0 7px;
    }
    .award-list {
        padding: 20px 0 0;
    }
    .copyright {
        padding-top: 20px;
    }
    @media (max-width:610px) {
        .center-info {
            padding: 15px 0 0;
        }
        .center-info-wrap {
            flex-direction: column;
        }
    }

    /*** 모바일 하단 네비게이션 [고정] ***/
    #mo-bottom-nav {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #fff;
        z-index: 9999;
        font-size: 14px;
        font-weight: 500;
    }
    .mo-bottom-nav {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        padding: 0 5px;
    }
    .mo-home {
        width: 85px;
        height: 85px;
        transform: translateY(-20px);
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        background-color: #fff;
    }
    .mo-bottom-nav li>a {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .mo-bottom-nav li>a>i {
        width: 27px;
        height: 27px;
        margin-bottom: 5px;
    }
    .nav-ctg {
        background: url("../image/menu-btn.png") no-repeat center;
    }
    .nav-zzim {
        background: url("../image/star.png") no-repeat center;
    }
    .nav-home {
        width: 35px!important;
        height: 35px!important;
        background: url("../image/star.png") no-repeat center;
    }
    .nav-my {
        background: url("../image/star.png") no-repeat center;
    }
    .nav-recent {
        background: url("../image/star.png") no-repeat center;
    }
}


