/********* nav ************/
header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    border-bottom: 2px solid #ebebeb;
}
.mo-header {
    display: none;
}
.header-top {
    width: 100%;
    height: 130px;
    background-color: #fff;
    border-bottom: 2px solid #ebebeb;
}
.header-top-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 280px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchSection {
    position: relative;
}
.searchBar {
    width: 600px;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 35px;
    position: relative;
    z-index: 99999;
}
.searchBar.on {
    background: transparent;
}
#searchInput {
    width: calc(100% - 95px);
    height: 50px;
    margin-left: 40px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
}
.searchBar.on #searchInput {
    border-bottom: 1px solid #d1d1d1;
}
.search-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.search-icon::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: url('/image/search.png') no-repeat center/contain;
}
.searchBar.on .search-icon::after {
    background: url('/image/search-grey.png') no-repeat center/contain;
}
.searchBar-open {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #314ad7;
    border-radius: 30px;
    z-index: 9999;
    background-color: #fff;
    padding-top: 50px;
    display: none;
}
.searchBar-open.on {
    display: block;
}
.searchBar-banner-slide {
    position: relative;
    margin: 20px 30px;
}
.swiper-searchBar {
    margin: 0 30px;
}
.searchBar-banner-slide li {
    text-align: center;
    padding: 10px 30px;
}
.searchBar-prev, .searchBar-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #666;
    z-index: 99;
    cursor: pointer;
}
.searchBar-prev {
    left: 0;
    background: url("../image/left-arrow-grey.png") no-repeat center;
}
.searchBar-next {
    right: 0;
    background: url("../image/right-arrow-grey.png") no-repeat center;
}
.searchWord-tab {
    display: flex;
}
.searchWord-tab li {
    flex: 1;
    text-align: center;
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.searchWord-tab li.on {
    color: #0c2da3;
}
.searchWord-tab li::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
}
.searchWord-tab li.on::before {
    background-color: #0c2da3;
}
.searchWord-content>ul {
    width: 100%;
    height: auto;
    display: none;
    font-weight: 500;
}
.searchWord-content>ul.on {
    display: flex;
}
.popular-searchWord {
    flex-direction: column;
    padding: 30px 65px;
}
.popular-searchWord li {
    padding: 7px 0;
}
.ranking {
    display: inline-flex;
    width: 23px;
    height: 23px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #314ad7;
    color: #314ad7;
    font-weight: 500;
    margin-right: 20px;
}
.top-ranking {
     background-color: #314ad7;
     color: #fff;
 }
.suggestion-searchWord {
    flex-wrap: wrap;
    padding: 30px 30px 110px 30px;
}
.suggestion-searchWord li {
    margin-right: 20px;
    padding: 5px 0;
}
.suggestion-searchWord li>a {
    display: inline-block;
    padding: 5px 17px;
    font-weight: 300;
    background: #eaeef4;
    border-radius: 30px;
}
.userMenu ul {
    display: flex;
}
.userMenu ul li>a {
    padding: 0 20px;
    position: relative;
    color: #999;
    font-size: 16px;
}
.userMenu ul li:hover >a {
    color: #0c2da3;
}
.userMenu ul li:last-child>a {
    padding: 0 0 0 20px;
}
.userMenu ul li>a::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #d1d1d1;
}
.userMenu ul li:last-child>a::after {
    content: none;
}
nav {
    width:1380px;
    height:70px;
    display: flex;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
}
.menu-btn {
    width: 25px;
    height: 20px;
    background: url('/image/menu-btn.png') no-repeat center/contain;
}
.menu-btn-wrap {
    width: 280px;
    height:100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    border-left: 2px solid #ebebeb;
    border-right:2px solid #ebebeb;
    cursor: pointer;
}
.menu-btn-wrap>p {
    text-indent: 20px;
}
.swiper-gnb {
    width: calc(100% - 410px);
    margin-left: initial;
    margin-right: initial;
}
.gnb {
    padding: 0 15px;
}
.gnb > li {
    width: auto;
}
.gnb > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 18px;
    position: relative;
}
.gnb > li > a:hover {
    color:#314AD7;
}
.swiper-gnb-next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 999;
    cursor: pointer;
    transform: translateY(-50%);
    display: block;
    justify-content: center;
    pointer-events: none;
    width: 30px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0.5), rgba(255,255,255,1));
}
.swiper-gnb-next::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff url('/image/more-arrow.png') no-repeat center/contain;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.gnb-disabled {
    opacity: 0;
}
.snb {
    height: 100%;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}
.snb::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 15px;
    background: #d1d1d1;
}
.snb a {
    height: 100%;
    padding: 0 18px;
    position: relative;
    display: inline-flex;
    align-items: center;
}

/* new - 아이콘 */
.new a::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url('/image/new.png') no-repeat center/contain;
    position: absolute;
    top: 20%;
    right: -0;
}

/********** swiper slide **********/
.main-slide {
    overflow:hidden;
    border-bottom: 2px solid #ebebeb;
    position: relative;
    padding-top: 200px;
    min-width: 1510px;
}
.swiper-main-image {
    overflow: initial;
    width: 1100px;
    height:520px;
    transform: translateX(140px);
}
.swiper-slide img {
    cursor: pointer;
}
.mo-img {
    display: none;
}

/* swiper arrow */
.swiper-prev, .swiper-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(17,17,17,0.5);
    color:#fff;
    transform:translateY(-50%) scale(1);
    transition: all 0.3s ease;
    margin-top:0;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}
.swiper-prev {
    left:-330px;
}
.swiper-next {
    right:-50px;
}
.swiper-prev::after, .swiper-next::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
}
.swiper-prev::after {
    background: url(../image/arrow-left.png) no-repeat 45%
}
.swiper-next::after {
    background: url(../image/arrow-right.png) no-repeat 55%;
}

/* 스와이퍼 우측 하단 페이지네이션 & 정지재생버턴 박스 */
.swiper-bottom-box {
    width: 110px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 135px;
}

/* pagination-custom */
.swiper-pagination-custom {
    width: 100%;
    height: 100%;
    background: rgba(17,17,17,0.4);
    border-radius: 50px;
    color:#fff;
    bottom: 0;
    z-index: 1;
    line-height: 40px;
    text-align: initial;
    text-indent: 15px;
}
.current-num {
    font-size: 21px;
}

/* button-player */
.swiper-button-play, .swiper-button-pause {
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.swiper-button-play {
    background: rgba(17,17,17,0.5) url(../image/play.png) no-repeat 55%; display: none;
}
.swiper-button-pause {
    background: rgba(17,17,17,0.5) url(../image/pause.png) no-repeat 53%;
}

/* swiper-progress-bar */
.swiper-progress-bar {
    position: relative;
    bottom:0;
    left:0;
    width: 100%;
    height: 2px;
    z-index: 1;
}
.slide-progress-bar {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}
.slide-progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #314AD7;
}
.swiper-progress-bar.animate .slide-progress-bar::after {
    transition: width linear;
    width: 100%;
    transition-duration: 3s;
}

/* 더보기 버튼 */
.more-view {
    position: absolute;
    bottom: 30px;
    right: 60px;
    width: 70px;
    height: 40px;
    z-index: 1;
    font-size: 14px;
    color: #fff;
    background: rgba(1, 1, 1, 0.4);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 슬라이드 이미지 내부 고정 - 좌측 nav category all */
.ctg-all {
    width:280px;
    height:520px;
    position: absolute;
    top:0;
    left:-280px;
    z-index: 3;
    background-color: #fff;
    padding: 10px 0;
    border-left: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
}
.ctg-all>li {
    width: 100%;
    height: calc(500px / 9);
}
.ctg-all>li>a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 35px;
    font-size: 18px;
    font-weight: 500;
}
.ctg-all>li.on>a {
    background-color: #314ad7;
    color:#fff;
}
.ctg-all .separation {
    display: inline-block;
    margin: 0 10px;
}
.ctg-all>.separation::before {
    width: 2px;
    background: #d1d1d1;
}
/* 좌측 nav category 서브 메뉴 열림 */
.ctg-open {
    display: flex;
    width: 1100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% + 2px);
    background-color: #fff;
}
.ctg-first-area {
    width: 457px;
    height: 100%;
    position: relative;
}
.ctg-first-area>ul {
    width: 45%;
    height: 100%;
    position: relative;
    padding: 20px 0 0 50px;
}
.ctg-first-area>ul>li, .first-area-sub li {
    padding: 6px 0;
}
.ctg-first-area>ul li a {
    display: inline-flex;
    width: auto;
    height: 100%;
    position: relative;
}
.ctg-first-area>ul li:hover>a {
    color: #314ad7;
}
.ctg-first-area>ul li:hover>a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    height: 2px;
    background-color: #0c2da3;
}
.first-area-sub {
    width: calc(457px - 100%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 20px 0 0 50px;
    border-left: 1px solid #d1d1d1;
}
.ctg-second-area {
    width: calc(100% - 457px);
    height: 100%;
    display: flex;
}
.second-area-1 {
    width: 30%;
    border-left: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
}
.second-area-1 li {
    flex: 1;
    padding: 20px;
}
.second-area-1 li img {
    object-fit: contain;
    padding: 5px;
}
.second-area-1 .item-title {
    font-size: 12px;
    font-weight: 500;
}
.second-area-1 .discount-price {
    font-size: 16px;
}
.second-area-1 .real-price, .second-area-1 .item-price {
    font-size: 12px;
}
.second-area-2 {
    width: 70%;
}
.second-area-2>a {
    display: block;
    width: 100%;
    height: 100%;
}
.second-area-2 img {
    height: 100%;
    object-fit: cover;
}
/*** section ***/
.section-title {
    text-align: center;
    font-weight: 600;
}
.swiper-thumbnail {
    margin: 30px auto;
    overflow: hidden;
}


/* 타임세일 이벤트 */
.time {
    text-align: center;
    font-size: 30px;
    color: #999;
    font-weight: 500;
    margin-top: 20px;
}
.time-num {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #0c2da3;
    color: #fff;
    border-radius: 10px;
    margin: 0 15px;
}
.time-colon {
    display: inline-block;
    transform: translateY(-3px);
}
.timeSale .swiper-slide {
    padding: 30px;
    border: 1px solid #d1d1d1;
}

.timeSale .item-img {
    padding: 0 105px 10px;
    position: relative;
}
.stock-quantity {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
}
.timeSale .item-title {
    font-size: 20px;
    height: 48px;
}
.purchase-btn {
    border: 1px solid #d1d1d1;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
}
/* 반값 이벤트 */
