/********** 메인 이미지 slide [swiper] **********/
.main-slide {
    overflow:hidden;
    border-bottom: 2px solid #ebebeb;
    position: relative;
}
.swiper-main-image {
    overflow: initial;
    width: 1100px;
    height:520px;
    transform: translateX(140px);
}
.item-img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.swiper-newperDeal img {
    width: 180px;
    height: 180px;
}
.swiper-event-group1 img, .swiper-event-group3 img {
    width: 240px;
    height: 240px;
}
.swiper-event-group2 img {
    width: 220px;
    height: 220px;
}
.swiper-event-group4 img {
    width: 150px;
    height: 150px;
}
.mo-img {
    display: none;
}

/* swiper arrow */
.swiper-prev, .swiper-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(17,17,17,0.5);
    color:#fff;
    transform:translateY(-50%) scale(1);
    transition: all 0.3s ease;
    margin-top:0;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}
.swiper-prev {
    left:-330px;
}
.swiper-next {
    right:-50px;
}
.swiper-prev::after, .swiper-next::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
}
.swiper-prev::after {
    background: url(../image/arrow-left.png) no-repeat 45%
}
.swiper-next::after {
    background: url(../image/arrow-right.png) no-repeat 55%;
}

/* 스와이퍼 우측 하단 페이지네이션 & 정지재생버턴 박스 */
.swiper-bottom-box {
    width: 110px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 135px;
}

/* pagination-custom */
.swiper-pagination-custom {
    width: 100%;
    height: 100%;
    background: rgba(17,17,17,0.4);
    border-radius: 50px;
    color:#fff;
    bottom: 0;
    z-index: 1;
    line-height: 40px;
    text-align: initial;
    text-indent: 15px;
}
.current-num {
    font-size: 21px;
}

/* button-player */
.swiper-button-play, .swiper-button-pause {
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.swiper-button-play {
    background: rgba(17,17,17,0.5) url(../image/play.png) no-repeat 55%; display: none;
}
.swiper-button-pause {
    background: rgba(17,17,17,0.5) url(../image/pause.png) no-repeat 53%;
}

/* swiper-progress-bar */
.swiper-progress-bar {
    position: relative;
    bottom:0;
    left:0;
    width: 100%;
    height: 2px;
    z-index: 1;
}
.slide-progress-bar {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}
.slide-progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #314AD7;
}
.swiper-progress-bar.animate .slide-progress-bar::after {
    transition: width linear;
    width: 100%;
    transition-duration: 3s;
}

/* 더보기 버튼 */
.more-view {
    position: absolute;
    bottom: 30px;
    right: 60px;
    width: 70px;
    height: 40px;
    z-index: 1;
    font-size: 14px;
    color: #fff;
    background: rgba(1, 1, 1, 0.4);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 슬라이드 이미지 내부 고정 - 좌측 nav category all */
.ctg-all {
    width:280px;
    height:520px;
    position: absolute;
    top:0;
    left:-280px;
    z-index: 3;
    background-color: #314ad7;
    padding: 10px 0;
}
.ctg-all>li {
    width: 100%;
    height: calc(500px / 9);
}
.ctg-all>li>a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 35px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.ctg-all>li.on>a {
    background-color: #fff;
    color:#314ad7;
    border-right: 1px solid #d1d1d1;
}
.ctg-all .separation {
    display: inline-block;
    margin: 0 10px;
}
.ctg-all>.separation::before {
    width: 2px;
    background: #d1d1d1;
}
/* 좌측 nav category 서브 메뉴 열림 */
.ctg-open {
    display: flex;
    width: 1100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    border-top: 1px solid #d1d1d1;
}
.ctg-first-area {
    width: 457px;
    height: 100%;
    position: relative;
}
.ctg-first-area>ul {
    width: 45%;
    height: 100%;
    position: relative;
    padding: 20px 0 0 50px;
}
.ctg-first-area>ul>li, .first-area-sub li {
    padding: 6px 0;
}
.ctg-first-area>ul li a {
    display: inline-flex;
    width: auto;
    height: 100%;
    position: relative;
}
.ctg-first-area>ul li:hover>a {
    color: #314ad7;
}
.ctg-first-area>ul li:hover>a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    height: 2px;
    background-color: #0c2da3;
}
.first-area-sub {
    width: calc(457px - 100%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 20px 0 0 50px;
    border-left: 1px solid #d1d1d1;
}
.ctg-second-area {
    width: calc(100% - 457px);
    height: 100%;
    display: flex;
}
.second-area-1 {
    width: 30%;
    border-left: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
}
.second-area-1 li {
    flex: 1;
    padding: 20px;
}
.second-area-1 li img {
    object-fit: contain;
    padding: 5px;
}
.second-area-1 .item-title {
    font-size: 12px;
    font-weight: 500;
}
.second-area-1 .discount-price {
    font-size: 16px;
}
.second-area-1 .real-price, .second-area-1 .item-price {
    font-size: 12px;
}
.second-area-2 {
    width: 70%;
}
.second-area-2>a {
    display: block;
    width: 100%;
    height: 100%;
}
.second-area-2 img {
    height: 100%;
    object-fit: cover;
}
/*** section ***/
.section-title {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.section-sub-title {
    text-align: center;
    margin-top: 7px;
}
.swiper-thumbnail {
    margin: 30px auto;
}

/* 뉴퍼딜 이벤트 */
.newperDeal .swiper-slide {
    padding: 25px;
    border: 1px solid #d1d1d1;
}
.time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
.time-remaining {
    display: flex;
    align-items: center;
}
.time-remaining i {
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url("../image/time.png") no-repeat center/contain;
    margin-right: 7px;
}
.time-num {
    font-size: 27px;
    font-weight: 600;
    margin-left: 10px;
}
.stock-quantity {
    font-weight: 500;
}
.newperDeal .item-title {
    font-size: 20px;
    height: 48px;
}
.newperDeal .discount-rate {
    margin-left: 7px;
}
.purchase-btn {
    border: 1px solid #d1d1d1;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
}
.newperDeal-prev.btn-disabled {
    display: none!important;
}
.newperDeal-next.btn-disabled {
    display: none!important;
}
.newperDeal-prev, .newperDeal-next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 300;
}
.newperDeal-prev.prev-custom, .newperDeal-next.next-custom {
    background: #fff;
}
.newperDeal-prev img, .newperDeal-next img {
    width: 12px;
    height: auto;
    object-fit: contain;
}
.newperDeal-prev img {
    margin-right: 2px;
}
.newperDeal-next img {
    margin-left: 2px;
}

/*** 한정수량 일일특가 (이벤트 상품 그룹 2) ***/
.swiper-event-group2 {
    height: 530px;
}
.swiper-event-group2 .swiper-slide {
    height: calc((100% - 35px) / 2)!important;
    display: flex;
}
.swiper-event-group2 .item-img {
    width: 40%;
    margin-bottom: 0;
}
.swiper-event-group2 .item-info {
    width: 60%;
    padding-left: 30px;
}

/*** 알짜만 모아모아 기획전 (이벤트 상품 그룹 4) ***/
.test-box {
    width: 100%;
    height: 220px;
    border-radius: 15px;
    background-color: #eee;
}
.swiper-event-group4 .swiper-slide {
    padding: 10px;
}
.swiper-event-group4 .item-list {
    display: flex;
    padding: 25px 10px 0;
    border-bottom: 1px solid #eeeeee;
}
.swiper-event-group4 .item-list:last-child {
    border-bottom: none;
}
.swiper-event-group4 .item-img {
    margin-bottom: 0;
}
.swiper-event-group4 .item-info {
    width: 60%;
    padding-left: 15px;
}
.swiper-event-group4 .item-inner-wrap {
    font-size: 13px;
}
.swiper-event-group4 .item-condition {
    padding: 3px 7px;
    font-size: 11px;
    margin-right: 2px;
}
.swiper-event-group4-prev, .swiper-event-group4-next {
    top: 120px!important;
}

/*** TODAY BEST ***/
.todayBest-wrap {
    display: flex;
    margin-top: 30px;
}
.realTime-trend {
    width: 230px;
}
.realTime-trend h3 {
    font-size: 19px;
    font-weight: 400;
}
.realTime-trend p {
    font-size: 14px;
    font-weight: 300;
}
.realTime-trend>ul {
    border-top: 1px solid #666;
    padding: 15px 0;
    margin-top: 30px;
}
.realTime-trend>ul>li {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}
.realTime-trend>ul>li:hover a {
    color: #314ad7;
}
.todayBest-tab-wrap {
    width: calc(100% - 230px);
    padding-left: 40px;
}
.realTime-trend>ul>li span {
    display: flex;
    align-items: center;
}
.up, .down, .same {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 3px;
}
.same {
    background: url("../image/same.png") no-repeat center/contain;
}
.up {
    background: url("../image/up.png") no-repeat center/contain;
}
.down {
    background: url("../image/down.png") no-repeat center/contain;
}
.todayBest-tab {
    display: flex;
    flex-wrap: wrap;
}
.todayBest-tab li.all {
    padding: 7px 65px;
}
.todayBest-tab li {
    padding: 7px 50px;
    border-radius: 30px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 5px;
}
.todayBest-tab li.on {
    color: #fff;
    background-color: #314ad7;
}
.todayBest-content>li {
    display: none;
}
.todayBest-content>li.on {
    display: block;
}
.todayBest-content>li .swiper-all {
    width: calc(100% + 40px);
}
.swiper-todayBest {
    width: calc(100% - 40px);
    margin: 0;
}
.swiper-todayBest .item-img img {
    width: 230px;
    height: 230px;
}
.swiper-todayBest .item-condition {
    padding: 2px 12px;
    font-size: 11px;
    margin-right: 0;
}


/*** 리얼리뷰 PICK ***/
.swiper-realReview .swiper-slide {
    position: relative;
    padding: 7px 0 0;
}
.swiper-realReview>ul>li {
    position: relative;
}
.realReview-inner {
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.realReview-inner>div {
    margin-bottom: 5px;
}
.realReview-inner>div:not(:nth-of-type(1)) {
    padding: 0 15px;
}
.realReview-inner>div:last-child {
    margin-bottom: 0;
}
.realReview-img {
    display: flex;
    justify-content: center;
    padding: 20px 0 30px;
    position: relative;
    width: 100%;
}
.realReview-img img {
    width: 250px;
    height: 250px;
}
.realReview-photo {
    position: absolute;
    width: 110px!important;
    height: 110px!important;
    bottom: 10px;
    right: 0;
    border: 5px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.realReview-pick {
    display: inline-block;
    width: 49px;
    height: 45px;
    background: url("../image/review-pick.png") no-repeat center/contain;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
}
.realReview-id {
    position: absolute;
    top: 7px;
    right: 25px;
}
.realReview-content {
    width: 280px;
    height: 150px;
    background: url("../image/review-text-bg.png") no-repeat center/100% auto;
    padding: 15px!important;
}
.realReview-content-top {
    display: flex;
    justify-content: space-between;
}
.realReview-grade {
    display: flex;
    align-items: center;
}
.realReview-grade i {
    display: inline-block;
    width: 90px;
    height: 15px;
    background: url("../image/5star-grey.png") no-repeat 0 0/100% 100%;
}
/*별 5개 */
.realReview-grade i::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../image/5star-yellow.png") no-repeat 0 0/90px 100%;
}
/* 별 4개 */
.realReview-grade.grade_80 i::after {
    width: 80%!important;
}
/* 별 3개 */
.realReview-grade.grade_60 i::after {
    width: 60%!important;
}
/* 별 2개 */
.realReview-grade.grade_40 i::after {
    width: 40%!important;
}
/* 별 1개 */
.realReview-grade.grade_20 i::after {
    width: 20%!important;
}
.realReview-text {
    margin-top: 10px;
}
.realReview-inner .item-price {
    width: 100%;
}

/*** MD 추천 카테고리 ***/
.md-tab-content {
    background-color: #f7f7f7;
}
.swiper-md-content>ul>li {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.md-content-pagination, .review-pagination {
    text-align: center;
    margin-top: 40px;
    display: block;
}
.md-content-pagination .swiper-pagination-bullet, .review-pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    margin: 0 10px!important;
    background-color: #fff;
    border: 1px solid #314ad7;
    opacity: 1;
}
.md-content-pagination .swiper-pagination-bullet-active, .review-pagination .swiper-pagination-bullet-active {
    background-color: #314ad7;
}
.all-view {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}
.all-view a {
    display: flex;
}
.all-view i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../image/viewAll-arrow.png") no-repeat center/contain;
    margin-left: 10px;
}
.swiper-md-content .item-img {
    margin-top: 15px;
}
.swiper-md-content .item-img img {
    width: 240px;
    height: 240px;
}

/*** 공지사항 ***/
.notice-wrap {
    display: flex;
}
.notice-wrap>div {
    width: 50%;
}
.notice-left {
    padding-right: 30px;
}
.notice-left table {
    width: 100%;
}
.notice-left tbody {
    display: block;
}
.notice-left tbody tr {
    display: flex;
    justify-content: space-between;
}
.notice-left tbody tr td {
    padding-bottom: 10px;
}
.notice-right {
    padding-left: 30px;
}
.notice-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.swiper-storeInfo, .storeInfo .notice-title {
    padding: 0 20px;
}
.storeInfo p {
    color: #999;
    font-weight: 300;
}
.storeInfo .phone-number {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding-top: 5px
}
.storeInfo-prev, .storeInfo-next {
    width: 10px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}
.storeInfo-prev {
    background: url(../image/storeInfo-prev.png) no-repeat center/contain;
    left: 0;
}
.storeInfo-next {
    background: url(../image/storeInfo-next.png) no-repeat center/contain;
    right: 0;
}

/** 베스트 100 **/
.thumb-list>li {
    position: relative;
}
.best, .best-down {
    display: inline-block;
    width: 56px;
    height: 68px;
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: 1;
}
.best {
    background: url(../image/best.png) no-repeat center/contain;
}
.best-down {
    background: url(../image/best-down.png) no-repeat center/contain;
}
.best>span, .best-down>span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
}
.best>span {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    top: 41%;
}
.best-down>span {
    color: #000;
    font-size: 26px;
    font-weight: 500;
    top: 50%;
}

/* 로그인 모달창 */
#loginModal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.8);
    overflow-y: scroll;
}
.loginModal {
    width: 380px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px 20px 10px 20px;
}
.login-input-group li {
    margin: 10px 0;
}
.login-check-wrap {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 15px;
    font-size: 13px;
}
.login-check {
    font-weight: 600;
    display: flex;
    cursor: pointer;
}
.login-checkbox {
    margin-right: 5px;
}
.login-find-group {
    display: flex;
}
.login-find-group li {
    padding-left: 10px;
}
.login-find-group li:nth-child(1) {
    position: relative;
    padding-right: 10px;
}
.login-find-group li:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #d1d1d1;
}
.login-find-group a {
    color: #999;
}
.login-button {
    margin: 20px 0!important;
}
.or {
    font-size: 24px;
    text-align: center;
    color: #d1d1d1;
}
.dummy-line {
    width: 100%;
    height: 25px;
    position: relative;
    margin: 7px 0;
}
.dummy-line::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #d1d1d1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.sns-login-group {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px 25px;
}
.sns-login-group li a {
    position: relative;
    display: inline-flex;
    width: 35px;
    height: 35px;
    text-indent: -9999px;
}
.sns-login-group li a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.naver-login::after {
    background: url("../image/star.png") no-repeat center/contain;
}
.kakao-login::after {
    background: url("../image/star.png") no-repeat center/contain;
}
.facebook-login::after {
    background: url("../image/star.png") no-repeat center/contain;
}
.apple-login::after {
    background: url("../image/star.png") no-repeat center/contain;
}
.loginModal-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
.login-checkbox[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background .2s;
}
.login-checkbox[type="checkbox"]:checked {
    background: #314ad7;
    border: none;
}
.login-checkbox[type="checkbox"]:checked::after {
     content: "";
     display: inline-block;
     width: 100%;
    height: 100%;
     background: url("../image/star.png") no-repeat center/contain;
 }
@media (max-width:991px) {
    #loginModal-wrap {
        overflow-y: auto;
    }
}
@media (max-width:380px) {
    .loginModal {
        width: 100%;
        height: 100%;
    }
}