<div class="modal" tabindex="-1" role="dialog" id="searchGoodsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">자산 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <div class="row">
                            <form id="GoodsModalForm">
                                <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                    <div class="form-group">
                                        <label class="d-block">상품명</label>
                                        <input type="text" name="pName" class="form-control form-control-sm w-120px" >
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">바코드</label>
                                        <input type="text" name="barcode" class="form-control form-control-sm w-120px" >
                                    </div>


                                    <div class="form-group end">
                                        <button type="button" class="btn btn-secondary" onclick="searchProductDataTable()">
                                            <span class="ladda-label"><i class="icon-search4 mr-1"></i>조회</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table table-hover" id="productModalTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="icon-cross2 mr-1"></i>닫기</button>
                <button type="button" class="btn btn-dark opacity-60" id="selectAllBtn" onclick="selectGoodsList()">입고검수 자산추가</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function openInModal() {
        $('#searchGoodsModal').modal('show');
        selectGoodsDatatable();
        
    }

    function selectCheckboxVisible(condition) {
        $('#productModalTable').DataTable().column({class:'select-checkbox'}).visible(condition);
    }

    function searchProductDataTable() {
        $("#productModalTable").DataTable().page('first').ajax.url('/process/board.dataTable?'+$('#GoodsModalForm').serialize()).load();
    }

</script>
<script th:inline="javascript">
    function selectGoodsDatatable() {
        if ($.fn.DataTable.isDataTable('#productModalTable')) {
            searchProductDataTable();
        } else {
            $("#productModalTable").DataTable({
                dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
                ordering: false,
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                serverSide: true,
                buttons: buttonsSelect(false).splice(1),
                ajax:{
                    url:'/process/board.dataTable?' + $("#GoodsModalForm").serialize(),
                    type:'post'
                },
                columnDefs: [ {
                    orderable: false,
                    targets: [0]
                } ],
                columns : [
                    {'class':'select-checkbox m-w-2', 'title':'선택','data':'P_IDX','defaultContent':'','render':function(data,type,full,meta){
                            return '<input type="hidden" name="gIdx" value="' + full.G_IDX + '">';
                        }}
                    ,{'title':'No','data':'No','render':function(data,type,full,meta){
                            return meta.settings._iDisplayStart+meta.row+1;
                        }}
                    ,{'title':'상품명','data':'P_NAME','defaultContent':''}
                    ,{'title':'바코드','data':'G_BARCODE','defaultContent':''}
                    ,{'title':'입고 예정 스팩','data':'IN_SPEC1','defaultContent':''}
                    ,{'title':'판매 에정 스팩','data':'SELL_SPEC1','defaultContent':''}
                ]
            });
        }
    }
</script>