<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="inExcelModal" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">입고 자산 바코드 엑셀 업로드</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="content container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">첨부파일</span>
                                                </span>
                                                <input type="file" name="poFile" class="form-control form-control-plaintext" placeholder="파일첨부">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">등록</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="inProductModal" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">자산 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="content container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="card-body popup-contents">
                                    <fieldset class="mb-4">
                                        <legend class="">
                                            상품 정보
                                        </legend>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6" id="inModalPnameSpan">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">상품명</span>
                                                            </span>
                                                        <input type="text" class="form-control" disabled id="inModalPname">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="mb-4">
                                        <legend class="">
                                            바코드
                                            <a type="button" class="btn btn-sm btn-primary ml-1" onclick="toggleBarcodeForm()">등록</a>
                                        </legend>
                                        <form id="inModalForm" onsubmit="inModalFormSubmit()" style="display: none;">
                                            <input type="hidden" name="p_idx">
                                            <input type="hidden" name="po_idx" th:value="${poIdx}">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">바코드</span>
                                                                </span>
                                                            <input type="text" name="barcode" onfocus="focusOnBarcode()" class="form-control" placeholder="바코드 입력 후 엔터를 눌러주세요">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>

                                    <fieldset class="mb-4">
                                        <legend class="">
                                            자산 정보
                                        </legend>
                                        <table id="inModalProductTable" class="table">

                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openInExcelModal(){
        $('#inExcelModal').modal('show');
    }
    //po_poIdx.html에서 dt row 넘겨받음
    function openInModal(row){
        var rowData = getDatatablemap('inProductTable', row);

        $('#inModalPname').val(rowData.P_NAME);
        $('#inModalForm input[name=p_idx]').val(rowData.P_IDX);

        initInProductModalTable();
        $('#inProductModal').modal('show');
    }

    function openInModalNewProduct() {

        $('#inModalForm input[name=p_idx]').val(rowData.P_IDX);
        $('#inProductModal').modal('show');
    }

    function toggleBarcodeForm(){
        $('#inModalForm').toggle(500);
        focusOnBarcode();
    }
    //바코드 input에 focus할 때. 바코드 비우기
    function focusOnBarcode() {
        $('#inModalForm input[name=barcode]').val('');
        refreshTable('#inModalProductTable');
    }

    function inModalFormSubmit(){
        //submit 방지
        event.preventDefault();

        $.ajax({
          url:'/in/po/barcode.ajax'
          ,type:'post'
          ,data:$('#inModalForm').serialize()
        }).done(function(res){
            focusOnBarcode();
        });

    }
    function buttonsSelect(useSelect) {

        var buttons = [
            {
                extend: 'excelHtml5',
                className: 'btn btn-sm btn-dark opacity-60',
                action: function (e, dt, node, config) {
                    downloadAllExcel(dt.settings()[0].sTableId);
                },
                text: '<i class="icon-file-excel mr-1"></i>엑셀',
                footer: true
            },
            {
                extend: 'pageLength',
                className: 'btn btn-sm btn-dark opacity-50'
            }
            ,
            {
                text: '새로고침',
                className: 'btn btn-sm btn-secondary',
                action: function (e, dt, node, config) {
                    dt.ajax.reload();
                }
            }];

        if (useSelect) {
            buttons.unshift({
                extend: 'selectNone',
                className: 'btn btn-sm badge-indigo opacity-80',
                text: '<i class="icon-cross2 mr-1"></i>선택해제',
                exportOptions: {
                    columns: ':visible'
                }
            });
            buttons.unshift({
                extend: 'selectAll',
                className: 'btn btn-sm btn-primary opacity-80',
                text: '<i class="icon-checkbox-checked2 mr-1"></i>전체선택',
                exportOptions: {
                    columns: ':visible'
                }
            });
        }
        return buttons;
    }

    function deleteBarcode(g_idx){
        if(confirm("삭제하시겠습니까?")){
            $.ajax({
                url:'/in/po/barcode/delete.ajax',
                type:'post',
                data:'g_idx='+g_idx,
                success:function(){
                    $('#inModalProductTable').DataTable().ajax.reload();
                }
            })
        }
    }



</script>
<script>
    //상품 입고 자산 목록 dt
    function initInProductModalTable(){
        if ($.fn.DataTable.isDataTable('#inModalProductTable')) {
            $('#inModalProductTable').DataTable().page('first').ajax.url('/in/product.dataTable?'+$('#inModalForm').serialize()).load(null, false);
        }else {
            $('#inModalProductTable').DataTable({
                ordering: false,
                serverSide: true,
                ajax: {
                    url: '/in/product.dataTable?' + $('#inModalForm').serialize(),
                    type: 'post'
                },
                buttons: buttonsSelect(false),
                "columns": [
                    {
                        'title': 'No', 'data': 'No', 'render': function (data, type, full, meta) {
                            return meta.settings._iDisplayStart + meta.row + 1;
                        }
                    }
                    , {'title': '자산코드', 'data': 'G_BARCODE'}
                    , {
                        'class': 'm-w-16 w-15',
                        'title': '삭제',
                        'data': 'G_IDX',
                        'render': function (data, type, full, meta) {
                            return '<a class="btn btn-sm badge-danger" onclick="deleteBarcode(' + data + ')">삭제</a>';
                        }
                    }
                ]
            });
        }}

    $('#inProductModal').on('show.bs.modal',function (e){
        $('#inModalForm').hide();
    });$('#inProductModal').on('hide.bs.modal',function (e){
        refreshTable('#inProductTable');
    });

/*    $(focusOnBarcode()).on('show.bs.modal',function (e){
        refreshTable('#inPoProductTable');
    });*/

</script>
</html>