<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="inExcelModal" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">입고 자산 바코드 엑셀 업로드</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="content container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body popup-contents">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="inPPModal" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">자산 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="content container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="card-body popup-contents">
                                    <fieldset class="mb-4">
                                        <legend class="">
                                            상품 정보
                                        </legend>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">상품명</span>
                                                            </span>
                                                        <input type="text" class="form-control" disabled id="inModalPname">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="mb-4">
                                        <legend class="">
                                            바코드
                                            <a type="button" class="btn btn-sm btn-primary ml-1" onclick="toggleBarcodeForm()">등록</a>
                                        </legend>
                                        <form id="inModalForm" onsubmit="inModalFormSubmit()" style="display: none;">
                                            <input type="hidden" name="pp_idx">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">바코드</span>
                                                                </span>
                                                            <input type="text" name="barcode" onfocus="focusOnBarcode()" class="form-control" placeholder="바코드 입력 후 엔터를 눌러주세요">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>

                                    <fieldset class="mb-4">
                                        <legend class="">
                                            자산 정보
                                        </legend>
                                        <table id="inPPModalTable" class="table">

                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openInExcelModal(){
        $('#inExcelModal').modal('show');
    }
    //po_poIdx.html에서 dt row 넘겨받음
    function openInModal(row){
        var rowData = getDatatablemap('inPoProductTable', row);

        initPPMOdalTable(rowData.PP_IDX);

        $('#inModalPname').val(rowData.P_NAME);
        $('#inModalForm input[name=pp_idx]').val(rowData.PP_IDX);


        $('#inPPModal').modal('show');
    }
    function toggleBarcodeForm(){
        $('#inModalForm').toggle(500);
        focusOnBarcode();
    }
    //바코드 input에 focus할 때. 바코드 비우기
    function focusOnBarcode(){
        $('#inModalForm input[name=barcode]').val('');
    }
    function inModalFormSubmit(){
        //submit 방지
        event.preventDefault();

        $.ajax({
          url:'/in/po/barcode.ajax'
          ,type:'post'
          ,data:$('#inModalForm').serialize()
        }).done(function(res){
            focusOnBarcode();
        });

    }
</script>
<script>
    //자산 목록 dt
    function initPPMOdalTable(ppIdx){
        if ($.fn.DataTable.isDataTable('#inPPModalTable')) {
            $('#inPPModalTable').DataTable().page('first').ajax.url('/in/pp.dataTable?pp_idx='+ppIdx).load(null, false);
        }else{
            $('#inPPModalTable').DataTable({
                ordering:false,
                serverSide: true,
                ajax:{
                    url:'/in/pp.dataTable?pp_idx='+ppIdx,
                    type:'post'
                },
                buttons: buttonsSelect(false),
                "columns" : [
                    {'title':'No','data':'No','render':function(data,type,full,meta){
                            return meta.settings._iDisplayStart+meta.row+1;
                        }}
                    ,{'title':'자산코드','data':''}
                ]
            });
        }
    }


    $('#inPPModal').on('show.bs.modal',function (e){
        $('#inModalForm').hide();
    });
</script>
</html>