<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="poReceivedModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">입고그룹 맵핑</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="col-lg-12" id="goodsDiv">
                    <form id="poReceivedModalForm">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">

                                <fieldset class="mb-0">
                                    <legend class="">1. 입고상품정보</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">발주구분</span>
                                                    </span>
                                                    <select id="poCheckType" onchange="setPoReceived();" class="form-control">
                                                        <option value="new">신규</option>
                                                        <option value="ori">원발주</option>
                                                    </select>
                                                    <input type="hidden" name="gIdxs">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">발주상품 그룹 INDEX</span>
                                                    </span>
                                                    <select name="ppIdx" onchange="setProduct()" class="form-control"></select>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">입고수량</span>
                                                    </span>
                                                    <input type="text" name="porCount" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">입고단가</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="porCost">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">판매예상가</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="porSellPrice">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상품코드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="pIdx" readonly>
                                                    <input type="hidden" name="ppPidx">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">입고그룹 메모</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="porMemo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <!-- Footer -->
            <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                <button type="button" class="btn btn-sm btn-secondary ml-1" onclick="insertPoReceived();">저장</button>
            </div>
            <!-- /footer -->
        </div>
    </div>
</div>

<script>
    function insertPoReceived () {
        if ($('#poCheckType').val() == 'ori' && $('input[name=ppPidx]').val() != $('input[name=pIdx]').val()){
            alert('선택하신 자산과 발주상품그룹 INDEX의 상품이 서로 다른 상품입니다.');
            return false;
        }

        $.ajax({
            type: "POST",
            url:"/po/insertPoReceived.ajax?" + $('#poReceivedModalForm').serialize() + $('#goodsForm').serialize(),
            async: false,
            success : function(result){
                searchGoods();
            }
        });
    }

    function openPoReceivedModal () {
        if ($('.selected').length == 0) {
            alert('자산을 선택해 주세요');
            return false;
        }

        if(checkProduct() == false) {
            return false;
        }

        $('input[name=porCount]').val($('.selected').length);

        $('#poReceivedModal').modal('show');
    }

    function setPoReceived() {
        if ($('#poCheckType').val() == 'ori') {
            $.ajax({
                url: '/po/selectPoProduct.dataTable?' + $('#goodsForm').serialize(),
                type: 'post',
                async: false,
                success(result) {
                    $('select[name=ppIdx]').empty();

                    var html = '';
                    $.each(result.data, function (index, value) {
                        html += '<option value="'+value.PP_IDX+'">'+value.PP_IDX+' '+value.P_NAME+'</option>';
                    });

                    $('select[name=ppIdx]').append(html);
                    setProduct();
                }
            });
        } else {
            $('select[name=ppIdx]').empty();
            $('input[name=porSellPrice]').val('');
            $('input[name=porSellPrice]').removeAttr('readonly')

            $('input[name=porCost]').val('');
            $('input[name=porCost]').removeAttr('readonly')

            $('input[name=porMemo]').val('');
            $('input[name=porMemo]').removeAttr('readonly')
        }
    }

    function setProduct() {
        var ppIdx = $('select[name=ppIdx] option:selected').val();
        $.ajax({
            url: '/po/poProduct.ajax',
            type: 'post',
            data: {'ppIdx' : ppIdx},
            async: false,
            success(data) {
                $('input[name=ppPidx]').val(data.PP_P_IDX);

                $('input[name=porCost]').val(data.PP_COST);
                $('input[name=porCost]').attr('readonly', 'readonly');

                $('input[name=porSellPrice]').val(data.PP_SELL_PRICE);
                $('input[name=porSellPrice]').attr('readonly', 'readonly');

                $('input[name=porMemo]').val(data.PP_MEMO);
                $('input[name=porMemo]').attr('readonly', 'readonly');
            }
        });
    }

    //선택한 자산들이 모두 같은 상품인지 체크
    function checkProduct() {
        var gIdxs = '';
        var flag = false;

        $.each($('.selected'), function (index, value) {
            gIdxs += $(this).children('.select-checkbox').children('input').val() + ',';
        });
        gIdxs = gIdxs.slice(0, -1);

        $('input[name=gIdxs]').val(gIdxs);

        $.ajax({
            url: '/goods/checkGoodsProduct.ajax',
            type: 'post',
            async: false,
            data: {
                'gIdxs' : gIdxs
            },
            success(result) {
                $('input[name=pIdx]').val(result.data[0].P_IDX)
                flag = true;
            }
        });

        return flag;
    }
</script>
</html>
