<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="part/head :: head('회원가입완료')">
</head>
<body th:classappend="${@shopComp.getShopDesign()}">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header-join"></th:block>


<div class="joinWelcome-content">
    <p class="font-xlg semi-bold">회원가입완료</p>
    <div class="dummy-line"></div>
    <p class="color-blue font-md semi-bold">회원님 반갑습니다 :)<br>
        회원가입이 완료되었습니다.!</p>

    <p class="semi-bold">즉시사용 가능한 <span class="color-red">5% 할인쿠폰</span>을 발급 해 드렸습니다.</p>

    <div class="btn btn2">
        <a href="/" class="font-md">쇼핑하러가기</a>
    </div>
</div>









<!--js-->
<th:block th:replace="part/js"></th:block>

</body>
</html>