<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>거래처관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>
                                            </span>
                                       <!-- <span class="breadcrumb-item font-weight-bold text-secondary">
                                                <i class="mr-1" th:classappend="${subIcon}"></i>
                                                <th:block th:text="${subTitle}"></th:block>
                                            </span>-->
                                    </div>
                                </h6>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="companyForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                                                <div class="form-group">
                                                    <label class="d-block">등록일</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상호법인명</label>
                                                    <input type="text" name="comName" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">사업자번호</label>
                                                    <input type="text" name="comNum" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">대표자명</label>
                                                    <input type="text" name="comCeo" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">MID</label>
                                                    <input type="text" name="comMid" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">거래처구분코드</label>
                                                    <select name="ctType" data-placeholder="multi select" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.CtType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">사업자 분류</label>
                                                    <select name="comType" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.ComType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상태</label>
                                                    <select name="comState" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.ComState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label">조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popNewBtn">
                                            <i class="icon-popout mr-1"></i>신규등록
                                        </a>
                                    </div>
                                </div>


                            </div>

                            <table class="table" id="companyTable"></table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    function searchBtn(){
        companyTable.page('first').ajax.url('/company/company.dataTable?'+$('#companyForm').serialize()).load();
    }

    function companyDetailPop(comIdx) {
        var focusPopup = window.open('companyPop/' + comIdx, 'companyDetail', 'width=1030, height=830, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }
</script>
<script th:inline="javascript">
    var companyTable = $('#companyTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/company/company.dataTable',
            type:'post'
        },
        columns : [
            {'class':'select-checkbox', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'title':'No','data':'No','render':function(data,type,full,meta){
                return meta.settings._iDisplayStart+meta.row+1;
            }}
            ,{'title':'등록일','data':'COM_CREATED_DATE','defaultContent':''}
            ,{'title':'등록시간','data':'COM_CREATED_TIME','defaultContent':''}
            ,{'title':'거래처구분코드','data':'CT_TYPE_LIST','defaultContent':''}
            ,{'title':'사업자 분류','data':'COM_TYPE_STR','defaultContent':''}
            ,{'title':'상태','data':'COM_STATE_STR','defaultContent':''}
            ,{'title':'MID','data':'COM_MID','defaultContent':''}
            ,{'title':'상호법인명','data':'COM_NAME', 'render': function (data,type,full,meta) {
                return '<a href="#" onclick="companyDetailPop('+ full.COM_IDX +')" class="badge badge-primary">' + full.COM_NAME + '</a>';
                }}
            ,{'title':'대표자명','data':'COM_CEO','defaultContent':''}
            ,{'title':'업체주소','data':'ADDRESS','defaultContent':''}
            ,{'title':'우편번호','data':'POST','defaultContent':''}
            ,{'title':'전화번호','data':'COM_TEL','defaultContent':''}
            ,{'title':'담당자','data':'CE_NAME','defaultContent':''}
            ,{'title':'담당자전화번호', 'data':'CE_PHONE','defaultContent':''}
            ,{'title':'등록자','data':'COM_CREATED_BY','defaultContent':''}
            ,{'title':'수정일','data':'COM_MODIFIED_DATE','defaultContent':''}
            ,{'title':'수정자','data':'COM_MODIFIED_BY','defaultContent':''}
            ,{'title':'수정이력','data':'', 'render': function (data) {
                    return '<a href="#" class="badge badge-primary">보기</a>';
                }}
        ]
    });

    $('#companyForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });

    $('#popNewBtn').on('click',function (){
       var focusPopup = window.open('/company/companyPop', 'regist_company', 'width=1030, height=830, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
       focusPopup.focus();
    });
</script>
</html>