<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${company != null} ? '거래처 조회/수정'">거래처 등록</title>

    <th:block th:replace="/common/css.html"></th:block>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold" th:if="${company == null}"><i class="icon-office mr-1"></i>거래처 신규등록</h4>
                            <h4 class="font-weight-semibold" th:unless="${company == null}"><i class="icon-office mr-1"></i>거래처 조회/수정</h4>
                            <div class="text-white-50 ml-3">설명글영역</div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">

                    <div class="col-lg-12">

                        <form id="regiForm" method="post" enctype="multipart/form-data">
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-0">
                                        <legend class="">1. 등록정보</legend>

                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">거래처구분코드</span>
                                                            </span>
                                                        <select data-placeholder="다중선택가능" name="ctType" class="form-control select" multiple="multiple" th:disabled="${company != null} ? true">
                                                            <option></option>
                                                            <span th:unless="${not #strings.isEmpty(ctType)}">
                                                                <option th:each="opt: ${T(com.newper.constant.CtType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                            </span>
                                                            <span th:if="${not #strings.isEmpty(ctType)}" th:each="ctType: ${ctType}">
                                                                <option th:each="opt: ${T(com.newper.constant.CtType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}" th:selected="${ctType.CT_TYPE eq opt.name()}"></option>
                                                            </span>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">사업자 분류</span>
                                                            </span>
                                                        <select data-placeholder="분류 선택" name="comType" class="form-control select">
                                                            <option th:each="opt: ${T(com.newper.constant.ComType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}" th:selected="${#strings.toString(company?.comType) eq opt.name()}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    MID
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comMid" class="form-control" th:value="${company?.comMid}" th:readonly="${company != null} ? 'readonly'">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">상태</span>
                                                            </span>
                                                        <select name="comState" class="form-control select">
                                                            <option th:each="opt: ${T(com.newper.constant.ComState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}" th:selected="${#strings.toString(company?.comState) eq opt.name()}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-0">
                                        <legend class="">2. 거래처정보</legend>

                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    상호법인명
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comName" class="form-control" placeholder="입력"
                                                               th:value="${company?.comName}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    대표자명
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comCeo" class="form-control" placeholder="입력"
                                                               th:value="${company?.comCeo}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    사업자번호
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comNum" class="form-control" placeholder="입력"
                                                               th:value="${company?.comNum}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    거래처약칭
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comNick" class="form-control" placeholder="입력"
                                                               th:value="${company?.comNick}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    전화번호<br>(회사대표번호)
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comTel" class="form-control" placeholder="입력"
                                                               th:value="${company?.comTel}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    팩스번호
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comFax" class="form-control" placeholder="입력"
                                                               th:value="${company?.comFax}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    은행
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comBank" class="form-control" placeholder="입력"
                                                               th:value="${company?.comBank}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    계좌번호
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comAccount" class="form-control" placeholder="입력"
                                                               th:value="${company?.comAccount}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    우편번호 <a href="javascript: daum_address();" class="badge badge-sm badge-primary ml-1">검색</a>
                                                                </span>
                                                            </span>
                                                        <input type="text" name="post" class="form-control" placeholder="우편번호검색"
                                                               th:value="${company != null} ? ${company.address.post}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    구매담당자<a href="#" class="badge badge-sm badge-primary ml-1" disabled>검색</a>
                                                                </span>
                                                            </span>
                                                        <input type="text" name="users" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    주소(시,도)
                                                                </span>
                                                            </span>
                                                        <input type="text" name="addr1" class="form-control"
                                                               th:value="${company != null} ? ${company.address.addr1}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    주소(시,군,구)
                                                                </span>
                                                            </span>
                                                        <input type="text" name="addr2" class="form-control"
                                                               th:value="${company != null} ? ${company.address.addr2}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    도로명(지번)주소
                                                                </span>
                                                            </span>
                                                        <input type="text" name="addr3" class="form-control" placeholder="상세주소입력"
                                                               th:value="${company != null} ? ${company.address.addr3}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    상세주소
                                                                </span>
                                                            </span>
                                                        <input type="text" name="addr4" class="form-control" placeholder="상세주소입력"
                                                               th:value="${company != null} ? ${company.address.addr4}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">사업자등록증<a th:if="${company != null}" th:href="|javascript: fileDownload('${company.comNumFile}', '${company.comNumFileName}')|" class="badge badge-sm badge-primary ml-1">다운로드</a></span>
                                                            </span>
                                                        <input type="file" name="comNumFile" class="form-control form-control-plaintext">
                                                    </div>
                                                </div>
                                            </div>
                                            <input th:if="${company != null}" th:value="${company.comNumFile}" name="comNumFileOri">
                                            <input th:if="${company != null}" th:value="${company.comNumFileName}" name="comNumFileNameOri">

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">통장사본<a th:if="${company != null}" th:href="|javascript: fileDownload('${company.comAccountFile}', '${company.comAccountFileName}')|" class="badge badge-sm badge-primary ml-1">다운로드</a></span>
                                                            </span>
                                                        <input type="file" name="comAccountFile" class="form-control form-control-plaintext">
                                                    </div>
                                                </div>
                                            </div>
                                            <input th:if="${company != null}" th:value="${company.comAccountFile}" name="comAccountFileOri">
                                            <input th:if="${company != null}" th:value="${company.comAccountFileName}" name="comAccountFileNameOri">


                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    A/S 책임정보
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comAs" class="form-control" placeholder="입력"
                                                               th:value="${company?.comAs}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    외주 제조사 AS번호
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comAsNum" class="form-control" placeholder="입력"
                                                               th:value="${company?.comAsNum}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    메모
                                                                </span>
                                                            </span>
                                                        <input type="text" name="comMemo" class="form-control" placeholder="입력"
                                                               th:value="${company?.comMemo}">
                                                        <input type="hidden" name="comModifiedMemo">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- 타이틀 구분 끝-->
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-0">
                                        <legend class="">3. 거래처 담당자정보</legend>

                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    성명(담당자)
                                                                </span>
                                                            </span>
                                                        <input type="text" name="ceName" class="form-control" placeholder="입력"
                                                               th:value="${company?.companyEmployee?.ceName}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    부서
                                                                </span>
                                                            </span>
                                                        <input type="text" name="ceDepart" class="form-control" placeholder="입력"
                                                               th:value="${company != null} ? ${company.companyEmployee.ceDepart}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    직급(직책)
                                                                </span>
                                                            </span>
                                                        <input type="text" name="cePosition" class="form-control" placeholder="입력"
                                                               th:value="${company != null} ? ${company.companyEmployee.cePosition}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    이메일
                                                                </span>
                                                            </span>
                                                        <input type="text" name="ceMail" class="form-control" placeholder="입력"
                                                               th:value="${company != null} ? ${company.companyEmployee.ceMail}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    휴대폰번호
                                                                </span>
                                                            </span>
                                                        <input type="text" name="cePhone" class="form-control" placeholder="입력"
                                                               th:value="${company != null} ? ${company.companyEmployee.cePhone}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    전화번호(담당자)
                                                                </span>
                                                            </span>
                                                        <input type="text" name="ceTel" class="form-control" placeholder="입력"
                                                               th:value="${company != null} ? ${company.companyEmployee.ceTel}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    담당자 메모
                                                                </span>
                                                            </span>
                                                        <input type="text" name="ceMemo" class="form-control" placeholder="입력"
                                                               th:value="${company != null} ? ${company.companyEmployee.ceMemo}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                        <!-- #regiForm end -->
                    </div>
                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

        <!-- Footer -->
        <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
            <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
            <button type="button" class="btn btn-sm btn-secondary ml-1" id="saveBtn"><i class="icon-floppy-disk mr-1"></i>저장</button>
        </div>
        <!-- /footer -->
    </div>
</div>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 컬러픽커 -->
<script th:src="@{/assets/js/plugins/pickers/color/spectrum.js}"></script>

<!-- 그래프 -->
<script th:src="@{/assets/js/plugins/visualization/echarts/echarts.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 데이터테이블 -->
<script th:src="@{/assets/js/demo_pages/datatables_extension_select.js}"></script>
<!-- 에디터 -->
<script th:src="@{/assets/js/demo_pages/editor_summernote.js}"></script>
<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/demo_pages/extension_dnd.js}"></script>
<!-- 컬러픽커 -->
<script th:src="@{/assets/js/demo_pages/picker_color.js}"></script>
<!-- 그래프 -->
<script th:src="@{/assets/js/demo_charts/echarts/light/lines/lines_zoom.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<!-- 다음 주소 api -->
<script th:src="@{/assets/js/daum_address.js}"></script>

<script>
    function saveAction(){
        if ($('select[name="ctType"]').val() == '') {
            alert('거래처구분코드는 필수입력값입니다.');
            return false;
        }
        if ($('input[name="comName"]').val() == '') {
            alert('상호법인명은 필수입력값입니다.');
            return false;
        }
        if ($('input[name="comCeo"]').val() == '') {
            alert('대표자명은 필수입력값입니다.');
            return false;
        }
        if ($('input[name="comNum"]').val() == '') {
            alert('사업자번호는 필수입력값입니다.');
            return false;
        }
        if ($('input[name="ceName"]').val() == '') {
            alert('거래처 담당자 성명은 필수입력값입니다.');
            return false;
        }
        if ($('input[name="ceMail"]').val() == '') {
            alert('거래처 담당자 이메일은 필수입력값입니다.');
            return false;
        }
        if ($('input[name="cePhone"]').val() == '') {
            alert('거래처 담당자 휴대폰번호는 필수입력값입니다.');
            return false;
        }

        $("#regiForm").submit();
    }

    /** 다음 주소 api사용 */
    function daum_address() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = ''; // api에서 받아오는 기본 주소
                var extraAddr = ''; // 도로명일때 참고주소

                // 사용자가 도로명주소, 지번주소 중 어떤 것을 클릭했는지에 따라
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }

                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }

                    if(extraAddr !== ''){
                        extraAddr = '(' + extraAddr + ')';
                    }
                } else {
                    addr = data.jibunAddress;
                }

                // addr1, addr2 부분을 제외한 기본주소 만들기
                var addr_ = addr.split(' ');
                addr = '';
                for (var i = 2; i < addr_.length; i++) {
                    addr += addr_[i] + ' ';
                }

                $('input[name=post]').val(data.zonecode).attr("readonly", true);
                $('input[name=addr1]').val(data.sido).attr("readonly", true);
                $('input[name=addr2]').val(data.sigungu).attr("readonly", true);
                $('input[name=addr3]').val(addr + extraAddr).attr("readonly", true);
            }
        }).open();
    }

    /** 거래처 구분코드 매입처 선택시 구매담당자 입력칸 활성화 */
    function activateBtnForBuyer() {
        // var ctTypeValue = $("select[]").val();
        // if (ctTypeValue == "buyer") {
        //     $("input[name]")
        // }
    }


</script>
<script>
    $("#saveBtn").on("click", saveAction);
    $("input[name=post]").on("click", daum_address);
    // $("input[name=")
</script>
</body>



</html>
