<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${subTitle}">배송비 템플릿</title>
    <th:block th:replace="common/css.html"></th:block>
    <style>
        .group{
            background:aliceblue;
        }
    </style>
</head>

<body>

<th:block th:replace="common/header.html">Header</th:block>
<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                            <i class="mr-1" th:classappend="${subIcon}"></i>
                                            <th:block th:text="${subTitle}"></th:block>
                                        </span>
                                    </div>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="pickingForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">상호법인명</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="">
                                                </div>
                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1" onclick="searchBtn()"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table class="table" id="companyTable">
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="collapse show" >
                                <div class="card-body pt-0">
                                    <!--<form>
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">출하지명</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="">
                                                </div>
                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1" onclick="searchBtn()"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>-->
                                </div>
                            </div>
                            <table class="table" id="deliveryTable">
                            </table>
                        </div>
                        <div class="card">
                            <div class="card-body popup-contents mb-4">
                                <fieldset class="mb-0">
                                    <legend class="">템플릿 등록/수정관리<span class="small"></span></legend>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          배송비 종류설정
                                                        </span>
                                                    </span>
                                                    <input type="radio" name="CD_TYPE" value="무료" selected><label>무료</label>
                                                    <input type="radio" name="CD_TYPE" value="유료"><label>유료</label>
                                                    <input type="radio" name="CD_TYPE" value="조건부 무료"><label>조건부 무료</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          배송비 금액
                                                        </span>
                                                    </span>
                                                        <input type="text" name="" class="form-control"><label>&nbsp원</label>
                                                        <label class="cdTypeFreeMax">&nbsp|&nbsp</label><input type="text" name="" class="form-control cdTypeFreeMax"><label class="cdTypeFreeMax">&nbsp원 이상 구매시 무료</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body popup-contents mb-4">
                                <fieldset class="mb-0">
                                    <legend class="">신규등록/수정관리<span class="small"></span></legend>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          출하지명
                                                        </span>
                                                    </span>
                                                    <input type="text" name="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          우편번호
                                                        </span>
                                                    </span>
                                                    <input type="text" name="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          주소(시,도)
                                                        </span>
                                                    </span>
                                                    <input type="text" name="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          주소(시,군,구)
                                                        </span>
                                                    </span>
                                                    <input type="text" name="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          상세주소
                                                        </span>
                                                    </span>
                                                    <input type="text" name="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          전화번호
                                                        </span>
                                                    </span>
                                                    <input type="text" name="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          휴대전화
                                                        </span>
                                                    </span>
                                                    <input type="text" name="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="stock/modal/inModal.html"/>
<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/demo_pages/extension_dnd.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    $('#companyTable').DataTable({
        buttons: {
            buttons: [
                {
                    text: '새로고침',
                    className: 'btn btn-sm btn-secondary',
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }
            ]
        },
        dom: '<"datatable-header"Bi><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/company/companyCtType.dataTable?CT_TYPE=STORE',
            type:'post'
        },

        "columns" : [

            {'title':'상호법인명','data':'COM_NAME','defaultContent':'','render':function(data,type,full,meta){
                return '<a class="btn btn-sm badge-indigo" onclick="selectCompany('+full.COM_IDX+')">'+data+'</a>'
            }}

        ]


    });

    $('#deliveryTable').DataTable({
        buttons: {
            buttons: [
                {
                    text: '새로고침',
                    className: 'btn btn-sm btn-secondary',
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }
            ]
        },
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        dom: '<"datatable-header"Bi><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/stock/picking2.dataTable',
            type:'post'
        },
        "columns" : [
            {'title':'배송비 종류설정','data':'P_NAME','defaultContent':''}
            ,{'title':'배송비 금액','data':'P_IDX','defaultContent':''}
            ,{'title':'배송비 무료조건 금액','data':'GS_CODE','defaultContent':''},
            ,{'title':'제주도 및 그 부속도서 배송비', 'data':'G_BARCODE','defaultContent':''},
            ,{'title':'도서산간 배송비', 'data':'G_BARCODE','defaultContent':''},
            ,{'title':'반품비', 'data':'G_BARCODE','defaultContent':''}
            ,{'title':'배송비 템플릿 기본설정', 'data':'G_BARCODE','defaultContent':''}
        ]

    });

</script>

<script>
    function goodsStock(GS_IDX){
        var table = $('#secondTable').DataTable();
        table.ajax.url('/stock/picking2.dataTable?GS_IDX='+GS_IDX).load(null,false);
    }

    function releaseReq(GS_IDX){
        var table = $('#secondTable').DataTable();
        table.ajax.url('/stock/picking2.dataTable?GS_IDX='+GS_IDX+'&release=release').load(null,false);
    }



    function barcode(){
        $('#inModal').modal('show');
    }

    function testBefore(){
        var param = '';
        var leng = $("#secondTable .selected").find("input").length;
        if(leng == 0) {
            alert("선택한 데이터가 없습니다.");
            return ;
        } else {
            $.each($("#secondTable .selected").find("input"), function(key, val){
                var idx = $(this).val();
                if(leng == (key+1)){
                    param = param + idx;
                }else{
                    param = param + idx + ",";
                }
            });
            if(confirm("체크된 자산을 출고전검수요청 하시겠습니까?")){
                $.ajax({
                    url:"/stock/beforeRelease.ajax",
                    data: "GOODS_IDXS="+param,
                    type:"POST",
                    success:function() {
                        $('#firstTable').DataTable().ajax.reload();
                        $('#secondTable').DataTable().ajax.reload();
                    }
                });
            }
        }
    }

</script>


</body>



</html>