<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>거래처관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/common/css.html"></th:block>
</head>
<body>
<th:block th:replace="/common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>
                                            </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                                <i class="mr-1" th:classappend="${subIcon}"></i>
                                                <th:block th:text="${subTitle}"></th:block>
                                            </span>
                                    </div>
                                </h6>
                                <div class="header-elements text-right">
                                    <div class="d-inline-block d-md-flex d-md-flex-row justify-content-between">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popNewBtn">
                                            <i class="icon-popout mr-1"></i>신규등록
                                        </a>

                                        <div class="list-icons ml-2">
                                            <a class="list-icons-item" data-action="collapse"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="companyForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                                                <div class="form-group">
                                                    <label class="d-block">등록일</label>
                                                    <input type="text" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상호법인명</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="searchContent1">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">사업자번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="searchContent2">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">대표자명</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="searchContent3">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">MID</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="searchContent4">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">거래처구분코드</label>
                                                    <select data-placeholder="다중선택" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option value="1">산토끼</option>
                                                        <option value="2">토끼야</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">사업자 분류</label>
                                                    <select data-placeholder="다중선택" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option value="1">산토끼</option>
                                                        <option value="2">토끼야</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상태</label>
                                                    <select data-placeholder="다중선택" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option value="1">산토끼</option>
                                                        <option value="2">토끼야</option>
                                                    </select>
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1"></i>조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">

                            <table class="table" id="companyTable"></table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    function searchBtn(){

    }
</script>
<script>
    var companyTable = $('#companyTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/company/company.dataTable?'+$('#companyForm').serialize(),
            type:'post'
        },
        columnDefs: [ {
            orderable: false,
            targets:   [0]
        } ],
        columns : [
            {'class':'select-checkbox m-w-2', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'class':'m-w-2', 'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
            ,{'class':'m-w-6', 'title':'등록일','data':''}
            ,{'class':'m-w-6', 'title':'등록시간','data':''}
            ,{'class':'m-w-max', 'title':'거래처구분코드','data':'', 'render':function(data,type,full,meta){
                    if(data != 'Y'){
                        return '<span class="text-danger">'+data+'</span>';
                    }
                    return data;
                }}
            ,{'class':'m-w-7', 'title':'사업자 분류','data':'','render':function(data,type,full,meta){
                    if(data==null){
                        return  full.GOODSNAME;
                    }
                    return data;
                }}
            ,{'class':'m-w-2', 'title':'상태','data':'','defaultContent':''}
            ,{'class':'m-w-3', 'title':'MID','data':'','defaultContent':''}
            ,{'class':'m-w-6', 'title':'상호법인명','data':'','defaultContent':'버튼넣기'}
            ,{'class':'m-w-4', 'title':'대표자명','data':''}
            ,{'class':'m-w-7', 'title':'업체주소','data':'','defaultContent':''}
            ,{'class':'m-w-max', 'title':'우편번호','data':'','defaultContent':''}
            ,{'class':'m-w-max', 'title':'전화번호','data':'','render':function(data,type,full,meta){
                    if(full.SP_NAME==null){
                        return '<span class="text-danger">미등록</span>';
                    }else{
                        return '<a class="btn btn-sm btn-primary" onclick="popProductShop(\''+meta.settings.sTableId+'\','+meta.row+')">'+ellipsisStr(full.SP_NAME)+'</a>';
                    }
                }}
            ,{'class':'m-w-3', 'title':'담당자','data':'','defaultContent':'미사용'}
            ,{'class':'m-w-8', 'title':'담당자전화번호','data':'','defaultContent':'미사용'}
            ,{'class':'m-w-8', 'title':'등록자','data':'','defaultContent':'미사용'}
            ,{'class':'m-w-5', 'title':'수정일','data':'','defaultContent':''}
            ,{'class':'m-w-5', 'title':'수정자','data':'','defaultContent':''}
            ,{'class':'m-w-5', 'title':'수정이력','data':'','defaultContent':'버튼넣기'}
        ]
    });

    $('#companyForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });

    $('#popNewBtn').on('click',function (){
       var focusPopup = window.open('pop/regist', 'insert_company', 'width=1000, height=800, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
       focusPopup.focus();
    });
</script>
</html>