<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>거래처 계약관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>
                                            </span>
                                        <!--<span class="breadcrumb-item font-weight-bold text-secondary">
                                                <i class="mr-1" th:classappend="${subIcon}"></i>
                                                <th:block th:text="${subTitle}"></th:block>
                                            </span>-->
                                    </div>
                                </h6>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="companyForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                                                <div class="form-group">
                                                    <label class="d-block">등록일</label>
                                                    <input class="form-control form-control-sm w-datarange daterange-basic" name="ccCreatedDate" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">세금계산서발행일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" name="ccTaxDate">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상호법인명</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="comName">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">사업자번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="comNum">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">MID</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="comMid">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">계약번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="ccNum">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산주기</label>
                                                    <select name="ccCycle" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple">
                                                        <option th:each="opt: ${T(com.newper.constant.CcCycle).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">계약구분</label>
                                                    <select name="ccType" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple">
                                                        <option th:each="opt: ${T(com.newper.constant.CcType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산방식</label>
                                                    <select name="ccCalType" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple">
                                                        <option th:each="opt: ${T(com.newper.constant.CcCalType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상태</label>
                                                    <select name="ccState" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple">
                                                        <option th:each="opt: ${T(com.newper.constant.CcState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label">조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popNewBtn">
                                            <i class="icon-popout mr-1"></i>신규등록
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <table class="table" id="companyTable"></table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    function searchBtn(){
        companyTable.page('first').ajax.url('/company/contract.dataTable?'+$('#companyForm').serialize()).load();
    }

    function detailContract(ccIdx) {
        var focusPopup = window.open('/company/contractPop/' + ccIdx, 'contractDetail', 'width=1000, height=800, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }
</script>
<script>
    var companyTable = $('#companyTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/company/contract.dataTable?'+$('#companyForm').serialize(),
            type:'post'
        },
        columnDefs: [ {
            orderable: false,
            targets:   [0]
        } ],
        "columns" : [
            {'class':'select-checkbox', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'title':'상호법인명','data':'COM_NAME','defaultContent':''}
            ,{'title':'MID','data':'COM_MID','defaultContent':''}
            ,{'title':'계약명','data':'CC_NAME','defaultContent':'', 'render': function (data,type,full,meta) {
                    return '<a href="#" onclick="detailContract('+ full.CC_IDX +')" class="badge badge-primary">' + full.CC_NAME + '</a>';
                }}
            ,{'title':'계약구분','data':'CC_TYPE_STR','defaultContent':''}
            ,{'title':'상태','data':'CC_STATE_STR','defaultContent':''}
            ,{'title':'정산주기','data':'CC_CYCLE_STR','defaultContent':''}
            ,{'title':'세금계산서발행일','data':'CC_TAX_DATE','defaultContent':''}
            ,{'title':'정산기준일','data':'CC_BASE_DATE','defaultContent':''}
            ,{'title':'계약시작일','data':'CC_START','defaultContent':''}
            ,{'title':'계약종료일','data':'CC_END','defaultContent':''}
            ,{'title':'정액/정률','data':'CC_FEE_TYPE_STR','defaultContent':''}
            ,{'title':'계약번호','data':'CC_NUM','defaultContent':'','defaultContent':''}
            ,{'title':'등록자','data':'CC_CREATED_BY','defaultContent':''}
            ,{'title':'등록일','data':'CC_CREATED_DATE','defaultContent':''}
            ,{'title':'수정자','data':'CC_MODIFIED_BY','defaultContent':''}
            ,{'title':'수정일','data':'CC_MODIFIED_DATE','defaultContent':''}
            ,{'title':'수정이력','data':'CC_IDX','defaultContent':'', 'render':function(data,type,full,meta){
                    return '<a href="#" onclick="detailContract('+ full.CC_IDX +')" class="badge badge-primary">상세</a>';
                }}
        ]
    });

    $('#companyForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });

    $('#popNewBtn').on('click',function (){
        var focusPopup = window.open('/company/contractPop', 'contractNew', 'width=1030, height=850, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    });

</script>
</html>