<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리별 입점사 수수료관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/common/css.html"></th:block>
</head>
<body>
<th:block th:replace="/common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card" id="collapse-button-collapsed">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>
                                            </span>
                                        <!--<span class="breadcrumb-item font-weight-bold text-secondary">
                                                <i class="mr-1" th:classappend="${subIcon}"></i>
                                                <th:block th:text="${subTitle}"></th:block>
                                            </span>-->
                                    </div>
                                </h6>
                            </div>

                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <form id="searchStoreForm">
                                            <div class="d-flex justify-content-center align-items-end align-content-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">상호법인명</label>
                                                    <input type="text" name="comName" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">MID</label>
                                                    <input type="text" name="comMid" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">구매담당자</label>
                                                    <input type="text" name="uName" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">등록자</label>
                                                    <input type="text" name="createdBy" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">등록일</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">승인일</label>
                                                    <input type="text" name="" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">승인자</label>
                                                    <input type="text" name="" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchStore()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <table class="table" id="storeTable"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <form id="searchFeeForm">
                                            <div class="d-flex justify-content-center align-items-end align-content-end flex-wrap">
                                                <input type="hidden" name="comIdx">

                                                <div class="form-group">
                                                    <label class="d-block">카테고리 중분류</label>
                                                    <select name="cateIdx" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple">
                                                        <option class="opt" th:each="opt: ${category}" th:text="${opt.CATE_NAME}" th:value="${opt.CATE_IDX}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정액/정률</label>
                                                    <select name="cfType" data-placeholder="정액/정률" class="form-control multiselect">
                                                        <option value="">정액/정률</option>
                                                        <option th:each="opt: ${T(com.newper.constant.CfType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchFee()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="card">
                                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                                <div class="btn-group">
                                                    <div class="header-elements">
                                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="newFeeBtn">
                                                            <i class="icon-popout mr-1"></i>수수료생성
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <form id="updateForm">
                                                <table class="table" id="feeTable"></table>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>


<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script th:inline="javascript">
    function searchStore() {
        storeTable.page('first').ajax.url('/company/store.dataTable?' + $('#searchStoreForm').serialize()).load();
    }

    function searchFee() {
        $('#feeTable').DataTable().page('first').ajax.url('/company/fee.dataTable?' + $('#searchFeeForm').serialize()).load();
    }

    function initFeeTable(comIdx) {
        $('input[name = "comIdx"]').val(comIdx);
        if ($.fn.DataTable.isDataTable('#feeTable')) {
            searchFee();
        }else {
            showFeeTable();
        }
    }

    function showUpdateForm(row) {
        if ($("#saveBtn").length > 0) {
            alert("수수료 생성을 먼저 완료해 주세요.");
            return false;
        }
        if ($("#updateBtn").length > 0) {
            alert("이미 수정 중입니다.");
            return false;
        }
        $('a[data-row="'+row+'"]').attr("id", "updateBtn").removeClass("badge-primary").addClass("badge-secondary").after('<a href="javascript: searchFee()" class="badge badge-light">취소</a>');
        var targetRow = document.querySelectorAll("#feeTable tr")[row];
        var targetCols = targetRow.childNodes;
        var rowData = $('#feeTable').DataTable().rows(row-1).data()[0];
        var cfType = rowData.CF_TYPE;

        targetCols[1].innerHTML = '';
        targetCols[2].innerHTML = '<input type="text" name="cfPercent" value="">';
        targetCols[3].innerHTML = '<input type="text" name="cfMoney" value="">';
        switchInput(cfType);
        var selectBox = $('select[name="cfType"]:first').clone();
        selectBox[0][0].remove();
        selectBox.appendTo(targetCols[1]);

        var opt = [[${T(com.newper.constant.CfType).values()}]];
        $.each(opt, function(index, item){
            if (item == cfType) {
                selectBox.find('option[value="'+item+'"]').attr("selected",true);
            }
        });

        selectBox.multiselect({
            onChange: function (element) {
                element.siblings().attr('selected', false);
                element.attr('selected', true);
                switchInput(element.val())
            }}
        );

        $('#updateBtn').attr('href', 'javascript: saveNewFee('+rowData.CF_IDX + ')');

    }

    function switchInput(cfType) {
        if (cfType == 'R') {
            $('input[name="cfPercent"]').attr('disabled', false);
            $('input[name="cfMoney"]').val("").attr('disabled', true);
        } else {
            $('input[name="cfPercent"]').val("").attr('disabled', true);
            $('input[name="cfMoney"]').attr('disabled', false);
        }
    }

    function saveNewFee(cfIdx) {
        var url = location.pathname;
        if (cfIdx != null && cfIdx != "") {
            url += '/' + cfIdx + '.ajax?' + $('#updateForm').serialize();
        } else {
            url += '.ajax?' + $('#updateForm').serialize() + '&comIdx=' + $('input[name="comIdx"]').val();
        }
        $.ajax({
            url:  url ,
            type: 'post',
            success: function (data) {
                searchFee();
            }
        });
    }

    function showNewFeeForm() {
        if (!$.fn.DataTable.isDataTable('#feeTable')) {
            alert("거래처를 선택해주세요.");
            return false;
        }
        if ($("#updateBtn").length > 0) {
            alert("수정을 먼저 완료해 주세요.");
            return false;
        }
        if ($("#saveBtn").length > 0) {
            alert("이미 생성 중입니다.");
            return false;
        }
        $('#feeTable tr:last').after('<tr><td>' +
                                        '<select name="cateIdx" data-placeholder="카테고리중분류" class="form-control select"></select></td>' +
                                    '<td></td>' +
                                    '<td>' +
                                        '<input type="text" name="cfPercent" disabled>' +
                                    '</td>' +
                                    '<td>' +
                                        '<input type="text" name="cfMoney">' +
                                    '</td>' +
                                    '<td>NEW</td>' +
                                    '<td>' +
                                        '<a href="javascript: saveNewFee()" id="saveBtn" class="badge badge-secondary">저장</a>' +
                                        '<a href="javascript: searchFee()" class="badge badge-light">취소</a>' +
                                    '</td></tr>');
        $('select[name="cateIdx"]').append($('option.opt').clone()).multiselect();
        var selectBox = $('select[name="cfType"]:first').clone();
        selectBox[0][0].remove();
        $('tr:last td')[1].append(selectBox[0]);
        selectBox.multiselect({
            onChange: function (element) {
                element.siblings().attr('selected', false);
                element.attr('selected', true);
                switchInput(element.val())
            }});
    }
</script>
<script th:inline="javascript">
    var storeTable = $('#storeTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:true,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/company/store.dataTable',
            type:'post'
        },
        columnDefs: [ {
            orderable: false,
            targets:   [0]
        } ],
        columns : [
            {'class':'select-checkbox', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'title':'상호법인명','data':null, 'defaultContent':'', 'render': function (data) {
                    return '<a href="javascript: initFeeTable(' + data['COM_IDX'] + ')" class="badge badge-primary">' + data['COM_NAME'] + '</a>';
                }}
            ,{'title':'MID','data':'COM_MID', 'defaultContent':''}
            ,{'title':'구매담당자', 'data':'U_NAME', 'defaultContent':''}
            ,{'title':'등록자','data':'COM_CREATED_BY', 'defaultContent':''}
            ,{'title':'등록일','data':'COM_CREATED_DATE', 'defaultContent':''}
            ,{'title':'수정자','data':'COM_MODIFIED_BY', 'defaultContent':''}
            ,{'title':'수정일','data':'COM_MODIFIED_DATE', 'defaultContent':''}
        ]
    });

    /**입점사의 카테고리별 수수료 테이블 최초 생성**/
    function showFeeTable() {
        $('#feeTable').DataTable({
            dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
            ordering:true,
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            serverSide: true,
            ajax:{
                url: '/company/fee.dataTable?' + $('#searchFeeForm').serialize(),
                type:'post'
            },
            columnDefs: [ {
                orderable: false,
                targets:   [0]
            } ],
            columns : [
                {'title':'카테고리<br>중분류','data':'CATE_NAME','defaultContent':''}
                ,{'title':'정액/정률','data':'CF_TYPE_STR','defaultContent':''}
                ,{'title':'수수료율','data':'CF_PERCENT','defaultContent':''}
                ,{'title':'수수료액', 'data':'CF_MONEY','defaultContent':''}
                // ,{'title':'시작일', 'data':'CF_MONEY', 'defaultContent':''}
                // ,{'title':'종료일', 'data':'CF_MONEY', 'defaultContent':''}
                ,{'title':'수정이력','data':'CF_CATE_IDX','render': function (data, full, type, meta) {
                        return '<a href="#" class="badge badge-primary">수정이력</a>';
                    }}
                ,{'title':'수정버튼','data':'CF_IDX','render': function (data, type, full, meta) {
                        var rowNum = (meta.row+1);
                        return '<a href="javascript: showUpdateForm('+rowNum+')" class="badge badge-primary" data-row="' +rowNum+ '">수정</a>';
                    }}
            ]
        });
    }

    $('#searchStoreForm').on('keyup',function(event){
        if(event.keyCode==13){searchStore();return false;}
    });

    $('#newFeeBtn').on('click', showNewFeeForm);
</script>
</html>