<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="part/head :: head('타이틀')"></head>

<body id="index" th:classappend="${@shopComp.getShopDesign()}">
    <div class="page-container">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- 로그인 모달창 -->
<th:block th:replace="part/modal :: nonMemberLogin-modal"></th:block>

<!-- 메인 이미지 슬라이드 -->
<section class="padding-section padding-none">
    <div class="main-slide">
        <div class="swiper swiper-main-image">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img class="pc-img" src="https://dummyimage.com/1100x520/eee/777777" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="pc-img" src="https://dummyimage.com/1100x520/666666/ffffff" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="pc-img" src="https://dummyimage.com/1100x520/000000/ffffff" alt="">
                </li>
            </ul>
            <div class="swiper-prev"></div>
            <div class="swiper-next"></div>
            <div class="swiper-bottom-box">
                <div class="swiper-pagination"></div>
                <div class="swiper-button-play"></div>
                <div class="swiper-button-pause"></div>
            </div>
            <div class="swiper-progress-bar">
                <span class="slide-progress-bar"></span>
            </div>
            <div class="more-view">더보기</div>
            <!-- 좌측 nav category all -->
            <ul class="ctg-all">
                <li th:each="shopCategory : ${@shopComp.shopCategoryList}">
                    <a th:href="@{|/product/category?scateIdx=${shopCategory.scateIdx}|}" th:text="${shopCategory.scateName}">노트북<span class="separation"></span>데스크탑</a>
                    <div class="ctg-open">
                        <div class="ctg-first-area">
                            <ul>
                                <li>
                                    <a href="javascript:;">LG전자</a>
                                </li>
                                <li>
                                    <a href="javascript:;">한성컴퓨터</a>
                                    <ul class="first-area-sub">
                                        <li>
                                            <a href="javascript:;">프린터<span class="separation"></span>복합기</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">벤큐</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ctg-second-area">
                            <ul class="second-area-1">
                                <li>
                                    <a href="javascript:;">
                                        <img src="https://images.ajrepository.com/item_images/001124955/001124955L1.jpg">
                                        <div class="item-title">삼성 27인치 IPS 슬림베젤 프리싱크 모니터</div>
                                        <div class="item-price">
                                            <span class="discount-price color-red">199,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">243,000</span></p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="second-area-2" th:if="${shopCategory.scateThumbnail != ''}">
                                <a href="javascript:;">
                                    <img th:src="@{${shopCategory.scateThumbnail}}">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
<!--                <li>-->
<!--                    <a href="javascript:;">모니터<span class="separation"></span>주변기기</a>-->
<!--                    <div class="ctg-open">-->
<!--                        <div class="ctg-first-area">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">LG전자</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">삼성전자</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">한성컴퓨터</a>-->
<!--                                    <ul class="first-area-sub">-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">프린터<span class="separation"></span>복합기</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">유무선공유기<span class="separation"></span>허브</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">외장 HDD<span class="separation"></span>SSD</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">보조배터리<span class="separation"></span>충전기</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">키보드<span class="separation"></span>마우스</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">키보드 마우스 패드</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">노트북 주변기기</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">프린터 복합기</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">스피커</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript:;">기타</a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">벤큐</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">DELL</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">알파스캔</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">주연테크</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">ASUS</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">HP</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">제이씨현시스템</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">필립스</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">MSI</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">크로스오버존</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="ctg-second-area">-->
<!--                            <ul class="second-area-1">-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">-->
<!--                                        <img src="https://images.ajrepository.com/item_images/001124955/001124955L1.jpg">-->
<!--                                        <div class="item-title">삼성 27인치 IPS 슬림베젤 프리싱크 모니터</div>-->
<!--                                        <div class="item-price">-->
<!--                                            <span class="discount-price color-red">199,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">243,000</span></p>-->
<!--                                        </div>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="javascript:;">-->
<!--                                        <img src="https://images.ajrepository.com/item_images/001101944/001101944L1.jpg">-->
<!--                                        <div class="item-title">삼성 27인치 IPS 슬림베젤 프리싱크 모니터</div>-->
<!--                                        <div class="item-price">-->
<!--                                            <span class="discount-price color-red">199,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">243,000</span></p>-->
<!--                                        </div>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                            <div class="second-area-2">-->
<!--                                <a href="javascript:;">-->
<!--                                    <img src="https://images.ajrepository.com/root/pages/banner/images/HACB_8F_3.jpg">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li><a href="javascript:;">태블릿<span class="separation"></span>휴대폰<span class="separation"></span>웨어러블</a></li>-->
<!--                <li><a href="javascript:;">음향<span class="separation"></span>이어폰<span class="separation"></span>스피커</a></li>-->
<!--                <li><a href="javascript:;">가전<span class="separation"></span>TV<span class="lseparation"></span>세탁기<span class="separation"></span>냉장고</a></li>-->
<!--                <li><a href="javascript:;">주방<span class="separation"></span>생활<span class="separation"></span>레져</a></li>-->
<!--                <li><a href="javascript:;">차량용품<span class="separation"></span>블랙박스</a></li>-->
<!--                <li><a href="javascript:;">패션<span class="separation"></span>잡화<span class="separation"></span>뷰티</a></li>-->
<!--                <li><a href="javascript:;">식품<span class="separation"></span>헬스케어</a></li>-->
            </ul>
        </div>
    </div>
</section><!-- // 메인 이미지 슬라이드 끝 -->

<th:block th:each="mainsection : ${@shopComp.mainSectionList}">
    <th:block th:each="msJson : ${@shopComp.msJsonList}">
        <th:block th:if="${msJson.get('msIdx') == #strings.toString(mainsection.msIdx) && mainsection.msType.name().equals('PRODUCT')}">
            <th:block th:replace="mainSection/mainSection_product :: __${msJson.get('DISPLAY_TYPE')}__"></th:block>
        </th:block>
    </th:block>
    <th:block th:if="${!mainsection.msType.name().equals('PRODUCT')}">
        <th:block th:replace="mainSection/mainSection_product :: __${mainsection.msType.name()}__"></th:block>
    </th:block>
</th:block>

<!-- 리얼리뷰 PICK -->
<section class="padding-section section-title-padding">
    <div class="container">
        <div class="section-title color-title text-center">
            <h1 class="font-weight-500">뉴퍼마켓 고객님들의 <span class="color-blue">리얼리뷰 PICK</span></h1>
            <p class="page-sub-title">실제 구매자들이 남긴 솔직한 리뷰를 만나보세요.</p>
        </div>
    </div>
</section>
<section class="padding-section">
    <div class="container">
        <div class="all-view">
            <a href="javascript">베스트 상품리뷰 전체보기<i></i></a>
        </div>
        <div class="swiper-all">
            <div class="swiper swiper-realReview">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <i class="realReview-pick"></i>
                        <div class="review-inner">
                            <p class="realReview-id">skycoco*****</p>
                            <div class="review-img">
                                <img src="https://dummyimage.com/250x250/eeeeee/777777" alt="">
                                <img class="realReview-photo" src="https://dummyimage.com/100x100/eeeeee/777777" alt="">
                            </div>
                            <div class="review-content">
                                <div class="review-content-top">
                                    <div class="review-grade grade-80"><i></i><span>4.9</span></div>
                                    <span>2022-07-29</span>
                                </div>
                                <div class="review-text">이거 왜 이제 알았을까요?
                                일단 매일 뜯어서 샐러드해먹고 허브는 파스타, 스테이크, 부르스게타 등등 너무 잘해먹어요.
                                </div>
                            </div>
                            <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원<span class="real-price">897,000</span><p></p>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <i class="realReview-pick"></i>
                        <div class="review-inner">
                            <p class="realReview-id">skycoco*****</p>
                            <div class="review-img">
                                <img src="https://dummyimage.com/250x250/eeeeee/777777" alt="">
                                <img class="realReview-photo" src="https://dummyimage.com/100x100/eeeeee/777777" alt="">
                            </div>
                            <div class="review-content">
                                <div class="review-content-top">
                                    <div class="review-grade grade-60"><i></i><span>3.2</span></div>
                                    <span>2022-07-29</span>
                                </div>
                                <div class="review-text">이거 왜 이제 알았을까요?
                                    일단 매일 뜯어서 샐러드해먹고 허브는 파스타, 스테이크, 부르스게타 등등 너무 잘해먹어요.
                                </div>
                            </div>
                            <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원<span class="real-price">897,000</span><p></p>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <i class="realReview-pick"></i>
                        <div class="review-inner">
                            <p class="realReview-id">skycoco*****</p>
                            <div class="review-img">
                                <img src="https://dummyimage.com/250x250/eeeeee/777777" alt="">
                                <img class="realReview-photo" src="https://dummyimage.com/100x100/eeeeee/777777" alt="">
                            </div>
                            <div class="review-content">
                                <div class="review-content-top">
                                    <div class="review-grade grade-20"><i></i><span>1.9</span></div>
                                    <span>2022-07-29</span>
                                </div>
                                <div class="review-text">이거 왜 이제 알았을까요?
                                    일단 매일 뜯어서 샐러드해먹고 허브는 파스타, 스테이크, 부르스게타 등등 너무 잘해먹어요.
                                </div>
                            </div>
                            <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원<span class="real-price">897,000</span><p></p>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <i class="realReview-pick"></i>
                        <div class="review-inner">
                            <p class="realReview-id">skycoco*****</p>
                            <div class="review-img">
                                <img src="https://dummyimage.com/250x250/eeeeee/777777" alt="">
                                <img class="realReview-photo" src="https://dummyimage.com/100x100/eeeeee/777777" alt="">
                            </div>
                            <div class="review-content">
                                <div class="review-content-top">
                                    <div class="review-grade grade-80"><i></i><span>4.9</span></div>
                                    <span>2022-07-29</span>
                                </div>
                                <div class="review-text">이거 왜 이제 알았을까요?
                                    일단 매일 뜯어서 샐러드해먹고 허브는 파스타, 스테이크, 부르스게타 등등 너무 잘해먹어요.
                                </div>
                            </div>
                            <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원<span class="real-price">897,000</span><p></p>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <i class="realReview-pick"></i>
                        <div class="review-inner">
                            <p class="realReview-id">skycoco*****</p>
                            <div class="review-img">
                                <img src="https://dummyimage.com/250x250/eeeeee/777777" alt="">
                                <img class="realReview-photo" src="https://dummyimage.com/100x100/eeeeee/777777" alt="">
                            </div>
                            <div class="review-content">
                                <div class="review-content-top">
                                    <div class="review-grade grade-80"><i></i><span>4.9</span></div>
                                    <span>2022-07-29</span>
                                </div>
                                <div class="review-text">이거 왜 이제 알았을까요?
                                    일단 매일 뜯어서 샐러드해먹고 허브는 파스타, 스테이크, 부르스게타 등등 너무 잘해먹어요.
                                </div>
                            </div>
                            <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원<span class="real-price">897,000</span><p></p>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <i class="realReview-pick"></i>
                        <div class="review-inner">
                            <p class="realReview-id">skycoco*****</p>
                            <div class="review-img">
                                <img src="https://dummyimage.com/250x250/eeeeee/777777" alt="">
                                <img class="realReview-photo" src="https://dummyimage.com/100x100/eeeeee/777777" alt="">
                            </div>
                            <div class="review-content">
                                <div class="review-content-top">
                                    <div class="review-grade grade-80"><i></i><span>4.9</span></div>
                                    <span>2022-07-29</span>
                                </div>
                                <div class="review-text">이거 왜 이제 알았을까요?
                                    일단 매일 뜯어서 샐러드해먹고 허브는 파스타, 스테이크, 부르스게타 등등 너무 잘해먹어요.
                                </div>
                            </div>
                            <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원<span class="real-price">897,000</span><p></p>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <i class="realReview-pick"></i>
                        <div class="review-inner">
                            <p class="realReview-id">skycoco*****</p>
                            <div class="review-img">
                                <img src="https://dummyimage.com/250x250/eeeeee/777777" alt="">
                                <img class="https://dummyimage.com/100x100/eeeeee/777777" alt="">
                            </div>
                            <div class="review-content">
                                <div class="review-content-top">
                                    <div class="review-grade grade-80"><i></i><span>4.9</span></div>
                                    <span>2022-07-29</span>
                                </div>
                                <div class="review-text">이거 왜 이제 알았을까요?
                                    일단 매일 뜯어서 샐러드해먹고 허브는 파스타, 스테이크, 부르스게타 등등 너무 잘해먹어요.
                                </div>
                            </div>
                            <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원<span class="real-price">897,000</span><p></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="review-pagination pagination"></div>
        </div>
    </div>
</section><!-- // 리얼리뷰 PICK 끝 -->

<!-- 공지사항 -->
<section class="padding-section notice-wrap">
    <div class="container">
        <div class="col-list lg-2col sm-1col">
            <div class="notice-left">
                <div class="notice-title">
                    <h2>공지사항</h2>
                    <p><a href="#">전체보기</a></p>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th class="hidden">제목</th>
                        <th class="hidden">작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="javascript:;">사전리뉴얼 이벤트 뉴퍼마켓 오히려 좋아 당첨자 발표</a></td>
                        <td>2022.07.15</td>
                    </tr>
                    <tr>
                        <td><a href="javascript:;">사전리뉴얼 이벤트 뉴퍼마켓 오히려 좋아 당첨자 발표</a></td>
                        <td>2022.07.15</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="notice-right">
                <div class="storeInfo">
                    <div class="notice-title">
                        <h2>지점번호</h2>
                    </div>
                    <div>
                        <div class="swiper swiper-storeInfo">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <p>송도지점</p>
                                        <p>10:30 AM - 9:00 PM</p>
                                        <p class="phone-number
        ">032-727-2251</p>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <p>동대문지점</p>
                                        <p>10:30 AM - 9:00 PM</p>
                                        <p class="phone-number
        ">02-2283-2143</p>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <p>가산지점</p>
                                        <p>10:30 AM - 9:00 PM</p>
                                        <p class="phone-number
        ">02-6959-7305</p>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <p>신규지점</p>
                                        <p>10:30 AM - 9:00 PM</p>
                                        <p class="phone-number
        ">02-1234-5678</p>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <p>신규지점</p>
                                        <p>10:30 AM - 9:00 PM</p>
                                        <p class="phone-number
        ">02-1234-5678</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="storeInfo-prev"></div>
                            <div class="storeInfo-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- // 공지사항  끝 -->

<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!-- 상품상세 구매하기 하단 고정 -->
<section>
    <div class="fixed-buy">
        <div class="fixed-buy-top">
            <div class="container">
                <p><span class="bold">TODAY!</span> 2022년 8월 5일 금요일</p>
                <p>현재 <span class="color-red">38개</span> 판매되고 <span class="color-red">25개</span> 남았어요!  지금 <span class="color-red">13분</span>이 관심을 보이고 있어요!</p>
            </div>
        </div>

        <div class="fixed-buy-mid container">
            <div class="fixed-buy-thumb">
                <img src="https://dummyimage.com/100x100/eeeeee/777777" alt="상품이미지">
            </div>
            <div class="fixed-buy-info">
                <div class="fixed-buy-title">
                    <h2>[이가격 마지막!!] 애플 아이패드 7세대 10.1 Wi-Fi 32GB 스페이스 그레이</h2>
                    <p>최종혜택가 <span class="color-red">339,000원</span></p>
                </div>

                <!-- 옵션상품 -->
                <div class="fixed-buy-option">
                    <ul>
                        <li>
                            <label>필수옵션상품</label>
                            <select>
                                <option>옵션 선택</option>
                                <option>옵션선택</option>
                            </select>
                        </li>
                        <li>
                            <label>필수옵션상품</label>
                            <select>
                                <option>옵션 선택</option>
                                <option>옵션선택</option>
                            </select>
                        </li>
                        <li>
                            <label>선택옵션상품</label>
                            <select>
                                <option>옵션 선택</option>
                                <option>옵션선택</option>
                            </select>
                        </li>
                        <li>
                            <label>선택옵션상품</label>
                            <select>
                                <option>옵션 선택</option>
                                <option>옵션선택</option>
                            </select>
                        </li>
                    </ul>
                    <div class="selected-option">
                        <p>[이가격 마지막!!] 애플 아이패드 7세대 10.1 Wi-Fi 32GB
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed-buy-bot container">
            <a href="javascript:;" class="btn bnt2">장바구니</a>
            <a href="javascript:;" class="btn bnt3">구매하기</a>
            <div class="prod-heart">
                <i class="heart"></i>
            </div>
        </div>

    </div>
</section>

<!-- 모바일 하단 고정 네비게이션 -->
<div id="mo-bottom-nav">
    <ul class="mo-bottom-nav">
        <li>
            <a href="javascript:;"><i class="nav-ctg"></i>카테고리</a>
        </li>
        <li>
            <a href="javascript:;"><i class="nav-zzim"></i>찜한상품</a>
        </li>
        <li class="mo-home">
            <a href="javascript:;"><i class="nav-home"></i>홈</a>
        </li>
        <li>
            <a href="javascript:;"><i class="nav-my"></i>마이쇼핑</a>
        </li>
        <li>
            <a href="javascript:;"><i class="nav-recent"></i>최근본상품</a>
        </li>
    </ul>
</div><!-- //모바일 하단 고정 네비게이션 끝 -->

<!--js-->
<th:block th:replace="part/js"></th:block>

    </div>
</body>
</html>