<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newper-index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="icon" href="./image/favicon/shop-favicon.png">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <th:block th:replace="/part/css.html"></th:block>
    <style>
        @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
    </style>
</head>
<body>
<!-- 카테고리 영역 -->
<header>
    <div class="header-top">
        <div class="container">
            <div class="header-top-inner">
                <h1 class="logo">
                    <a href="javascript:;">
                        <img src="./image/logo.png" alt="로고">
                    </a>
                </h1>
                <div class="searchSection">
                    <div class="searchBar">
                        <form name="searchForm" id="searchForm" action="" method="get" onsubmit="return false;">
                            <input type="text" id="searchInput" name="i" class="main-search" value="">
                        </form>
                        <div class="search-icon"></div>
                    </div>
                </div>
                <div class="userMenu">
                    <ul>
                        <li><a href="javascript:;">회원가입</a></li>
                        <li><a href="javascript:;">로그인</a></li>
                        <li><a href="javascript:;">장바구니</a></li>
                        <li><a href="javascript:;">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- gnb -->
    <nav>
        <div class="menu-btn-wrap">
            <div class="menu-btn">
            </div>
            <p>전체 카테고리</p>
        </div>
        <div class="swiper swiper-gnb">
            <ul class="gnb swiper-wrapper">
                <li class="swiper-slide new"><a href="javascript:;">단돈천원</a>
                </li>
                <li class="swiper-slide new"><a href="javascript:;">신상입고</a></li>
                <li class="swiper-slide"><a href="javascript:;">균일가특판</a></li>
                <li class="swiper-slide"><a href="javascript:;">베스트100</a></li>
                <li class="swiper-slide new"><a href="javascript:;">타임세일</a></li>
                <li class="swiper-slide"><a href="javascript:;">품절임박</a></li>
                <li class="swiper-slide"><a href="javascript:;">삼성에어컨</a></li>
                <li class="swiper-slide"><a href="javascript:;">이벤트/기획전</a></li>
                <li class="swiper-slide"><a href="javascript:;">오늘베스트</a></li>
                <li class="swiper-slide"><a href="javascript:;">abcd</a></li>
            </ul>
            <div class="swiper-gnb-next"></div>
        </div>
        <div class="snb new"><a href="javascript:;">주간pick</a></div>
    </nav>
    <!-- // gnb 끝 -->
</header>


<!-- 메인 이미지 슬라이드 -->
<div class="main-slide">
    <div class="swiper swiper-main-image">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <img class="pc-img" src="https://images.ajrepository.com/root/pages/banner/images/CBRB_1_4.jpg" alt="">
            <li class="swiper-slide">
                <img class="pc-img" src="https://images.ajrepository.com/root/pages/banner/images/CBRB_1_7.jpg" alt="">
            <li class="swiper-slide">
                <img class="pc-img" src="https://images.ajrepository.com/root/pages/banner/images/CBRB_1_5.jpg" alt="">
        </ul>
        <div class="swiper-prev"></div>
        <div class="swiper-next"></div>
        <div class="swiper-bottom-box">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-play"></div>
            <div class="swiper-button-pause"></div>
        </div>
        <div class="swiper-progress-bar">
            <span class="slide-progress-bar"></span>
        </div>
        <div class="more-view">더보기</div>
        <!-- 좌측 nav category all -->
        <ul class="ctg-all">
            <li>
                <a href="javascript:;">노트북<span class="separation"></span>데스크탑</a>
            </li>
            <li>
                <a href="javascript:;">모니터<span class="separation"></span>주변기기</a>
                <div class="ctg-open">
                    <div class="ctg-first-area">
                        <ul>
                            <li>
                                <a href="javascript:;">LG전자</a>
                            </li>
                            <li>
                                <a href="javascript:;">삼성전자</a>
                            </li>
                            <li>
                                <a href="javascript:;">한성컴퓨터</a>
                                <div class="ctg-second-area">
                                    <ul class="second-area-1">
                                        <li>
                                            <a href="javascript:;">프린터<span class="separation"></span>복합기</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">유무선공유기<span class="separation"></span>허브</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">외장 HDD<span class="separation"></span>SSD</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">보조배터리<span class="separation"></span>충전기</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">키보드<span class="separation"></span>마우스</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">키보드 마우스 패드</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">노트북 주변기기</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">프린터 복합기</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">스피커</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">기타</a>
                                        </li>
                                    </ul>
                                    <ul class="second-area-2">
                                        <li>
                                            <a href="javascript:;"><img src="https://images.ajrepository.com/item_images/001124955/001124955L1.jpg"></a>
                                        </li>
                                        <li>
                                            <a href="javascript:;"><img src="https://images.ajrepository.com/item_images/001101944/001101944L1.jpg"></a>
                                        </li>
                                    </ul>
                                    <div class="second-area-3">
                                        <a href="javascript:;">
                                            <img src="https://images.ajrepository.com/root/pages/banner/images/HACB_8F_3.jpg">
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">벤큐</a>
                            </li>
                            <li>
                                <a href="javascript:;">DELL</a>
                            </li>
                            <li>
                                <a href="javascript:;">알파스캔</a>
                            </li>
                            <li>
                                <a href="javascript:;">주연테크</a>
                            </li>
                            <li>
                                <a href="javascript:;">ASUS</a>
                            </li>
                            <li>
                                <a href="javascript:;">HP</a>
                            </li>
                            <li>
                                <a href="javascript:;">제이씨현시스템</a>
                            </li>
                            <li>
                                <a href="javascript:;">필립스</a>
                            </li>
                            <li>
                                <a href="javascript:;">MSI</a>
                            </li>
                            <li>
                                <a href="javascript:;">크로스오버존</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="javascript:;">태블릿<span class="separation"></span>휴대폰<span class="separation"></span>웨어러블</a></li>
            <li><a href="javascript:;">음향<span class="separation"></span>이어폰<span class="separation"></span>스피커</a></li>
            <li><a href="javascript:;">가전<span class="separation"></span>TV<span class="lseparation"></span>세탁기<span
                    class="separation"></span>냉장고</a></li>
            <li><a href="javascript:;">주방<span class="separation"></span>생활<span class="separation"></span>레져</a></li>
            <li><a href="javascript:;">차량용품<span class="separation"></span>블랙박스</a></li>
            <li><a href="javascript:;">패션<span class="separation"></span>잡화<span class="separation"></span>뷰티</a></li>
            <li><a href="javascript:;">식품<span class="separation"></span>헬스케어</a></li>
        </ul>
    </div>
</div><!-- // 메인 이미지 슬라이드 끝 -->

<!-- 타임세일 이벤트 -->
<section class="timeSale">
    <h2 class="section-title"><span class="color-blue">선착순!</span> 고민하는 순간 품절~</h2>
    <div class="time">
        <span class="time-num">19</span><span class="time-colon">:</span><span class="time-num">32</span><span class="time-colon">:</span><span class="time-num">49</span>
    </div>

    <div class="swiper-all">
        <div class="swiper swiper-thumbnail swiper-timeSale container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="item-img">
                        <p class="stock-quantity">남은수량 <span class="color-red">1</span>개</p>
                        <img src="https://images.ajrepository.com/item_images/001126383/001126383L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                            </div>
                            <div class="discount-rate">45%</div>
                        </div>
                        <div class="item-title">삼성 27인치 IPS 슬림베젤 프리싱크 모니터</div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">199,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">243,000</span><p></p>
                            </div>
                            <div class="purchase-btn color-blue">구매하기</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="item-img">
                        <p class="stock-quantity">남은수량 <span class="color-red">3</span>개</p>
                        <img src="https://images.ajrepository.com/item_images/001125585/001125585L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-1">새상품</span>
                                <span class="item-condition item-conditionB-1">무료배송</span>
                            </div>
                            <div class="discount-rate">51%</div>
                        </div>
                        <div class="item-title">[캐리어] 클라윈드 560L 양문형 냉장고 CRF-SN560OFC</div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">889,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">1,105,770</span><p></p>
                            </div>
                            <div class="purchase-btn color-blue">구매하기</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="item-img">
                        <p class="stock-quantity">남은수량 <span class="color-red">3</span>개</p>
                        <img src="https://images.ajrepository.com/item_images/001120052/001120052L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                            </div>
                            <div class="discount-rate">69%</div>
                        </div>
                        <div class="item-title">[하성] MG - 201 매직기 스트레이트 웨이브 고데기</div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">99,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">319,550</span><p></p>
                            </div>
                            <div class="purchase-btn color-blue">구매하기</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="item-img">
                        <p class="stock-quantity">남은수량 <span class="color-red">1</span>개</p>
                        <img src="https://images.ajrepository.com/item_images/001126682/001126682L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                            </div>
                            <div class="discount-rate">45%</div>
                        </div>
                        <div class="item-title">삼성 27인치 IPS 슬림베젤 프리싱크 모니터</div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">199,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">243,000</span><p></p>
                            </div>
                            <div class="purchase-btn color-blue">구매하기</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="item-img">
                        <p class="stock-quantity">남은수량 <span class="color-red">1</span>개</p>
                        <img src="https://images.ajrepository.com/item_images/001123118/001123118L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                            </div>
                            <div class="discount-rate">45%</div>
                        </div>
                        <div class="item-title">삼성 27인치 IPS 슬림베젤 프리싱크 모니터</div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">199,000</span>원&nbsp;&nbsp;<span class="real-price">243,000</span><p></p>
                            </div>
                            <div class="purchase-btn color-blue">구매하기</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="item-img">
                        <p class="stock-quantity">남은수량 <span class="color-red">1</span>개</p>
                        <img src="https://images.ajrepository.com/item_images/001126892/001126892L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                            </div>
                            <div class="discount-rate">45%</div>
                        </div>
                        <div class="item-title">삼성 27인치 IPS 슬림베젤 프리싱크 모니터</div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">199,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">243,000</span><p></p>
                            </div>
                            <div class="purchase-btn color-blue">구매하기</div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="swiper-thumbnail-prev"></div>
        <div class="swiper-thumbnail-next"></div>
    </div>
</section><!-- // 타임세일 이벤트 끝 -->

<!-- 반값 이벤트 -->
<section class="halfPrice">
    <h2 class="section-title">뉴퍼마켓 반값+습니다</h2>
    <div class="swiper-all">
        <div class="swiper swiper-thumbnail swiper-halfPrice container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="item-img">
                        <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                                <span class="item-condition item-conditionB-1">스크래치</span>
                            </div>
                            <div class="buy-count color-blue">판매수 37</div>
                        </div>
                        <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                        <div class="item-color">
                            <span><span></span></span>
                            <span><span></span></span>
                            <span><span></span></span>
                        </div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">897,000</span></p>
                            </div>
                            <div class="discount-rate">57%</div>
                        </div>
                        <div class="item-inner-wrap">
                            <div class="grade-wrap">
                                <span class="grade"><i class="star"></i>5.0 (31)</span>
                                &nbsp;&nbsp;
                                <span>남은수량 4</span>
                            </div>
                            <div class="wish">25&nbsp;&nbsp;<i class="heart"></i></div>
                        </div>
                        <div class="item-footer">
                            <span class="color-blue">영리한배송</span>
                            &nbsp;&nbsp;
                            <span>무이자</span>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="item-img">
                        <img src="https://images.ajrepository.com/item_images/001125585/001125585L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-1">새상품</span>
                            </div>
                            <div class="buy-count color-blue">판매수 37</div>
                        </div>
                        <div class="item-title">삼성 노트북3 Pro 대용량</div>
                        <div class="item-color">
                        </div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">897,000</span></p>
                            </div>
                            <div class="discount-rate">57%</div>
                        </div>
                        <div class="item-inner-wrap">
                            <div class="grade-wrap">
                                <span class="grade"><i class="star"></i>5.0 (31)</span>
                                &nbsp;&nbsp;
                                <span>남은수량 4</span>
                            </div>
                            <div class="wish">25&nbsp;&nbsp;<i class="heart active"></i></div>
                        </div>
                        <div class="item-footer">
                            <span class="color-blue">영리한배송</span>
                            &nbsp;&nbsp;
                            <span>무이자</span>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="item-img">
                        <img src="https://images.ajrepository.com/item_images/001120052/001120052L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-6">해외리퍼</span>
                                <span class="item-condition item-conditionB-1">신품수준</span>
                            </div>
                            <div class="buy-count color-blue">판매수 37</div>
                        </div>
                        <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스 가나다라 마바사 아자차카 타파하</div>
                        <div class="item-color">
                            <span><span></span></span>
                            <span><span></span></span>
                            <span><span></span></span>
                        </div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">897,000</span></p>
                            </div>
                            <div class="discount-rate">57%</div>
                        </div>
                        <div class="item-inner-wrap">
                            <div class="grade-wrap">
                                <span class="grade"><i class="star"></i>5.0 (31)</span>
                                &nbsp;&nbsp;
                                <span>남은수량 4</span>
                            </div>
                            <div class="wish">25&nbsp;&nbsp;<i class="heart"></i></div>
                        </div>
                        <div class="item-footer">
                            <span class="color-blue">영리한배송</span>
                            &nbsp;&nbsp;
                            <span>무이자</span>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="item-img">
                        <img src="https://images.ajrepository.com/item_images/001126682/001126682L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-3">박스개봉</span>
                                <span class="item-condition item-conditionB-1">가성비</span>
                            </div>
                            <div class="buy-count color-blue">판매수 37</div>
                        </div>
                        <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                        <div class="item-color">
                            <span><span></span></span>
                            <span><span></span></span>
                            <span><span></span></span>
                        </div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">897,000</span></p>
                            </div>
                            <div class="discount-rate">57%</div>
                        </div>
                        <div class="item-inner-wrap">
                            <div class="grade-wrap">
                                <span class="grade"><i class="star"></i>5.0 (31)</span>
                                &nbsp;&nbsp;
                                <span>남은수량 4</span>
                            </div>
                            <div class="wish">25&nbsp;&nbsp;<i class="heart"></i></div>
                        </div>
                        <div class="item-footer">
                            <span class="color-blue">영리한배송</span>
                            &nbsp;&nbsp;
                            <span>무이자</span>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="item-img">
                        <img src="https://images.ajrepository.com/item_images/001123118/001123118L1.jpg" alt="">
                    </div>
                    <div class="item-info">
                        <div class="item-inner-wrap">
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                                <span class="item-condition item-conditionB-1">스크래치</span>
                            </div>
                            <div class="buy-count color-blue">판매수 37</div>
                        </div>
                        <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                        <div class="item-color">
                            <span><span></span></span>
                            <span><span></span></span>
                            <span><span></span></span>
                        </div>
                        <div class="item-inner-wrap">
                            <div class="item-price">
                                <span class="discount-price">359,000</span>원&nbsp;&nbsp;&nbsp;<span class="real-price">897,000</span></p>
                            </div>
                            <div class="discount-rate">57%</div>
                        </div>
                        <div class="item-inner-wrap">
                            <div class="grade-wrap">
                                <span class="grade"><i class="star"></i>5.0 (31)</span>
                                &nbsp;&nbsp;
                                <span>남은수량 4</span>
                            </div>
                            <div class="wish">25&nbsp;&nbsp;<i class="heart"></i></div>
                        </div>
                        <div class="item-footer">
                            <span class="color-blue">영리한배송</span>
                            &nbsp;&nbsp;
                            <span>무이자</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="swiper-thumbnail-prev"></div>
        <div class="swiper-thumbnail-next"></div>
    </div>
</section><!-- // 반값 이벤트 끝 -->

<!-- footer -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-inner">
                <ul class="footer-menu">
                    <li><a href="javascript:;">회사소개</a></li>
                    <li><a href="javascript:;">고객센터</a></li>
                    <li><a href="javascript:;">지점안내</a></li>
                    <li><a href="javascript:;">제휴 및 입점안내</a></li>
                    <li><a href="javascript:;">회원혜택안내</a></li>
                </ul>
                <ul class="footer-sns">
                    <li><a href="https://apps.apple.com/kr/app/aj%EC%A0%84%EC%8B%9C%EB%AA%B0/id1473153660" target="_blank"><img src="./image/apple.png" alt="애플"></a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.ajjuncmall.app" target="_blank"><img src="./image/googlePlay.png" alt="구글플레이"></a></li>
                    <li><a href="https://band.us/band/61156961" target="_blank"><img src="./image/band.png" alt="밴드"></a></li>
                    <li><a href="https://www.facebook.com/newpermarket" target="_blank"><img src="./image/facebook.png" alt="페이스북"></a></li>
                    <li><a href="https://www.instagram.com/newpermarket/" target="_blank"><img src="./image/instagram.png" alt="인스타그램"></a></li>
                    <li><a href="https://pf.kakao.com/_hxhxijV" target="_blank"><img src="./image/kakaoch.png" alt="카카오톡채널"></a></li>
                    <li><a href="https://blog.naver.com/dgreward" target="_blank"><img src="./image/blog.png" alt="네이버블로그"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-content">
                <div class="footerLogo">
                    <a href="javascript:;">
                        <img src="./image/logo.png" alt="로고">
                    </a>
                </div>
                <div class="footerLeft">
                    <div class="comp-info">
                        <p>상호명 : 에이제이전시몰(주)</p>
                        <p>대표이사 : 이정진, 김준&nbsp;&nbsp;&nbsp;<span class="separation">&nbsp;&nbsp;&nbsp;서울시 송파구 법원로 11길 11, 문정현대지식산업센터 1-1 제9종, 905-908호</span></p>
                        <p>사업자등록번호 : 117-81-62550&nbsp;&nbsp;&nbsp;<span class="separation">&nbsp;&nbsp;&nbsp;통신판매업신고 : 제2018-서울송파-1623호 사업자정보확인</span></p>
                        <p>Fax : 02) 6941-0978&nbsp;&nbsp;&nbsp;<span class="separation">&nbsp;&nbsp;&nbsp;Mail : junsymall@newpermarket.com (발신전용메일)&nbsp;&nbsp;&nbsp;</span><span class="separation">&nbsp;&nbsp;&nbsp;개인정보 보호책임자 : 문인주</span></p>
                    </div>
                    <div class="policy">
                        <span>개인정보처리방침</span>
                        <span>이용약관</span>
                        <span>NHN KCP 구매안전 서비스</span>
                    </div>
                    <ul class="award-list">
                        <li>
                            <a href="javascript:;"><i class="award-icon award-icon1"></i>소비자가 뽑은<br>한국소비자만족지수 1위</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="award-icon award-icon2"></i>2016<br>국가품질 만족지수 1위</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="award-icon award-icon3"></i>트렌드 코리아<br>전시몰이 쏜다!</a>
                        </li>
                    </ul>
                    <div class="copyright">
                        COPYRIGHT 2022 AJ junsymall Corp. All RIGHTS RESERVED
                    </div>
                </div>
                <div class="footerRight">
                    <h3>고객센터</h3>
                    <div class="center-info-wrap">
                        <div class="center-tell">
                            <p>1566-5027</p>
                        </div>
                        <div class="center-info">
                            <p>평일 09:00 - 18:00&nbsp;&nbsp;&nbsp;
                            <span class="separation">&nbsp;&nbsp;&nbsp;점심시간 12:00 - 13:00</span></p>
                            <p>(토/일요일, 공휴일 휴무)</p>
                            <p class="center-info-notice">문의 전 자주묻는질문을 통해 <a href="javascript:;" class="simpleCheck">간단확인</a><i class="triangle"></i> 을 진행 해 주세요.</p>
                        </div>
                    </div>
                    <div class="footer-btn">
                        <ul>
                            <li><a href="javascript:;">자주묻는질문</a></li>
                            <li><a href="javascript:;">1:1 문의</a></li>
                            <li><a href="javascript:;">A/S 온라인접수</a></li>
                            <li><a href="javascript:;">지점위치안내</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- // footer 끝 -->

<script>
    /** gnb-menu list slide [swiper] **/
    new Swiper('.swiper-gnb', {
        slidesPerView: 'auto',
        navigation: {
            nextEl: '.swiper-gnb-next',
            disabledClass: 'gnb-disabled',
        }
    });

    /** index page-main image slide [swiper] **/
    const swiper = new Swiper('.swiper-main-image', {
        slidesPerView: 1,
        speed: 300,
        autoplay: true,
        loop: true,
        loopAdditionalSlides: 1,
        pagination: {
            el: '.swiper-pagination', type: 'custom',
            renderCustom: function (swiper, current, total) {
                return '<span class="current-num">' + current + '</span> &nbsp;/&nbsp; <span class="total-num">' + total + '</span>';
            },
        },
        navigation: {
            nextEl: '.swiper-next',
            prevEl: '.swiper-prev',
        },
        on: {
            init: function () {
                $(".swiper-progress-bar").removeClass("animate");
                $(".swiper-progress-bar").eq(0).addClass("animate");
            },
            slideChangeTransitionStart: function () {
                $(".swiper-progress-bar").removeClass("animate");
            },
            slideChangeTransitionEnd: function () {
                $(".swiper-progress-bar").eq(0).addClass("animate");
            }
        }
    });
    /* index page-main image slide 일시정지, 재생 기능 */
    $(".swiper-button-pause").click(function () {
        $(this).css('display', 'none');
        $('.swiper-button-play').css('display', 'block');
        swiper.autoplay.stop();
        return false
    });
    $(".swiper-button-play").click(function () {
        $(this).css('display', 'none');
        $('.swiper-button-pause').css('display', 'block');
        swiper.autoplay.start();
        return false
    });

    /** 메인 이미지 슬라이드 좌측 카테고리 서브 메뉴 열림 **/
    $('.ctg-open').hide();
    $(".ctg-all>li").mouseover(function(){
        $(this).addClass("on")
               .children(".ctg-open").show();

    });
    $(".ctg-all>li").mouseout(function(){
        $(this).removeClass("on")
               .children(".ctg-open").hide();
    });


    /** 타임세일 이벤트 **/
    new Swiper('.swiper-timeSale', {
        slidesPerView: 3,
        spaceBetween: 30,
        speed:700,
        /*autoplay:true,*/
        navigation: {
            nextEl: '.swiper-thumbnail-next',
            prevEl: '.swiper-thumbnail-prev',
            disabledClass: 'button-disabled',
        },
    });
    /** 반값 이벤트 **/
    new Swiper('.swiper-halfPrice', {
        slidesPerView: 4,
        spaceBetween: 35,
        speed:700,
        /*autoplay:true,*/
        navigation: {
            nextEl: '.swiper-thumbnail-next',
            prevEl: '.swiper-thumbnail-prev',
            disabledClass: 'button-disabled',
        },
    });
    /* 좋아요(하트) 클릭 시 하트 색채움 사진으로 전환 */
    $(".heart").click(function () {
        $(this).toggleClass('active');
    });

</script>
</body>
</html>