<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="asModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">AS상세</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="col-lg-12" id="ProductDiv">
                    <form id="asForm">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">
                                <fieldset class="mb-0">
                                    <legend>1. 자산정보</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상품코드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="pIdx" id="pIdx" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상품명</span>
                                                    </span>
                                                    <input type="text" class="form-control" id="pName" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">자산코드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="gIdx" id="gIdx" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">자산바코드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="gBarcode" id="gBarcode" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="mb-0">
                                    <legend>2. 주문정보
                                        <span class="ml-2">
                                            <a class="btn btn-sm btn-primary ml-1" onclick="setAsOgIdx()">주문상품 매핑</a>
                                        </span>
                                    </legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">주문코드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="oCode" id="oCode" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">주문상품/자산바코드</span>
                                                    </span>
                                                    <select class="form-control" id="ogIdx" name="ogIdx">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="mb-0">
                                    <legend>3. 고객정보
                                        <span class="ml-2">
                                            <a class="btn btn-sm btn-primary ml-1" onclick="saveAsReason()">사유저장</a>
                                        </span>
                                    </legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">이름</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="asName" id="asName" readonly>
                                                    <input type="hidden" name="asIdx" id="asIdx" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">이메일</span>
                                                    </span>
                                                    <input type="text" class="form-control" id="asMail" name="asMail" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">휴대폰</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="asPhone" id="asPhone" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">요청일</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="asDate" id="asDate" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">고객사유</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="asMemo" id="asMemo" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상세사유</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="asReason" id="asReason">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="mt-3">
                                    <legend>4. 금액
                                        <span class="ml-2">
                                            <a class="btn btn-sm btn-primary ml-1" onclick="saveAsCost()">금액저장</a>
                                        </span>
                                    </legend>
                                    <div class="row">
                                        <!-- 입력필드 -->
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">공정예상비용 합계</span>
                                                    </span>
                                                    <input type="input" class="form-control text-won" name="asCost" id="asCost" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 입력필드 -->
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">고객 안내 비용</span>
                                                    </span>
                                                    <input type="input" class="form-control text-won" name="asReqMoney" id="asReqMoney">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 입력필드 -->
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">실제 받은 금액</span>
                                                    </span>
                                                    <input type="input" class="form-control text-won" name="asRcvMoney" id="asRcvMoney">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 입력필드 -->
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">최종발생비용</span>
                                                    </span>
                                                    <input type="input" class="form-control text-won" name="asFinalCost" id="asFinalCost" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function saveAsCost() {
        textWonRemoveComma();

        $.ajax({
            type: "POST",
            url:"/orders/saveAsCost.ajax",
            processData: false,
            contentType: false,
            data: new FormData($('#asCostModalForm')[0]),
            async: false,
            success : function(result){
                location.reload();
            }
        });
    }

    function setAsOgIdx() {
        $.ajax({
            url:'/orders/setAsOgIdx.ajax',
            type:'post',
            data:{
                'ogIdx':$('#ogIdx').val(),
                'gIdx':$('#gIdx').val(),
                'asIdx':$('#asIdx').val()
            },
            success(){
                location.reload();
            }
        });
    }

    function saveAsReason() {
        $.ajax({
            url:'/orders/saveAsReason.ajax',
            type:'post',
            data:$('#asForm').serialize(),
            success(){
                location.reload();
            }
        });
    }

    function openAsModal (id, rowIdx) {
        $('#asModal').modal('show');
        var dataMap = getDatatablemap(id, rowIdx);

        setOrderGs(dataMap.O_IDX);
        // 자산정보
        $('#pIdx').val(dataMap.P_IDX);
        $('#pName').val(dataMap.P_NAME);
        $('#gIdx').val(dataMap.G_IDX);
        $('#gBarcode').val(dataMap.G_BARCODE);

        //주문정보
        $('#oCode').val(dataMap.O_CODE);
        $('#ogIdx option[value='+dataMap.OG_IDX+']').prop('selected', true);

        // 고객 정보
        $('#asIdx').val(dataMap.AS_IDX);
        $('#asName').val(dataMap.AS_NAME);
        $('#adMail').val(dataMap.AS_MAIL);
        $('#asPhone').val(dataMap.AS_PHONE);
        $('#asDate').val(dataMap.AS_DATE);
        $('#asMemo').val(dataMap.AS_MEMO);
        $('#asReason').val(JSON.parse(dataMap.AS_JSON).asReason);

        // 금액 세팅
        $('#asCost').val(dataMap.AS_COST);
        $('#asReqMoney').val(dataMap.AS_REQ_MONEY);
        $('#asRcvMoney').val(dataMap.AS_RCV_MONEY);
        $('#asFinalCost').val(dataMap.AS_FINAL_COST);

        textWonComma();

    }

    function setOrderGs(oIdx) {
        $.ajax({
            url:'/orders/selectOrderGs.ajax',
            type:'post',
            async: false,
            data: {
                'oIdx':oIdx
            },
            success(result){
                var html = '';

                $.each(result, function (index, value) {
                   html += '<option value="'+value.OG_IDX+'">'+value.GS_NAME+'/'+value.G_BARCODE+'</option>'
                });

                $('#ogIdx').append(html);
            }
        });
    }
</script>
</html>
