<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="orderModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">주문상세</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="col-lg-12" id="ProductDiv">
                    <form id="orderModalForm">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">
                                <fieldset class="mb-0">
                                    <legend>1. 검색</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">회원 번호</span>
                                                    </span>
                                                    <input class="form-control" name="cuIdx" id="cuIdx" readonly>
                                                    <input type="hidden" id="asIdx_orderModal">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">주문번호</span>
                                                    </span>
                                                    <input class="form-control" name="oCode">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">송장번호</span>
                                                    </span>
                                                    <input class="form-control" name="dnNum">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">주문자</span>
                                                    </span>
                                                    <input class="form-control" name="oName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">연락처</span>
                                                    </span>
                                                    <input class="form-control" name="oPhone">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">수령인</span>
                                                    </span>
                                                    <input class="form-control" name="oaName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">수령인 연락처</span>
                                                    </span>
                                                    <input class="form-control" name="oaPhone">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">주소</span>
                                                    </span>
                                                    <input class="form-control" name="addr">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">재고코드</span>
                                                    </span>
                                                    <input class="form-control" name="gsCode">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">샵상품</span>
                                                    </span>
                                                    <input class="form-control" name="spoName">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="justify-content-end mt-2 mb-2">
                                    <button type="button" class="btn btn-sm btn-secondary" onclick="orderSearch()">
                                        <i class="icon-search4 mr-1"></i>조회
                                    </button>
                                </div>

                                <table class="table" id="orderModalTable"></table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openOrderModal (id, rowIdx) {
        $('#orderModal').modal('show');
        var dataMap = getDatatablemap(id, rowIdx);

        $('#asIdx_orderModal').val(dataMap.AS_IDX);
        $('#cuIdx').val(dataMap.O_CU_IDX);
        orderSearch();
    }


    function setAsOgIdx(ogIdx) {
        $.ajax({
            url:'/orders/setAsOgIdx.ajax',
            type:'post',
            data:{
                'ogIdx':ogIdx,
                'asIdx':$('#asIdx_orderModal').val()
            },
            success(){
                location.reload();
            }
        });
    }

</script>

<script>
    function orderSearch() {
        orderModalTable.page('first').ajax.url('/orders/orderGs.dataTable?'+$('#orderModalForm').serialize()).load(null, false);
    }

    var orderModalTable = $('#orderModalTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/orders/orderGs.dataTable',
            type:'post'
        },
        columnDefs: [ {
            orderable: false,
            targets:   [0]
        } ],
        "columns" : [
            {'title':'주문번호','data':'O_CODE','defaultContent':''}
            ,{'title':'송장번호','data':'DN_NUM','defaultContent':''}
            ,{'title':'주문자','data':'O_NAME','defaultContent':''}
            ,{'title':'연락처','data':'O_PHONE','defaultContent':''}
            ,{'title':'수령인','data':'OA_NAME','defaultContent':''}
            ,{'title':'수령인 연락처','data':'OA_PHONE','defaultContent':''}
            ,{'title':'주소','data':'','render':function(data,type,full,meta){
                    return full.POST + '' + full.ADDR2 + '' + full.ADDR2 + '' + full.ADDR3 + '' + full.ADDR4;
                }}
            ,{'title':'재고코드','data':'GS_CODE','defaultContent':''}
            ,{'title':'샵상품','data':'SPO_NAME','defaultContent':''}
            ,{'title':'선택','data':'','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-indigo" onclick="setAsOgIdx('+full.OG_IDX+')">선택</a>';
                }}
        ]
    });

    $('#orderModalForm').on('keyup',function(event){
        if(event.keyCode==13){orderSearch();return false;}
    });

</script>
</html>
