<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${subTitle}">상품매입정산(매입처)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                            <i class="mr-1" th:classappend="${subIcon}"></i>
                                            <th:block th:text="${subTitle}"></th:block>
                                        </span>
                                    </div>
                                </h6>
                            </div>
                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="wheretobuyForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                                                <div class="form-group">
                                                    <label class="d-block">정산코드</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산상태</label>
                                                    <select name="U_STATE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산상태</label>
                                                    <select name="U_STATE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산처리일</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산담당자</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">마감상태</label>
                                                    <select name="U_STATE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">마감처리일</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">마감담당자</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-120px">
                                                </div>


                                                <div class="form-group">
                                                    <label class="d-block">거래처</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산방식</label>
                                                    <select name="U_STATE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">정산구분</label>
                                                    <select name="U_STATE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.UState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">지급예정일</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>
                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1" onclick="searchBtn()"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-primary ml-1" id="calculateBtn">
                                        정산처리
                                    </a>
                                    <a type="button" class="btn btn-sm btn-primary ml-1" id="deadlineBtn">
                                        마감처리
                                    </a>
                                </div>

                            </div>
                        </div>
                        <table class="table" id="wheretobuyTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>


<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>



<script>

    function userChange(U_STATE,U_STATE_STR){
        var uIdx = dataTableGetSelectedDataArray('userTable', 'U_IDX')
        if(uIdx.length == 0) {
            alert("선택된 회원이 없습니다");
            return false;
        }else{
            if(window.confirm('선택된 회원들의 상태를 변경하시겠습니까?')){
                $.ajax({
                    url: '/user/userChange.ajax',
                    type: 'post',
                    data: {
                        uIdx : uIdx,
                        U_STATE_STR : U_STATE
                    },
                    success: function(res){
                        $('#userTable').DataTable().ajax.reload();
                    },
                    error: function(){
                    }
                });
            }
        }
    }

</script>

<script>
    function searchBtn() {
        var table = $('#wheretobuyTable').DataTable();
        table.page('first').ajax.url('/purchaseSettlement/wheretobuy.dataTable?' + $('#wheretobuyForm').serialize()).load(null, false);
    }

    // function userDetailPop(uIdx) {
    //   var focusPopup = window.open('userPopup/' + uIdx, 'userPopup', 'width=1000, height=800, left=' + screenX + ', top=' + screenY + ',scrollbars=yes, resizable=yes');
    //   focusPopup.focus();
    // }
</script>


<script>
    var banTable = $('#wheretobuyTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering: false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax: {
            url: '/purchaseSettlement/wheretobuy.dataTable?' + $('#wheretobuyForm').serialize(),
            type: 'post'
        },
        columnDefs: [{
            orderable: false,
            targets: [0]

        }],

        "columns": [
            {
                'class': 'select-checkbox',
                'title': '선택',
                'data': 'SP_IDX',
                'defaultContent': '',
                'render': function (data, type, full, meta) {
                    return '';
                }
            }
            , {
              'title': '정산코드', 'data': null, 'render': function (data, type, full, meta) {
                return '<a href="javascript: userDetailPop(' + data['U_IDX'] + ')" class="badge badge-primary">' + data['U_NAME'] + '</a>';
              }
            }
            , {'title': '정산구분', 'data': 'U_PHONE'}
            , {'title': '정산상태', 'data': 'U_PHONE'}
            , {'title': '정산처리일', 'data': 'COM_NAME'}
            , {'title': '정산담당자', 'data': 'U_ID'}
            , {'title': '마감상태', 'data': 'U_DEPART'}
            , {'title': '마감처리일', 'data': 'U_POSITION'}
            , {'title': '마감담당자', 'data': 'U_POSITION'}
            , {'title': '거래처', 'data': 'U_POSITION'}
            , {'title': '거래처MID', 'data': 'U_POSITION'}
            , {'title': '정산기간', 'data': 'U_POSITION'}
            , {'title': '정산주기', 'data': 'U_POSITION'}
            , {'title': '정산방식', 'data': 'U_POSITION'}
            , {'title': '정산구분', 'data': 'U_POSITION'}
            , {'title': '판매상품수량', 'data': 'U_POSITION'}
            , {'title': '실 매입가합계', 'data': 'U_POSITION'}
            , {'title': '매입배송비', 'data': 'U_POSITION'}
            , {'title': '반품합계', 'data': 'U_POSITION'}
            , {'title': '조정금액', 'data': 'U_POSITION'}
            , {'title': '정산확정금액', 'data': 'U_POSITION'}
            , {'title': '지급예정일', 'data': 'U_POSITION'}
            , {'title': '은행명', 'data': 'U_POSITION'}
            , {'title': '계좌번호', 'data': 'U_POSITION'}
            , {'title': '예금주', 'data': 'U_POSITION'}
        ]
    });

    $('#wheretobuyForm').on('keyup', function (event) {
        if (event.keyCode == 13) {
            searchBtn();
            return false;
        }
    });

    $('#calculateBtn').on('click', function () {
        var focusPopup = window.open('calPop', 'calPop', 'width=1000, height=280, left=' + screenX + ', top=' + screenY + ',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    });

    $('#deadlineBtn').on('click', function () {
        var focusPopup = window.open('deadlinePop', 'deadlinePop', 'width=1000, height=280, left=' + screenX + ', top=' + screenY + ',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    });

</script>
</html>