<div class="modal" tabindex="-1" role="dialog" id="barcodeModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">바코드 리딩</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-lg-6 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                <div class="form-group">
                                    <label class="d-block">송장번호 리딩</label>
                                    <input type="hidden" name="O_IDX">
                                    <input type="text" name="dn_num" id="dn_num" class="form-control" placeholder="바코드 입력 후 엔터를 눌러주세요" onkeyup="if(event.keyCode==13){dnNumBarcode(this)}">
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                <div class="form-group">
                                    <label class="d-block">자산바코드 리딩</label>
                                    <input type="text" name="g_barcode" id="g_barcode" class="form-control" placeholder="바코드 입력 후 엔터를 눌러주세요" onkeyup="if(event.keyCode==13){gBarcode(this)}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function barcodeModal(res){
        var oIdx = res;
        if(res!=''){
            $('input[name="dn_num"]').val('');
            $('input[name="g_barcode"]').val('');
            $('input[name="O_IDX"]').val(oIdx);
            $('#dn_num').focus();
            $('#barcodeModal').modal('show');
        }else{
            alert("주문코드를 선택해주세요.")
        }

    }

    function dnNumBarcode(res){
        var num = $(res).val();
        console.log(num);
        if(num==''){
            alert("송장번호를 입력해주세요.")
        }else{
            $('#g_barcode').focus();
        }
    }
    function gBarcode(res){
        var g_barcode=$(res).val()
        var o_idx=$('input[name="O_IDX"]').val()
        var dn_num = $('input[name="dn_num"]').val();
        $.ajax({
            url:'/delivery/checkBarcode.ajax',
            type:'post',
            data:'G_BARCODE='+g_barcode+'&O_IDX='+o_idx,
            success: function(res){
                if($('#OG_IDX'+res.data.gMap.OG_IDX).length>0){
                    alert("리딩된 자산바코드 입니다.")
                }else{
                    var str = '';
                    str+='<tr id="OG_IDX'+res.data.gMap.OG_IDX+'"><td><input type="text" class="form-control" name="delivery_num_'+res.data.gMap.OG_IDX+'" value="'+dn_num+'"></td>'
                    str+='<td><input type="hidden" value="'+res.data.gMap.G_BARCODE+'" name="g_barcode_'+res.data.gMap.OG_IDX+'">'+res.data.gMap.G_BARCODE+'</td>'
                    str+='<td><button type="button" class="btn btn-sm btn-danger" onclick="deleteBarcode('+res.data.gMap.OG_IDX+')">삭제</button></td></tr>'
                    $('#deliveryScanTable').append(str);
                }
            }
        })

        $('input[name="dn_num"]').val('');
        $('input[name="g_barcode"]').val('');
        $('#dn_num').focus();
    }
</script>
