<style>
    .input1{
        background-color:lightgray;
    }
</style>
<div class="modal" tabindex="-1" role="dialog" id="installationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">설치관리</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <form id="installationModalForm">
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <fieldset class="mb-0">
                                        <legend>1.송장등록 <span class="small ml-2"></span></legend>
                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                         <span class="input-group-prepend">
                                                            <span class="input-group-text">
                                                             설치예정일
                                                            </span>
                                                         </span>
                                                        <input type="text" name="DN_SCHEDULE" class="form-control daterange-singlenull"  readonly>
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">
                                                            설치완료일
                                                            <!--  <a class="btn btn-sm btn-primary ml-1" onclick="javascript:alert('file')" id="fileBtn">file</a>-->
                                                            </span>
                                                        </span>
                                                        <input type="text" name="DN_DATE" class="form-control daterange-singlenull" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">
                                                            설치확인서
                                                            <!--   <a class="btn btn-sm btn-primary ml-1" onclick="javascript:alert('file')" id="fileBtn">file</a>-->
                                                            </span>
                                                        </span>
                                                        <input type="file" name="DN_FILE" class="form-control"  readonly>
                                                        <a id="DN_FILE_NAME" class="form-control" style="display: none"></a>
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">
                                                            설치업체
                                                            </span>
                                                        </span>
                                                        <input type="text" name="DN_COMPANY" class="form-control">
                                                        <input type="hidden" name="idxs" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">
                                                            설치메모
                                                            </span>
                                                        </span>
                                                        <input type="text" name="DN_MEMO" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12" style="visibility: hidden">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">

                                                            </span>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="mdSave" onclick="saveInstall()">저장</button>
                                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="icon-cross2 mr-1"></i>닫기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
