<style>
    .input1{
        background-color:lightgray;
    }
</style>
<div class="modal" tabindex="-1" role="dialog" id="invoiceUploadModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">파일업로드</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <form id="invoiceUploadModalForm">
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <fieldset class="mb-0">
                                        <legend>1.송장등록  <span class="small ml-2"></span></legend>
                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 ">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                         <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                  송장등록 양식
                                                                </span>
                                                            </span>
                                                      <!--  <input type="text" name="" class="form-control"  placeholder="">-->
                                                        <a class="btn btn-sm btn-primary ml-1" onclick="javascript:alert('양식다운')" id="downloadBtn">양식다운</a>
                                                        <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                      송장등록
                                                                  <!--  <a class="btn btn-sm btn-primary ml-1" onclick="javascript:alert('file')" id="fileBtn">file</a>-->
                                                                </span>
                                                          </span>
                                                        <input type="file" name="" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="mdSave" onclick="">저장</button>
                                <button type="button" class="btn btn-primary" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
