<!-- 찜한 상품 -->
<th:block th:fragment="wish">
    <div class="col-list space-between alignItems-center myAlarm-header">
        <div class="col-list alignItems-center">
            <div class="col-list alignItems-center">
                <input type="checkbox" id="allSelect" class="custom-checkbox">
                <label for="allSelect">전체선택</label>
            </div>
            <a class="btn btn-xs btn-extra-light-gray btn-width-xs radius-xlarge origin-btn">선택상품 삭제</a>
        </div>
        <p>* 찜하신 상품은 최대 30일간 보존됩니다.</p>
    </div>
    <!-- 1행 4열 썸네일로 보기 -->
    <div>
        <ul class="col-list lg-4col sm-2col">
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
        </ul>
    </div>

    <!-- 버튼 -->
    <div class="btn-group-end">
        <a href="/order" class="btn btn-xxlg btn-point-outline btn-width-md radius-xlarge origin-btn">바로구매</a>
        <a href="/cart" class="btn btn-xxlg btn-point btn-width-md radius-xlarge origin-btn">장바구니담기</a>
    </div>
</th:block>
<!-- 최근 본 상품 -->
<th:block th:fragment="recent">
    <div class="col-list space-between alignItems-center myAlarm-header">
        <div class="col-list alignItems-center">
            <div class="col-list alignItems-center">
                <input type="checkbox" id="allSelect" class="custom-checkbox">
                <label for="allSelect">전체선택</label>
            </div>
            <!--<div class="itemSelect-Delete">선택상품 삭제</div>-->
            <a class="btn btn-xs btn-extra-light-gray btn-width-xs radius-xlarge origin-btn">선택상품 삭제</a>
        </div>
        <p>* 최근 본 상품은 최대 20개까지 자동 저장됩니다.</p>
    </div>
    <!-- 1행 4열 썸네일로 보기 -->
    <div>
        <ul class="col-list lg-4col sm-2col">
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
        </ul>
    </div>

    <!-- 버튼 -->
    <div class="btn-group-end">
        <a href="/order" class="btn btn-xxlg btn-point-outline btn-width-md radius-xlarge origin-btn">바로구매</a>
        <a href="/cart" class="btn btn-xxlg btn-point btn-width-md radius-xlarge origin-btn">장바구니담기</a>
    </div>
</th:block>
<!-- 재입고 알림내역 -->
<th:block th:fragment="restock">
    <div class="col-list space-between alignItems-center myAlarm-header">
        <div class="col-list alignItems-center">
            <div class="col-list alignItems-center">
                <input type="checkbox" id="allSelect" class="custom-checkbox">
                <label for="allSelect">전체선택</label>
            </div>
            <!--<div class="itemSelect-Delete">선택상품 삭제</div>-->
            <a class="btn btn-xs btn-extra-light-gray btn-width-xs radius-xlarge origin-btn">선택상품 삭제</a>
        </div>
        <p>* 재고가 입고되는대로 문자로 상품정보를 알려드립니다.</p>
    </div>
    <!-- 1행 4열 썸네일로 보기 -->
    <div>
        <ul class="col-list lg-4col sm-2col">
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
            <li>
                <div class="thumb-wrap boxShadow-hover">
                    <div>
                        <input type="checkbox" class="custom-checkbox">
                    </div>
                    <div th:replace="part/thumbnail :: thumbnail-default(null)"></div>
                </div>
            </li>
        </ul>
    </div>

    <!-- 버튼 -->
    <div class="btn-group-end">
        <a href="/order" class="btn btn-xxlg btn-point-outline btn-width-md radius-xlarge origin-btn">바로구매</a>
        <a href="/cart" class="btn btn-xxlg btn-point btn-width-md radius-xlarge origin-btn">장바구니담기</a>
    </div>
</th:block>