<th:block th:fragment="myAlarm">
    <div class="container">
        <ul class="asApplication-tab semi-bold color-grey666" id="myAlarmTabMenu">
            <li onclick="openMyAlarmMenu('wish')" id="wish">찜한 상품</li>
            <li onclick="openMyAlarmMenu('recent')" id="recent">최근 본 상품</li>
            <li onclick="openMyAlarmMenu('restock')" id="restock">재입고 알림내역</li>
        </ul>

        <ul class="asApplication-tab-content">
            <li class="on" id="myAlarmMenu">

            </li>
        </ul>
    </div>
    <script>
        function openMyAlarmMenu(menu){
            $.ajax({
                url: '/myPage/myAlarm/'+menu+'.load'
                ,type: 'post'
            }).done(function(res){
                $('#myAlarmMenu').empty();
                $('#myAlarmMenu').append(res);

                // action
                $('#myAlarmTabMenu').children('li').removeClass("on");
                $('#myAlarmTabMenu').find($('#'+menu)).addClass("on");

                if(menu == 'orders'){
                    orders('all');
                }else if(menu == 'asRegist'){
                    openMyOrderAsMenu('newperAS');
                }else if(menu == 'originInsert'){
                    openMyOrderOriginMenu('originStep1');
                }
            });
        }
    </script>
</th:block>