<!-- 적립금 상품권/예치금-->
<th:block th:fragment="chargeHistory">
    <div class="myGift-table voucher-table">
        <!-- 테이블 제목 -->
        <div>
            <ul class="myGift-table-title">
                <li>충전일자</li>
                <li>예치금 충전내역 상세</li>
                <li>충전금액</li>
            </ul>
        </div>
        <!-- 테이블 내용 -->
        <div>
            <!-- 예치금1 -->
            <ul class="myGift-table-content semi-bold">
                <li>2022.08.31</li>
                <li class="semi-bold">상품권 코드번호 0000-0000-0000 / 일련번호 123456</li>
                <li>100.000원</li>
            </ul>
            <!-- 예치금2 -->
            <ul class="myGift-table-content semi-bold">
                <li>2022.08.31</li>
                <li>상품권 코드번호 0000-0000-0000 / 일련번호 123456</li>
                <li>100.000원</li>
            </ul>
        </div>
    </div>

    <!-- 상품권 이용안내 -->
    <ul class="myGift-guide color-grey333">
        <li>
            <i class="exclamationMark"></i>
        </li>
        <li>
            <strong>[상품권 이용안내]</strong>
            <p>- 예치금이 부족한 경우 복합결제(카드)를 이용하세요.</p>
            <p>- 상품권 금액 면을 긁을 시 보이는 12자리 번호와 뒷면의 일련번호 6자리를 입력하세요.</p>
            <p>- 결제 수단별 예치금 사용에 제한이 있을 수 있습니다.</p>
            <p>- 불법적인 방법으로 등록, 도용 시 법적 제재를 받습니다.</p>
            <p>- 상품권 스크래치 부분의 손상으로 12자리 번호 식별이 어렵거나 사용에 불편한 사항이 있을 시 고객센터(1599-5372)로 문의바랍니다.</p>
            <p>- 상품권의 유효기간은 발급일로부터 5년입니다.</p>
        </li>
    </ul>
</th:block>
<!-- 적립금 상품권/예치금 end-->

<!-- 적립금 상품권/예치금-->
<th:block th:fragment="useHistory">
    <div class="myGift-table voucher-table">
        <!-- 테이블 제목 -->
        <div>
            <ul class="myGift-table-title">
                <li>충전일자</li>
                <li>예치금 충전내역 상세</li>
                <li>충전금액</li>
            </ul>
        </div>
        <!-- 테이블 내용 -->
        <div>
            <!-- 예치금1 -->
            <ul class="myGift-table-content semi-bold">
                <li>2022.08.31 13:20:15</li>
                <li class="semi-bold">주문번호 16542254522145 에서 예치금 사용</li>
                <li>- 27,000원</li>
            </ul>
            <!-- 예치금2 -->
            <ul class="myGift-table-content semi-bold">
                <li>2022.08.31 11:22:10</li>
                <li class="semi-bold">주문번호 1235468768746 에서 주문취소로 인한 예치금 환불</li>
                <li>+ 10,000원</li>
            </ul>
        </div>
    </div>

    <!-- 상품권 이용안내 -->
    <ul class="myGift-guide color-grey333">
        <li>
            <i class="exclamationMark"></i>
        </li>
        <li>
            <strong>[상품권 이용안내]</strong>
            <p>- 예치금이 부족한 경우 복합결제(카드)를 이용하세요.</p>
            <p>- 상품권 금액 면을 긁을 시 보이는 12자리 번호와 뒷면의 일련번호 6자리를 입력하세요.</p>
            <p>- 결제 수단별 예치금 사용에 제한이 있을 수 있습니다.</p>
            <p>- 불법적인 방법으로 등록, 도용 시 법적 제재를 받습니다.</p>
            <p>- 상품권 스크래치 부분의 손상으로 12자리 번호 식별이 어렵거나 사용에 불편한 사항이 있을 시 고객센터(1599-5372)로 문의바랍니다.</p>
            <p>- 상품권의 유효기간은 발급일로부터 5년입니다.</p>
        </li>
    </ul>
</th:block>
<!-- 적립금 상품권/예치금 end-->

<!--사용가이드 모달에 들어갈 내용-->
<th:block th:fragment="useGuide">
    안내 이미지 들어갈 영역
</th:block>
