<!-- 할인쿠폰 -->
<th:block th:fragment="coupon">
    <h2><span class="color-blue">뉴퍼마켓 할인쿠폰</span> 번호입력</h2>
    <div class="coupon-registration">
        <input type="text" placeholder="쿠폰번호를 입력해주세요.">
        <div class="btn btn2 registration-btn">
            <a href="javascript:;">쿠폰등록</a>
        </div>
    </div>
    <div class="coupon-des">
        <p><span class="color-red">※</span>&nbsp;&nbsp;상품행사나 다양한 이벤트를 통해 부여되는 할인쿠폰으로 원하시는 상품을 쿠폰의 할인금액만큼 저렴한 가격으로 구입하실 수 있습니다.
        </p>
        <p><span class="color-red">※</span>&nbsp;&nbsp;단, 쿠폰은 유효기간이 있으며 상품에 따라 할인 제외 되는 경우도 있습니다. </p>
    </div>

    <!-- 테이블 -->
    <div class="myGift-table saleCoupon-table">
        <!-- 테이블 제목 -->
        <div>
            <ul class="myGift-table-title">
                <li>쿠폰번호</li>
                <li>쿠폰이름</li>
                <li>적용상품</li>
                <li>할인율</li>
                <li>최대할인금액</li>
                <li>유효기간</li>
            </ul>
        </div>
        <!-- 테이블 내용 -->
        <div>
            <!-- 쿠폰1 -->
            <ul class="myGift-table-content">
            <li class="semi-bold">17076400</li>
            <li class="semi-bold">뉴퍼마켓 톡 채널 친구 전용 할인쿠폰</li>
            <li>전상품</li>
            <li class="semi-bold color-red">10%</li>
            <li>10,000원</li>
            <li>2022.08.31</li>
        </ul>
            <!-- 쿠폰2 -->
            <ul class="myGift-table-content">
                <li class="semi-bold">17076400</li>
                <li class="semi-bold">뉴퍼마켓 톡 채널 친구 전용 할인쿠폰</li>
                <li>전상품</li>
                <li class="semi-bold color-red">10%</li>
                <li>10,000원</li>
                <li>2022.08.31</li>
            </ul>
        </div>
    </div>

    <!-- 쿠폰 사용 안내 -->
    <ul class="myGift-guide color-grey666">
        <li>
            <strong>[쿠폰 사용안내]</strong>
            <p>- 할인쿠폰은 한 주문, 한 상품에 한해서 사용이 가능합니다.</p>
            <p>- 할인쿠폰은 쿠폰마다 사용기간이 있습니다.</p>
            <p>- 주문 후 반품/환불/취소의 경우 한번 사용하신 할인쿠폰은 다시 사용하실 수 없습니다.</p>
        </li>
        <li>
            <strong>[쿠폰 할인안내]</strong>
            <p>- 정액할인 : 금액이 정확하게 지정되어있는 쿠폰입니다. (ex. 5천원 할인쿠폰)</p>
        </li>
    </ul>
</th:block>
<!-- 할인쿠폰 end-->

<!-- 적립금 -->
<th:block th:fragment="point">
    <!-- 적립금 현황 -->
    <ul class="reserveFund">
        <li>
            <p>현재 적립금</p>
            <p><span class="color-blue bold">136,060</span><span class="won">원</span></p>
        </li>
        <li>
            <p>소멸예정 적립금</p>
            <p><span class="color-red bold">136,060</span><span class="won">원</span></p>
        </li>
    </ul>

    <div class="reserveFund-des">
        <p><span class="color-red">※</span>&nbsp;&nbsp;적립금은 캐시백 이벤트 또는 체인지업 보상서비스를 통해 지급받으실 수 있습니다.</p>
        <p><span class="color-red">※</span>&nbsp;&nbsp;적립금은 상품구매 시 현금처럼 사용가능합니다. (적립금은 현금 환급이 불가합니다.)</p>
    </div>

    <!-- 테이블 -->
    <div class="myGift-table reserveFund-table">
        <!-- 테이블 제목 -->
        <div>
            <ul class="myGift-table-title">
                <li>적립/사용 일자</li>
                <li>적립/사용 상세내용</li>
                <li>유효기간</li>
                <li>금액</li>
            </ul>
        </div>
        <!-- 테이블 내용 -->
        <div>
            <!-- 적립/사용 리스트1 -->
            <ul class="myGift-table-content">
                <li>2022.08.20</li>
                <li class="semi-bold">이벤트 참여 리뷰 적립금</li>
                <li>2022.08.31</li>
                <!-- +금액은 색상 파랑 > class="color-blue" 추가 -->
                <li class="color-blue">+ 10.000원</li>
            </ul>
        </div>
    </div>

    <!-- 적립금 사용 안내 -->
    <ul class="myGift-guide color-grey666">
        <li>
            <strong>[적립금 유효기간 제도]</strong>
            <p>- AJ전시몰에서 지급받은 적립금은 지급일로부터 6개월간 사용하실 수 있습니다.</p>
            <p>- 단, 이벤트적립금은 지급일로부터 30일간 사용하실 수 있습니다.</p>
            <p>- 오프라인 매장에서 지급받은 적립금은 지급일로부터 30일간 사용하실 수 있습니다.</p>
            <p>- 적립금은 유효기간 당일 00시에 자동 소멸됩니다. (전일 24시까지 사용 가능)</p>
            <p>&nbsp;&nbsp;단, 중고보상으로 지급받은 적립금은 사용 전까지 소멸되지 않습니다.</p>
        </li>
    </ul>
</th:block>
<!-- 적립금 end-->

<!-- 적립금 상품권/예치금-->
<th:block th:fragment="deposit">
    <h2><span class="color-blue">뉴퍼마켓 상품권</span> 번호입력</h2>

    <!-- 상품권 등록 -->
    <ul class="voucher-registration">
        <!-- 번호 입력 -->
        <li>
            <!-- 코드번호 -->
            <div class="code-num">
                <p>코드번호</p>
                <div>
                    <input type="number" placeholder="4자리">
                    <span>-</span>
                    <input type="number" placeholder="4자리">
                    <span>-</span>
                    <input type="number" placeholder="4자리">
                </div>
            </div>
            <!-- 일련번호 -->
            <div class="serial-number">
                <p>일련번호</p>
                <div>
                    <input type="number" placeholder="6자리 숫자를 입력해주세요.">
                </div>
            </div>
        </li>
        <!-- 버튼 -->
        <li class="display-flex">
            <div class="btn btn2 registration-btn">
                <a href="javascript:;">상품권등록</a>
            </div>
            <div class="btn btn2 registration-btn userGuide-btn" onclick="openGiftGuideModal()">
                <a href="javascript:;">사용가이드</a>
            </div>
        </li>
    </ul>

    <!-- 적립금 현황 -->
    <ul class="reserveFund">
        <li>
            <p>현재 적립금</p>
            <p><span class="color-blue">136,060</span><span class="won">원</span></p>
        </li>
        <li>
            <p>소멸예정 적립금</p>
            <p><span class="color-red">136,060</span><span class="won">원</span></p>
        </li>
    </ul>

    <!-- 탭 -->
    <ul class="asApplication-tab semi-bold color-grey666" id="myGiftDepositTabMenu">
        <li onclick="openMyGiftDepositMenu('chargeHistory')" id="chargeHistory">예치금 충전내역</li>
        <li onclick="openMyGiftDepositMenu('useHistory')" id="useHistory">예치금 사용내역</li>
    </ul>
    <div class="asApplication-tab-content">
        <div class="on" id="myGiftDepositMenu">
        </div>
    </div>
    <script>
        function openMyGiftDepositMenu(menu){
            $.ajax({
                url: '/myPage/myGift/deposit/'+menu+'.load'
                ,type:'post'
                ,success:function(res){
                    $('#myGiftDepositMenu').empty();
                    $('#myGiftDepositMenu').append(res);

                    // action
                    $('#myGiftDepositTabMenu').children('li').removeClass("on");
                    $('#myGiftDepositTabMenu').find($('#'+menu)).addClass("on");
                }
                ,error:function(){}
            })
        }
        function openGiftGuideModal(){
            $.ajax({
                url: '/myPage/myGift/deposit/useGuide.load'
                ,type:'post'
                ,success:function(res){

                    $('.modalContent').empty();
                    $('.modalContent').append(res);

                    $('#commonModal').show();
                }
                ,error:function(){}
            })
        }
    </script>
</th:block>
<!-- 적립금 상품권/예치금 end-->
