<th:block th:fragment="myInfo">
    <div class="container myInfo">
        <p>고객님의 회원정보를 안전하게 보호하기 위해<br>
            비밀번호를 한번 더 확인해 주세요.
        </p>
        <div class="myInfo-pw">
            <p>비밀번호</p>
            <input type="password" class="form-control" name="pw" id="pw">
        </div>

        <div class="btn btn2">
            <a onclick="passwordCheck()">확인</a>
        </div>
    </div>
    <script>
        function passwordCheck(){
            $.ajax({
                url: '/customer/pwdCheck.ajax'
                ,type: 'post'
                ,data: {
                    'pw': $('#pw').val()
                }
            }).done(function(res){
                if (res.data.result) {
                    openMenu('myInfoPwCheck');
                }
            });
        }

        $('#pw').keyup(function (event) {
            if (event.keyCode == 13) {
                passwordCheck();return false;
            }
        });
    </script>
</th:block>
