<!-- 작성가능리뷰-->
<th:block th:fragment="possibleReview">
    <!-- 상품리뷰 -->
    <section class="padding-section" id="product-review">
        <ul class="review-header font-md semi-bold">
            <li>
                <p>기본 적립</p>
                <i class="point1000"></i>
                <i class="point500"></i>
                <span>+</span>
                <p>추가 적립<br>선착순 포토리뷰<br>(상품별 포토리뷰 5개 한정)</p>
                <i class="point10000"></i>
            </li>
            <li>
                <p>상품리뷰는 결제 완료 후 60일 이내 작성 가능합니다.</p>
                <p>상품을 구매하신 분들이 작성하신 리뷰입니다.</p>
                <p>상품리뷰 작성시 아래 금액 만큼 적립됩니다.<br><span class="color-red">일반리뷰 500P / 포토리뷰 1,000P / 선착순 포토리뷰 10,000P (상품별 포토리뷰 5개 한정)
</span></p>
                <p>적립금은 지급일로부터 1개월 경과시 자동 소멸됩니다.</p>
            </li>
        </ul>
    </section>

    <!-- 테이블 -->
    <div>
        <!-- 작성가능 상품 내역 테이블 제목 -->
        <ul class="table-title2 writeable-table-title font-sm">
            <li>주문일자</li>
            <li>상품명</li>
            <li>수량</li>
            <li>결제금액</li>
            <li>배송완료일</li>
            <li></li>
        </ul>
        <!-- 작성가능 상품 리스트 -->
        <ul>
            <!-- 상품 1 -->
            <li th:each="ogg: ${review_ogg}" th:if="${ogg != null}">
                <ul class="table-content2 writeable-table-content">
                    <!-- 주문일자 -->
                    <li class="flex-column">
                        <p class="bold" th:text="${ogg.O_DATE}">2022-08-10</p>
                        <div class="color-grey999 table-order-num">
                            <p>주문번호</p>
                            <p th:text="${ogg.O_CODE}">16616564654535</p>
                        </div>
                    </li>
                    <!-- 상품명 -->
                    <li class="itemName">
                        <div class="order-item-thumb">
                            <a th:href="|shopProduct/${ogg.SP_IDX}|">
                                <img src="https://dummyimage.com/100x100/eeeeee/777777" th:src="${ogg.GS_THUMB_FILE1}" alt="상품이미지">
                                <p class="font-xsm color-grey999" th:text="${ogg.SP_IDX}">001762984</p>
                            </a>
                        </div>
                        <div class="order-item-info-wrap">
                            <div>
                                <a th:href="|shopProduct/${ogg.SP_IDX}|">
                                    <h3 class="font-sm bold" th:text="${ogg.SP_NAME}">삼성 노트북 코어i5 램8G SSD 대용량
                                        듀얼하드 윈10</h3>
                                </a>
                            </div>
                            <div class="font-xxsm order-item-info">
                                <p>종류 : 삼성 노트북 코어 I5듀얼하드 윈 10</p>
                                <p>사이즈 : 15인치</p>
                                <p>용량 : 램 8G SSD 대용량</p>
                            </div>
                        </div>
                    </li>
                    <!-- 수량 -->
                    <li>
                        <p class="font-sm bold">1개</p>
                    </li>
                    <!-- 결제금액 -->
                    <li>
                        <p class="font-sm bold">179,000<span class="won">원</span></p>
                    </li>
                    <!-- 배송완료일 -->
                    <li>
                        <p class="bold" th:text="${ogg.DN_DATE}">2022.08.10</p>
                    </li>
                    <!-- 버튼 -->
                    <li class="flex-column button-vertical-group">
                        <a href="javascript:;" class="btn btn-xs btn-point-outline btn-width-xs radius-xlarge origin-btn">주문상세보기</a>
                        <a th:onclick="|reviewInsertModal(${ogg.OGG_IDX})|" class="btn btn-xs btn-point btn-width-xs radius-xlarge origin-btn">리뷰작성하기</a>
                    </li>
                </ul>
            </li>
            <!-- 상품 2 -->
            <li>
                <ul class="table-content2 writeable-table-content">
                    <!-- 주문일자 -->
                    <li class="flex-column">
                        <p class="semi-bold">2022-08-10</p>
                        <div class="color-grey999 table-order-num">
                            <p>주문번호</p>
                            <p>16616564654535</p>
                        </div>
                    </li>
                    <!-- 상품명 -->
                    <li class="itemName">
                        <div class="order-item-thumb">
                            <a href="javascript:;">
                                <img src="https://dummyimage.com/100x100/eeeeee/777777" alt="상품이미지">
                                <p class="font-xsm color-grey999">001762984</p>
                            </a>
                        </div>
                        <div class="order-item-info-wrap">
                            <div>
                                <a href="javascript:;">
                                    <h3 class="font-sm semi-bold">삼성 노트북 코어i5 램8G SSD 대용량
                                        듀얼하드 윈10</h3>
                                </a>
                            </div>
                            <div class="font-xxsm order-item-info">
                                <p>종류 : 삼성 노트북 코어 I5듀얼하드 윈 10</p>
                                <p>사이즈 : 15인치</p>
                                <p>용량 : 램 8G SSD 대용량</p>
                            </div>
                        </div>
                    </li>
                    <!-- 수량 -->
                    <li>
                        <p class="font-sm bold">1개</p>
                    </li>
                    <!-- 결제금액 -->
                    <li>
                        <p class="font-sm bold">179,000<span class="won">원</span></p>
                    </li>
                    <!-- 배송완료일 -->
                    <li>
                        <p class="bold">2022.08.10</p>
                    </li>
                    <!-- 버튼 -->
                    <li class="flex-column button-vertical-group">
                        <a href="javascript:;" class="btn btn-xs btn-point-outline btn-width-xs radius-xlarge origin-btn">주문상세보기</a>
                        <a onclick="reviewInsertModal(1)" class="btn btn-xs btn-point btn-width-xs radius-xlarge origin-btn">리뷰작성하기</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <script>
        function reviewInsertModal(oggIdx){
            $.ajax({
                url: '/myPage/myList/review/reviewModal.load'
                ,type:'post'
                ,data: {
                    oggIdx: oggIdx
                    ,insert: true
                }
                ,success:function(res){

                    $('.modalContent').empty();
                    $('.modalContent').append(res);

                    $('#commonModal').show();
                }
                ,error:function(){}
            })
        }
    </script>
</th:block>
<!-- 작성가능리뷰 end-->

<!-- 작성완료리뷰-->
<th:block th:fragment="completeReview">
    <!-- 상품리뷰 -->
    <section class="padding-section" id="product-review">
        <ul class="review-header font-md semi-bold">
            <li>
                <p>기본 적립</p>
                <i class="point1000"></i>
                <i class="point500"></i>
                <span>+</span>
                <p>추가 적립<br>선착순 포토리뷰<br>(상품별 포토리뷰 5개 한정)</p>
                <i class="point10000"></i>
            </li>
            <li>
                <p>상품리뷰는 결제 완료 후 60일 이내 작성 가능합니다.</p>
                <p>상품을 구매하신 분들이 작성하신 리뷰입니다.</p>
                <p>상품리뷰 작성시 아래 금액 만큼 적립됩니다.<br><span class="color-red">일반리뷰 500P / 포토리뷰 1,000P / 선착순 포토리뷰 10,000P (상품별 포토리뷰 5개 한정)
</span></p>
                <p>적립금은 지급일로부터 1개월 경과시 자동 소멸됩니다.</p>
            </li>
        </ul>
    </section>

    <!-- 테이블 -->
    <div>
        <!-- 작성가능 상품 내역 테이블 제목 -->
        <ul class="table-title2 completed-table-title font-sm">
            <li>상품명</li>
            <li>리뷰내용</li>
            <li>평점</li>
            <li>작성일</li>
            <li></li>
        </ul>
        <!-- 작성가능 상품 리스트 -->
        <ul>
            <!-- 상품 1 -->
            <li th:each="r: ${review}">
                <ul class="table-content2 completed-table-content">
                    <!-- 상품명 -->
                    <li class="itemName">
                        <div class="order-item-thumb">
                            <a th:href="|shopProduct/${r?.shopProduct?.spIdx}|">
                                <img src="https://dummyimage.com/100x100/eeeeee/777777" alt="상품이미지">
                                <p class="font-xsm color-grey999">001762984</p>
                            </a>
                        </div>
                        <div class="order-item-info-wrap">
                            <div>
                                <a href="javascript:;">
                                    <h3 class="font-sm bold">삼성 노트북 코어i5 램8G SSD 대용량
                                        듀얼하드 윈10</h3>
                                </a>
                            </div>
                            <div class="font-xxsm order-item-info">
                                <p>종류 : 삼성 노트북 코어 I5듀얼하드 윈 10</p>
                                <p>사이즈 : 15인치</p>
                                <p>용량 : 램 8G SSD 대용량</p>
                            </div>
                        </div>
                    </li>
                    <!-- 리뷰내용 -->
                    <li class="table-review-content">
                        <p class="font-sm" th:text="${r.rContent}">정말 리퍼 같지 않고 박스만 없지 거짓말 조금 보태
                            새거나 다름 없네요.</p>
                    </li>
                    <!-- 평점 -->
                    <li>
                        <!--5점:grade-100, 4점:grade-80, 3점:grade-60, 2점:grade-40, 1점:grade-20-->
                        <div th:class="|review-grade flex-column grade-${r.rStar*20}|"><i></i><span th:text="${r.rStar}">4.9</span></div>
                    </li>
                    <!-- 작성일 -->
                    <li>
                        <p class="bold" th:text="${r.createdDate}">2022.08.10</p>
                    </li>
                    <!-- 버튼 -->
                    <li class="flex-column button-vertical-group">
                        <a th:onclick="|reviewUpdateModal(${r.rIdx})|" class="btn btn-xs btn-point btn-width-xs radius-xlarge">리뷰수정</a>
                        <a th:onclick="|deleteReview(${r.rIdx})|" class="btn btn-xs btn-dark-gray-outline btn-width-xs radius-xlarge">삭제</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <script>
        function reviewUpdateModal(rIdx){
            $.ajax({
                url: '/myPage/myList/review/reviewModal.load'
                ,type:'post'
                ,data: {
                    rIdx: rIdx
                    ,insert: false
                }
                ,success:function(res){

                    $('.modalContent').empty();
                    $('.modalContent').append(res);

                    $('#commonModal').show();
                }
                ,error:function(){}
            })
        }

        /** 리뷰 삭제 */
        function deleteReview(rIdx) {
            $.ajax({
                url: '/review/delete/'+rIdx+'.ajax'
                ,type: 'post'
                , success: function (res) {
                    openMyListReviewMenu('completeReview');
                }
            })
        }
    </script>
</th:block>
<!-- 작성완료리뷰 end-->

<!-- 리뷰 등록/수정 modal -->
<th:block th:fragment="reviewModal">
    리뷰등록/수정 modal frame
    <!--등록 form-->
    <form id="reviewForm" enctype="multipart/form-data">
        <input type="hidden" name="oggIdx" th:value="${oggIdx}" th:if="${oggIdx}">
        <!--리뷰 평점 rate에 값 들어감-->
        <div id="rStar" th:rate="${review != null} ? ${review.rStar} : 0"><span class="review-star" th:each="cnt: ${#numbers.sequence(1,5)}" th:rate="${cnt}">☆</span></div>

        <!--리뷰내용작성-->
        <textarea name="rContent" th:text="${review?.rContent}"></textarea>

        <!--사진등록-->
        <img attr="review" th:if="${review != null}" th:each="list: ${review?.rJson}" th:src="${list}" />
        <input type="file" name="photos" multiple="multiple" accept=".jpg,.jpeg,.png,.gif">
    </form>

    <a onclick="$('#commonModal').hide()" class="btn btn-xxlg btn-point-outline btn-width-md radius-xlarge">취소</a>
    <a th:onclick="${review == null} ? 'saveReview()' : 'updateReview()'" class="btn btn-xxlg btn-point btn-width-md radius-xlarge">작성완료</a>

    <script>
        /** 리뷰 등록 ajax */
        function saveReview() {
            if (parseInt($('input[type=file]').get(0).files.length) > 10) {
                alert("최대 10개의 이미지 등록이 가능합니다.");
                return ;
            }
            var param = new FormData($('#reviewForm')[0]);
            param.append('rStar', $('#rStar').attr('rate'));
            $.ajax({
                url: '/review/save.ajax'
                ,type: 'post'
                ,processData: false
                ,contentType: false
                ,data: param
                ,success: function () {
                    $('#commonModal').hide();
                    openMyListReviewMenu('possibleReview');
                }
            });
        }

        /** 리뷰 수정 ajax*/
        function updateReview() {
            if (parseInt($('input[type=file]').get(0).files.length) > (10-$('img[attr=review]').length)) {
                alert("최대 10개의 이미지 등록이 가능합니다.");
                return ;
            }
            var param = new FormData($('#reviewForm')[0]);
            param.append('rStar', Number($('#rStar').attr('rate')));
            $.ajax({
               url: '/review/update/'+[[${review?.rIdx}]]+'.ajax'
               ,type: 'post'
               ,processData: false
               ,contentType: false
               ,data: param
               ,success: function () {
                    $('#commonModal').hide();
                    openMyListReviewMenu('completeReview');
               }
            });

        }

        // 디자인 나오면 바꿀부분
        $('.review-star').click(function () {
            var rate = $(this).attr('rate');
            $('#rStar').attr('rate', rate);
            for (var r=1; r <= rate; r++) {
                $('.review-star[rate='+r+']').text('★');
            }
            for (var r = 5; r > rate; r--) {
                $('.review-star[rate='+r+']').text('☆');
            }
        });
    </script>
</th:block>