<!-- 리뷰·문의내역·이벤트응모 -->
<th:block th:fragment="myList">
    <div class="container">
        <ul class="shoppingHistory-tab semi-bold" id="myListTabMenu">
            <li class="on" onclick="openMyListMenu('review')" id="review">상품리뷰</li>
            <li onclick="openMyListMenu('qna')" id="qna">문의내역</li>
            <li onclick="openMyListMenu('eventHistory')" id="eventHistory">이벤트응모내역</li>
        </ul>
        <div class="shoppingHistory-tab-content" id="myListMenu">

        </div>
    </div>

    <script>
        function openMyListMenu(menu){
            $.ajax({
                url: '/myPage/myList/'+menu+'.load'
                ,type: 'post'
            }).done(function(res){
                $('#myListMenu').empty();
                $('#myListMenu').append(res);

                // action
                $('#myListTabMenu').children('li').removeClass("on");
                $('#myListTabMenu').find($('#'+menu)).addClass("on");

                if(menu == 'review'){
                    openMyListReviewMenu('possibleReview');
                }else if(menu == 'qna'){
                    openMyListQnaMenu('qnaHistory');
                }
            });
        }
    </script>
</th:block>