<!-- 작성가능리뷰-->
<th:block th:fragment="possibleReview">
    작성가능리뷰

    <div class="container">
        <a onclick="reviewInsertModal()">리뷰작성하기</a>
    </div>

    <script>
        function reviewInsertModal(){
            $.ajax({
                url: '/myPage/myList/review/reviewModal.load'
                ,type:'post'
                ,success:function(res){

                    $('.modalContent').empty();
                    $('.modalContent').append(res);

                    $('#commonModal').show();
                }
                ,error:function(){}
            })
        }
    </script>
</th:block>
<!-- 작성가능리뷰 end-->

<!-- 작성완료리뷰-->
<th:block th:fragment="completeReview">
    작성완료리뷰

    <div class="container">
        <a onclick="reviewUpdateModal()">리뷰수정</a>
    </div>

    <script>
        function reviewUpdateModal(){
            $.ajax({
                url: '/myPage/myList/review/reviewModal.load'
                ,type:'post'
                ,success:function(res){

                    $('.modalContent').empty();
                    $('.modalContent').append(res);

                    $('#commonModal').show();
                }
                ,error:function(){}
            })
        }
    </script>
</th:block>
<!-- 작성완료리뷰 end-->

<!-- 리뷰 등록/수정 modal -->
<th:block th:fragment="reviewModal">
    리뷰등록/수정 modal frame

    <button onclick="$('#commonModal').hide()">취소</button>
    <button onclick="alert('준비중!')">작성완료</button>
</th:block>