<th:block th:fragment="myOrder(id)">
    <th:block th:replace="myPage/myOrder :: ${id}"></th:block>
</th:block>
<th:block th:fragment="myGift(id)">
    <th:block th:replace="myPage/myGift :: ${id}"></th:block>
</th:block>
<th:block th:fragment="alarm(id)">
    <th:block th:replace="myPage/alarm :: ${id}"></th:block>
</th:block>
<th:block th:fragment="myList(id)">
    <th:block th:replace="myPage/myList :: ${id}"></th:block>
</th:block>
<th:block th:fragment="myInfo(id)">
    <th:block th:replace="myPage/myInfo :: ${id}"></th:block>
</th:block>