<!-- 정품등록하기 STEP.1-->
<th:block th:fragment="originStep1">
    <div class="genuine-progress-wrap">
        <h5>어디에서나 볼 수 없는 강력한 정품 등록혜택으로 AS케어를 연장하세요.</h5>
        <ul class="progressStep">
            <!-- 진행 현황에 class="on" 추가 -->
            <li class="progress-50per on">
                <i class="dot"></i>
                <p><span class="num">01</span><span>구매처 선택</span></p>
            </li>
            <li class="progress-50per">
                <i class="dot"></i>
                <p><span class="num">02</span><span>제품 선택</span></p>
            </li>
            <li>
                <i class="dot"></i>
                <p><span class="num">03</span><span>등록완료</span></p>
            </li>
        </ul>
    </div>

    <div class="originStep">
        <h2><span class="color-blue">01.</span>어디서 무엇을 구매하셨나요?</h2>
        <ul class="WhereToBuy">
            <li>
                <h3>뉴퍼마켓에서 구매</h3>
                <div>
                    <img th:attr="src=@{/image/notebook.png},title='메뉴아이콘',alt='메뉴아이콘'">
                    <p>노트북/데스크탑</p>
                </div>
                <div>
                    <img th:attr="src=@{/image/phone.png},title='메뉴아이콘',alt='메뉴아이콘'">
                    <p>애플/모바일</p>
                </div>
            </li>
            <li>
                <h3>타 온라인몰에서 구매</h3>
                <div>
                    <img th:attr="src=@{/image/notebook.png},title='메뉴아이콘',alt='메뉴아이콘'">
                    <p>노트북/데스크탑</p>
                </div>
                <div>
                    <img th:attr="src=@{/image/phone.png},title='메뉴아이콘',alt='메뉴아이콘'">
                    <p>애플/모바일</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="genuineRegistration-coupon">
        <h4>뉴퍼마켓의 인증된 상품을 정품 등록하시면 <span class="color-blue">10% 할인쿠폰</span> 을 받으실 수 있습니다.</h4>
        <p class="color-grey666">(데스크탑, 노트북, 태블릿, 모니터, 애플제품 구매에 한해 정품 등록이 가능합니다.)</p>
        <div>
            <img th:attr="src=@{/image/genuineRegistration-coupon.png},title='쿠폰이미지',alt='쿠폰이미지'">
        </div>
        <div class="newper-care"><i class="newper"></i><span>뉴퍼케어란?</span>구매 후 60일 동안 깨지거나 파손된 경우에도 보상이 가능한 서비스입니다.</div>
    </div>

    <div class="btn btn2 origin-btn">
        <a onclick="nextStep()">다음</a>
    </div>

    <script>
        function nextStep(){
            $.ajax({
                url:'/myPage/myOrder/origin/originStep2.load'
                ,type:'post'
                ,success:function(res){
                    $('#myOrderOriginMenu').empty();
                    $('#myOrderOriginMenu').append(res);
                }
                ,error(){}
            })
        }

        $('.WhereToBuy>li').click(function () {
            $(this).toggleClass('on');
        });
    </script>
</th:block>
<!-- 정품등록하기 STEP.1 end-->

<!-- 정품등록하기 STEP.2-->
<th:block th:fragment="originStep2">
    <div class="genuine-progress-wrap">
        <h5>어디에서나 볼 수 없는 강력한 정품 등록혜택으로 AS케어를 연장하세요.</h5>
        <ul class="progressStep">
            <!-- 진행 현황에 class="on" 추가 -->
            <li class="progress-100per on">
                <i class="dot"></i>
                <p><span class="num">01</span><span>구매처 선택</span></p>
            </li>
            <li class="progress-100per on">
                <i class="dot"></i>
                <p><span class="num">02</span><span>제품 선택</span></p>
            </li>
            <li class="progress-50per">
                <i class="dot"></i>
                <p><span class="num">03</span><span>등록완료</span></p>
            </li>
        </ul>
    </div>

    <div class="originStep">
        <h2><span class="color-blue">02.</span>정품등록 받으실 제품을 선택해주세요.</h2>
        <!-- 정품등록 가능한 제품이 있을 경우 -->
        <div class="originStep2-content1">
            <!-- 송장번호로 찾기 -->
            <div class="display-flex space-between invoice-num-search">
                <div class="display-flex">
                    <input type="text" class="invoice-num" placeholder="송장번호로 찾기">
                    <div class="btn btn2 confirm-btn">
                        <a href="javascript:;">확인</a>
                    </div>
                </div>
                <div class="btn btn3">
                    <a href="javascript:;">1:1 문의하기</a>
                </div>
            </div>
            <!-- 테이블 -->
            <ul class="table table3">
                <!-- 주문번호 -->
                <li>
                    <div class="table-title">주문번호</div>
                    <div class="table-content display-flex space-between">
                        <p class="font-xlg semi-bold">2022-08-07-36900</p>
                        <p class="color-grey333">구매일자 2022-08-27</p>
                    </div>
                </li>
                <!-- 주문상품 -->
                <li>
                    <div class="table-title">주문상품</div>
                    <div class="table-content">
                        <ul class="width-100">
                            <!-- 상품 1 -->
                            <li class="display-flex alignItems-center width-100">
                                <input type="checkbox" class="custom-checkbox">
                                <div class="display-flex alignItems-center width-100">
                                    <div class="order-item-thumb as-item-thumb">
                                        <a href="javascript:;">
                                            <img src="https://dummyimage.com/100x100/eeeeee/777777" alt="상품이미지">
                                            <p class="font-xsm color-grey999">001762984</p>
                                        </a>
                                    </div>
                                    <div class="display-flex space-between width-100">
                                        <div class="order-item-info-wrap">
                                            <div>
                                                <a href="javascript:;">
                                                    <h3 class="font-md bold">삼성 노트북 코어i5 램8G SSD 대용량
                                                        듀얼하드 윈10</h3>
                                                </a>
                                            </div>
                                            <div class="font-xxsm order-item-info">
                                                <p>옵션 : 없음</p>
                                            </div>
                                        </div>
                                        <div class="font-md semi-bold">
                                            <p>600,000원</p>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <!-- 상품 2 -->
                            <li class="display-flex alignItems-center width-100">
                                <input type="checkbox" class="custom-checkbox">
                                <div class="display-flex alignItems-center width-100">
                                    <div class="order-item-thumb as-item-thumb">
                                        <a href="javascript:;">
                                            <img src="https://dummyimage.com/100x100/eeeeee/777777" alt="상품이미지">
                                            <p class="font-xsm color-grey999">001762984</p>
                                        </a>
                                    </div>
                                    <div class="display-flex space-between width-100">
                                        <div class="order-item-info-wrap">
                                            <div>
                                                <a href="javascript:;">
                                                    <h3 class="font-md bold">삼성 노트북 코어i5 램8G SSD 대용량
                                                        듀얼하드 윈10</h3>
                                                </a>
                                            </div>
                                            <div class="font-xxsm order-item-info">
                                                <p>옵션 : 없음</p>
                                            </div>
                                        </div>
                                        <div class="font-md semi-bold">
                                            <p>600,000원</p>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            <!-- 버튼 -->
            <div class="display-flex center">
                <div class="btn btn3 origin-btn">
                    <a onclick="goStep1()">이전으로</a>
                </div>
                <div class="btn btn2 origin-btn">
                    <a onclick="goStep3()">정품등록</a>
                </div>
            </div>
        </div>

        <!-- 정품등록 가능한 제품이 없을 경우 -->
        <div class="originStep2-content2">
            <div>
                <img class="genuine-registration-info" th:attr="src=@{/image/exclamationMark.png},title='중요',alt='중요'">
                <p>정품등록 가능한 제품이 확인되지 않습니다.<br>
                    1:1로 문의하시면 빠른 답변 드리겠습니다.
                </p>
                <div class="btn btn3">
                    <a href="javascript:;">1:1 문의하기</a>
                </div>
            </div>

            <!-- 버튼 -->
            <div class="btn btn3 origin-btn">
                <a onclick="goStep1()">이전으로</a>
            </div>
        </div>
    </div>



    <script>
        function goStep1(){
            $.ajax({
                url:'/myPage/myOrder/origin/originStep1.load'
                ,type:'post'
                ,success:function(res){
                    $('#myOrderOriginMenu').empty();
                    $('#myOrderOriginMenu').append(res);
                }
                ,error(){}
            })
        }
        function goStep3(){
            $.ajax({
                url:'/myPage/myOrder/origin/originStep3.load'
                ,type:'post'
                ,success:function(res){
                    $('#myOrderOriginMenu').empty();
                    $('#myOrderOriginMenu').append(res);
                }
                ,error(){}
            })
        }
    </script>
</th:block>
<!-- 정품등록하기 STEP.2 end-->

<!-- 정품등록하기 STEP.3-->
<th:block th:fragment="originStep3">
    <div class="genuine-progress-wrap">
        <h5>어디에서나 볼 수 없는 강력한 정품 등록혜택으로 AS케어를 연장하세요.</h5>
        <ul class="progressStep">
            <!-- 진행 현황에 class="on" 추가 -->
            <li class="progress-100per on">
                <i class="dot"></i>
                <p><span class="num">01</span><span>구매처 선택</span></p>
            </li>
            <li class="progress-100per on">
                <i class="dot"></i>
                <p><span class="num">02</span><span>제품 선택</span></p>
            </li>
            <li class="progress-100per on">
                <i class="dot"></i>
                <p><span class="num">03</span><span>등록완료</span></p>
            </li>
        </ul>
    </div>

    <div class="originStep originStep3">
        <h2><span class="color-blue">03.</span>정품등록이 완료되었습니다.</h2>
        <p class="color-grey666">할인쿠폰 및 AS케어서비스가 자동으로 발급되었습니다.<br>
            등록된 내역은 정품등록 현황조회에서 확인하실 수 있습니다.
        </p>

        <!-- 버튼 -->
        <div class="btn btn2 origin-btn">
            <a onclick="goOriginList();">등록현황조회</a>
        </div>
    </div>

    <script>
        function goOriginList(){
            $.ajax({
                url:'/myPage/myOrder/origin/originList.load'
                ,type:'post'
                ,success:function(res){
                    $('#myOrderOriginMenu').empty();
                    $('#myOrderOriginMenu').append(res);

                    if($('#myOrderOriginTabMenu').length > 0){
                        // action
                        $('#myOrderOriginTabMenu').children('li').removeClass("on");
                        $('#myOrderOriginTabMenu').find($('#originList')).addClass("on");
                    }
                }
                ,error(){}
            })
        }
    </script>
</th:block>
<!-- 정품등록하기 STEP.3 end-->

<!-- 정품등록 현황 조회-->
<th:block th:fragment="originList">
    <!-- 테이블 -->
    <div>
        <!-- 정품등록 상품 내역 테이블 제목 -->
        <ul class="table-title2 origin-table-title font-sm">
            <li>주문번호</li>
            <li>상품명</li>
            <li>등록일자</li>
        </ul>
        <!-- 정품등록 상품 리스트 -->
        <ul>
            <!-- 상품 1 -->
            <li>
                <ul class="table-content2 origin-table-content">
                    <!-- 주문번호 -->
                    <li>
                        <p class="bold">16616564654535</p>
                    </li>
                    <!-- 상품명 -->
                    <li class="itemName">
                        <div class="order-item-thumb">
                            <a href="javascript:;">
                                <img src="https://dummyimage.com/100x100/eeeeee/777777" alt="상품이미지">
                                <p class="font-xsm color-grey999">001762984</p>
                            </a>
                        </div>
                        <div class="order-item-info-wrap">
                            <div>
                                <a href="javascript:;">
                                    <h3 class="font-sm bold">삼성 노트북 코어i5 램8G SSD 대용량
                                        듀얼하드 윈10</h3>
                                </a>
                            </div>
                            <div class="font-xxsm order-item-info">
                                <p>종류 : 삼성 노트북 코어 I5듀얼하드 윈 10</p>
                                <p>사이즈 : 15인치</p>
                                <p>용량 : 램 8G SSD 대용량</p>
                            </div>
                        </div>
                    </li>
                    <!-- 등록일자 -->
                    <li>
                        <p>2022-08-10</p>
                    </li>
                </ul>
            </li>
            <!-- 상품 2 -->
            <li>
                <ul class="table-content2 origin-table-content">
                    <!-- 주문번호 -->
                    <li>
                        <p class="bold">16616564654535</p>
                    </li>
                    <!-- 상품명 -->
                    <li class="itemName">
                        <div class="order-item-thumb">
                            <a href="javascript:;">
                                <img src="https://dummyimage.com/100x100/eeeeee/777777" alt="상품이미지">
                                <p class="font-xsm color-grey999">001762984</p>
                            </a>
                        </div>
                        <div class="order-item-info-wrap">
                            <div>
                                <a href="javascript:;">
                                    <h3 class="font-sm bold">삼성 노트북 코어i5 램8G SSD 대용량
                                        듀얼하드 윈10</h3>
                                </a>
                            </div>
                            <div class="font-xxsm order-item-info">
                                <p>종류 : 삼성 노트북 코어 I5듀얼하드 윈 10</p>
                                <p>사이즈 : 15인치</p>
                                <p>용량 : 램 8G SSD 대용량</p>
                            </div>
                        </div>
                    </li>
                    <!-- 등록일자 -->
                    <li>
                        <p>2022-08-10</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</th:block>
<!-- 정품등록 현황 조회 end-->
