<th:block th:fragment="myOrderProductList">
    <form id="productListForm">
    <div id="orderProductList">
        <h3 class="font-xxlg bold" th:text="${orderMenuTitle}">전체 주문 내역</h3>
        <!-- 조회기간 -->
        <div class="inquiryPeriod">
            <div>

                <p class="semi-bold font-md">조회기간</p>
                <ul class="period-btn-wrap">
                    <li class="on">
                        <a href="javascript:;" class="btn btn-dark-outline btn-xs period-btn radius-xlarge">오늘</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn btn-dark-outline btn-xs period-btn radius-xlarge">1개월</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn btn-dark-outline btn-xs period-btn radius-xlarge">3개월</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn btn-dark-outline btn-xs period-btn radius-xlarge">6개월</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn btn-dark-outline btn-xs period-btn radius-xlarge">1년</a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="semi-bold font-md">기간설정</p>
                <div class="date-input-wrap">
                    <input type="date" id="date1" class="form-control">
<!--                    <input type="hidden" name="CU_IDX" th:text="${CU_IDX}">-->

                    <span>&nbsp;~&nbsp;</span>
                    <input type="date" id="date2" class="form-control">
                </div>
            </div>
            <div class="btn btn2 periodSearch-btn">
                <a href="javascript:searchBtn();" class="btn btn-dark-outline btn-xs radius-xlarge period-btn">검색</a>
            </div>
        </div>
        <!-- 주문 내역 -->
        <p class="color-grey666">* 주문조회기간은 최대 3년 전까지 조회가 가능합니다.</p>

        <div>
            <!-- 주문 내역 테이블 제목 -->
            <ul class="table-title2 recent-orderHistory-table-title font-sm">
                <li>주문일자</li>
                <li>상품명</li>
                <li>AS기간</li>
                <li>수량</li>
                <li>결제금액</li>
                <li>주문현황</li>
                <li>상세조회</li>
            </ul>

            <!-- 주문 내역 상품 리스트 -->
            <ul>
                <th:block th:if="${orders == null}">
                    <li class="myShopping-table-item orderHistory-item">
                        <ul>
                            <li style="width: 100%;">주문내역이 없습니다.</li>
                        </ul>
                    </li>
                </th:block>
                <!-- 상품 1 -->
                <li th:each="orders:${orders}">
                    <ul class="table-content2 recent-orderHistory-table-content">
                        <!-- 주문일자 -->
                        <li class="flex-column">
                            <p class="bold" name="O_DATE" th:text="${orders.O_DATE}"></p>
<!--                            <input type="hidden" name="CU_IDX" th:text="${CU_IDX}">-->
                            <div class="color-grey999 table-order-num">
                                <p>주문번호</p>
                                <p name="O_IDX" th:text="${orders.O_IDX}"></p>
                            </div>
                        </li>
                        <!-- 상품명 -->
                        <li class="itemName">
                            <div class="order-item-thumb" >
                                <a href="javascript:;">
                                    <img src="https://dummyimage.com/100x100/eeeeee/777777" alt="상품이미지">
                                    <p class="font-xsm color-grey999" name="GS_NAME" th:text="${GS_NAME}"></p>
                                </a>
                            </div>
                            <div class="order-item-info-wrap">
                                <div>
                                    <a href="javascript:;">
<!--                                        <h3 class="font-sm bold" name="P_OPTION" th:text="${orders.P_OPTION}">삼성 노트북 코어i5 램8G SSD 대용량-->
                                            듀얼하드 윈10</h3>
                                    </a>
                                </div>
                                <div class="font-xxsm order-item-info">
                                    <p>종류 : 삼성 노트북 코어 I5듀얼하드 윈 10</p>
                                    <p>사이즈 : 15인치</p>
                                    <p>용량 : 램 8G SSD 대용량</p>
                                </div>
                            </div>
                        </li>
                        <!-- AS기간 -->
                        <li class="as-period">
                            <p class="color-blue bold">AS케어상품</p>
                            <p>3개월 무상 (기본제공)</p>
                            <p>-</p>
                            <p>2022-08-01&#8764;<br>2022-10-01</p>
                        </li>
                        <!-- 수량 -->
                        <li>
                            <p class="font-sm bold">1개</p>
                        </li>
                        <!-- 결제금액 -->
                        <li>
                            <p class="font-sm bold" name="GS_PRICE" th:text="${GS_PRICE}"><span class="won">원</span></p>
                        </li>
                        <!-- 주문현황 -->
                        <li class="flex-column bold orderStatus">
                            <!-- 상품준비중 -->
                            <p class="color-blue" name="O_STATE" th:text="${orders.O_STATE}"></p>
                            <!-- 배송완료
                            <p>배송완료</p>
                            <div>
                                <p>CJ 대한통운</p>
                                <p class="color-grey999">5612121212135</p>
                            </div> -->
                        </li>
                        <!-- 상세조회 -->
                        <li class="flex-column button-vertical-group">
                            <div class="btn btn3"><a onclick="orderDetail()">주문상세보기</a></div>
                            <div class="btn btn4"><a onclick="receiptDetail()">영수증조회</a></div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    </form>
</th:block>


<!--    <script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>-->

<!--    &lt;!&ndash; 메뉴 호버 &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>-->

<!--    &lt;!&ndash; input &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>-->
<!--    <script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>-->
<!--    <script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>-->
<!--    <script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>-->

<!--    &lt;!&ndash; 데이터테이블 &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>-->
<!--    <script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>-->
<!--    <script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>-->
<!--    <script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>-->

<!--    &lt;!&ndash; 에디터 &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>-->
<!--    <script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>-->

<!--    &lt;!&ndash; 드래그&드랍 &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>-->

<!--    &lt;!&ndash; 컬러픽커 &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/plugins/pickers/color/spectrum.js}"></script>-->

<!--    &lt;!&ndash; 그래프 &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/plugins/visualization/echarts/echarts.min.js}"></script>-->

<!--    &lt;!&ndash; 맞춤 js &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/app.js}"></script>-->
<!--    &lt;!&ndash; input &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>-->
<!--    <script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>-->
<!--    &lt;!&ndash; 데이터테이블 &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/demo_pages/datatables_extension_select.js}"></script>-->

<!--    &lt;!&ndash; 멀티 선택 (숫자) &ndash;&gt;-->
<!--    <script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>-->
<!--    <script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>-->

<!--    <script th:src="@{/assets/js/common.js}"></script>-->

    <script th:inline="javascript">


        // function searchBtn(CU_IDX){
        //     $.ajax({
        //         url:'/myPage/productList.ajax',
        //         type: 'post'
        //         ,data:'CU_IDX='+CU_IDX,
        //
        //         success: function(data){
        //            ;
        //         }
        //     });
        // }


        // /**창고 검색시 해당 창고에 있는 자산 행추가*/
        // function appendLocGoods(data) {
        //     $('#ASTbody').empty();
        //     var html = '';
        //     $.each(data, function (index, value) {
        //         html += '<tr>' +
        //             '<td>' + value.O_DATE+ '</td>' +
        //             '<td>'+ value.O_IDX +'</td>'+
        //             /*     '<td>' + value.G_BARCODE + '</td>' +*/
        //             '<td>' + value.P_IDX + '</td>' +
        //             '<td>' + value.P_NAME + '</td>' +
        //             '<td>' + value.PS_TYPE + '</td>' +
        //             '<td>' + value.LOC_WH_IDX + '</td>' +
        //             '<td>' + value.LOC_FORM + '</td>' +
        //             '</tr>';
        //     })
        //
        //     $('#ASTbody').append(html);
        // }


        // window.onload=function() {
        //     $('#productListForm').show();
        // }

    </script>
</th:block>
