<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="part/meta.html"></th:block>
    <th:block th:replace="part/css.html"></th:block>
    <title>베스트</title>
</head>
<body>

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- MD 추천 카테고리 -->
<section>
    <div class="container">
        <h2 class="section-title">MD 추천 카테고리</h2>
    </div>
    <div class="md-tab-wrap">
        <div class="container swiper swiper-md-tab">
            <ul class="md-tab swiper-wrapper">
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="md-icon md-icon1"></i>
                        <div class="md-tab-title">
                            <span>노트북</span><span>/데스크탑</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="md-icon md-icon2"></i>
                        <div class="md-tab-title">
                            <span>모니터</span><span>/주변기기</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide on">
                    <a href="javascript:;">
                        <i class="md-icon md-icon3"></i>
                        <div class="md-tab-title">
                            <span>휴대폰</span><span>/웨어러블</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="md-icon md-icon4"></i>
                        <div class="md-tab-title">
                            <span>음향기기</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="md-icon md-icon5"></i>
                        <div class="md-tab-title">
                            <span>가전/세탁기</span><span>/냉장고</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="md-icon md-icon6"></i>
                        <div class="md-tab-title">
                            <span>주방/생활</span><span>/레져</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="md-icon md-icon7"></i>
                        <div class="md-tab-title">
                            <span>차량용품</span><span>/블랙박스</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="md-icon md-icon8"></i>
                        <div class="md-tab-title">
                            <span>패션/잡화</span><span class="slash"></span><span>/뷰티</span>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;">
                        <i class="md-icon md-icon9"></i>
                        <div class="md-tab-title">
                            <span>식품</span><span>/헬스케어</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="md-tab-content">
            <li>내용1</li>
            <li>내용2</li>
            <li class="on">
                <div class="container all-view">
                    <a href="javascript:;">카테고리 전체보기<i></i></a>
                </div>
                <div class="swiper-all">
                    <div class="swiper swiper-md-content container">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <div class="item-img">
                                    <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-inner-wrap item-bedge-wrap">
                                        <div class="item-bedge">
                                            <span class="item-condition item-conditionA-2">A급리퍼</span>
                                            <span class="item-condition item-conditionB-1">스크래치</span>
                                        </div>
                                        <div class="buy-count color-blue">판매수 37</div>
                                    </div>
                                    <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                    <div class="item-color">
                                        <span><span></span></span>
                                        <span><span></span></span>
                                        <span><span></span></span>
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="item-price">
                                            <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                        </div>
                                        <div class="discount-rate">57%</div>
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="grade-wrap">
                                            <span class="grade"><i class="star"></i>5.0 (31)</span>
                                            <span>남은수량 4</span>
                                        </div>
                                        <div class="wish">25<i class="heart"></i></div>
                                    </div>
                                    <div class="item-footer">
                                        <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                        &nbsp;
                                        <span><i class="card"></i>무이자</span>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="item-img">
                                    <img src="https://images.ajrepository.com/item_images/001125585/001125585L1.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-inner-wrap item-bedge-wrap">
                                        <div class="item-bedge">
                                            <span class="item-condition item-conditionA-1">새상품</span>
                                        </div>
                                        <div class="buy-count color-blue">판매수 37</div>
                                    </div>
                                    <div class="item-title">삼성 노트북3 Pro 대용량</div>
                                    <div class="item-color">
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="item-price">
                                            <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                        </div>
                                        <div class="discount-rate">57%</div>
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="grade-wrap">
                                            <span class="grade"><i class="star"></i>5.0 (31)</span>
                                            <span>남은수량 4</span>
                                        </div>
                                        <div class="wish">25<i class="heart active"></i></div>
                                    </div>
                                    <div class="item-footer">
                                        <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                        &nbsp;
                                        <span><i class="card"></i>무이자</span>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="item-img">
                                    <img src="https://images.ajrepository.com/item_images/001120052/001120052L1.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-inner-wrap item-bedge-wrap">
                                        <div class="item-bedge">
                                            <span class="item-condition item-conditionA-6">해외리퍼</span>
                                            <span class="item-condition item-conditionB-1">신품수준</span>
                                        </div>
                                        <div class="buy-count color-blue">판매수 37</div>
                                    </div>
                                    <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스 가나다라 마바사 아자차카 타파하</div>
                                    <div class="item-color">
                                        <span><span></span></span>
                                        <span><span></span></span>
                                        <span><span></span></span>
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="item-price">
                                            <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                        </div>
                                        <div class="discount-rate">57%</div>
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="grade-wrap">
                                            <span class="grade"><i class="star"></i>5.0 (31)</span>
                                            <span>남은수량 4</span>
                                        </div>
                                        <div class="wish">25<i class="heart"></i></div>
                                    </div>
                                    <div class="item-footer">
                                        <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                        &nbsp;
                                        <span><i class="card"></i>무이자</span>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="item-img">
                                    <img src="https://images.ajrepository.com/item_images/001126682/001126682L1.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-inner-wrap item-bedge-wrap">
                                        <div class="item-bedge">
                                            <span class="item-condition item-conditionA-3">박스개봉</span>
                                            <span class="item-condition item-conditionB-1">가성비</span>
                                        </div>
                                        <div class="buy-count color-blue">판매수 37</div>
                                    </div>
                                    <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                    <div class="item-color">
                                        <span><span></span></span>
                                        <span><span></span></span>
                                        <span><span></span></span>
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="item-price">
                                            <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                        </div>
                                        <div class="discount-rate">57%</div>
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="grade-wrap">
                                            <span class="grade"><i class="star"></i>5.0 (31)</span>
                                            <span>남은수량 4</span>
                                        </div>
                                        <div class="wish">25<i class="heart"></i></div>
                                    </div>
                                    <div class="item-footer">
                                        <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                        &nbsp;
                                        <span><i class="card"></i>무이자</span>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="item-img">
                                    <img src="https://images.ajrepository.com/item_images/001123118/001123118L1.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-inner-wrap item-bedge-wrap">
                                        <div class="item-bedge">
                                            <span class="item-condition item-conditionA-2">A급리퍼</span>
                                            <span class="item-condition item-conditionB-1">스크래치</span>
                                        </div>
                                        <div class="buy-count color-blue">판매수 37</div>
                                    </div>
                                    <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                    <div class="item-color">
                                        <span><span></span></span>
                                        <span><span></span></span>
                                        <span><span></span></span>
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="item-price">
                                            <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                        </div>
                                        <div class="discount-rate">57%</div>
                                    </div>
                                    <div class="item-inner-wrap">
                                        <div class="grade-wrap">
                                            <span class="grade"><i class="star"></i>5.0 (31)</span>
                                            <span>남은수량 4</span>
                                        </div>
                                        <div class="wish">25<i class="heart"></i></div>
                                    </div>
                                    <div class="item-footer">
                                        <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                        &nbsp;
                                        <span><i class="card"></i>무이자</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="md-content-pagination"></div>
                    <div class="md-tab-content-prev prev-custom"></div>
                    <div class="md-tab-content-next next-custom"></div>
                </div>
            </li>
            <li>내용4</li>
            <li>내용5</li>
            <li>내용6</li>
            <li>내용7</li>
            <li>내용8</li>
            <li>내용9</li>
        </ul>
    </div>
    </div>
</section><!-- // MD 추천 카테고리 끝-->

<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!--js-->
<th:block th:replace="part/js.html"></th:block>
<script>
    /*** 검색창 펼침 ***/
    const searchInput = $('#searchInput');

    searchInput.click(function(){
        $(this).parents().find('.searchBar').toggleClass('on');
        $('.searchBar-open').toggleClass('on');
    });

    /* 검색창 펼침 내부 tab 기능 */
    const searchTab = $('.searchWord-tab li'),
          searchTabContent = $('.searchWord-content>div')

    searchTab.click(function(){
        $(this).addClass('on');
        $(this).siblings().removeClass('on');

        let $Idx = $(this).index();
        searchTabContent.eq($Idx).addClass('on').siblings().removeClass('on');
    });

    /* 검색창 펼침 내부 배너 타이틀 슬라이드 */
    new Swiper('.swiper-searchBar', {
        slidesPerView: 1,
        speed:700,
        /*autoplay:true,*/
        navigation: {
            nextEl: '.searchBar-next',
            prevEl: '.searchBar-prev',
        },
    });

    /*** gnb-menu list slide [swiper] ***/
    new Swiper('.swiper-gnb', {
        slidesPerView: 'auto',
        navigation: {
            nextEl: '.swiper-gnb-next',
            disabledClass: 'gnb-disabled',
        }
    });

    /*** 메인 이미지 슬라이드 [swiper] ***/
    const swiper = new Swiper('.swiper-main-image', {
        slidesPerView: 1,
        speed: 300,
        autoplay: true,
        loop: true,
        loopAdditionalSlides: 1,
        pagination: {
            el: '.swiper-pagination', type: 'custom',
            renderCustom: function (swiper, current, total) {
                return '<span class="current-num">' + current + '</span> &nbsp;/&nbsp; <span class="total-num">' + total + '</span>';
            },
        },
        navigation: {
            nextEl: '.swiper-next',
            prevEl: '.swiper-prev',
        },
        on: {
            init: function () {
                $(".swiper-progress-bar").removeClass("animate");
                $(".swiper-progress-bar").eq(0).addClass("animate");
            },
            slideChangeTransitionStart: function () {
                $(".swiper-progress-bar").removeClass("animate");
            },
            slideChangeTransitionEnd: function () {
                $(".swiper-progress-bar").eq(0).addClass("animate");
            }
        }
    });
    /* index page-main image slide 일시정지, 재생 기능 */
    $(".swiper-button-pause").click(function () {
        $(this).css('display', 'none');
        $('.swiper-button-play').css('display', 'block');
        swiper.autoplay.stop();
        return false
    });
    $(".swiper-button-play").click(function () {
        $(this).css('display', 'none');
        $('.swiper-button-pause').css('display', 'block');
        swiper.autoplay.start();
        return false
    });

    /** 메인 이미지 슬라이드 좌측 카테고리 서브 메뉴 열림 **/
    $('.ctg-open').hide();
    $(".ctg-all>li").mouseover(function(){
        $(this).addClass("on")
               .children(".ctg-open").show();

    });
    $(".ctg-all>li").mouseout(function(){
        $(this).removeClass("on")
               .children(".ctg-open").hide();
    });


    /** 뉴퍼딜 이벤트 **/
    new Swiper('.swiper-newperDeal', {
        slidesPerView: 1,
        spaceBetween: 20,
        speed:700,
        /*autoplay:true,*/
        observer: true,
        observeParents: true,
        breakpoints: {
            992: {
                slidesPerView: 3,
                spaceBetween: 30,
                navigation: {
                    nextEl: '.newperDeal-next',
                    prevEl: '.newperDeal-prev',
                    disabledClass: 'btn-disabled',
                },
            },
        },
    });

    /** 반값 이벤트 (이벤트 상품 그룹 1) **/
    new Swiper('.swiper-event-group1', {
        slidesPerView: 2,
        spaceBetween: 0,
        speed:700,
        /*autoplay:true,*/
        observer: true,
        observeParents: true,
        breakpoints: {
            992: {
                slidesPerView: 4,
                spaceBetween: 35,
                navigation: {
                    nextEl: '.swiper-event-group1-next',
                    prevEl: '.swiper-event-group1-prev',
                    disabledClass: 'btn-disabled',
                },
            },
        },
    });
    /* 좋아요(하트) 클릭 시 하트 색채움 사진으로 전환 */
    $(".heart").click(function () {
        $(this).toggleClass('active');
    });

    /** 한정수량 일일특가 (이벤트 상품 그룹 2) **/
    new Swiper('.swiper-event-group2', {
        slidesPerView: 1,
        grid: {
            rows: 2,
        },
        spaceBetween: 10,
        breakpoints: {
            992: {
                slidesPerView: 2,
                grid: {
                    rows: 2,
                },
                spaceBetween: 35,
                navigation: {
                    nextEl: '.swiper-event-group2-next',
                    prevEl: '.swiper-event-group2-prev',
                    disabledClass: 'btn-disabled',
                },
            },
        },
    });

    /** 뉴퍼마켓 숨은 꿀템 (이벤트 상품 그룹 3) **/
    new Swiper('.swiper-event-group3', {
        slidesPerView: 1,
        spaceBetween: 10,
        breakpoints: {
            992: {
                slidesPerView: 3,
                spaceBetween: 35,
                navigation: {
                    nextEl: '.swiper-event-group3-next',
                    prevEl: '.swiper-event-group3-prev',
                    disabledClass: 'btn-disabled',
                },
            },
        },
    });

    /** 알짜만 모아모아 기획전 (이벤트 상품 그룹 4)**/
    new Swiper('.swiper-event-group4', {
        slidesPerView: 1,
        spaceBetween: 0,
        breakpoints: {
            992: {
                slidesPerView: 3,
                spaceBetween: 0,
                navigation: {
                    nextEl: '.swiper-event-group4-next',
                    prevEl: '.swiper-event-group4-prev',
                    disabledClass: 'btn-disabled',
                },
            },
        },
    });

    /** TODAY BEST **/
    $('.todayBest-tab>li').click(function(){
        $(this).addClass('on');
        $(this).siblings().removeClass('on');

        var $Idx = $(this).index();

        $('.todayBest-content>li').eq($Idx).addClass('on').siblings().removeClass('on');
    });

    new Swiper('.swiper-todayBest', {
        slidesPerView: 2,
        spaceBetween: 10,
        breakpoints: {
            992: {
                slidesPerView: 4,
                spaceBetween: 50,
                navigation: {
                    nextEl: '.todayBest-content-next',
                    prevEl: '.todayBest-content-prev',
                    disabledClass: 'btn-disabled',
                },
            },
        },
    });

    /** MD 추천 카테고리 **/
    $('.md-tab>li').click(function(){
        $(this).addClass('on');
        $(this).siblings().removeClass('on');

        var $Idx = $(this).index();

        $('.md-tab-content>li').eq($Idx).addClass('on').siblings().removeClass('on');
    });

    new Swiper('.swiper-md-tab', {
        slidesPerView: 'auto',
    });

    new Swiper('.swiper-md-content', {
        slidesPerView: 2,
        spaceBetween: 10,
        pagination: {
            el: '.md-content-pagination',
            clickable: true,
        },
        breakpoints: {
            992: {
                slidesPerView: 4,
                spaceBetween: 35,
                navigation: {
                    nextEl: '.md-tab-content-next',
                    prevEl: '.md-tab-content-prev',
                    disabledClass: 'btn-disabled',
                },
            },
        },
    });

    /** 리얼리뷰 PICK **/
    new Swiper('.swiper-realReview', {
        slidesPerView: 2,
        spaceBetween: 10,
        slidesPerGroup: 2,
        pagination: {
            el: '.review-pagination',
            clickable: true,
        },
        breakpoints: {
            992: {
                slidesPerView: 4,
                slidesPerGroup: 4,
                spaceBetween: 35,
            },
        },
    });

    /** 공지사항 - 지점안내 [swiper] **/
    new Swiper('.swiper-storeInfo', {
        slidesPerView: 2,
        spaceBetween: 5,
        speed:700,
        observer: true,
        observeParents: true,
        navigation: {
            prevEl: '.storeInfo-prev',
            nextEl: '.storeInfo-next',
            disabledClass: 'btn-disabled',
        },
        breakpoints: {
            992: {
                slidesPerView: 4,
                spaceBetween: 20,

            },
        },
    });

</script>
</body>
</html>