<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>권한관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/common/css.html"></th:block>
</head>
<body>
<th:block th:replace="/common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-container">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>ADMIN
                                            </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                                <i class="mr-1" th:classappend="${subIcon}"></i>
                                                <th:block th:text="${subTitle}"></th:block>마스킹 설정
                                            </span>
                                    </div>
                                </h6>
                                <div class="header-elements text-right">
                                    <div class="d-inline-block d-md-flex d-md-flex-row justify-content-between">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popNewBtn">
                                            <i class="icon-popout mr-1"></i>신규등록
                                        </a>

                                        <div class="list-icons ml-2">
                                            <a class="list-icons-item" data-action="collapse"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">


                                <div class="card-body text-center masking">
                                    <a href="#" class="badge badge-indigo">상품관리</a>
                                    <a href="#" class="badge badge-indigo">아웃바운드</a>
                                    <a href="#" class="badge badge-indigo">인바운드</a>
                                    <a href="#" class="badge badge-primary">운영팀</a>
                                    <a href="#" class="badge badge-indigo">저장팀</a>
                                    <a href="#" class="badge badge-indigo">쇼핑몰</a>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-xs w-auto center-col mt-1">
                                            <tbody>
                                            <tr>
                                                <td class="bg-dark-100">신용정보</td>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" id="check1">
                                                        <label class="form-check-label" for="check1">신용점수</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bg-dark-100">개인정보</td>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" id="check2-1" checked>
                                                        <label class="form-check-label" for="check2-1">생년월일</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" id="check2-2">
                                                        <label class="form-check-label" for="check2-2">고객명</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" id="check2-3" >
                                                        <label class="form-check-label" for="check2-3">이메일</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bg-dark-100">결제정보</td>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" id="check3-1">
                                                        <label class="form-check-label" for="check3-1">소유주 생년월일</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" id="check3-2">
                                                        <label class="form-check-label" for="check3-2">유효년월</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" id="check3-3" >
                                                        <label class="form-check-label" for="check3-3">계좌/카드번호</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>











                <!-- Detached content -->
                <div class="container-detached">
                    <div class="content-detached">
                        <div class="row">
                            <div class="col-xs-10">

                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><i class="icon-windows2 position-left"></i><span class="text-bold">마스킹 설정</span></h5>
                                    </div>
                                    <div class="panel-body form-body" id="maskPanel">
<!--                                        <c:forEach var="al" items="${authList}">-->
<!--                                            <a class="label bg-slate-700 label-icon cursor-default" id="loadMasking_${al.a_idx}" onclick="loadMasking(${al.a_idx}, this)">${al.a_name}</a>-->
<!--                                        </c:forEach>-->

                                        <table id="mask_table" class="table table-bordered table-hover table-sm mt-10 mb-10" style="max-width: 1200px;">
                                        </table>
                                    </div>
                                </div>

                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><i class="icon-windows2 position-left"></i><span class="text-bold">권한 설정</span></h5>

                                        <button type="button" onclick="loadMenu()" class="btn btn-sm bg-blue-700 pull-right">
                                            <i class="icon-reload-alt text-size-large mr-5"></i>새로고침
                                        </button>
                                    </div>
                                    <div class="panel-body form-body">
                                        <table class="table table-bordered table-hover table-sm">
                                            <thead>
                                            <tr class="alpha-brown text-bold">
                                                <th>기능</th>
                                                <th>권한</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody id="menusTbody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><i class="icon-lock2 position-left"></i><span class="text-bold">권한 설정</span></h5>
<!--                                        <c:if test="${authCheck}">-->
<!--                                            <div class="heading-elements">-->
<!--                                                <a onclick="addAuth()" class="btn btn-xs bg-danger legitRipple">기능 추가</a>-->
<!--                                            </div>-->
<!--                                        </c:if>-->
                                    </div>
                                    <div class="panel-body form-body">
                                        <p class="mb-5"><i class="icon-info22 text-grey-700 position-left"></i>각 <span class="text-black">페이지</span>, <span class="text-black">수정/삭제버튼</span>, <span class="text-black">가입자</span>에 권한을 설정하여 제어합니다.</p>
                                    </div>
                                    <div class="table table-hover ${login.e_table }">
                                        <table class="table table-bordered table-hover ${login.e_table }">
                                            <tbody>
<!--                                            <c:forEach var="al" items="${authList}">-->
<!--                                                <tr>-->
<!--                                                    <td><span class="label bg-slate-700 label-icon cursor-default"><i class="icon-seven-segment">${al.a_name}</i></span></td>-->
<!--                                                </tr>-->
<!--                                            </c:forEach>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//Detached content -->
            </div>

        </div>
    </div>
</div>

<div id="auth_modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="icon-cross2"></i></button>
                <h6 class="modal-title text-bold"><i class="icon-menu2 position-left"></i>기능 권한 설정</h6>
            </div>

            <form id='pageGroupForm' class="form-group-attached">
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-body">
                            <input type="hidden" name='pg_idx'>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group form-group-default">
                                        <label>기능</label>
                                        <div class="form-control" id="pg_memo"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group form-group-default required">
                                        <label>권한설정</label>
                                        <select class="select select2-hidden-accessible" name="a_idxs" multiple="multiple">
<!--                                            <c:forEach var="al" items="${authList}">-->
<!--                                                <option value="${al.a_idx}">${al.a_name}</option>-->
<!--                                            </c:forEach>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-link bg-grey-400" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-sm bg-primary-600" onclick="saveAuth()">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="add_modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="icon-cross2"></i></button>
                <h6 class="modal-title text-bold"><i class="icon-menu2 position-left"></i>기능 추가</h6>
            </div>

            <form id='addForm' class="form-group-attached">
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group form-group-default">
                                        <label>기능</label>
                                        <input type="text" class="form-control" name="a_name">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group form-group-default">
                                        <label>타입</label>
                                        <select class="select select2-hidden-accessible" name="a_type">
                                            ?
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-link bg-grey-400" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-sm bg-primary-600" onclick="saveAddAuth()">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    function loadMenu(){
        $('#menusTbody').load('/auth/menusTbody', function (response,status,xhr){

        });
    }
    $(document).ready(function(){
        loadMenu();
    });
</script>


</html>