<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>권한관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-container">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-2">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            권한
                                        </span>
                                    </div>
                                </h6>
                                <div class="header-elements text-right">
                                    <div class="d-inline-block d-md-flex d-md-flex-row justify-content-between">
<!--                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popAuthBtn">-->
<!--                                            신규등록-->
<!--                                        </a>-->
                                        <div class="list-icons ml-2">
                                            <a class="list-icons-item" data-action="collapse"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse show">
                                <div class="card-body text-center masking" id="authDiv">
                                </div>
                            </div>
                        </div>

                        <div class="card m-2">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            마스킹 설정
                                        </span>
                                        <span id="authName"></span>
                                        <input type="hidden" id="authIdx">
                                    </div>
                                </h6>
                                <div class="header-elements text-right">
                                    <div class="d-inline-block d-md-flex d-md-flex-row justify-content-between">
                                        <div class="list-icons ml-2">
                                            <a class="list-icons-item" data-action="collapse"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">

                                <div class="card-body text-center masking">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-xs w-auto center-col my-1">
                                            <tbody>
                                                <tr th:each=" map : ${maskMap}">
                                                    <td class="bg-dark-100" th:text="${map.key}">마스킹 option Group</td>
                                                    <td>
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label" th:each="mask : ${map.value}">
                                                                <input type="checkbox" class="form-check-input maskName">
                                                                <th:block th:text="${mask.option}"></th:block>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card m-2">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            권한 설정
                                        </span>
                                    </div>
                                </h6>
<!--                                <div class="header-elements text-right">-->
<!--                                    <div class="d-inline-block d-md-flex d-md-flex-row justify-content-between">-->
<!--                                        <a type="button" class="btn btn-sm btn-info ml-1">-->
<!--                                            <i class="icon-reload-alt mr-1"></i>새로고침-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-xs">
                                    <thead>
                                    <tr>
                                        <th>대메뉴</th>
                                        <th>중메뉴</th>
                                        <th>권한</th>
                                        <th>수정</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <th:block th:each="menus: ${T(com.newper.component.MenuList).menus}">
                                        <th:block th:each="submenu, i: ${menus.subMenuList}">
                                            <tr>
                                                <th:block th:if="${i.index == 0}">
                                                    <td th:rowspan="${i.size}" th:text="${menus.menuName}"></td>
                                                </th:block>
                                                <td th:text="${submenu.smName}"></td>
                                                <td>
                                                    <span class="badge badge-flat border-primary text-primary" th:each="sa: ${submenu.smAuth}" th:text="${authMap[__${sa}__]}">권한명</span>
                                                </td>
                                                <td>
                                                    <a href="#" class="badge badge-flat border-primary text-primary p-1 border-0"><i class="icon-pencil7 position-static"></i></a>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="auth_modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="icon-cross2"></i></button>
                <h6 class="modal-title text-bold"><i class="icon-menu2 position-left"></i>기능 권한 설정</h6>
            </div>

            <form id='pageGroupForm' class="form-group-attached">
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-body">
                            <input type="hidden" name='pg_idx'>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group form-group-default">
                                        <label>기능</label>
                                        <div class="form-control" id="pg_memo"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group form-group-default required">
                                        <label>권한설정</label>
                                        <select class="select select2-hidden-accessible" name="a_idxs" multiple="multiple">
<!--                                            <c:forEach var="al" items="${authList}">-->
<!--                                                <option value="${al.a_idx}">${al.a_name}</option>-->
<!--                                            </c:forEach>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-link bg-grey-400" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-sm bg-primary-600" onclick="saveAuth()">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="add_modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="icon-cross2"></i></button>
                <h6 class="modal-title text-bold"><i class="icon-menu2 position-left"></i>기능 추가</h6>
            </div>

            <form id='addForm' class="form-group-attached">
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group form-group-default">
                                        <label>기능</label>
                                        <input type="text" class="form-control" name="a_name">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group form-group-default">
                                        <label>타입</label>
                                        <select class="select select2-hidden-accessible" name="a_type">
                                            ?
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-link bg-grey-400" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-sm bg-primary-600" onclick="saveAddAuth()">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    //권한 새로고침
    function loadAuth(){
        $.ajax({
          url:'/auth/list.ajax'
          ,type:'post'
          ,data: 'authType=ERP'
        }).done(function(res){
            $('#authDiv').html('');

            for(var i=0; i<res.data.list.length; i++) {
                var authMap = res.data.list[i];
                $('#authDiv').append('<a href="javascript:loadMask('+authMap.authIdx+')" class="badge badge-indigo">'+authMap.authName+'</a>');
            }
        });
    }
    //마스킹 설정 새로고침
    function loadMask(authIdx){
        $.ajax({
            url:'/auth/info.ajax'
            ,type:'post'
            ,data: 'authIdx='+authIdx
        }).done(function(res){
            $('#authIdx').val(authIdx);
            $('#authName').html(res.data.auth.authName);

            $('.maskName').prop("checked", true);
            for(var i=0; i<res.data.auth.authMask.length; i++) {
                var maskName = res.data.auth.authMask[i];
                $('input[value=' + maskName + ']').prop('checked', false);
            }

        });
    }
    //마스킹 하기
</script>
<script>
    $(document).ready(function(){
        loadAuth();
    });
</script>
</html>