<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="part/head :: head('고객센터')">
</head>
<body th:classappend="${@shopComp.getShopDesign()}">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- 로그인 모달창 -->
<th:block th:replace="part/modal :: login-modal"></th:block>

<!-- 공통 모달창 -->
<th:block th:replace="part/modal :: common-modal"></th:block>

<!--페이지 타이틀-->
<section th:insert="part/title :: pageTitle('고객센터','')" class="padding-section page-title-padding"></section>

<section class="padding-section">
    <div class="container">
        <ul class="cc-header">
            <li class="cc-header-left">
                <h2>자주묻는 질문 TOP 4</h2>
                <div class="cc-header-left-content">
                    <ul class="questions">
                        <li class="on"><span>A급리퍼 & 해외리퍼</span></li>
                        <li><span>회원가입 혜택</span></li>
                        <li><span>매장위치 & 영업시간</span></li>
                        <li><span>윈도우 OS 정품인증</span></li>
                    </ul>
                    <ul class="answer">
                        <!-- A급리퍼&해외리퍼 -->
                        <li class="on">
                            <div class="answer-title">
                                <span class="color-blue">Q.</span> A급리퍼와 해외리퍼의 차이가 뭔가요?
                            </div>
                            <div class="answer-content">
                                <h3 class="color-blue">A급리퍼란?</h3>
                                <p>뉴퍼마켓 리퍼센터 전문인력의 품질향상 공정을 거치고, 뉴퍼마켓이 품질을 보증하는 상품입니다.</p>
                                <h3 class="color-blue">해외리퍼란?</h3>
                                <p>반품상품 및 제조, 유통과정에서 미세흠집이나 오류가 발생한 상품을 선별, 재구성하여 새상품보다 저렴하게 판매하는 상품입니다.</p>
                            </div>
                        </li>
                        <!-- 회원가입 혜택 -->
                        <li>
                            <div class="answer-title">
                                <span class="color-blue">Q.</span> 회원가입을 하면 어떤 점이 좋을까요?
                            </div>
                            <div class="answer-content">
                                <h3 class="color-blue">회원가입 혜택</h3>
                                <p>1. 주문 단계별 카카오톡 알림 서비스</p>
                                <p>2. 각 게시판 및 1:1상담을 통한 개별상담 서비스</p>
                                <p>3. 이메일 혹은 SMS를 통한 각종 이벤트 및 혜택 안내 서비스</p>
                                <p>4. 적립금 / 할인쿠폰 등 다양한 할인 혜택 제공</p>
                                <p>5. 회원 등급에 따른 할인 혜택 제공</p>
                                <p>※ 앞으로 더욱 다양한 회원혜택을 실현시켜드릴 수 있도록 최선을 다하겠습니다.</p>
                            </div>
                        </li>
                        <!-- 매장위치 & 영업시간 -->
                        <li>내용3</li>
                        <!-- 윈도우 OS 정품인증 -->
                        <li>
                            <div class="answer-title">
                                <span class="color-blue">Q.</span> 윈도우OS가 정품이 아니라고 나옵니다.
                            </div>
                            <div class="answer-content">
                                <h3 class="color-blue">뉴퍼마켓에서 판매되는 제품에는 정품 윈도우 OS가 설치되어 출고됩니다.</h3>
                                <p>간혹 윈도우 업데이트 또는 복원작업에서 의 오류 발생으로 OS가 정품이 아니라는 문구가 나오는 경우가 있습니다. 이러한 경우 제품 에 부착된 윈도우 OS 라벨의 시리얼키를 입력하여 정품 인증을 받으실 수 있습니다.</p>
                                <h3 class="color-blue">윈도우 OS라벨의 위치</h3>
                                <p>1. 노트북의 경우 제품 하단 바닥면</p>
                                <p>2. 데스크탑의 경우 제품 좌측면 (정품 윈도우 Product Key 25자리 시리얼 라벨 스티커)</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="cc-header-right">
                <h2>상담문의</h2>
                <div class="cc-header-right-content">
                    <div>
                        <h3>고객 분편 사항 전문상담 및<br>배송 및 AS문의</h3>
                        <p class="cc-phone-num">1599-5372</p>
                        <p class="co-gr2">상담시간 오전 09:00 - 오후 06:00</p>
                        <p class="co-gr2">점심시간 오후 12:00 - 오후 01:00</p>
                    </div>
                    <div>
                        <h3>무통장 입금 계좌안내</h3>
                        <p class="co-gr2">KEB 하나은행 : 14191000386904 (예금주 : 에이제이전시몰)</p>
                    </div>
                </div>
            </li>
        </ul>
        <!-- 고객센터 탭 메뉴 -->
        <ul class="cc-menu-tab" id="custCenterTabMenu">
            <li onclick="openMenu('faq')" id="faq"><i class="cc-tab-icon1"></i>자주 묻는 질문</li>
            <li onclick="openMenu('notice')" id="notice"><i class="cc-tab-icon2"></i>공지사항</li>
            <li onclick="openMenu('easyFaq')" id="easyFaq"><i class="cc-tab-icon3"></i>보기쉬운 FAQ</li>
            <li onclick="openMenu('asInfo')" id="asInfo"><i class="cc-tab-icon4"></i>AS접수안내</li>
            <li onclick="openMenu('origin')" id="origin"><i class="cc-tab-icon5"></i>정품등록안내</li>
            <li onclick="openMenu('cuGuide')" id="cuGuide"><i class="cc-tab-icon6"></i>회원혜택안내</li>
        </ul><!-- // 고객센터 탭 메뉴 -->
    </div>
</section>
<section class="padding-section">
        <!-- 고객센터 탭 내용 -->
        <ul>
            <li id="custCenterMenu">
            </li>
        </ul>
    </div><!-- // 고객센터 탭 내용 -->
</section>

<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!--js-->
<th:block th:replace="part/js"></th:block>

</body>

<script>
    function openMenu(menu){
        $.ajax({
            url: '/custCenter/'+menu+'.load'
            ,type : 'post'
            ,success:function(res){
                $('#custCenterMenu').empty();
                $('#custCenterMenu').append(res);

                //action
                $('#custCenterTabMenu').children('li').removeClass("on");
                $('#custCenterTabMenu').find($('#'+menu)).addClass("on");
            }
            ,error:function(){}
        });
    }
    $(function(){
        openMenu('faq');
    })
</script>
</html>