<th:block th:fragment="notice">
    <li class="">
        <div class="container">
            <div class="cc-content-title">
                <h2>공지사항</h2>
                <p>뉴퍼마켓에서 알려드립니다.</p>
            </div>
            <div class="searchSection">
                <div class="cc-searchBar">
                    <form name="cc-searchForm" id="cc-searchForm" action="" method="get" onsubmit="return false;">
                        <input type="text" id="cc-searchInput" name="" value="" placeholder="검색어 입력">
                    </form>
                    <div class="cc-search-icon"></div>
                </div>
            </div>
            <ul class="cc-table cc-notice-table">
                <li>
                    <a href="/center/notice/11">
                        <div class="cc-table-title">
                            <div class="cc-table-left">
                                <span class="Q color-blue">01</span>
                                <span>가격 고민, 품질 걱정 없는 가성비 쇼핑몰 에이전시몰이 뉴퍼마켓으로 새로 시작합니다.</span>
                            </div>
                            <div class="cc-table-right">
                                2022-08-01
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="btn btn5 notice-moreView pc-display-none">
                <a href="/custCenter">더보기</a>
            </div>
        </div>
    </li>
</th:block>