<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="closeModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12" id="goodsDiv">
                    <form id="closeModalForm">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">
                                <fieldset class="mb-0">
                                    <legend>마감정보</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">마감담당자</span>
                                                    </span>
                                                    <input type="text" class="form-control" th:value="${@sessionInfo.getId()}">
                                                    <input type="hidden" name="ccgIdx" id="ccgIdx_close">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">마감상태</span>
                                                    </span>
                                                    <select class="form-control">
                                                        <option th:if="${opt.name() != 'WAIT'}" th:each="opt: ${T(com.newper.constant.CcgCloseState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">마감처리일</span>
                                                    </span>
                                                    <input type="text" class="form-control" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">마감메모</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="ccgCloseMemo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Footer -->
            <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                <button type="button" class="btn btn-sm btn-secondary ml-1" onclick="$('#closeModal').modal('hide');">닫기</button>
                <button type="button" class="btn btn-sm btn-primary ml-1" onclick="updateCloseState();">저장</button>
            </div>
            <!-- /footer -->
        </div>
    </div>
</div>

<script>
    function openCloseModal () {
        if ($('.selected').length == 0) {
            alert('정산 그룹을 선택해 주세요');
            return false;
        }

        $('#closeModal').modal('show');
    }

    function updateCloseState() {
        var confirm_str = '';
        if ($('select[name=ccgCloseState]').val() == 'COMPLETE') {
            confirm_str = "마감완료 처리 하시겠습니까?";
        } else {
            confirm_str = "마감취소 처리 하시겠습니까?";
        }

        var ccgIdx = '';

        $.each($('.selected'), function (index, value) {
            ccgIdx += $(this).children('.select-checkbox').children('input').val() + ',';
        });
        ccgIdx = ccgIdx.slice(0, -1);

        $('#ccgIdx_close').val(ccgIdx);

        if (confirm(confirm_str)) {
            $.ajax({
                url: '/calculate/updateCloseStateArr.ajax',
                data: $('#closeModalForm').serialize(),
                type:'post',
                success() {
                    location.reload();
                }
            });
        }
    }
</script>
</html>
