<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="adjust">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12" id="goodsDiv">
                    <form id="adjustForm">
                        <input type="hidden" name="ogIdx" id="ogIdx_adjust">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">
                                <fieldset class="mb-0">
                                    <legend>
                                        정산조정
                                        <span class="ml-2">
                                            <a class="btn btn-sm btn-primary ml-1" onclick="adjustAdd();">추가</a>
                                        </span>
                                    </legend>

                                    <div class="row overflow-x-scroll">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>조정항목</th>
                                                <th>조정사유</th>
                                                <th>조정금액</th>
                                                <th>삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody id="adjustTbody"></tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Footer -->
            <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                <button type="button" class="btn btn-sm btn-secondary ml-1">닫기</button>
                <button type="button" class="btn btn-sm btn-primary ml-1" onclick="saveAdjust();">저장</button>
            </div>
            <!-- /footer -->
        </div>
    </div>
</div>

<script>
    function openAdjustModal (ogIdx) {
        $('#adjust').modal('show');
        $('#ogIdx_adjust').val(ogIdx);

        $.ajax({
            type: "POST",
            url:"/calculate/selectAdjust.ajax",
            data: {"ogIdx":ogIdx},
            async: false,
            success : function(result){
                var num = $('.adjust-tr').length;
                var html = '';
                $.each(result, function (index, value) {
                    html +=
                        '<tr class="adjust-tr adjust-tr-no-'+num+'">' +
                            '<input type="hidden" name="ccaIdx" value="'+value.CCA_IDX+'">' +
                            '<td><input type="text" class="form-control" name="ccaContent" value="'+value.CCA_CONTENT+'"></td>' +
                            '<td><input type="text" class="form-control" name="ccaReason" value="'+value.CCA_REASON+'"></td>' +
                            '<td><input type="text" class="form-control text-won adjust-cost" name="ccaCost" value="'+value.CCA_COST+'"></td>' +
                            '<td><a type="text" class="btn btn-sm btn-warning" onclick="adjustRemove('+num+','+value.CCA_IDX+')">삭제</a></td>' +
                        '</tr>'
                    num++;
                });
                $('#adjustTbody').append(html);
            }
        });
    }

    function saveAdjust() {
        if ($('.adjust-tr').length == 0) {
            alert('저장할 조정건이 없습니다.');
            return false;
        }

        var ccaIdx = '';

        $.each($('input[name=ccaIdx]'), function (index, value) {
            ccaIdx += $(this).val() + ',';
        });
        ccaIdx = ccaIdx.slice(0, -1);

        textWonRemoveComma();

        if (confirm("조정건을 추가하시겠습니까?")) {
            $.ajax({
                url: '/calculate/saveAdjust.ajax',
                data: $('#adjustForm').serialize(),
                type:'post',
                success() {
                    
                    location.reload();
                }
            });
        }
    }


    function adjustAdd() {
        var num = $('.adjust-tr').length;

        var html =
            '<tr class="adjust-tr adjust-tr-no-'+num+'">' +
                '<input type="hidden" name="ccaIdx" value="0">' +
                '<td><input type="text" class="form-control" name="ccaContent"></td>' +
                '<td><input type="text" class="form-control" name="ccaReason"></td>' +
                '<td><input type="text" class="form-control text-won adjust-cost" name="ccaCost"></td>' +
                '<td><a type="text" class="btn btn-sm btn-warning" onclick="adjustRemove('+num+','+0+')">삭제</a></td>' +
            '</tr>'

        $('#adjustTbody').append(html);
    }

    function adjustRemove(num, ccaIdx) {
        if (ccaIdx == 0) {
            $('.adjust-tr-no-'+num).remove();
            
            return false;
        } else {
            if (confirm("해당 조정건을 정말 삭제하시겠습니까?")) {
                $.ajax({
                    url: '/calculate/removeAdjust.ajax',
                    data:{
                        "ccaIdx":ccaIdx,
                        "ogIdx":$('#ogIdx_adjust').val()
                    },
                    type:'post',
                    success() {
                        $('.adjust-tr-no-'+num).remove();
                        
                    }
                });
            }
        }
    }

    // 숫자만 입력되도록
    $(document).on('input', '.text-won', function (event) {
        inputOnlyNumber($(event.target));
        
    });
</script>
</html>
