<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${subTitle}"></title>
    <th:block th:replace="/common/css.html"></th:block>
    <style>
        .group{
            background:aliceblue;
        }
    </style>
</head>

<body>

<th:block th:replace="/common/header.html">Header</th:block>
<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                            <i class="mr-1" th:classappend="${subIcon}"></i>
                                            <th:block th:text="${subTitle}"></th:block>
                                        </span>
                                    </div>
                                </h6>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header bg-white header-elements-inline">
                                <h6 class="card-title">카테고리 대분류</h6>
                                <a type="button" class="btn btn-sm btn-outline-dark ml-1" onclick="popCategory(1)">
                                    <i class="icon-popout mr-1"></i>대분류 추가
                                </a>
                            </div>
                            <form id="categoryFirstTableForm">
                                <table class="table" id="categoryFirstTable">
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header bg-white header-elements-inline">
                                <h6 class="card-title">카테고리 중분류</h6>
                                <a type="button" class="btn btn-sm btn-outline-dark ml-1" onclick="popCategory(2)">
                                    <i class="icon-popout mr-1"></i>중분류 추가
                                </a>

                            </div>
                            <form id="categorySecondTableForm">
                                <table class="table" id="categorySecondTable">
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header bg-white header-elements-inline">
                                <h6 class="card-title">카테고리 소분류</h6>
                                <a type="button" class="btn btn-sm btn-outline-dark ml-1" onclick="popCategory(3)">
                                    <i class="icon-popout mr-1"></i>소분류 추가
                                </a>
                            </div>

                            <div class="collapse show">
                                <div class="table-responsive">
                                    <form id="categoryThirdTableForm">
                                        <table class="table" id="categoryThirdTable" >
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/demo_pages/extension_dnd.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    $('#categoryFirstTable').DataTable({
        buttons: {
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-sm btn-dark opacity-60',
                    text: '<i class="icon-file-excel mr-1"></i>엑셀'
                },
                {
                    text: '새로고침',
                    className: 'btn btn-sm btn-secondary',
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }
            ]
        },
        dom: '<"datatable-header"Bi><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/product/category/parent.dataTable',
            type:'post'
        },
        "columns" : [
            {'class':'dragula-handle m-w-2', 'title':'순서','data':'CATE_ORDER', 'render':function(data,type,full,meta){
                    return '<i class="icon-menu-open">'+Math.abs(full.CATE_ORDER)+'</i><input type="hidden" name="CATE_IDX" value="'+full.CATE_IDX+'">';
                }}
            ,{'class':'m-w-16 w-55', 'title':'대분류명','data':'CATE_NAME','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-indigo" onclick="">'+data+'</a>';
                }}
            ,{'class':'m-w-8 w-15', 'title':'중분류','data':'CNT','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm btn-outline-dark ml-1" onclick="childrenCategory('+full.CATE_IDX+')">'+data+'</a>';
                }},
            {'class':'m-w-8 w-15', 'title':'삭제','data':'CATE_IDX','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-danger" onclick="deleteCategory('+data+')">삭제</a>';
                }}
        ]
            ,initComplete: function( settings, json ){
            var table_id=settings.sTableId;
            dragula([settings.nTBody], {
                mirrorContainer: settings.nTBody,
                moves: function (el, container, handle) {
                    return handle.classList.contains('dragula-handle');
                }
            }).on('drop', function(el, target, source, sibling){
                $.ajax({
                    url:'/product/category/order.ajax'
            ,type:'post'
                    ,data:$('#'+table_id+'Form').serialize()
            }).always(function(res){
                    $('#'+table_id).DataTable().ajax.reload();
                    // $('#categorySecondTable').DataTable().ajax.reload();
                });
            });
        }

    });

    $('#categorySecondTable').DataTable({
        buttons: {
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-sm btn-dark opacity-60',
                    text: '<i class="icon-file-excel mr-1"></i>엑셀'
                },
                {
                    text: '새로고침',
                    className: 'btn btn-sm btn-secondary',
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }
            ]
        },
        dom: '<"datatable-header"Bi><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/product/category/children.dataTable',
            type:'post'
        },
        "columns" : [
            {'class':'dragula-handle m-w-2', 'title':'순서','data':'CATE_ORDER', 'render':function(data,type,full,meta){
                    return '<i class="icon-menu-open">'+Math.abs(full.CATE_ORDER)+'</i><input type="hidden" name="CATE_IDX" value="'+full.CATE_IDX+'">';
                }}
            ,{'class':'m-w-16 w-55', 'title':'중분류명','data':'CATE_NAME','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-indigo" onclick="">'+data+'</a>';
                }}
            ,{'class':'m-w-8 w-15', 'title':'소분류','data':'CNT','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm btn-outline-dark ml-1" onclick="youngestCategory('+full.CATE_IDX+')">'+data+'</a>';
                }},
            {'class':'m-w-8 w-15', 'title':'삭제','data':'CATE_IDX','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-danger" onclick="deleteCategory('+data+')">삭제</a>';
                }}
        ]
        ,initComplete: function( settings, json ){
            var table_id=settings.sTableId;
            dragula([settings.nTBody], {
                mirrorContainer: settings.nTBody,
                moves: function (el, container, handle) {
                    return handle.classList.contains('dragula-handle');
                }
            }).on('drop', function(el, target, source, sibling){
                $.ajax({
                    url:'/product/category/order.ajax'
                    ,type:'post'
                    ,data:$('#'+table_id+'Form').serialize()
                }).always(function(res){
                    $('#'+table_id).DataTable().ajax.reload();
                });
            });
        }
    });

    $('#categoryThirdTable').DataTable({
        buttons: {
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-sm btn-dark opacity-60',
                    text: '<i class="icon-file-excel mr-1"></i>엑셀'
                },
                {
                    text: '새로고침',
                    className: 'btn btn-sm btn-secondary',
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }
            ]
        },
        dom: '<"datatable-header"Bi><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/product/category/youngest.dataTable',
            type:'post'
        },
        "columns" : [
            {'class':'dragula-handle m-w-2', 'title':'순서','data':'CATE_ORDER', 'render':function(data,type,full,meta){
                    return '<i class="icon-menu-open">'+Math.abs(full.CATE_ORDER)+'</i><input type="hidden" name="CATE_IDX" value="'+full.CATE_IDX+'">';
                }}
            ,{'class':'m-w-16 w-55', 'title':'중분류명','data':'CATE_NAME','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-indigo" onclick="">'+data+'</a>';
                }}
            ,{'class':'m-w-16 w-15', 'title':'삭제','data':'CATE_IDX','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-danger" onclick="deleteCategory('+data+')">삭제</a>';
                }}
        ]
        ,initComplete: function( settings, json ){
            var table_id=settings.sTableId;
            dragula([settings.nTBody], {
                mirrorContainer: settings.nTBody,
                moves: function (el, container, handle) {
                    return handle.classList.contains('dragula-handle');
                }
            }).on('drop', function(el, target, source, sibling){
                $.ajax({
                    url:'/product/category/order.ajax'
                    ,type:'post'
                    ,data:$('#'+table_id+'Form').serialize()
                }).always(function(res){
                    $('#'+table_id).DataTable().ajax.reload();
                });
            });
        }
    });





</script>

<script>
    function childrenCategory(CATE_IDX){
        var table = $('#categorySecondTable').DataTable();
        table.ajax.url('/product/category/children.dataTable?CATE_IDX='+CATE_IDX).load(null,false);
        $('#categoryThirdTable').DataTable().ajax.url('/product/category/youngest.dataTable').load(null,false);
    }

    function youngestCategory(CATE_IDX){
        console.log(CATE_IDX);
        var table = $('#categoryThirdTable').DataTable();
        table.ajax.url('/product/category/youngest.dataTable?CATE_IDX='+CATE_IDX).load(null,false);
    }

    function deleteCategory(CATE_IDX){
        if(confirm("삭제하시겠습니까?")){
            $.ajax({
                url:'/product/category/delete.ajax',
                type:'post',
                data:'CATE_IDX='+CATE_IDX,
                success:function(res){
                    $('#categoryFirstTable').DataTable().ajax.reload();
                    $('#categorySecondTable').DataTable().ajax.reload();
                    $('#categoryThirdTable').DataTable().ajax.reload();
                }
            })
        }
    }

    function popCategory(dept){
        var focusPopup = window.open('/product/category/categoryCreate?dept='+dept,'categoryCreate', 'width=850, height=500, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }
</script>


</body>



</html>