<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${product != null} ? '상품 조회/수정':'상품 등록'"></title>

    <th:block th:replace="common/css.html"></th:block>
    <style>
        .modal-dialog{
            max-width: 950px;
        }

        .table-hover {
            width: 100% !important;
        }
    </style>
</head>

<body>
<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold" >상품 등록</h4>
                            <!--  <div class="text-white-50 ml-3">설명글영역</div>
                          </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <form id="productForm">
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">1.상품 등록<span class="small ml-2"></span></legend>
                            <div class="row">
                                <!-- 입력필드 -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      상품코드
                                                    </span>
                                                </span>
                                            <input type="text" name="" class="form-control" readonly> <!--auto-->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text requested requested">
                                                      상품명
                                                    </span>
                                                </span>
                                            <input type="text" name="P_NAME" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        상품 상태
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control "  name="P_STATE"  readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      모델명
                                                    </span>
                                                </span>
                                            <input type="text" name="P_MODEL" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        브랜드
                                                    </span>
                                                </span>
                                            <select class="form-control select " data-placeholder="선택" name="P_CATE_IDX2">
                                                <option></option>
                                                <option th:each="brand:${brand}" th:text="${brand.CATE_NAME}" th:value="${brand.CATE_IDX}" th:selected="${product?.pState == brand.CATE_IDX}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                    <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      재고관리
                                                    </span>
                                                </span>
                                            <select class="form-control select" data-placeholder="선택" name="P_USE_STOCK">
                                                <option></option>
                                                <option th:each="bol:${T(com.newper.constant.etc.TowType).values()}" th:text="${bol}" th:value="${bol.option}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      카테고리 대분류
                                                    </span>
                                                </span>
                                            <select class="form-control select" data-placeholder="선택" name="CATE_IDX1" onchange="category1()">
                                                <option></option>
                                                <option th:each="cate:${category}" th:text="${cate.CATE_NAME}" th:value="${cate.CATE_IDX}"></option>
                                            </select>
                                            <input type="hidden" name="P_CATE_IDX">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        카테고리 중분류
                                                    </span>
                                                </span>
                                            <select class="form-control select" data-placeholder="선택" name="CATE_IDX2" onchange="category2()">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      카테고리 소분류
                                                    </span>
                                                </span>
                                            <select class="form-control select" data-placeholder="선택" name="CATE_IDX3" onchange="category3()">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          정산구분(품목구분1)
                                                        </span>
                                                </span>
                                            <select class="form-control select" name="P_TYPE1" data-placeholder="선택">
                                                <option></option>
                                                <option th:each="ptype:${T(com.newper.constant.PType1).values()}" th:text="${ptype.option}" th:value="${ptype}" th:selected="${product?.pState == ptype}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        상품분류(품목구분2)
                                                    </span>
                                                </span>
                                            <select class="form-control select" name="P_TYPE2" data-placeholder="선택">
                                                <option></option>
                                                <option th:each="ptype2:${T(com.newper.constant.PType2).values()}" th:text="${ptype2.option}" th:value="${ptype2}" th:selected="${product?.pState == ptype2}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      물류타입(품목자산구분)
                                                    </span>
                                                </span>
                                            <select class="form-control select" name="P_TYPE3" data-placeholder="선택">
                                                <option></option>
                                                <option th:each="ptype3:${T(com.newper.constant.PType3).values()}" th:text="${ptype3.option}" th:value="${ptype3}" th:selected="${product?.pState == ptype3}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="mb-0">
                            <legend class="">2.거래처정보<span class="small ml-2"></span></legend>
                            <div class="row">
                                <!-- 입력필드 -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          입점사 <a class="btn btn-sm badge-indigo legitRipple" onclick="showCompanyModal('STORE')">검색</a>
                                                        </span>
                                                    </span>
                                            <input type="text" name="P_COM_NAME" class="form-control">
                                            <input type="hidden" name="P_COM_IDX">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      제조사 <a class="btn btn-sm badge-indigo legitRipple" onclick="showCompanyModal()">검색</a>
                                                    </span>
                                                </span>
                                            <input type="text" name="P_COM_NAME2" class="form-control">
                                            <input type="hidden" name="P_COM_IDX2">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        AS업체 <a class="btn btn-sm badge-indigo legitRipple" onclick="showCompanyModal('REPAIRING')">검색</a>
                                                    </span>
                                                </span>
                                            <input type="text" class="form-control "  name="P_COM_NAME3">
                                            <input type="hidden" name="P_COM_IDX3">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                     외주 제조사 AS번호
                                                    </span>
                                                </span>
                                            <input type="text" name="asNum" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="mb-0">
                            <legend class="">3.관리정보<span class="small ml-2"></span></legend>
                            <div class="row">
                                <!-- 입력필드 -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      썸네일1
                                                    </span>
                                                </span>
                                            <input type="file" name="P_THUMB_FILE1" accept="image/*" class="input-thumb-file form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      썸네일2
                                                    </span>
                                                </span>
                                            <input type="file" name="P_THUMB_FILE2" accept="image/*" class="input-thumb-file form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                 <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      썸네일3
                                                    </span>
                                                </span>
                                            <input type="file" name="P_THUMB_FILE3" accept="image/*" class="input-thumb-file form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      썸네일4
                                                    </span>
                                                </span>
                                            <input type="file" name="P_THUMB_FILE4" accept="image/*" class="input-thumb-file form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      썸네일5
                                                    </span>
                                                </span>
                                            <input type="file" name="P_THUMB_FILE5" accept="image/*" class="input-thumb-file form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                 <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      썸네일6
                                                    </span>
                                                </span>
                                            <input type="file" name="P_THUMB_FILE6" accept="image/*" class="input-thumb-file form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br>
                        <fieldset class="mb-0">
                            <span class="input-group-text w-100 mb--1">상세이미지</span>
                            <textarea id="summerNote1" name="P_CONTENT1"></textarea>



                            <span class="input-group-text w-100 mb--1">공통이미지</span>
                            <textarea id="summerNote2" name="P_CONTENT2"></textarea>



                            <span class="input-group-text w-100 mb--1">공통이미지_영문자판 표기 여부</span>
                            <textarea id="summerNote3" name="P_CONTENT3"></textarea>

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">상품메모</span>
                                                </span>
                                            <input type="text" name="P_MEMO" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">태그</span>
                                                </span>
                                            <input type="text" name="P_TAG" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">블로그링크</span>
                                                </span>
                                            <input type="text" name="P_BLOG_URL" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">가격비교 링크</span>
                                                </span>
                                            <input type="text" name="P_PRICE_URL" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">유투브 링크</span>
                                                </span>
                                            <input type="text" name="P_YOUTUBE_URL" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="mb-0">
                            <legend class="">4.가격,판매정보<span class="small ml-2"></span></legend>
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">기준매입원가</span>
                                                </span>
                                            <input type="text" name="P_COST" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">기준매입원가</span>
                                                </span>
                                            <input type="text" name="P_COST" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">기준매입원가</span>
                                                </span>
                                            <input type="text" name="P_COST" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">기준매입원가</span>
                                                </span>
                                            <input type="text" name="P_COST" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">기준매입원가</span>
                                                </span>
                                            <input type="text" name="P_COST" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">기준매입원가</span>
                                                </span>
                                            <input type="text" name="P_COST" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">기준매입원가</span>
                                                </span>
                                            <input type="text" name="P_COST" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">기준매입원가</span>
                                                </span>
                                            <input type="text" name="P_COST" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">기준매입원가</span>
                                                </span>
                                            <input type="text" name="P_COST" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
            <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
                <button onclick="productSave()" type="button" class="btn btn-sm btn-secondary ml-1" id=""><i class="icon-floppy-disk mr-1"></i>저장</button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="product/modal/companyModal.html"/>
<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/demo_pages/extension_dnd.js}"></script>
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<script th:src="@{/assets/js/common.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/demo_pages/editor_summernote.js}"></script>
<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>
</body>


<th:block th:replace="modal/summernoteImageModal.html"></th:block>

<script th:inline="javascript">
    function category1(){
        var category = $('select[name=CATE_IDX1]').val();
        $.ajax({
            url:'/product/category/parent.ajax',
            data:'CATE_IDX='+category,
            type:'post',
            success:function (res){
                $('select[name=CATE_IDX2] option').remove();
                $('select[name=CATE_IDX3] option').remove();
                var str = '<option value="">선택</option>';
                $.each(res.data.list,function (i){
                    var result = res.data.list[i]
                    str+='<option value="'+result.CATE_IDX+'">'+result.CATE_NAME+'</option>'
                })
                $('select[name=CATE_IDX2]').append(str);
                $('input[name=P_CATE_IDX]').val(category);
            }
        })
    }

    function category2(){
        var category = $('select[name=CATE_IDX2]').val();
        $.ajax({
            url:'/product/category/parent.ajax',
            data:'CATE_IDX='+category,
            type:'post',
            success:function (res){
                $('select[name=CATE_IDX3] option').remove();
                var str = '<option value="">선택</option>';
                $.each(res.data.list,function (i){
                    var result = res.data.list[i]
                    str+='<option value="'+result.CATE_IDX+'">'+result.CATE_NAME+'</option>'
                })
                $('select[name=CATE_IDX3]').append(str);
                $('input[name=P_CATE_IDX]').val(category);
            }
        })
    }

    function category3(){
        var category = $('select[name=CATE_IDX3]').val();
        $('input[name=P_CATE_IDX]').val(category);
    }

    function selectCompany(comIdx){
        var CT_TYPE = $('input[name=CT_TYPE]').val();
        $.ajax({
            url:'/company/companyByComIdx.ajax',
            type:'post',
            data:'comIdx='+comIdx,
            success:function (res){
                if(CT_TYPE=='STORE'){
                    $('input[name=P_COM_NAME]').val(res.data.COM_NAME)
                    $('input[name=P_COM_IDX]').val(res.data.COM_IDX)
                }else if(CT_TYPE==''){
                    $('input[name=P_COM_NAME2]').val(res.data.COM_NAME)
                    $('input[name=P_COM_IDX2]').val(res.data.COM_IDX)
                }else if(CT_TYPE=='REPAIRING'){
                    $('input[name=P_COM_NAME3]').val(res.data.COM_NAME)
                    $('input[name=P_COM_IDX3]').val(res.data.COM_IDX)
                }
                $('#searchCompanyModal').modal('hide');
            }
        })

    }

    function productSave(){
        if(confirm("저장하시겠습니까?")){
            var param = new FormData($('#productForm')[0]);
            $.ajax({
                url:'/product/productSave.ajax',
                data: param,
                processData:false,
                contentType:false,
                type:'post',
                success:function(res) {
                    var a = false;
                    if(a==true){
                        opener.location.reload();
                        self.close();
                    }else{

                    }

                }
            })
        }
    }

</script>
<script th:inline="javascript">
    window.onload=function(){
        smImage('#summerNote1');
        smImage('#summerNote2');
        smImage('#summerNote3');
    }


    $('#companyModalForm').on('keyup',function(event){
        if(event.keyCode==13){searchCompanyDataTable();return false;}
    });
</script>

</html>
