<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>고시정보 템플릿 관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card" id="collapse-button-collapsed">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>
                                            </span>
                                        <!--<span class="breadcrumb-item font-weight-bold text-secondary">
                                                <i class="mr-1" th:classappend="${subIcon}"></i>
                                                <th:block th:text="${subTitle}"></th:block>
                                            </span>-->
                                    </div>
                                </h6>
                            </div>

                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <form id="searchCateForm">
                                            <div class="d-flex justify-content-center align-items-end align-content-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">중분류</label>
                                                    <input type="text" name="cateName" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <!--<div class="form-group">
                                                    <label class="d-block">등록여부</label>
                                                    <select name="ccType" class="form-control select">
                                                        <option th:each="opt: ${T(com.newper.constant.CcType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}" th:selected="${#strings.toString(contract?.ccType) eq opt.name()}"></option>
                                                    </select>
                                                </div>-->

                                                <div class="form-group">
                                                    <label class="d-block">등록자</label>
                                                    <input type="text" name="createdBy" class="form-control form-control-sm w-120px" placeholder="검색">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">등록일</label>
                                                    <input type="text" name="createdDate" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchCate()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <table class="table" id="cateTable"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 gu-hide">
                                        <div class="card">
                                            <form id="updateForm">
                                                <input type="hidden" name="cateIdx">
                                                <table class="table table-hover" id="templateTable"></table>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>


<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script th:inline="javascript">
    function searchCate() {
        $('#cateTable').DataTable().page('first').ajax.url('/product/cateDepth2.dataTable?' + $('#searchCateForm').serialize()).load();
    }

    function initTemplateTable(cateIdx) {
        $('input[name="cateIdx"]').val(cateIdx);
        if ($.fn.DataTable.isDataTable('#templateTable')) {
            $('#templateTable').DataTable().ajax.url('/product/info.dataTable?cateIdx=' + cateIdx).load();
        }else {
            $('.gu-hide').removeClass('gu-hide');
            showTemplateTable(cateIdx);
        }
    }

    function newRow() {
        var row=$('#templateTable tr').length;
        $('#templateTable tbody').append('<tr><td>'+row+'</td><td><input type="text" name="title" class="border-0 text-center"></td><td><input type="text" name="content" class="border-0 text-center"></td><td><a href="#" onclick="deleteRow('+row+')" class="badge badge-primary">삭제</a></td></tr>');
    }

    function deleteRow(row) {
        $('#templateTable tr')[row].remove();
    }

    function saveAllInfo() {
        $.ajax({
            url:'/product/info.ajax',
            type: 'post',
            data: $('#updateForm').serializeArray(),
            success: function () {
                initTemplateTable($('input[name="cateIdx"]').val());
                refreshTable('#cateTable');
            }
        });
    }
</script>
<script th:inline="javascript">
    $('#cateTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/product/cateDepth2.dataTable',
            type:'post'
        },
        columns : [
            {'class':'select-checkbox', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
            ,{'title':'중분류','data':'CATE_NAME', 'defaultContent':'', 'render': function (data,type,full,meta) {
                    return '<a href="javascript: initTemplateTable(' + full.CATE_IDX + ')" class="badge badge-primary">' + full.CATE_NAME + '</a>';
                }}
            ,{'title':'등록여부','data':'', 'defaultContent':''}
            ,{'title':'등록자','data':'CREATED_BY', 'defaultContent':''}
            ,{'title':'등록일','data':'CREATED_DATE', 'defaultContent':''}
            ,{'title':'수정자','data':'MODIFIED_BY', 'defaultContent':''}
            ,{'title':'수정일','data':'MODIFIED_DATE', 'defaultContent':''}
        ]
    });

    /**고시정보 템플릿 데이터테이블 생성**/
    function showTemplateTable(cateIdx) {
        $('#templateTable').DataTable({
            dom: '<"datatable-header"B><"datatable-scroll"t><"datatable-footer">',
            buttons: {
                buttons: [
                    {
                        text: '<i class="icon-pencil5 mr-1 icon-2x"></i>행추가',
                        className: 'btn btn-sm btn-primary opacity-80',
                        action: function (e, dt, node, config) {
                            newRow();
                        }
                    },
                    {
                        text: '<i class="icon-checkmark4 mr-1 icon-2x"></i>저장',
                        className: 'btn btn-sm btn-secondary opacity-80',
                        action: function (e, dt, node, config) {
                            saveAllInfo();
                        }
                    }
                ]
            },
            ordering:false,
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            serverSide: false,
            ajax:{
                url: '/product/info.dataTable?cateIdx=' + cateIdx,
                type:'post'
            },
            columns : [
                {'title':'No','data':'No','render':function(data,type,full,meta){
                        return meta.settings._iDisplayStart+meta.row+1;
                    }}
                ,{'title':'제목','data':'title','render':function(data,type,full,meta){
                        return '<input type="text" name="title" value="'+full.title+'" class="border-0 text-center">';
                }}
                ,{'title':'내용','data':'content','render':function(data,type,full,meta){
                        return '<input type="text" name="content" value="'+full.content+'" class="border-0 text-center">';
                    }}
                ,{'title':'삭제','data':'','render': function (data, type, full, meta) {
                        return '<a href="#" onclick="deleteRow('+(meta.row+1)+')" class="badge badge-primary">삭제</a>';
                    }}
            ]
        });
    }

    $('#searchCateForm').on('keyup',function(event){
        if(event.keyCode==13){searchCate();return false;}
    });
</script>