<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>대량주문등록</title>

    <th:block th:replace="common/css.html"></th:block>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold">대량주문등록</h4>
                          </div>
                        </div>
                    </div>
                </div>
                <form id="Form" onsubmit="return false;">
                    <div class="card">
                        <div class="card-body popup-contents pb-4">
                            <fieldset class="mb-0">
                                <legend class="">1.대량발주 주문 정보 <span class="small ml-2"></span></legend>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text requested">
                                                       주문번호
                                                    </span>
                                                </span>
                                        <input type="text" name="U_NAME" class="form-control" th:value="${user?.uName}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                          <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                발주코드
                                                  <a href="javascript: daum_address();" class="badge badge-sm badge-primary ml-1">검색</a>
                                                </span>
                                            </span>
                                        <input type="text" class="form-control "  name="POST">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                          <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                판매처
                                                  <a href="javascript: daum_address();" class="badge badge-sm badge-primary ml-1">검색</a>
                                                </span>
                                            </span>
                                        <input type="text" class="form-control "  name="POST">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text" >
                                                   담당자
                                                </span>
                                            </span>
                                        <input type="text" name="U_BIRTH" class="form-control form-control-sm w-datarange daterange-singlenull">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                  판매처 주소
                                                </span>
                                            </span>
                                        <input type="text" class="form-control"  name="ADDR1" th:value="${user != null} ? ${user.address.addr1}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                 담당자 연락처
                                                </span>
                                            </span>
                                        <input type="text" class="form-control"  name="ADDR2" th:value="${user != null} ? ${user.address.addr2}" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text requested">출고구분</span>
                                            </span>
                                        <select data-placeholder="선택" class="form-control select" data-fouc name="U_STATE">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    총 수량
                                                </span>
                                            </span>
                                        <input type="text" class="form-control" name="ADDR3" th:value="${user != null} ? ${user.address.addr3}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                   수량요청일
                                                </span>
                                            </span>
                                        <input type="text" class="form-control" name="ADDR4" th:value="${user != null} ? ${user.address.addr4}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                  판매가합계
                                                </span>
                                            </span>
                                        <input type="text" class="form-control" name="ADDR4" th:value="${user != null} ? ${user.address.addr4}">
                                    </div>
                                </div>
                            </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                              메모
                                            </span>
                                        </span>
                                    <input type="text" class="form-control" name="ADDR4" th:value="${user != null} ? ${user.address.addr4}">
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="card-body popup-contents pb-4">
                            <fieldset class="mb-0">
                                <legend class="">2. 대량발주 상품주문 정보 <span class="small ml-2"></span></legend>
                                <div class="btn-group" id="2btn">
                                    <a type="button" class="btn btn-sm btn-primary ml-1" id="addBtn">
                                        <i class="icon-popout mr-1"></i>추가
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <table class="table" id="bulkTable"></table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <!-- /footer -->

<div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
    <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
    <button onclick="userCreate()" type="button" class="btn btn-sm btn-secondary ml-1" id="userCreate"><i class="icon-floppy-disk mr-1"></i>저장</button>
</div>
</div>
</div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/icons/icomoon/styles.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/all.css}">

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>


<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 데이터테이블 -->
<script th:src="@{/assets/js/demo_pages/datatables_extension_select.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>
<!-- 다음 주소 api -->
<script th:src="@{/assets/js/daum_address.js}"></script>
<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>


<script th:inline="javascript">
    function saveAction(){
        $("#userForm").submit();

    }

</script>
<script>
    var bulkTable = $('#bulkTable').DataTable({
        dom: '<"datatable-header"><"datatable-scroll"t><"datatable-footer">',
        ordering: false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax: {
            url: '/orders/bulk.dataTable?' + $('#bulkForm').serialize(),
            type: 'post'
        },
        columnDefs: [{
            orderable: false,
            targets: [0]

        }],

        "columns": [

             {'title': '상품코드', 'data': 'U_PHONE'}
            , {'title': '상품명', 'data': 'COM_NAME'}
            , {'title': '재고코드', 'data': 'U_ID'}
            , {'title': '상품수량', 'data': 'U_DEPART'}
            , {'title': '판매가', 'data': 'U_POSITION'}
            , {'title': '이메일(개인)', 'data': 'U_PERSON_MAIL'}
            , {'title': '판매가합계', 'data': 'U_COMPANY_TEL'}
            , {'title': '삭제', 'data': 'U_STATE_STR', 'defaultContent':''}
        ]
    });


    $('#modalForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });

    $("#saveBtn").on("click", saveAction);

</script>

</body>

</html>