<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOP주문관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                            <span class="breadcrumb-item">
                                                <i class="mr-1" th:classappend="${mainIcon}"></i>
                                                <th:block th:text="${mainTitle}"></th:block>
                                            </span>
                                    </div>
                                </h6>
                            </div>


                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="shopOrderForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">

                                                <div class="form-group">
                                                    <label class="d-block">주문완료일</label>
                                                    <input type="text" class="form-control form-control-sm w-datarange daterange-basic" name="0_DATE">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">주문코드</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="O_CODE">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">주문분양몰</label>
                                                    <select class="form-control multiselect-reset" multiple="multiple" data-fouc name="O_SHOP_IDX" data-placeholder="선택" data-container-css-class="select-sm">
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">회원구분</label>
                                                    <select class="form-control multiselect-reset" multiple="multiple" data-fouc name="" data-placeholder="선택" data-container-css-class="select-sm">
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">주문자 ID</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="CU_ID">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">주문자 이름</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="CU_NAME">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">주문자 연락처</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="CU_PHONE">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">결제상태</label>
                                                    <select class="form-control multiselect-reset" multiple="multiple" data-fouc name="PAY_STATE" data-placeholder="선택" data-container-css-class="select-sm">
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">결제방식</label>
                                                    <select class="form-control multiselect-reset" multiple="multiple" data-fouc name="PAY_METHOD" data-placeholder="선택" data-container-css-class="select-sm">
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">PG결제승인코드</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">결제일</label>
                                                    <input type="text" class="form-control form-control-sm w-datarange daterange-basic" name="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">카드결제취소코드</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">카드결제취소일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">배송자 이름</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="AD_NAME">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">수취인 연락처</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">배송자 우편번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="POST">
                                                </div>
                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label">조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="popNewBtn">
                                            <i class="icon-popout mr-1"></i>주문업로드
                                        </a>
                                        <a type="button" class="btn btn-sm btn-primary ml-1" onclick="sabangOrder()">
                                            <i class="icon-popout mr-1"></i>사방넷 주문 불러오기
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <table class="table" id="shopOrderTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/demo_pages/extension_dnd.js}"></script>
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<script th:src="@{/assets/js/common.js}"></script>

<script>
    function sabangOrder(){
        $.ajax({
            url:'/orders/sabangOrder.ajax',
            type:'post',
            data:'startDate=20220815&endDate=20220815',
            success:function(data){

            }
        })
    }

    function orderShopPop(oIdx) {
        var focusPopup = window.open('/orders/detail/' + oIdx, 'detail', 'width=1600, height=1200, left=' + screenX + ', top=' + screenY + ',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }

</script>

<script>
    var shopOrderTable = $('#shopOrderTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering: false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax: {
            url: '/orders/shopOrder.dataTable?'+ $('#shopOrderForm').serialize(),
            type: 'post'
        },
        columnDefs: [{
            orderable: false,
            targets: [0]

        }],

        "columns": [
            {
                'class': 'select-checkbox',
                'title': '선택',
                'data': 'O_IDX',
                'defaultContent': '',
                'render': function (data, type, full, meta) {
                    return '';
                }
            }
            , {
                'title': '주문상품코드', 'data': null, 'render': function (data, type, full, meta) {
                    return '<a ' +
                        'onclick="orderShopPop(' + data['O_IDX'] + ')" class="badge badge-primary">' + data['O_IDX'] + '</a>';
                }
            }
            , {'title': '출고구분', 'data': 'null', 'defaultContent':''}
            , {'title': '주문상태', 'data': 'O_STATE','defaultContent':''}
            , {'title': '환불상태', 'data': 'PAY_CANCEL_STATE_STR','defaultContent':''}
            , {'title': '상품코드<br>사방넷상품코드', 'data': 'P_IDX','defaultContent':''}
            , {'title': '상품명', 'data': 'P_NAME','defaultContent':''}
            , {'title': '수집상품명<br>사방넷수집상품명', 'data': 'null','defaultContent':''}
            , {'title': '수집옵션명<br>사방넷수집옵션명', 'data': 'null','defaultContent':''}
            , {'title': '수량<br>(사방넷주문수량)', 'data': 'null', 'defaultContent':''}
            , {'title': '재고코드', 'data': 'GS_CODE','defaultContent':''}
            , {'title': '옵션1', 'data': 'OPTION1','defaultContent':''}
            , {'title': '옵션2', 'data': 'OPTION2','defaultContent':''}
            , {'title': '옵션3', 'data': 'OPTION3','defaultContent':''}
            , {'title': '자산코드', 'data': 'G_AJ_BARCODE','defaultContent':''}
            , {'title': '자산상태', 'data': 'G_STATE','defaultContent':''}

            , {'title': '공급단가<br>(사방넷공급단가)', 'data': 'null','defaultContent':''}
            , {'title': '상품원가<br>(사방넷상품원가)', 'data': 'null','defaultContent':''}
            , {'title': '뉴퍼마켓가<br>(사방넷판매가)', 'data': 'GS_PRICE','defaultContent':''}
            , {'title': '이벤트가', 'data': 'DISCOUNT','defaultContent':''}
            , {'title': '상품명', 'data': 'null','defaultContent':''}
            , {'title': '쿠폰할인가(-)', 'data': 'OG_COUPON','defaultContent':''}
            , {'title': '사용적립금<br>(마일리지)(-)', 'data': 'OG_MILEAGE','defaultContent':''}
            , {'title': '사용적립급<br>(예치금)(-)', 'data': 'OG_POINT', 'defaultContent':''}
            , {'title': '배송비(설치비)<br>(사방넷배송비)', 'data': 'DELIVERY','defaultContent':''}
            , {'title': '최종<br>결제금액', 'data': 'null','defaultContent':''}
            , {'title': '정산예정금액<br>(사방넷정산예정금액)', 'data': 'null','defaultContent':''}
            , {'title': '최종<br>결제금액', 'data': 'TOTAL','defaultContent':''}
            , {'title': '예정적립금', 'data': 'MILEAGE','defaultContent':''}
            , {'title': '환불금액', 'data': 'PAY_CANCEL_STATE','defaultContent':''}
            , {'title': '출고택배사', 'data': 'null','defaultContent':''}
            , {'title': '출고송장번호', 'data': 'null','defaultContent':''}
            , {'title': '수거택배사', 'data': 'null','defaultContent':''}
            , {'title': '수거송장번호', 'data': 'null','defaultContent':''}

            , {'title': '설치업체', 'data': 'null','defaultContent':''}
            , {'title': '수거업체', 'data': 'null','defaultContent':''}
            , {'title': '주문완료일', 'data': 'null','defaultContent':''}
            , {'title': '배송출고일', 'data': 'null','defaultContent':''}
            , {'title': '배송완료일', 'data': 'null','defaultContent':''}
            , {'title': '설치완료일', 'data': 'null','defaultContent':''}
            , {'title': '구매확정일', 'data': 'null','defaultContent':''}
            , {'title': '설치예정일', 'data': 'null', 'defaultContent':''}
            , {'title': '주문취소일', 'data': 'null','defaultContent':''}
            , {'title': '반품요청일', 'data': 'null','defaultContent':''}
            , {'title': '반품완료일', 'data': 'null','defaultContent':''}
            , {'title': '환불요청일', 'data': 'null','defaultContent':''}
            , {'title': '환불완료일', 'data': 'null','defaultContent':''}
            , {'title': '자산픽킹<br>예정로케이션', 'data': 'null','defaultContent':''}
        ]
    });

</script>

</html>