<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>입고검수 요청</title>

    <th:block th:replace="/common/css.html"></th:block>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold" >입고검수 요청</h4>
                            <!--  <div class="text-white-50 ml-3">설명글영역</div>
                          </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <form id="baordForm">
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">1.입고검수 등록정보 <span class="small ml-2"><i class="icon-info22 text-secondary mr-1 opacity-80"></i></span></legend>

                            <div class="row">
                                <!-- 입력필드 -->
                                <div class="col-sm-12 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                  입고검수코드
                                                                </span>
                                                            </span>
                                            <input type="text" name="U_NAME" class="form-control">
                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                  작업지시자(내부)
                                                                    <a class="badge badge-sm badge-primary ml-1" onclick="inOperationModal()">검색</a>
                                                                </span>
                                                            </span>
                                            <input type="text" name="U_TEL" class="form-control">
                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                입고검수업체
                                                                  <a href="daum_address();" class="badge badge-sm badge-primary ml-1">검색</a>
                                                                </span>
                                                            </span>
                                            <input type="text" class="form-control "  name="" placeholder="">
                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                  작업시작일
                                                                </span>
                                                            </span>
                                            <input type="text" name="U_NAME" class="form-control">
                                        </div>
                                </div>
                                </div>
                               </div>
                                <div class="row">

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                  입고검수 상태
                                                                </span>
                                                            </span>
                                            <input type="text" name="U_TEL" class="form-control">
                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                  완료처리자(내부)
                                                                </span>
                                                            </span>
                                            <input type="text" name="U_TEL" class="form-control">
                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                  입고검수담당자(업체)
                                                                </span>
                                                            </span>
                                            <input type="text" name="U_TEL" class="form-control">
                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                  작업종료일
                                                                </span>
                                                            </span>
                                            <input type="text" name="U_TEL" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                               <span class="input-group-text">
                                                                   요청일
                                                               </span>
                                                           </span>
                                            <input type="text" name="U_TEL" class="form-control">
                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                  요청메모
                                                                </span>
                                                            </span>
                                            <input type="text" name="U_TEL" class="form-control">
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                               <span class="input-group-text">
                                                                   작업메모
                                                               </span>
                                                           </span>
                                            <input type="text" name="U_TEL" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                               <span class="input-group-text">
                                                                   작업완료메모
                                                               </span>
                                                           </span>
                                            <input type="text" name="U_TEL" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <fieldset class="mb-0">
                                        <legend class="">2.자산정보 <span class="small ml-2"><i class="icon-info22 text-secondary mr-1 opacity-80"></i></span></legend>

                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<th:block th:replace="/modal/inOperationModal.html"/>

<link rel="stylesheet" type="text/css" th:href="@{/assets/css/icons/icomoon/styles.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/all.css}">

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>


<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 데이터테이블 -->
<script th:src="@{/assets/js/demo_pages/datatables_extension_select.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>
<!-- 다음 주소 api -->
<script th:src="@{/assets/js/daum_address.js}"></script>
<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>


<script th:inline="javascript">



    function inOperationModal(){
        $('#operationModal').modal('show');
    }
</script>
<script>
    $('#modalTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/process/modal.dataTable?'+$('#modalForm').serialize(),
            type:'post'
        },
        columnDefs: [ {
            orderable: false,
            targets:   [0]
        } ],
        "columns" : [
            {'class':'m-w-2', 'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
            ,{'class':'m-w-max', 'title':'상호법인명<br>(소속)','data':'COM_NAME','render':function (data,type,full,meta){
                    return '<a class="btn btn-secondary" onclick="selectCompany(this, '+full.COM_IDX+')">'+data+'</a>';
                }}
            ,{'class':'m-w-max', 'title':'등록일','data':'COM_CREATED_DATE'}
            ,{'class':'m-w-max', 'title':'등록시간','data':'COM_CREATED_TIME'}
            ,{'class':'m-w-max', 'title':'거래처구분코드','data':'CT_TYPE', 'render': function (data,type,full,meta){
                    if(data==null){
                        return '';
                    }else{
                        return '';
                    }
                }}
            ,{'class':'m-w-max', 'title':'사업자분류','data':' COM_TYPE' ,'render': function (data,type,full,meta){
                    if(data==null){
                        return '';
                    }else{
                        return '';
                    }
                }}
            ,{'class':'m-w-max', 'title':'상태','data':'COM_STATE'}
            ,{'class':'m-w-max', 'title':'MID','data':'COM_MID'}
            ,{'class':'m-w-max', 'title':'대표자명','data':'COM_CEO'}

        ]
    });

    $('#modalForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });
</script>
</body>
</html>
