<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>출고전검수관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item"></span>
                                    </div>
                                </h6>
                            </div>
                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="searchForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <input type="hidden" name="gState" th:value="${T(com.newper.constant.GState).STOCK}">
                                                <input type="hidden" name="gStockState" th:value="${T(com.newper.constant.GStockState).OUT_REQ}">
                                                <div class="form-group">
                                                    <label class="d-block">자산처리담당자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">자산처리일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">자산번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">자산바코드</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상품코드</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">상품명</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">IMEI</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">발주코드</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">출고전검수담당자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">출고전검수처리일</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">재고상품코드</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">재고상품명</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">판매채널</label>
                                                    <select name="gState" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.GState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">등급</label>
                                                    <select name="gState" data-placeholder="다중선택가능" class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.GState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">옵션1</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">옵션2</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">옵션3</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>



                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1" onclick="searchBtn()"></i>조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <table class="table" id="goodsTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>
<script th:src="@{/assets/js/autocomplete/autocomplete-jquery-ui.min.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>


<th:block th:replace="process/modal/outReport.html"/>

<script>
    function searchBtn() {
        goodsTable.page('first').ajax.url('/goods/goods.dataTable?' + $('#searchForm').serialize()).load(null, false);
    }
</script>

<script>
    var goodsTable = $('#goodsTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/goods/goods.dataTable?'+$('#searchForm').serialize(),
            type:'post'
        },
        columnDefs: [ {
            orderable: false,
            targets:   [0]

        } ],


        "columns" : [
            {'class':'select-checkbox', 'title':'선택','data':'G_IDX','defaultContent':'','render':  function(data,type,full,meta){
                    return '<input type="hidden" name="gIdx" value="' + data + '">';
                }}
            ,{'title':'자산상태','data':'G_STATE_STR', 'defaultContent':''}
            ,{'title':'자산번호','data':'G_IDX', 'defaultContent':''}
            ,{'title':'리포트등록','data':'G_IDX','defaultContent':'','render':  function(data,type,full,meta){
                    return '<a href="javascript: openProcessModal(\'' + meta.settings.sTableId + '\' , ' + meta.row + ')" class="badge badge-primary">' + data +'</a>';
                }}
            ,{'title':'자산바코드','data':'G_BARCODE', 'defaultContent':''}
            ,{'title':'상품명','data':'P_NAME', 'defaultContent':''}
            ,{'title':'재고상품코드','data':'CG_REQUEST_DATE', 'defaultContent':''}
            ,{'title':'재고상품명','data':'GS_NAME', 'defaultContent':''}
            ,{'title':'판매채널','data':'GS_SALE', 'defaultContent':''}
            ,{'title':'등급','data':'G_RANK_STR', 'defaultContent':''}
            ,{'title':'옵션1','data':'OPTION1', 'defaultContent':''}
            ,{'title':'옵션2','data':'OPTION2', 'defaultContent':''}
            ,{'title':'옵션3','data':'OPTION3', 'defaultContent':''}
            ,{'title':'기준판매가','data':'P_COST', 'defaultContent':''}
            ,{'title':'입고SPEC(예정)','data':'INSPEC1', 'defaultContent':''}
            ,{'title':'판매SPEC(예정)','data':'SELLSPEC1', 'defaultContent':''}
            ,{'title':'입고SPEC(확정)','data':'INSPEC2', 'defaultContent':''}
            ,{'title':'판매SPEC(확정)','data':'SELLSPEC2', 'defaultContent':''}
            ,{'title':'가공SPEC(예정)','data':'PSPEC1', 'defaultContent':''}
            ,{'title':'가공SPEC(확정)','data':'PSPEC2', 'defaultContent':''}
            ,{'title':'도색항목','data':'PAINT_CONTENT', 'defaultContent':''}
            ,{'title':'도색비','data':'PAINT_COST', 'defaultContent':''}
            ,{'title':'수리항목','data':'FIX_CONTENT', 'defaultContent':''}
            ,{'title':'수리비','data':'FIX_COST', 'defaultContent':''}
            ,{'title':'가공항목예정','data':'PROCESS_CONTENT', 'defaultContent':''}
            ,{'title':'가공비','data':'PROCESS_COST', 'defaultContent':''}
        ]
    });

    $('#searchForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });

</script>
</html>