<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>가공 요청</title>

    <th:block th:replace="common/css.html"></th:block>
    <style>
        .btn-group {
            float: right;
        }
    </style>
</head>
<body>
<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold">가공 관리</h4>
                        </div>
                    </div>
                </div>
            </div>
            <form id="tempForm">
                <div class="card">
                    <div class="card-body popup-contents">
                        <fieldset class="mb-0">
                            <legend class="">1. 가공관리 등록정보<span class="small ml-2"><i class="icon-info22 text-secondary mr-1 opacity-80"></i></span></legend>
                            <div class="row">
                                <!-- 입력필드 -->
                                <div class="col-sm-12 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                  작업지시자(내부)
                                                </span>
                                            </span>
                                            <input type="text" name="uName" class="form-control" th:value="${group?.user?.uName}" readonly>
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    업체
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" name="comName" th:value="${group?.company?.comName}" readonly>

                                            <span class="input-group-prepend">
                                                <span class="input-group-text requested">
                                                  작업시작일
                                                </span>
                                            </span>
                                            <input type="text" name="pgStartDate" class="form-control daterange-single w-datarange">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                  완료처리자(내부)
                                                  <a onclick="inOperationModal('COMP');" class="badge badge-sm badge-primary ml-1">검색</a>
                                                </span>
                                            </span>
                                            <input type="text" name="uName2" class="form-control" readonly>
                                            <input type="hidden" name="uIdx2">

                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                  가공담당자(업체)
                                                </span>
                                            </span>
                                            <input type="text" name="uName3" class="form-control" readonly>

                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                  작업종료일
                                                </span>
                                            </span>
                                            <input type="text" name="pgEndDate" class="form-control w-datarange daterange-single">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                               <span class="input-group-text">
                                                   요청일
                                               </span>
                                            </span>
                                            <input type="text" name="pgRequestDate" class="form-control" th:value="${group?.pgRequestDate}" readonly>

                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                  요청메모
                                                </span>
                                            </span>
                                            <input type="text" name="pgReqMemo" class="form-control" th:value="${group?.pgReqMemo}" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                               <span class="input-group-text">
                                                   작업메모
                                               </span>
                                            </span>
                                            <input type="text" name="pgCheckMemo" class="form-control" th:value="${group?.pgCheckMemo}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                               <span class="input-group-text">
                                                   작업완료메모
                                               </span>
                                            </span>
                                            <input type="text" name="pgDoneMemo" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body popup-contents">
                                    <fieldset class="mt-4 mb-4">
                                        <legend class="">2.자산정보</legend>
                                        <div class="justify-content-end mt-2 mb-2">
                                            <button type="button" class="btn btn-sm btn-primary">가공입고</button>
                                            <button type="button" class="btn btn-sm btn-primary">가공보류</button>

                                            <a type="button" class="btn btn-sm btn-primary ml-1"><i class="icon-popout mr-1"></i>작업요청취소</a>
                                            <a type="button" class="btn btn-sm btn-primary ml-1"><i class="icon-popout mr-1"></i>작업중(출고)</a>
                                            <a type="button" class="btn btn-sm btn-primary ml-1"><i class="icon-popout mr-1"></i>작업완료(입고)</a>

                                            <button type="button" class="btn btn-sm btn-secondary">망실</button>
                                        </div>

                                        <table class="table" id="processTable"></table>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
        <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
            <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
            <button type="button" class="btn btn-sm btn-secondary ml-1" onclick="saveBtn()"><i class="icon-floppy-disk mr-1"></i>저장</button>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" th:href="@{/assets/css/icons/icomoon/styles.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/all.css}">

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>


<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 데이터테이블 -->
<script th:src="@{/assets/js/demo_pages/datatables_extension_select.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>
<!-- 다음 주소 api -->
<script th:src="@{/assets/js/daum_address.js}"></script>
<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>
<script th:src="@{/assets/js/autocomplete/autocomplete-jquery-ui.min.js}"></script>

<th:block th:replace="modal/inOperationModal.html"/>
<th:block th:replace="process/modal/processSpecModal.html"/>
<th:block th:replace="process/modal/processModal.html"/>
<script>
    var userFlag = '';
    function inOperationModal(flag){
        $('#operationModal').modal('show');
        userFlag = flag;
    }

    function selectUser(obj, u_idx) {
        if (userFlag == 'JISI') {
            $('input[name=uName]').val(obj.innerText);
            $('input[name=uIdx]').val(u_idx);
        } else {
            $('input[name=uName2]').val(obj.innerText);
            $('input[name=uIdx2]').val(u_idx);
        }
        $('#operationModal').modal('hide');
    }
</script>

<script>
    $('#userTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/process/user.dataTable?'+$('#userForm').serialize(),
            type:'post'
        },
        columnDefs: [ {
            orderable: false,
            targets:   [0]
        } ],
        "columns" : [
            {'class':'m-w-2', 'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
            ,{'class':'m-w-max', 'title':'이름','data':'U_NAME','render':function (data,type,full,meta){
                    return '<a class="btn btn-secondary" onclick="selectUser(this, '+full.U_IDX+')">'+data+'</a>';
                }}
            ,{'class':'m-w-max', 'title':'사원번호','data':'U_ID'}
            ,{'class':'m-w-max', 'title':'직급','data':'U_POSITION'}
            ,{'class':'m-w-max', 'title':'이메일(개인)','data':'U_PERSON_MAIL', 'render': function (data,type,full,meta){
                    if(data==null){
                        return '';
                    }else{
                        return '';
                    }
                }}
            ,{'class':'m-w-max', 'title':'전화번호','data':' U_PHONE' ,'render': function (data,type,full,meta){
                    if(data==null){
                        return '';
                    }else{
                        return '';
                    }
                }}
        ]
    });

    $('#processTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        ajax:{
            url:'/process/selectProcessNeed.ajax?pgIdx='+[[${group.pgIdx}]],
            type:'post'
        },
        buttons: buttonsSelect(false),
        "columns" : [
            {'class':'select-checkbox', 'title':'선택','data':'','defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'class':'m-w-max', 'title':'자산코드','data':'G_IDX'}
            ,{'class':'m-w-max', 'title':'바코드','data':'G_BARCODE'}
            ,{'class':'m-w-max', 'title':'가공SPEC(확정)','data':'G_BARCODE','render':  function(data,type,full,meta){
                    return '<a onclick="openProcessSpecModal('+ full.G_IDX +','+full.PN_IDX+')" class="badge badge-primary">등록</a>';
                }}
            ,{'class':'m-w-max', 'title':'공정결과','data':'G_BARCODE','render':  function(data,type,full,meta){
                    return '<a onclick="openProcessModal('+ full.G_IDX +','+full.PN_IDX+')" class="badge badge-primary">업로드</a>';
                }}
        ]
    });
</script>

</body>
</html>
