<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="part/head :: head('타이틀')">
</head>
<body th:classappend="${@shopComp.getShopDesign()}">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- 로그인 모달창 -->
<th:block th:replace="part/modal :: login-modal"></th:block>

<!--페이지 타이틀-->
<section th:insert="part/title :: pageTitle('베스트 100','시간대별 주문량과 고객만족도를 분석한 순위별 상품')">
</section>

<!--메뉴 : 썸네일 카테고리-->
<section th:insert="part/menu :: thumbnailCategory" class="sticky">
</section>

<!--썸네일 목록 - best 100-->
<div>
    <ul class="ctg-tab-content">
        <li>전체보기</li>
        <li>내용1</li>
        <li>내용2</li>
        <li class="on">
            <div th:insert="part/thumbnailList :: best100">
            </div>
        </li>
        <li>내용4</li>
        <li>내용5</li>
        <li>내용6</li>
        <li>내용7</li>
        <li>내용8</li>
        <li>내용9</li>
    </ul>
</div>


<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!--js-->
<th:block th:replace="part/js.html"></th:block>

</body>
</html>