<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="part/meta.html"></th:block>
    <th:block th:replace="part/css.html"></th:block>
    <title>베스트</title>
</head>
<body>

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- BEST 100 -->
<section>
    <div class="container">
        <h2 class="section-title">베스트 100</h2>
    </div>
    <div class="ctg-tab-wrap">
        <div class="ctg-tab-cover">
            <div class="container swiper swiper-ctg-tab">
                <ul class="ctg-tab swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-menu"></i>
                            <div class="ctg-tab-title">
                                <span class="color-blue">전체보기</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon1"></i>
                            <div class="ctg-tab-title">
                                <span>노트북</span><span>/데스크탑</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon2"></i>
                            <div class="ctg-tab-title">
                                <span>모니터</span><span>/주변기기</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide on">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon3"></i>
                            <div class="ctg-tab-title">
                                <span>휴대폰</span><span>/웨어러블</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon4"></i>
                            <div class="ctg-tab-title">
                                <span>음향기기</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon5"></i>
                            <div class="ctg-tab-title">
                                <span>가전/세탁기</span><span>/냉장고</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon6"></i>
                            <div class="ctg-tab-title">
                                <span>주방/생활</span><span>/레져</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon7"></i>
                            <div class="ctg-tab-title">
                                <span>차량용품</span><span>/블랙박스</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon8"></i>
                            <div class="ctg-tab-title">
                                <span>패션/잡화</span><span class="slash"></span><span>/뷰티</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;">
                            <i class="ctg-tab-icon ctg-tab-icon9"></i>
                            <div class="ctg-tab-title">
                                <span>식품</span><span>/헬스케어</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="ctg-tab-content">
            <li>전체보기</li>
            <li>내용1</li>
            <li>내용2</li>
            <li class="on">
                <div class="container">
                    <ul class="thumb-list">
                        <li>
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://images.ajrepository.com/item_images/001060421/001060421M1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-2">A급리퍼</span>
                                        <span class="item-condition item-conditionB-1">스크래치</span>
                                    </div>
                                    <div class="buy-count color-blue">판매수 37</div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                <div class="item-color">
                                    <span><span></span></span>
                                    <span><span></span></span>
                                    <span><span></span></span>
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="grade-wrap">
                                        <span class="grade"><i class="star"></i>5.0 (31)</span>
                                        <span>남은수량 4</span>
                                    </div>
                                    <div class="wish">25<i class="heart"></i></div>
                                </div>
                                <div class="item-footer">
                                    <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                    &nbsp;
                                    <span><i class="card"></i>무이자</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://images.ajrepository.com/item_images/001125585/001125585L1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-1">새상품</span>
                                    </div>
                                    <div class="buy-count color-blue">판매수 37</div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량</div>
                                <div class="item-color">
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="grade-wrap">
                                        <span class="grade"><i class="star"></i>5.0 (31)</span>
                                        <span>남은수량 4</span>
                                    </div>
                                    <div class="wish">25<i class="heart active"></i></div>
                                </div>
                                <div class="item-footer">
                                    <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                    &nbsp;
                                    <span><i class="card"></i>무이자</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://images.ajrepository.com/item_images/001120052/001120052L1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-6">해외리퍼</span>
                                        <span class="item-condition item-conditionB-1">신품수준</span>
                                    </div>
                                    <div class="buy-count color-blue">판매수 37</div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스 가나다라 마바사 아자차카 타파하</div>
                                <div class="item-color">
                                    <span><span></span></span>
                                    <span><span></span></span>
                                    <span><span></span></span>
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="grade-wrap">
                                        <span class="grade"><i class="star"></i>5.0 (31)</span>
                                        <span>남은수량 4</span>
                                    </div>
                                    <div class="wish">25<i class="heart"></i></div>
                                </div>
                                <div class="item-footer">
                                    <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                    &nbsp;
                                    <span><i class="card"></i>무이자</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://images.ajrepository.com/item_images/001126682/001126682L1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-3">박스개봉</span>
                                        <span class="item-condition item-conditionB-1">가성비</span>
                                    </div>
                                    <div class="buy-count color-blue">판매수 37</div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                <div class="item-color">
                                    <span><span></span></span>
                                    <span><span></span></span>
                                    <span><span></span></span>
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="grade-wrap">
                                        <span class="grade"><i class="star"></i>5.0 (31)</span>
                                        <span>남은수량 4</span>
                                    </div>
                                    <div class="wish">25<i class="heart"></i></div>
                                </div>
                                <div class="item-footer">
                                    <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                    &nbsp;
                                    <span><i class="card"></i>무이자</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-img">
                                <a href="javascript:;">
                                    <img src="https://images.ajrepository.com/item_images/001123118/001123118L1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-inner-wrap item-bedge-wrap">
                                    <div class="item-bedge">
                                        <span class="item-condition item-conditionA-2">A급리퍼</span>
                                        <span class="item-condition item-conditionB-1">스크래치</span>
                                    </div>
                                    <div class="buy-count color-blue">판매수 37</div>
                                </div>
                                <div class="item-title">삼성 노트북3 Pro 대용량 코아i5 SSD 240G S급 클래스</div>
                                <div class="item-color">
                                    <span><span></span></span>
                                    <span><span></span></span>
                                    <span><span></span></span>
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="item-price">
                                        <span class="discount-price">359,000</span>원<span class="real-price">897,000</span></p>
                                    </div>
                                    <div class="discount-rate">57%</div>
                                </div>
                                <div class="item-inner-wrap">
                                    <div class="grade-wrap">
                                        <span class="grade"><i class="star"></i>5.0 (31)</span>
                                        <span>남은수량 4</span>
                                    </div>
                                    <div class="wish">25<i class="heart"></i></div>
                                </div>
                                <div class="item-footer">
                                    <span class="color-blue"><i class="delivery"></i>당일배송</span>
                                    &nbsp;
                                    <span><i class="card"></i>무이자</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>내용4</li>
            <li>내용5</li>
            <li>내용6</li>
            <li>내용7</li>
            <li>내용8</li>
            <li>내용9</li>
        </ul>
    </div>
</section><!-- // BEST 100 끝-->

<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!--js-->
<th:block th:replace="part/js.html"></th:block>

</body>
</html>