<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="part/head :: head('이벤트')">
</head>
<body th:classappend="${@shopComp.getShopDesign()}">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- 로그인 모달창 -->
<th:block th:replace="part/modal :: login-modal"></th:block>

<!--페이지 타이틀-->
<section th:insert="part/title :: pageTitle('이벤트 / 기획전','')" class="padding-section page-title-padding"></section>

<!--메뉴 : 행 전체 메뉴 - 박스형 하단 라인 : 이벤트 분류-->
<section th:insert="part/menu :: menu-full2" class="padding-section padding-menu"></section>

<!--메뉴 : 행 일부 메뉴 - 좌측 버튼형 : 이벤트 하위 카테고리 분류-->
<section th:insert="part/menu :: buttonTab" class="padding-section padding-menu"></section>

<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!--js-->
<th:block th:replace="part/js"></th:block>

</body>
</html>