<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="part/head :: head('상품리뷰')"></head>
<body th:classappend="${@shopComp.getShopDesign()}">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- 로그인 모달창 -->
<th:block th:replace="part/modal :: login-modal"></th:block>

<!--배너 : 이미지 배너-->
<section th:insert="part/banner :: banner_1" class="padding-section padding-none full-container" style="background: url('/image/review-banner-bg.png') no-repeat 90%/cover;"></section>

<!--페이지 타이틀-->
<section th:insert="part/title :: pageTitle('뉴퍼마켓 고객님들의 상품리뷰 BEST 100','실제 구매자들이 남긴 솔직한 리뷰를 만나보세요.')" class="padding-section page-title-padding"></section>

<!--메뉴 : 썸네일 카테고리-->
<section th:insert="part/menu :: thumbnailCategory1" class="padding-section padding-menu sm-container-full sticky"></section>

<!--썸네일 목록 - review-->
<section th:insert="part/thumbnailList :: review" class="padding-section"></section>

<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!--js-->
<th:block th:replace="part/js"></th:block>

</body>
</html>