<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${barcode != null} ? '재고적재(바코드)'">재고적재</title>
    <th:block th:replace="common/css.html"></th:block>
    <style>
        .table {
            width: 100% !important;
        }
    </style>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold" th:if="${barcode == null}"><i class="icon-box mr-1"></i>재고적재</h4>
                            <h4 class="font-weight-semibold" th:unless="${barcode == null}"><i class="icon-box mr-1"></i>재고적재(바코드)</h4>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">

                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-body popup-contents">
                                <form id="regiForm" method="post">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-2">
                                        <legend>1. 적재정보</legend>

                                        <div class="row">
                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                  총 재고인수(적재) 수량
                                                            </span>
                                                        </span>
                                                        <input type="text" name="" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                  등록자
                                                            </span>
                                                        </span>
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    등록일
                                                                </span>
                                                            </span>
                                                        <input type="text" name="" class="form-control daterange-single">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 입력필드 -->
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    메모
                                                                </span>
                                                            </span>
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <legend class="mt-3 d-flex justify-content-between align-items-center">
                                            2. 적재창고
                                            <div class="mr-1">
                                                <a class="badge badge-primary" id="searchWhByBarcode" th:unless="${barcode == null}">창고바코드</a>
                                                <a class="badge badge-primary" id="searchWarehouseBtn">창고검색</a>
                                            </div>
                                        </legend>

                                        <table class="table" id="warehouseTable">
                                            <thead>
                                                <td>창고</td>
                                                <td>형태</td>
                                                <td>존</td>
                                                <td>열</td>
                                                <td>행</td>
                                                <td>로케이션</td>
                                                <td>바코드</td>
                                                <td>삭제</td>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="8">창고 정보가 없습니다.</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="mt-2" th:unless="${barcode == null}">
                                            <legend class="d-flex justify-content-between align-items-center">
                                                3. 자산정보<a class="badge badge-primary mr-1" id="searchGoodsByBarcode">자산바코드</a>
                                            </legend>

                                            <table class="table table-hover" id="goodsTable">
                                                <thead>
                                                    <tr>
                                                        <td>자산코드</td>
                                                        <td>상품코드</td>
                                                        <td>상품명</td>
                                                        <td>가공SPEC(확정)</td>
                                                        <td>IMEI</td>
                                                        <td>시리얼</td>
                                                        <td>발주코드</td>
                                                        <td>삭제</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="i: ${#numbers.sequence(1,4)}">
                                                        <td>as_code</td>
                                                        <td>p_code</td>
                                                        <td>p_name</td>
                                                        <td>spec...spec</td>
                                                        <td>#####</td>
                                                        <td>#####</td>
                                                        <td>o-code</td>
                                                        <td><a onclick="deleteRow($(this))" class="badge badge-primary">삭제</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

        <!-- Footer -->
        <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
            <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
            <button type="button" class="btn btn-sm btn-secondary ml-1" id="saveBtn"><i class="icon-floppy-disk mr-1"></i>저장</button>
        </div>
        <!-- /footer -->
    </div>
</div>

<th:block th:replace="stock/modal/warehouseModal.html"/>
<th:block th:replace="modal/barcodeModal.html"/>
<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 컬러픽커 -->
<script th:src="@{/assets/js/plugins/pickers/color/spectrum.js}"></script>

<!-- 그래프 -->
<script th:src="@{/assets/js/plugins/visualization/echarts/echarts.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 데이터테이블 -->
<script th:src="@{/assets/js/demo_pages/datatables_extension_select.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script th:inline="javascript">
    /** 테이블 행 삭제*/
    function deleteRow(el) {
        el.closest('tr').remove();
    }

    /**데이터테이블에서 창고선택*/
    function selectWarehouse(rowIdx) {
        $('#warehouseModal').modal('hide');
        var dataMap=getDatatablemap('warehouseModalTable', rowIdx);
        appendRowToWarehouseTable(dataMap);
    }

    /**창고테이블에 데이터 추가*/
    function appendRowToWarehouseTable(data) {
        $('#warehouseTable tbody tr').remove();
        $('#warehouseTable tbody').append(
            '<tr>' +
            '   <td><input type="hidden" name="locIdx" value="'+data.LOC_IDX+'">'+data.WH_NAME+'</td>' +
            '   <td>'+data.LOC_FORM_STR+'</td>' +
            '   <td>'+data.LOC_ZONE+'</td>' +
            '   <td>'+data.LOC_COLUMN+'</td>' +
            '   <td>'+data.LOC_ROW+'</td>' +
            '   <td>'+data.LOC_CODE+'</td>' +
            '   <td>'+data.LOC_BARCODE+'</td>' +
            '   <td><a onclick="deleteRow($(this))" class="badge badge-primary">삭제</a></td>' +
            '</tr>'
        );
    }

    /**창고바코드 모달*/
    function showWarehouseBarcodeModal() {
        var barcodeInput = openBarcodeModal('창고등록(바코드)');

        // 바코드 input시 ajax로 해당 바코드 로케이션 가져오기(추후에 작업~)
        barcodeInput.on('input', function () {
            $.ajax({
                url: '',
                data: data=barcodeInput.val(),
                type: 'post',
                success: function (res) {
                    appendRowToWarehouseTable(res);
                }
            });
        });
    }

    /**자산바코드 모달*/
    function showGoodsBarcodeModal() {
        var barcodeInput = openBarcodeModal('자산등록(바코드)');
    }
</script>
<script th:inline="javascript">
    $('#searchWarehouseBtn').on('click', openWarehouseModal);
    $('#searchWhByBarcode').on('click', showWarehouseBarcodeModal);
    $('#searchGoodsByBarcode').on('click', showGoodsBarcodeModal);
</script>
</body>
</html>