<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>창고이동등록</title>
    <th:block th:replace="common/css.html"></th:block>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold"><i class="icon-home7 mr-1"></i>창고이동등록</h4>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-sm btn-info" th:if="${tempObject} == null" id="test1" style="display: none">작업요청취소</a>
                        <a class="btn btn-sm btn-info" th:if="${tempObject} == null" id="test2" style="display: none">작업중(출고)</a>
                        <a class="btn btn-sm btn-info" id="test3" style="display: none" href=javascript:finishedBtn();>작업완료(입고)</a>
                        <input type="hidden" id="test4">
                        <input type="hidden" id="test5">
                    </div>
                </div>
            </div>


            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">

                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-body popup-contents">
                                <form id="regiForm" method="post">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-2">
                                        <legend>1. 창고이동 작업정보</legend>

                                        <div class="row">
                                            <div class="col-md-6 pr-0">
                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                      창고이동상태
                                                                </span>
                                                            </span>
                                                            <select name="" class="form-control select">
                                                                <option th:each="opt: ${T(com.newper.constant.WhState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}" th:selected="${#strings.toString(company?.comState) eq opt.name()}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                      요청자
                                                                </span>
                                                            </span>
                                                            <input type="text" name="WM_U_IDX" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                      처리자
                                                                </span>
                                                            </span>
                                                            <input type="text" name="WM_U_IDX2" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    메모
                                                                </span>
                                                            </span>
                                                            <input type="text" name="WM_MEMO" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 pl-0">
                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                      창고이동코드
                                                                </span>
                                                            </span>
                                                            <input type="text" name="WM_CODE" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                      창고이동요청일
                                                                </span>
                                                            </span>
                                                            <input type="text" name="WM_REQ_DATE" class="form-control daterange-single">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                      창고이동출고일
                                                                </span>
                                                            </span>
                                                            <input type="text" name="WM_OUT_DATE" class="form-control daterange-singlenull" readonly>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                      창고이동입고일
                                                                </span>
                                                            </span>
                                                            <input type="text" name="WM_IN_DATE" class="form-control daterange-singlenull" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="barTest" >
                                        <legend class="mt-3 d-flex justify-content-between align-items-center">
                                        2. 출고창고
                                        <div class="mr-1">
                                            <div class="btn-group">
                                                <div class="header-elements">
                                                    <a class="badge badge-primary" id="searchWarehouseBtn">로케이션검색</a>
                                                    <a class="badge badge-primary" id="searchWhByBarcode">로케이션리딩</a>
                                                </div>
                                            </div>
                                        </div>
                                        </legend>
                                        <table class="table" id="warehouseTable">
                                            <thead>
                                            <td>창고</td>
                                            <td>형태</td>
                                            <td>존</td>
                                            <td>열</td>
                                            <td>행</td>
                                            <td>로케이션</td>
                                            <td>바코드</td>
                                            <td>삭제</td>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td colspan="8">창고 정보가 없습니다.</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <legend class="mt-3 d-flex justify-content-between align-items-center">
                                            3. 입고창고<!--<a class="btn btn-sm btn-primary mr-1" id="searchInWhByBarcode">창고등록</a>-->
                                            <div class="btn-group">
                                                <div class="header-elements">
                                                    <a class="badge badge-primary" id="searchWarehouseBtn2">로케이션검색</a>
                                                    <a class="badge badge-primary" id="searchWhByBarcode2">로케이션리딩</a>
                                                </div>
                                            </div>
                                        </legend>

                                        <table class="table" id="warehouseTable2">
                                            <thead>
                                            <td>창고</td>
                                            <td>형태</td>
                                            <td>존</td>
                                            <td>열</td>
                                            <td>행</td>
                                            <td>로케이션</td>
                                            <td>바코드</td>
                                            <td>삭제</td>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td colspan="8">창고 정보가 없습니다.</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <div class="mt-2">
                                            <legend class="d-flex justify-content-between align-items-center">
                                                4. 자산정보
                                                <div class="btn-group">
                                                    <div class="header-elements">
                                                       <!-- <a onclick="locBarcode($(this))" class="badge badge-primary">자산등록</a>-->
                                                        <a class="badge badge-primary mr-1" id="searchGoodsByBarcode">자산등록</a>
                                                        <a onclick="deleteRow($(this))" class="badge badge-primary">자산일괄삭제</a>
                                                    <!--    <a class="badge badge-primary" id="deleteGoods">자산일괄삭제</a>-->
                                                    </div>
                                                </div>
                                            </legend>

                                            <table class="table table-hover" id="goodsTable">
                                                <thead>
                                                <tr>
                                                    <td>자산상태</td>
                                                    <td>자산코드</td>
                                                    <td>상품코드</td>
                                                    <td>상품명</td>
                                                    <td>가공SPEC(확정)</td>
                                                    <td>창고</td>
                                                    <td>형태</td>
                                                    <td>존</td>
                                                    <td>열</td>
                                                    <td>행</td>
                                                    <td>로케이션</td>
                                                    <td>IMEI</td>
                                                    <td>시리얼</td>
                                                    <td>발주코드</td>
                                                    <td>삭제</td>
                                                </tr>
                                                </thead>
                                                <tbody id="locationGoodsTbody">

                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

        <!-- Footer -->

            <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
            </div>

        <!-- /footer -->
    </div>
</div>
<th:block th:replace="stock/modal/warehouseModal.html"/>

<th:block th:replace="modal/barcodeModal.html"/>
<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 컬러픽커 -->
<script th:src="@{/assets/js/plugins/pickers/color/spectrum.js}"></script>

<!-- 그래프 -->
<script th:src="@{/assets/js/plugins/visualization/echarts/echarts.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 데이터테이블 -->
<script th:src="@{/assets/js/demo_pages/datatables_extension_select.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script th:inline="javascript">
    /** 창고테이블 행 삭제*/
    function deleteRow(el) {
        el.closest('tr').remove();
        $('#locationGoodsTbody').empty();
    }
    /** 자산테이블 행 삭제*/
    function deleteRow2(el) {
        el.closest('tr').remove();
    }



    /**데이터테이블에서 출고창고선택*/
    function selectWarehouse(rowIdx) {
        $('#warehouseModal').modal('hide');
        var dataMap=getDatatablemap('warehouseModalTable', rowIdx);
        appendRowToWarehouseTable(dataMap);
    }
    /**데이터테이블에서 입고창고선택*/
    function selectWarehouse2(rowIdx) {
        $('#warehouseModal').modal('hide');
        var dataMap=getDatatablemap('warehouseModalTable', rowIdx);
        appendRowToWarehouseTable2(dataMap);
    }

    /**출고창고테이블에 데이터 추가*/
    function appendRowToWarehouseTable(data) {
        $('#warehouseTable tbody tr').remove();
        $('#warehouseTable tbody').append(
            '<tr>' +
            '   <td><input type="hidden" name="locIdx" value="'+data.LOC_IDX+'">'+data.WH_NAME+'</td>' +
            '   <td>'+data.LOC_FORM_STR+'</td>' +
            '   <td>'+data.LOC_ZONE+'</td>' +
            '   <td>'+data.LOC_COLUMN+'</td>' +
            '   <td>'+data.LOC_ROW+'</td>' +
            '   <td>'+data.LOC_CODE+'</td>' +
            '   <td>'+data.LOC_BARCODE+'</td>' +
            '   <td><a onclick="deleteRow($(this))" class="badge badge-primary">삭제</a></td>' +
            '</tr>'
        );
        $('#test4').val(data.LOC_IDX);
        var test4 = $('#test4').val();
        var test5 = $('#test5').val();
        if(test4==test5){
            $('#test3').show();
            $('#test1').hide();
            $('#test2').hide();
        }else{
            $('#test1').show();
            $('#test2').show();
            $('#test3').show();
        }
        selectLocGoods(data.LOC_IDX);
    }


/*
    if ($('#searchGoodsByBarcode').success().show()){
        $('#searchWarehouseBtn').hide();
        $('#searchWhByBarcode').hide();
    }else {
        $('#searchWarehouseBtn').show();
        $('#searchWhByBarcode').show();
    }


*/
    /**입고창고테이블에 데이터 추가*/
    function appendRowToWarehouseTable2(data) {
        $('#warehouseTable2 tbody tr').remove();
        $('#warehouseTable2 tbody').append(
            '<tr>' +
            '   <td><input type="hidden" name="locIdx" value="'+data.LOC_IDX+'">'+data.WH_NAME+'</td>' +
            '   <td>'+data.LOC_FORM_STR+'</td>' +
            '   <td>'+data.LOC_ZONE+'</td>' +
            '   <td>'+data.LOC_COLUMN+'</td>' +
            '   <td>'+data.LOC_ROW+'</td>' +
            '   <td>'+data.LOC_CODE+'</td>' +
            '   <td>'+data.LOC_BARCODE+'</td>' +
            '   <td><a onclick="deleteRow($(this))" class="badge badge-primary">삭제</a></td>' +
            '</tr>'
        );
        $('#test5').val(data.LOC_IDX);
        var test4 = $('#test4').val();
        var test5 = $('#test5').val();
        if(test4==test5){
            $('#test3').show();
            $('#test1').hide();
            $('#test2').hide();
        }else{
            $('#test1').show();
            $('#test2').show();
            $('#test3').show();
        }
    }


    /** 창고 검색시 해당 창고에 있는 자산 조회 */
    function selectLocGoods() {
        $.ajax({
            url: '/stock/locGoods.ajax',
            data: {
                'locIdx' : $('input[name=locIdx]').val()
            },
            type: 'post',
            success: function (res) {
                appendLocGoods(res.data);
            }
        });
    }


    /**창고 검색시 해당 창고에 있는 자산 행추가*/
    function appendLocGoods(data) {
        $('#locationGoodsTbody').empty();
        var html = '';
        $.each(data, function (index, value) {
            html += '<tr>' +
                '<td>' + value.G_STATE+ '</td>' +
                '<td>' + value.G_BARCODE + '</td>' +
                '<td>' + value.P_IDX + '</td>' +
                '<td>' + value.P_NAME + '</td>' +
                '<td>' + value.PS_TYPE + '</td>' +
                '<td>' + value.LOC_WH_IDX + '</td>' +
                '<td>' + value.LOC_FORM + '</td>' +
                '<td>' + value.LOC_ZONE + '</td>' +
                '<td>' + value.LOC_COLUMN + '</td>' +
                '<td>' + value.LOC_ROW + '</td>' +
                '<td>' + value.LOC_CODE + '</td>' +
                '<td>' + value.G_IMEI + '</td>' +
                '<td></td>' +
                '<td>' + value.G_PO_IDX + '</td>' +
                '<td><a onclick="deleteRow2($(this))" class="badge badge-secondary">삭제</a></td>' +
               /* '<td><a onclick="deleteRow(' + value.G_IDX + ')" class="badge badge-secondary">삭제</a></td>' +*/
                '</tr>';
        })

        $('#locationGoodsTbody').append(html);
    }

    /**창고바코드 모달*/
    function showWarehouseBarcodeModal() {
        var barcodeInput = openBarcodeModal('창고등록(바코드)');

        // 바코드 input시 ajax로 해당 바코드 로케이션 가져오기(추후에 작업~)
        barcodeInput.on('input', function () {
            $.ajax({
                url: '',
                data: data=barcodeInput.val(),
                type: 'post',
                success: function (res) {
                    appendRowToWarehouseTable(res);
                }
            });
        });
    }

    /**자산바코드 모달*/
    function showGoodsBarcodeModal() {
        var barcodeInput = openBarcodeModal2('자산등록(바코드)');
        if ( $('#openBarcodeModal').finish()){
            $('#searchWarehouseBtn').hide();
            $('#searchWhByBarcode').hide();
        }
    }


    function locBarcode(data) {
        $.ajax({
            url: '/stock/load/barcode.ajax',
            data: {
                'barcode' : $(data).val(),
                'locIdx' : $('input[name=locIdx]').val()
            },
            type: 'post',
            success: function (res) {
                selectLocGoods();
                $('input[name="barcode"]').val("").focus();
            }
        });
    }
    function locBarcode2(data) {

        console.log("test~~~"+$(data).val())
        var barTest = $('#barTest').val();
        var dt = $(data).val();
        $('#barTest').val(barTest+","+dt);
        $.ajax({
            url: '/stock/list/barcode.ajax',
            data: {
                'barcode' : $('#barTest').val(),

            },
            type: 'post',
            success: function (res) {
                console.log(res)
                appendLocGoods(res.data.list);
            }
        });
    }


    /**창고 이동등록 바코드리딩 자산 행추가*/
    function appendLocGoods2(data) {
        $('#locationGoodsTbody').append(
            '<tr>' +
            '<td><input type="hidden" name="locIdx" value="'+data.barcode+'"></td>' +
            '<td>' + value.G_STATE + '</td>' +
            '<td>' + value.G_BARCODE + '</td>' +
            '<td>' + value.P_IDX + '</td>' +
            '<td>' + value.P_NAME + '</td>' +
            '<td>' + value.PS_TYPE + '</td>' +
            '<td>' + value.LOC_WH_IDX + '</td>' +
            '<td>' + value.LOC_FORM + '</td>' +
            '<td>' + value.LOC_ZONE + '</td>' +
            '<td>' + value.LOC_COLUMN + '</td>' +
            '<td>' + value.LOC_ROW + '</td>' +
            '<td>' + value.LOC_CODE + '</td>' +
            '<td>' + value.G_IMEI + '</td>' +
            '<td></td>' +
            '<td>' + value.G_PO_IDX + '</td>' +
            '<td><a onclick="deleteRow2($(this))" class="badge badge-secondary">삭제</a></td>' +
            /* '<td><a onclick="deleteRow(' + value.G_IDX + ')" class="badge badge-secondary">삭제</a></td>' +*/
            '</tr>'
        );

    }

    function finishedBtn(){
        $.ajax({
            url:'/stock/changeLocation.ajax'
            ,type:'post'
            ,data:$('#regiForm').serialize()
        }).done(function(res){
            try{
                if(res.data.result == '200'){
                    //로그인 성공
                    modal.hide();
                    $('.nosessionClass').hide();
                    $('.sessionClass').show();
                }else{
                    //로그인 실패
                    console.log(res.data.result);
                }
            }catch (e){
                alert('잠시 후 시도해주세요');
            }
        });
    }
</script>
<script th:inline="javascript">
    $('#searchWarehouseBtn').on('click', openWarehouseModal);
    $('#searchWarehouseBtn2').on('click', openWarehouseModal2);
    $('#searchGoodsByBarcode').on('click', showGoodsBarcodeModal);
</script>

</body>
</html>