<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${subTitle}">창고이동관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                            <i class="mr-1" th:classappend="${subIcon}"></i>
                                            <th:block th:text="${subTitle}"></th:block>
                                        </span>
                                    </div>
                                </h6>
                            </div>

                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="searchForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">창고이동상태</label>
                                                    <select name="LM_STATE" data-placeholder="multi select" class="form-control multiselect" multiple="multiple">
                                                        <option th:each="opt: ${T(com.newper.constant.LmState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">창고이동작업코드</label>
                                                    <input type="text" name="LM_IDX" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">요청자</label>
                                                    <input type="text" name="CREATED_BY" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">처리자</label>
                                                    <input type="text" name="LM_U_IDX" class="form-control form-control-sm w-120px">
                                                </div>

<!--                                                <div class="form-group">-->
<!--                                                    <label class="d-block">창고이동요청일</label>-->
<!--                                                    <input type="text" name="" class="form-control form-control-sm w-120px">-->
<!--                                                </div>-->

                                                <div class="form-group">
                                                    <label class="d-block">창고이동출고일</label>
                                                    <input type="text" name="LM_OUT_DATE" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">창고이동입고일</label>
                                                    <input type="text" name="LM_IN_DATE" class="form-control form-control-sm w-datarange daterange-basic">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">출고창고</label>
                                                    <input type="text" name="OUT_LOC_WH_IDX" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">출고로케이션</label>
                                                    <input type="text" name="OUT_LOC_CODE" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">입고창고</label>
                                                    <input type="text" name="IN_LOC_WH_IDX" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">입고로케이션</label>
                                                    <input type="text" name="IN_LOC_CODE" class="form-control form-control-sm w-120px">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label">조회하기</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                <div class="btn-group">
                                    <div class="header-elements">
                                        <a type="button" class="btn btn-sm btn-primary ml-1" id="newStockMoveBtn">
                                            <i class="icon-home7 mr-1"></i>창고이동등록
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-hover" id="stockMoveTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>

<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>
<script th:inline="javascript">
    function searchBtn(){
        $('#stockMoveTable').DataTable().page('first').ajax.url('/stock/stockMove.dataTable?'+$('#searchForm').serialize()).load();
    }



    function popNewStockMove() {
        var focusPopup = window.open('/stock/move/pop','stockMovePop','width=950, height=800, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }

    function popStockMoveDetail(lmIdx) {
        var focusPopup = window.open('/stock/move/pop/'+lmIdx,'stockMovePop','width=950, height=800, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }
</script>
<script th:inline="javascript">
    $('#stockMoveTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        buttons: buttonsSelect(false),
        serverSide: true,
        ajax:{
            url:'/stock/stockMove.dataTable',
            type:'post'
        },
        columns : [
            {'class':'select-checkbox', 'title':'선택','data':"LM_IDX",'defaultContent':'','render':  function(data,type,full,meta){
                    return '';
                }}
            ,{'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
            ,{'title':'창고이동상태','data':'LM_STATE','defaultContent':''}
            ,{'title':'창고이동작업코드','data':'LM_IDX','render': function (data,type,full,meta) {
                return '<a onclick="popStockMoveDetail('+full.LM_IDX+')" class="badge badge-primary">' + full.LM_IDX+ '</a>';
            }}
            ,{'title':'요청자','data':'CREATED_BY','defaultContent':''}
            ,{'title':'처리자','data':'LM_U_IDX','defaultContent':''}
            // ,{'title':'창고이동요청일','data':'','defaultContent':''}
            // ,{'title':'창고이동출고일','data':'LM_OUT_DATE','defaultContent':''}
            ,{'title':'창고이동입고일','data':'LM_IN_DATE','defaultContent':''}
            ,{'title':'출고창고','data':'OUT_LOC_WH_IDX','defaultContent':''}
            ,{'title':'출고적재형태','data':'OUT_LOC_FORM','defaultContent':''}
            ,{'title':'출고로케이션','data':'OUT_LOC_CODE','defaultContent':''}
            ,{'title':'입고창고','data':'IN_LOC_WH_IDX','defaultContent':''}
            ,{'title':'입고적재형태','data':'IN_LOC_FORM','defaultContent':''}
            ,{'title':'입고로케이션','data':'IN_LOC_CODE','defaultContent':''}
            ,{'title':'수량','data':'','defaultContent':''}
        ]
    });

    $('#searchForm').on('keyup', function (event) {
        if(event.keyCode==13){searchBtn();return false;}
    });
    $('#newStockMoveBtn').on('click', popNewStockMove);
</script>
</body>
</html>