<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="part/head :: head('장바구니')">
</head>
<body th:classappend="${@shopComp.getShopDesign()}">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header"></th:block>

<!-- 헤더 카테고리 모바일 -->
<th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

<!-- 로그인 모달창 -->
<th:block th:replace="part/modal :: login-modal"></th:block>

<!--페이지 타이틀-->
<div class="container">
    <section id="orderProcess-route">
        <div th:insert="part/title :: pageTitle_2('장바구니')"></div>
        <p class="font-sm semi-bold">
            <span class="color-blue">01 장바구니</span><i class="route-icon on"></i>02 주문&#183;결제정보입력<i class="route-icon"></i>03 주문완료
        </p>
    </section>
</div>

<section id="cart">
    <div class="container">
        <!-- 상단 상품선택 옵션 -->
        <div class="cart-option">
            <label for="itemAll-select">
                <input type="checkbox" id="itemAll-select" class="custom-checkbox" title="장바구니 상품 전체">
                <p class="font-lg">전체선택</p>
            </label>
            <div>
                <div class="itemSelect-Delete font-xsm">선택상품 삭제</div>
                <div class="itemAll-Delete font-xsm">전체상품 삭제</div>
            </div>
        </div>
        <!-- 장바구니 테이블 -->
        <div class="cart-list-wrap">
            <!-- 장바구니 테이블 제목 -->
            <ul class="cart-header font-xsm mo-display-none">
                <li>상품번호</li>
                <li>상품평</li>
                <li>수량</li>
                <li>판매가</li>
                <li>에누리금액</li>
                <li>배송비</li>
                <li>합계</li>
                <li>주문</li>
            </ul>
            <!-- 장바구니 테이블 본문 -->
            <div class="cart-basket-list">
                <!-- 뉴퍼마켓 직배송 상품 -->
                <div>
                    <div class="deliveryDivision-title-wrap">
                        <div class="deliveryDivision-title deliveryDivision-title-1"><span>뉴퍼마켓</span> 직배송 상품</div>
                    </div>
                    <!-- 뉴퍼마켓 직배송 상품 리스트 -->
                    <ul class="cart-basket-item-list mo-display-none">
                        <!-- 상품 1 (품절) -->
                        <li class="basket-item">
                            <ul>
                                <!-- 상품번호(썸네일) -->
                                <li>
                                    <div class="basket-item-thumb">
                                        <a href="javascript:;">
                                            <div class="basket-item-thumb-img">
                                                <img src="https://dummyimage.com/125x125/eeeeee/777777" alt="상품이미지">
                                                <!-- 품절이 아닌 상품은 아래 <div>태그 삭제 -->
                                                <div class="soldOut-thumb">품절</div>
                                            </div>
                                            <p>001762984</p>
                                        </a>
                                    </div>
                                </li>
                                <!-- 상품평 -->
                                <li>
                                    <div class="order-item-info-wrap">
                                        <div class="item-bedge">
                                            <span class="item-condition item-conditionA-2">A급리퍼</span>
                                            <span class="item-condition item-conditionB-1">스크래치</span>
                                        </div>
                                        <div>
                                            <a href="javascript:;">
                                                <h3 class="font-sm bold">삼성 노트북 15인치 코어 i5 랩 8G SSD 대용량 듀얼하드 윈도10 (스페이스그레이)</h3>
                                            </a>
                                        </div>
                                        <div class="font-xxsm order-item-info">
                                            <p>상품명 : 삼성 노트북 코어 i5 듀얼하드 윈10</p>
                                            <p>사이즈 : 15인치</p>
                                            <p>컬러 : 스페이스그레이</p>
                                        </div>
                                        <p class="font-xxsm">AS보증 (기본제공) <span class="color-blue">1년 무상서비스</span></p>
                                    </div>
                                </li>
                                <!-- 수량 -->
                                <li>
                                    <div class="select-amount">
                                        <span class="amount-minus">-</span>
                                        <input type="text" name="-" value="1" size="5" readonly="">
                                        <span class="amount-plus">+</span>
                                    </div>
                                </li>
                                <!-- 가격 -->
                                <li>
                                    <p class="font-sm">305,000<span class="won">원</span></p>
                                </li>
                                <!-- 에누리금액 -->
                                <li>
                                    <div class="basket-aenuri">
                                        <!-- 에누리 할인 없는 경우는 <i>태그 삭제 -->
                                        <i class="aenuri"></i>
                                        <p>-6,000<span class="won">원</span></p>
                                    </div>
                                </li>
                                <!-- 배송비 -->
                                <li>
                                    <p>무료</p>
                                </li>
                                <!-- 가격 -->
                                <li>
                                    <p class="font-xlg bold">299,000<span class="won">원</span></p>
                                </li>
                                <!-- 주문 -->
                                <li>
                                    <!-- 품절 -->
                                    <div class="soldout-text">품절</div>
                                    <!-- 바로구매
                                    <div class="nowBuy-text">바로구매</div>
                                    -->
                                </li>
                            </ul>
                            <i class="option-close"></i>
                            <!-- 품절인 경우에 <input> 태그 삭제
                            <input type="checkbox" id="itemAll-select" class="custom-checkbox" title="장바구니 상품 선택">
                            -->
                        </li>
                        <!-- 상품 2 -->
                        <li class="basket-item">
                            <ul>
                                <li>
                                    <div class="basket-item-thumb">
                                        <a href="javascript:;">
                                            <div class="basket-item-thumb-img">
                                                <img src="https://dummyimage.com/125x125/eeeeee/777777" alt="상품이미지">
                                            </div>
                                            <p>001762984</p>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="order-item-info-wrap">
                                        <div class="item-bedge">
                                            <span class="item-condition item-conditionA-2">A급리퍼</span>
                                            <span class="item-condition item-conditionB-1">스크래치</span>
                                        </div>
                                        <div>
                                            <a href="javascript:;">
                                                <h3 class="font-sm bold">삼성 노트북 15인치 코어 i5 랩 8G SSD 대용량 듀얼하드 윈도10 (스페이스그레이)</h3>
                                            </a>
                                        </div>
                                        <div class="font-xxsm order-item-info">
                                            <p>상품명 : 삼성 노트북 코어 i5 듀얼하드 윈10</p>
                                            <p>사이즈 : 15인치</p>
                                            <p>컬러 : 스페이스그레이</p>
                                        </div>
                                        <p class="font-xxsm">AS보증 (기본제공) <span class="color-blue">1년 무상서비스</span></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="select-amount">
                                        <span class="amount-minus">-</span>
                                        <input type="text" name="-" value="1" size="5" readonly="">
                                        <span class="amount-plus">+</span>
                                    </div>
                                </li>
                                <li>
                                    <p class="font-sm">305,000<span class="won">원</span></p>
                                </li>
                                <li>
                                    <div class="basket-aenuri">
                                        <i class="aenuri"></i>
                                        <p>-6,000<span class="won">원</span></p>
                                    </div>
                                </li>
                                <li>
                                    <p>무료</p>
                                </li>
                                <li>
                                    <p class="font-xlg bold">299,000<span class="won">원</span></p>
                                </li>
                                <li>
                                    <div class="nowBuy-text">바로구매</div>
                                </li>
                            </ul>
                            <i class="option-close"></i>
                            <!-- 품절인 경우에 <input> 태그 삭제 -->
                            <input type="checkbox" id="itemAll-select" class="custom-checkbox" title="장바구니 상품 선택">
                        </li>
                    </ul>

                    <!-- 뉴퍼마켓 직배송 상품 리스트(모바일 ver) -->
                    <ul class="mo-order-item-list pc-display-none">
                        <!-- 상품 1 (품절) -->
                        <li class="mo-order-item">
                            <!--  상품 상태 -->
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                                <span class="item-condition item-conditionB-1">스크래치</span>
                            </div>
                            <div class="mo-order-item-innerWrap mo-order-item-innerWrap-thumb">
                                <!-- 상품번호(썸네일) -->
                                <div class="mo-order-item-thumb">
                                    <a href="javascript:;">
                                        <div class="basket-item-thumb-img">
                                            <img src="https://dummyimage.com/125x125/eeeeee/777777" alt="상품이미지">
                                            <!-- 품절이 아닌 상품은 아래 <div>태그 삭제 -->
                                            <div class="soldOut-thumb">품절</div>
                                        </div>
                                        <p class="font-sm">상품번호</p>
                                        <p class="font-sm">001762984</p>
                                    </a>
                                </div>
                                <!-- 상품평 -->
                                <div class="order-item-info-wrap">
                                    <div>
                                        <a href="javascript:;">
                                            <h3 class="font-sm bold">삼성 노트북 15인치 코어 i5 랩 8G SSD 대용량 듀얼하드 윈도10 (스페이스그레이)</h3>
                                        </a>
                                    </div>
                                    <div class="font-xxsm order-item-info">
                                        <p>상품명 : 삼성 노트북 코어 i5 듀얼하드 윈10</p>
                                        <p>사이즈 : 15인치</p>
                                        <p>컬러 : 스페이스그레이</p>
                                    </div>
                                    <p class="font-xxsm">AS보증 (기본제공) <span class="color-blue">1년 무상서비스</span></p>
                                </div>
                            </div>
                            <div class="mo-order-item-innerWrap">
                                <!-- 수량 -->
                                <div class="select-amount">
                                    <span class="amount-minus">-</span>
                                    <input type="text" name="-" value="1" size="5" readonly="">
                                    <span class="amount-plus">+</span>
                                </div>
                                <!-- 가격 -->
                                <p class="font-sm">판매가 : <span>305,000</span><span class="won">원</span></p>
                            </div>
                            <div class="mo-order-item-price-wrap">
                                <!-- 에누리금액 -->
                                <div class="mo-order-item-innerWrap">
                                    <p class="color-grey666">에누리금액</p>
                                    <p>-6,000<span class="won">원</span></p>
                                </div>
                                <!-- 배송비 -->
                                <div class="mo-order-item-innerWrap">
                                    <p class="color-grey666">배송비</p>
                                    <p>무료</p>
                                </div>
                                <!-- 가격 -->
                                <div class="mo-order-item-innerWrap">
                                    <p>합계금액</p>
                                    <p class="font-xlg bold">299,000<span class="won">원</span></p>
                                </div>
                                <!-- 주문 -->
                                <div class="orderAvailability">
                                    <!-- 품절 -->
                                    <div class="soldout-text">품절</div>
                                    <!-- 바로구매
                                    <div class="nowBuy-text">바로구매</div>
                                    -->
                                </div>
                            </div>
                            <i class="option-close"></i>
                            <!-- 품절인 경우에 <input> 태그 삭제
                            <input type="checkbox" id="itemAll-select" class="custom-checkbox" title="장바구니 상품 선택"> -->
                        </li>
                    </ul>
                </div>

                <!-- 협력업체 직배송 상품 -->
                <div>
                    <div class="deliveryDivision-title-wrap">
                        <div class="deliveryDivision-title deliveryDivision-title-2"><span>협력업체</span> 직배송 상품</div>
                    </div>
                    <!-- 협력업체 직배송 상품 리스트 -->
                    <ul class="cart-basket-item-list mo-display-none">
                        <!-- 상품 1 -->
                        <li class="basket-item">
                            <ul>
                                <li>
                                    <div class="basket-item-thumb">
                                        <a href="javascript:;">
                                            <div class="basket-item-thumb-img">
                                                <img src="https://dummyimage.com/125x125/eeeeee/777777" alt="상품이미지">
                                            </div>
                                            <p>001762984</p>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="order-item-info-wrap">
                                        <div class="item-bedge">
                                            <span class="item-condition item-conditionA-2">A급리퍼</span>
                                            <span class="item-condition item-conditionB-1">스크래치</span>
                                        </div>
                                        <div>
                                            <a href="javascript:;">
                                                <h3 class="font-sm bold">삼성 노트북 15인치 코어 i5 랩 8G SSD 대용량 듀얼하드 윈도10 (스페이스그레이)</h3>
                                            </a>
                                        </div>
                                        <div class="font-xxsm order-item-info">
                                            <p>상품명 : 삼성 노트북 코어 i5 듀얼하드 윈10</p>
                                            <p>사이즈 : 15인치</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="select-amount">
                                        <span class="amount-minus">-</span>
                                        <input type="text" name="-" value="1" size="5" readonly="">
                                        <span class="amount-plus">+</span>
                                    </div>
                                </li>
                                <li>
                                    <p class="font-sm">305,000<span class="won">원</span></p>
                                </li>
                                <li>
                                    <div class="basket-aenuri">
                                        <p>-</p>
                                    </div>
                                </li>
                                <li>
                                    <p>무료</p>
                                </li>
                                <li>
                                    <p class="font-xlg bold">299,000<span class="won">원</span></p>
                                </li>
                                <li>
                                    <div class="nowBuy-text">바로구매</div>
                                </li>
                            </ul>
                            <i class="option-close"></i>
                            <!-- 품절인 경우에 <input> 태그 삭제 -->
                            <input type="checkbox" id="itemAll-select" class="custom-checkbox" title="장바구니 상품 선택">
                        </li>
                        <!-- 상품 2-->
                        <li class="basket-item">
                            <ul>
                                <li>
                                    <div class="basket-item-thumb">
                                        <a href="javascript:;">
                                            <div class="basket-item-thumb-img">
                                                <img src="https://dummyimage.com/125x125/eeeeee/777777" alt="상품이미지">
                                            </div>
                                            <p>001762984</p>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="order-item-info-wrap">
                                        <div class="item-bedge">
                                            <span class="item-condition item-conditionA-2">A급리퍼</span>
                                            <span class="item-condition item-conditionB-1">스크래치</span>
                                        </div>
                                        <div>
                                            <a href="javascript:;">
                                                <h3 class="font-sm bold">삼성 노트북 15인치 코어 i5 랩 8G SSD 대용량 듀얼하드 윈도10 (스페이스그레이)</h3>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="select-amount">
                                        <span class="amount-minus">-</span>
                                        <input type="text" name="-" value="1" size="5" readonly="">
                                        <span class="amount-plus">+</span>
                                    </div>
                                </li>
                                <li>
                                    <p class="font-sm">305,000<span class="won">원</span></p>
                                </li>
                                <li>
                                    <div class="basket-aenuri">
                                        <p>-</p>
                                    </div>
                                </li>
                                <li>
                                    <p>무료</p>
                                </li>
                                <li>
                                    <p class="font-xlg bold">299,000<span class="won">원</span></p>
                                </li>
                                <li>
                                    <div class="nowBuy-text">바로구매</div>
                                </li>
                            </ul>
                            <i class="option-close"></i>
                            <!-- 품절인 경우에 <input> 태그 삭제 -->
                            <input type="checkbox" id="itemAll-select" class="custom-checkbox" title="장바구니 상품 선택">
                        </li>
                    </ul>

                    <!-- 협력업체 직배송 상품 리스트(모바일 ver) -->
                    <ul class="mo-order-item-list pc-display-none">
                        <!-- 상품 1 -->
                        <li class="mo-order-item">
                            <!--  상품 상태 -->
                            <div class="item-bedge">
                                <span class="item-condition item-conditionA-2">A급리퍼</span>
                            </div>
                            <div class="mo-order-item-innerWrap mo-order-item-innerWrap-thumb">
                                <!-- 상품번호(썸네일) -->
                                <div class="mo-order-item-thumb">
                                    <a href="javascript:;">
                                        <div class="basket-item-thumb-img">
                                            <img src="https://dummyimage.com/125x125/eeeeee/777777" alt="상품이미지">
                                        </div>
                                        <p class="font-sm">상품번호</p>
                                        <p class="font-sm">001762984</p>
                                    </a>
                                </div>
                                <!-- 상품평 -->
                                <div class="order-item-info-wrap">
                                    <div>
                                        <a href="javascript:;">
                                            <h3 class="font-sm bold">삼성 노트북 15인치 코어 i5 랩 8G SSD 대용량 듀얼하드 윈도10 (스페이스그레이)</h3>
                                        </a>
                                    </div>
                                    <div class="font-xxsm order-item-info">
                                        <p>상품명 : 삼성 노트북 코어 i5 듀얼하드 윈10</p>
                                        <p>사이즈 : 15인치</p>
                                        <p>컬러 : 스페이스그레이</p>
                                    </div>
                                    <p class="font-xxsm">AS보증 (기본제공) <span class="color-blue">1년 무상서비스</span></p>
                                </div>
                            </div>
                            <div class="mo-order-item-innerWrap">
                                <!-- 수량 -->
                                <div class="select-amount">
                                    <span class="amount-minus">-</span>
                                    <input type="text" name="-" value="1" size="5" readonly="">
                                    <span class="amount-plus">+</span>
                                </div>
                                <!-- 가격 -->
                                <p class="font-sm">판매가 : <span>305,000</span><span class="won">원</span></p>
                            </div>
                            <div class="mo-order-item-price-wrap">
                                <!-- 에누리금액 -->
                                <div class="mo-order-item-innerWrap">
                                    <p class="light color-grey666">에누리금액</p>
                                    <p>-6,000<span class="won">원</span></p>
                                </div>
                                <!-- 배송비 -->
                                <div class="mo-order-item-innerWrap">
                                    <p class="light color-grey666">배송비</p>
                                    <p>무료</p>
                                </div>
                                <!-- 가격 -->
                                <div class="mo-order-item-innerWrap">
                                    <p>합계금액</p>
                                    <p class="font-xlg bold">299,000<span class="won">원</span></p>
                                </div>
                                <!-- 주문 -->
                                <div class="orderAvailability">
                                    <!-- 품절
                                    <div class="soldout-text">품절</div>
                                    -->
                                    <!-- 바로구매 -->
                                    <div class="nowBuy-text">바로구매</div>
                                </div>
                            </div>
                            <i class="option-close"></i>
                            <!-- 품절인 경우에 <input> 태그 삭제 -->
                            <input type="checkbox" id="itemAll-select" class="custom-checkbox" title="장바구니 상품 선택">
                        </li>
                    </ul>
                </div>
                <div class="order-total-wrap mo-display-none">
                    <!-- 주문 상품 수량 -->
                    <div class="order-totalCount">
                        <p class="font-lg semi-bold">주문 상품 <span>1</span>개</p>
                    </div>
                    <span class="div-line"></span>
                    <!-- 주문 상품 금액 -->
                    <div class="order-totalPrice">
                        <p class="font-lg semi-bold">주문 상품 금액</p>
                        <p class="color-blue font-xxlg bold">598,000<span class="won">원</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- 주문 상품 총 금액 (모바일 ver) -->
    <div class="mo-order-total-wrap pc-display-none">
        <!-- 주문 상품 수량 -->
        <p class="font-lg">주문 상품 <span>1</span>개</p>
        <!-- 주문 상품 금액 -->
        <div class="mo-order-totalPrice">
            <p class="font-lg bold">주문 상품 금액</p>
            <p class="color-blue font-xxlg bold">598,000<span class="won">원</span></p>
        </div>
    </div>

    <!-- 상품 주문 버튼 -->
    <div class="container">
        <div class="cart-order-button-group mo-display-none">
            <div class="btn btn3 order-btn semi-bold">
                <a href="javascript:;">선택상품주문</a>
            </div>
            <div class="btn btn2 order-btn semi-bold">
                <a href="javascript:;">전체상품주문</a>
            </div>
        </div>
    </div>
    <!-- 상품 주문 버튼 (모바일 ver) -->
    <div class="mo-order-button-group pc-display-none">
        <div class="btn semi-bold">
            <a href="javascript:;">선택상품주문</a>
        </div>
        <div class="btn semi-bold">
            <a href="javascript:;">전체상품주문</a>
        </div>
    </div>
</section>




<!-- 푸터 -->
<th:block th:replace="part/footer :: main-footer"></th:block>

<!-- 플로팅 -->
<th:block th:replace="part/floating :: main-floating"></th:block>

<!--js-->
<th:block th:replace="part/js"></th:block>

</body>
</html>