<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>전시 대분류관리</title>
    <th:block th:replace="common/css.html"></th:block>
    <style>
        .group{
            background:aliceblue;
        }
    </style>
</head>

<body>

<th:block th:replace="common/header.html">Header</th:block>
<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
<!--                                        <span class="breadcrumb-item font-weight-bold text-secondary">-->
<!--                                            <i class="mr-1" th:classappend="${subIcon}"></i>-->
<!--                                            <th:block th:text="${subTitle}"></th:block>-->
<!--                                        </span>-->
                                    </div>
                                </h6>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 카드 2열 레이아웃 -->
                <div class="row">
                    <div class="col-lg-6">

                        <div class="card">
                            <div class="collapse show">
                                <div class="card-body pt-0">
                                    <form id="shopCategoryForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">전시대분류명</label>
                                                    <input class="form-control form-control-sm w-120px">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">노출</label>
                                                    <select class="form-control form-control-sm select-search" name="CATE_DISPLAY" data-placeholder="선택" data-container-css-class="select-sm">
                                                        <option></option>

                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">등록자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="검색" name="CREATED_BY">
                                                </div>

                                                <div class="form-group">
                                                    <label class="d-block">등록일</label>
                                                    <input type="text" class="form-control form-control-sm w-datarange daterange-basic" name="CREATED_DATE">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-dark ml-1" onclick="shopCategory()">
                                            <i class="icon-popout mr-1"></i>신규등록
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <form id="categoryFirstTableForm">
                                <table class="table" id="categoryFirstTable">
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="collapse show">
                                <div class="card-body pt-0">
                                    <form id="shopCategoryForm2">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">카테고리 중분류</label>
                                                    <input class="form-control form-control-sm w-120px">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">노출</label>
                                                    <select class="form-control form-control-sm select-search" name="CATE_DISPLAY" data-placeholder="선택" data-container-css-class="select-sm">
                                                        <option></option>

                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                    <input type="hidden" id="scate_idx">
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-dark ml-1" onclick="shopCategory2()">
                                            <i class="icon-popout mr-1"></i>추가
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <form id="categorySecondTableForm">
                                <table class="table" id="categorySecondTable">
                                </table>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/demo_pages/extension_dnd.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
    $('#categoryFirstTable').DataTable({
        buttons: {
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-sm btn-dark opacity-60',
                    text: '<i class="icon-file-excel mr-1"></i>엑셀'
                },
                {
                    text: '새로고침',
                    className: 'btn btn-sm btn-secondary',
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }
            ]
        },
        dom: '<"datatable-header"Bi><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/product/parent.dataTable',
            type:'post'
        },
        "columns" : [
            {'class':'dragula-handle m-w-3', 'title':'NO','data':'SCATE_ORDER', 'render':function(data,type,full,meta){
                    return '<i class="icon-menu-open">'+Math.abs(full.SCATE_ORDER)+'</i><input type="hidden" name="SCATE_IDX" value="'+full.SCATE_IDX+'">';
                }}
            ,{'class':'m-w-16 w-55', 'title':'전시 대분류명','data':'SCATE_NAME','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-indigo" onclick="shopCategoryDetail('+full.SCATE_IDX+')">'+data+'</a>';
                }}
            ,{'class':'m-w-8 w-15', 'title':'중분류','data':'CNT','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm btn-outline-dark ml-1" onclick="childrenCategory('+full.SCATE_IDX+')">'+data+'</a>';
                }},
            {'title':'등록자','data':'CREATED_BY','defaultContent':''},
            {'title':'등록일','data':'CREATED_DATE','defaultContent':''},
            {'title':'수정자','data':'MODIFIED_BY','defaultContent':''},
            {'title':'수정일','data':'MODIFIED_DATE','defaultContent':''},
            {'class':'m-w-8 w-15', 'title':'삭제','data':'SCATE_IDX','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-danger" onclick="deleteShopCategory('+data+')">삭제</a>';
                }}
        ]
            ,initComplete: function( settings, json ){
            var table_id=settings.sTableId;
            dragula([settings.nTBody], {
                mirrorContainer: settings.nTBody,
                moves: function (el, container, handle) {
                    return handle.classList.contains('dragula-handle');
                }
            }).on('drop', function(el, target, source, sibling){
                $.ajax({
                    url:'/product/order.ajax'
            ,type:'post'
                    ,data:$('#'+table_id+'Form').serialize()
            }).always(function(res){
                    $('#'+table_id).DataTable().ajax.reload();
                });
            });
        }

    });

    $('#categorySecondTable').DataTable({
        buttons: {
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-sm btn-dark opacity-60',
                    text: '<i class="icon-file-excel mr-1"></i>엑셀'
                },
                {
                    text: '새로고침',
                    className: 'btn btn-sm btn-secondary',
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }
            ]
        },
        dom: '<"datatable-header"Bi><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/product/children.dataTable',
            type:'post'
        },
        "columns" : [
            {'class':'dragula-handle m-w-2', 'title':'순서','data':'CSC_ORDER', 'render':function(data,type,full,meta){
                    return '<i class="icon-menu-open">'+Math.abs(full.CSC_ORDER)+'</i><input type="hidden" name="CSC_IDX" value="'+full.CSC_IDX+'">';
                }}
            ,{'class':'m-w-16 w-55', 'title':'중분류명','data':'CATE_NAME','render':function(data,type,full,meta){
                    return data;
                }}
            ,{'class':'m-w-8 w-15', 'title':'노출','data':'CSC_ORDER','render':function(data,type,full,meta){
                if(data>0){
                    return 'Y';
                }else{
                    return 'N';
                }
                }},
            {'class':'m-w-8 w-15', 'title':'삭제','data':'CSC_IDX','render':function(data,type,full,meta){
                    return '<a class="btn btn-sm badge-danger" onclick="deleteCategoryShopCategory('+data+')">삭제</a>';
                }}
        ]
        ,initComplete: function( settings, json ){
            var table_id=settings.sTableId;
            dragula([settings.nTBody], {
                mirrorContainer: settings.nTBody,
                moves: function (el, container, handle) {
                    return handle.classList.contains('dragula-handle');
                }
            }).on('drop', function(el, target, source, sibling){
                $.ajax({
                    url:'/product/category/order.ajax'
                    ,type:'post'
                    ,data:$('#'+table_id+'Form').serialize()
                }).always(function(res){
                    $('#'+table_id).DataTable().ajax.reload();
                });
            });
        }
    });



</script>

<script>
    function childrenCategory(SCATE_IDX){
        var table = $('#categorySecondTable').DataTable();
        table.ajax.url('/product/children.dataTable?SCATE_IDX='+SCATE_IDX).load(null,false);
        $('#scate_idx').val(SCATE_IDX);
    }


    function deleteShopCategory(SCATE_IDX){
        if(confirm("전시대분류를 삭제시 SHOP메뉴 카테고리에서 제거됩니다.\n삭제하시겠습니까?")){
            $.ajax({
                url:'/product/shopCategory/delete.ajax',
                type:'post',
                data:'SCATE_IDX='+SCATE_IDX,
                success:function(res){
                    $('#categoryFirstTable').DataTable().ajax.reload();
                    $('#categorySecondTable').DataTable().ajax.reload();
                }
            })
        }
    }

    function deleteCategoryShopCategory(CSC_IDX){
        if(confirm("삭제 시 SHOP메뉴 전시 카테고리에서 제거됩니다.\n삭제하시겠습니까?")){
            $.ajax({
                url:'/product/categoryShopCategory/delete.ajax',
                type:'post',
                data:'CSC_IDX='+CSC_IDX,
                success:function(res){
                    $('#categoryFirstTable').DataTable().ajax.reload();
                    $('#categorySecondTable').DataTable().ajax.reload();
                }
            })
        }
    }

    function shopCategory(){
        var focusPopup = window.open('/product/shopCategoryCreate','shopCategoryCreate', 'width=850, height=500, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }

    function shopCategoryDetail(scate_idx){
       var cd = window.open('/product/shopCategoryDetail/'+scate_idx,'categoryDetail','width=850, height=500, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
        cd.focus();
    }

    function shopCategory2(){
        var scate_idx = $('#scate_idx').val();
        if(scate_idx==""){
            alert("전시대분류를 선택해주세요.");
            return false;
        }else{
            var focusPopup = window.open('/product/shopCategory/'+scate_idx+'/detail','shopCategoryCreate', 'width=500, height=650, left='+screenX+', top='+screenY+',scrollbars=yes, resizable=yes');
            focusPopup.focus();
        }

    }
</script>


</body>



</html>