<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${subTitle}"></title>
    <th:block th:replace="common/css.html"></th:block>
    <style>
        .group{
            background:aliceblue;
        }
    </style>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>
<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">

            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                            <i class="mr-1" th:classappend="${subIcon}"></i>
                                            <th:block th:text="${subTitle}"></th:block>
                                        </span>

                                    </div>
                                </h6>
                                <div class="header-elements text-right">
                                    <div class="d-inline-block d-md-flex d-md-flex-row justify-content-between">
                                        <div class="list-icons ml-2">
                                            <a class="list-icons-item" data-action="collapse"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse show">
                                <div class="card-body pt-0">
                                    <form id="shopCategoryForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">분양몰</label>
                                                    <select class="form-control form-control-sm select-search" name="SHOP_IDX" data-placeholder="선택" data-container-css-class="select-sm">
                                                        <option th:each="shop : ${shopList}" th:text="${shop.shopName}" th:value="${shop.shopIdx}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">섹션명</label>
                                                    <input class="form-control form-control-sm w-120px" name="MS_NAME" data-placeholder="검색">
                                                </div>

                                                <div class="form-group end">
                                                    <button type="button" class="btn btn-secondary" onclick="searchBtn()">
                                                        <span class="ladda-label"><i class="icon-search4 mr-1"></i>조회하기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <table class="table" id="shopTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/demo_pages/extension_dnd.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script>
function popDesign(shopIdx){
    var focusPopup = window.open('/design/pop/design/'+shopIdx, 'shopDesign', 'width=1000, height=800, scrollbars=yes, resizable=yes');
    focusPopup.focus();
}
function popHeader(shopIdx){
    var focusPopup = window.open('/design/pop/header/'+shopIdx, 'shopHeader', 'width=1000, height=800, scrollbars=yes, resizable=yes');
    focusPopup.focus();
}
function popFooter(shopIdx){
    alert("준비중! + shopIdx==" + shopIdx);
}
function popFloating(shopIdx){
    var focusPopup = window.open('/design/pop/floating/'+shopIdx, 'shopHeader', 'width=1000, height=800, scrollbars=yes, resizable=yes');
    focusPopup.focus();
}
function popCommonImage(shopIdx){
    alert("준비중! + shopIdx==" + shopIdx);
}

</script>
<script>
$(function(){
    $('#shopTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t>',
        buttons: buttonsSelect(false),
        columnDefs: [ {
            orderable: false,
            targets:   [0]
        } ],
        ordering: false,
        serverSide: true,
        ajax:{
            url:'/shop/shop.dataTable',
            type:'post'
        },
        "columns" : [
            {'title':'분양몰코드','data':'SHOP_IDX', 'defaultContent':''}
            ,{'title':'분양몰명','data':'SHOP_NAME','defaultContent':''}
            ,{'title':'디자인','data':'SHOP_IDX', 'defaultContent':'', 'render':function(data,type,full,meta){
                return '<a class="btn btn-sm btn-primary" onclick="popDesign('+data+')">디자인설정</a>';
            }}
            ,{'title':'헤더','data':'SHOP_IDX', 'defaultContent':'', 'render':function(data,type,full,meta){
                return '<a class="btn btn-sm btn-primary" onclick="popHeader('+data+')">헤더설정</a>';
            }}
            ,{'title':'푸터','data':'SHOP_IDX', 'defaultContent':'', 'render':function(data,type,full,meta){
                return '<a class="btn btn-sm btn-primary" onclick="popFooter('+data+')">푸터설정</a>';
            }}
            ,{'title':'플로팅바','data':'SHOP_IDX', 'defaultContent':'', 'render':function(data,type,full,meta){
                return '<a class="btn btn-sm btn-primary" onclick="popFloating('+data+')">플로팅바설정</a>';
            }}
            ,{'title':'공통이미지','data':'SHOP_IDX', 'defaultContent':'', 'render':function(data,type,full,meta){
                return '<a class="btn btn-sm btn-primary" onclick="popCommonImage('+data+')">공통이미지설정</a>';
            }}
        ]
    });
})


</script>
</body>
</html>