<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>메인섹션</title>

    <th:block th:replace="/common/css.html"></th:block>

</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold"><i class="icon-basket mr-1"></i>메인섹션</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <form id="mainSectionForm" method="post" enctype="multipart/form-data">
                                <div class="card-body popup-contents">
                                    <fieldset class="mb-0">
                                        <legend class="">1. 분양몰 등록정보</legend>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">분양몰</span>
                                                        </span>
                                                        <input class="form-control" type="text" readonly th:value="${shop.shopName}">
                                                        <input type="hidden" name="shopIdx" th:value="${shop.shopIdx}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">타이틀</span>
                                                        </span>
                                                        <input type="text" class="form-control" name="msName" th:value="${mainsection?.msName}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">서브 타이틀</span>
                                                        </span>
                                                        <input type="text" class="form-control" name="msSubName" th:value="${mainsection?.msSubName}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">메인 섹션 타입</span>
                                                        </span>
                                                        <select class="form-control select" name="msType" onchange="onChangeMsType()">
                                                            <option th:each="type:${T(com.newper.constant.MsType).values()}" th:value="${type}" th:text="${type.option}" th:selected="${mainsection?.msType eq type}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">노출 상태</span>
                                                        </span>
                                                        <select class="form-control select" name="msOrder">
                                                            <option value=-1 th:selected="${mainsection?.msOrder < 1}">미노출</option>
                                                            <option value=1 th:selected="${mainsection?.msOrder > 1}">노출</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="DISPLAY_TYPE">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">디스플레이 타입</span>
                                                        </span>
                                                        <select class="form-control select" name="DISPLAY_TYPE">
                                                            <option value="design1" th:selected="${msJson?.get('DISPLAY_TYPE') == 'design1'}">뉴퍼딜</option>
                                                            <option value="design2" th:selected="${msJson?.get('DISPLAY_TYPE') == 'design2'}">반값+습니다</option>
                                                            <option value="design3" th:selected="${msJson?.get('DISPLAY_TYPE') == 'design3'}">일일특가</option>
                                                            <option value="design4" th:selected="${msJson?.get('DISPLAY_TYPE') == 'design4'}">숨은꿀템</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="card-body popup-contents">
                                    <fieldset class="mb-0" id="sectionContent">

                                    </fieldset>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

    </div>
    <!-- /main content -->

</div>

<div class="navbar navbar-expand-lg navbar-dark">
    <div class=" w-100 text-right mt-1 mb-1">
        <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
        <button type="button" class="btn btn-sm btn-secondary" onclick="saveBtn()"><i class="icon-floppy-disk mr-1"></i>저장</button>
    </div>
</div>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

</body>

<script th:inline="javascript">
    function saveBtn(){
        if(window.confirm('저장하시겠습니까?')){
            var msType = $('select[name="msType"]').val();

            if(msType == 'PRODUCT'){
                var msspOrders = $('input[name="msspOrder"]');
                if(msspOrders.length > 0){
                    for(var i=0;i<msspOrders.length;i++){
                        if(msspOrders.eq(i).val() == ''){
                            alert('노출순서를 입력해주세요.');
                            msspOrders.eq(i).focus();
                            return false;
                        }
                    }
                }
            }

            $('#mainSectionForm').attr('action',location.pathname+'.load');
            $('#mainSectionForm').submit();
        }

    }
    function onChangeMsType(){
        var msType = $('select[name="msType"]').val();
        if(msType != ''){
            $.ajax({
                url:location.pathname+'/'+msType+'.load'
                ,type: 'post'
                ,success:function(res){
                    $('#sectionContent').empty();
                    $('#sectionContent').append(res);

                    $('select[name="DISPLAY_TYPE"] option').remove();
                    if(msType == "BANNER"){
                        $('select[name="DISPLAY_TYPE"]').append('<option value="bannerDesign1">배너 디자인1</option>');
                    }else if(msType == 'PRODUCT'){
                        $('select[name="DISPLAY_TYPE"]').append('<option value="design1">뉴퍼딜</option>');
                        $('select[name="DISPLAY_TYPE"]').append('<option value="design2">4열 슬라이드</option>');
                        $('select[name="DISPLAY_TYPE"]').append('<option value="design3">2행 2열 슬라이드</option>');
                        $('select[name="DISPLAY_TYPE"]').append('<option value="design4">3열 슬라이드</option>');
                    }else if(msType == 'BOTH'){
                        $('select[name="DISPLAY_TYPE"]').append('<option value="bannerShopProductDesign1">이미지+상품 디자인1</option>');
                    }else if(msType == 'CATEGORY'){
                        $('select[name="DISPLAY_TYPE"]').append('<option value="categoryDesign1">카테고리 디자인1</option>');
                    }else if(msType == 'BEST'){
                        $('select[name="DISPLAY_TYPE"]').append('<option value="todayBestDesign1">TODAY BEST 디자인1</option>');
                    }

                    if([[${msJson != null}]]){
                        $('select[name="DISPLAY_TYPE"]').val([[${msJson?.get('PRODUCT')}]]).attr("selected","selected").trigger('change');
                    }
                }
                ,error(){}
            })
        }
    }
</script>
<script th:inline="javascript">
    window.onload=function(){
        onChangeMsType();
    }
</script>
</html>
