<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>분양몰 헤더 설정</title>

    <th:block th:replace="/common/css.html"></th:block>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold"><i class="icon-basket mr-1"></i>분양몰 헤더 설정</h4>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="headerForm" method="post">
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <fieldset class="mb-0">
                                        <legend>1. 데스크탑 : 헤더영역 레이아웃</legend>

                                        <table class="table border-bottom">
                                            <thead>
                                            <tr>
                                                <th class="w-10">구분</th>
                                                <th class="w-30">좌측</th>
                                                <th class="w-30">중앙</th>
                                                <th class="w-30">우측</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr th:each="row : ${#numbers.sequence(1,3)}">
                                                <th th:text="${row}+'단'"></th>
                                                <td th:each="col : ${#numbers.sequence(1,3)}">
                                                    <div class="input-group">
                                                        <select class="select" th:attr="name='headerOrder'+${row}+'_'+${col}">
                                                            <option th:each="value:${T(com.newper.constant.etc.HoType).values()}" th:if="${value.getHoClass(row, col) != null}" th:text="${value.getOption()}" th:value="${value}" th:selected="${hoArr[row-1][col-1]?.hoType eq value}"></option>
                                                        </select>
                                                        <input type="hidden" th:attr="name='bgIdx'+${row}+'_'+${col}">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <fieldset class="mb-0">
                                        <legend class="">2. 데스크탑 : 로그인 그룹 설정</legend>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">형태</span>
                                                        </span>
                                                        <select class="form-control select" name="LOGIN_TYPE">
                                                            <option value="TEXT" th:selected="${shop.shopDesign.get('LOGIN_TYPE') eq 'TEXT'}">문자</option>
                                                            <option value="ICON" th:selected="${shop.shopDesign.get('LOGIN_TYPE') eq 'ICON'}">아이콘</option>
                                                            <option value="LINE" th:selected="${shop.shopDesign.get('LOGIN_TYPE') eq 'LINE'}">문자 구분선</option>
                                                            <option value="ICON_LINE" th:selected="${shop.shopDesign.get('LOGIN_TYPE') eq 'ICON_LINE'}">아이콘 + 문자 구분선</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">사용 항목</span>
                                                        </span>
                                                        <select data-placeholder="선택" class="form-control select" name="shopHdLoginGroup" multiple="multiple">
                                                            <option value="LOGIN" th:selected="${#lists.contains( shop.shopHdLoginGroup, 'LOGIN' )}">로그인</option>
                                                            <option value="MY" th:selected="${#lists.contains( shop.shopHdLoginGroup, 'MY' )}">MY PAGE</option>
                                                            <option value="BASKET" th:selected="${#lists.contains( shop.shopHdLoginGroup, 'BASKET' )}">장바구니</option>
                                                            <option value="CENTER" th:selected="${#lists.contains( shop.shopHdLoginGroup, 'CENTER' )}">고객센터</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <br>
                                    <fieldset class="mb-0">
                                        <legend class="">3. 데스크탑 : 디자인 스타일</legend>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">검색창 디자인</span>
                                                        </span>
                                                        <select class="form-control select" name="SEARCH_DESIGN">
                                                            <option value="header-search-type-a">테두리형</option>
                                                            <option value="header-search-type-b" th:selected="${shop.shopDesign.get('SEARCH_DESIGN') eq 'header-search-type-b'}">배경형</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <span class="input-group-text">메뉴 현위치 디자인</span>
                                                        </span>
                                                        <select class="form-control select" name="MENU_STYLE">
                                                            <option value="menu-style-type-a">배경형</option>
                                                            <option value="menu-style-type-b" th:selected="${shop.shopDesign.get('MENU_STYLE') eq 'menu-style-type-b'}">밑줄형</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

        <!-- Footer -->
        <!-- /footer -->
    </div>
    <!-- /main content -->
</div>

<div class="navbar navbar-expand-lg navbar-dark">
    <div class="w-100 text-right mt-1 mb-1">
        <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();">
            <i class="icon-cross2 mr-1"></i>닫기
        </button>
        <button type="button" class="btn btn-sm btn-secondary" onclick="saveBtn()"> <i class="icon-floppy-disk mr-1"></i>저장</button>
    </div>
</div>

<!-- 공통 js -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 컬러픽커 -->
<script th:src="@{/assets/js/plugins/pickers/color/spectrum.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<!-- 컬러픽커 -->
<script th:src="@{/assets/js/demo_pages/picker_color.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

</body>

<script th:inline="javascript">
    function saveBtn(){
        if(window.confirm('저장 하시겠습니까?')){
            $('#headerForm').attr('action', location.pathname+'.load');
            $('#headerForm').submit();
        }
    }

</script>
<script th:inline="javascript">
    window.onload=function(){

    }
</script>
</html>
