<div class="modal" tabindex="-1" role="dialog" id="cancelModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="collapse show" id="collapse-button-collapsed">
          <div class="card-body pt-0">
            <form id="modalForm">
                <table border="1">
                    <tr>
                        <th>반품상태</th>
                        <th>메세지</th>
                    </tr>
                    <tr>
                        <td>요청</td>
                        <td>  요청중인 자산이 반품대기(검수) -> 입고검수대기 <br>
                            반품대기 (영업) -> 영업검수입고,영업검수요청 상태로 변경되었고 <br>
                            해당 반품코드는 삭제됩니다. 진행하시겠습니까?
                        </td>
                    </tr>
                    <tr>
                        <td>작업중.작업완료</td>
                        <td> 해당건은 작업중이거나 작업이 완료되어 요청 취소가 불가합니다.</td>
                    </tr>
                </table>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="mdSave" onclick="">확인</button>
                <button type="button" class="btn btn-primary" onclick="window.close();"><i class="icon-cross2 mr-1"></i>취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

