<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="processModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">공정결과 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="processCompModal">
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">
                                <fieldset class="mb-0">
                                    <legend class="">1. 자산정보</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">상품코드</span>
                                                </span>
                                                    <input type="text" class="form-control" id="process_pIdx" readonly>
                                                    <input type="hidden" name="pnIdx">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">상품명</span>
                                                </span>
                                                    <input type="text" class="form-control" id="process_pName" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">자산코드</span>
                                                </span>
                                                    <input type="text" class="form-control" id="process_barcode" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">IMEI</span>
                                                </span>
                                                    <input type="text" class="form-control" id="process_gImei" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">
                                <fieldset class="mt-3">
                                    <legend class="">2. 공정항목</legend>
                                    <button type="button" class="btn btn-sm btn-primary" onclick="openStockProcessDiv();">추가</button>
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>상품명(용역)</th>
                                                <th>상품코드(용역)</th>
                                                <th>매입원가(용역)</th>
                                                <th>실비용(용역)</th>
                                                <th>삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody id="processCompSpec">

                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">
                                <fieldset class="mb-0">
                                    <legend class="">3. 공정결과</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">공정결과</span>
                                                </span>
                                                    <select name="pnState" class="form-control">
                                                        <option th:each="opt: ${T(com.newper.constant.PnState).values()}" th:value="${opt.name()}" th:text="${opt.getOption()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">공정결과 상세</span>
                                                </span>
                                                    <input type="text" class="form-control" name="pnContent">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">
                                <fieldset class="mb-0">
                                    <legend class="">4. 첨부파일</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">첨부파일</span>
                                                </span>
                                                    <input type="file" class="form-control" name="pnFile" multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form id="stockProcessModal">
                <div class="col-lg-12" id="openStockProcessDiv" style="display: none">
                    <div class="card mb-1">
                        <div class="card-body popup-contents mb-1">
                            <form id="stockProcessModalForm">
                                <fieldset class="mb-0">
                                    <legend class="">재고상품 검색</legend>
                                    <button type="button" class="btn btn-sm btn-secondary ml-1" onclick="stockProcessModal();">검색</button>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">상품코드</span>
                                                </span>
                                                    <input type="text" class="form-control" name="pIdx">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">재고상품명</span>
                                                </span>
                                                    <input type="text" class="form-control" name="pName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">등급</span>
                                                </span>
                                                    <select name="gsRank" class="form-control">
                                                        <option th:each="opt: ${T(com.newper.constant.GRank).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <table class="table" id="stockProcessModalTable"></table>
                            </form>
                        </div>
                    </div>
                </div>
            </form>



            <!-- Footer -->
            <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                <button type="button" class="btn btn-sm btn-secondary ml-1" onclick="saveProcessComp();">공정업로드</button>
            </div>
            <!-- /footer -->
        </div>
    </div>
</div>
<script>
    function openProcessModal(gIdx, pnIdx) {
        $('#processModal').modal('show');
        setProductInfo(gIdx);
        setProcessSpecInfo(pnIdx);
        setProcessNeedInfo(pnIdx);
    }
    // 자산정보 세팅
    function setProductInfo(gIdx) {
        var dataMap;
        $.ajax({
            url: '/goods/selectGoods.ajax',
            data: {"gIdx" : gIdx},
            type: 'POST',
            async: false,
            success(data) {
                dataMap = data;
            }
        })

        $('#process_pIdx').val(dataMap.P_IDX);
        $('#process_pName').val(dataMap.P_NAME);
        $('#process_barcode').val(dataMap.G_BARCODE);
        $('#process_gImei').val(dataMap.G_IMEI);
        $('input[name=pnContent]').val(dataMap.PN_CONTENT);
    }

    // 공정항목 세팅
    function setProcessSpecInfo(pnIdx) {
        $('input[name=pnIdx]').val(pnIdx);
        $.ajax({
            url: '/process/selectProcessSpec.ajax',
            data: {"pnIdx":pnIdx},
            type: 'POST',
            async: false,
            success(result) {
                $('#processCompSpec').empty();
                $.each(result, function (index, value) {
                    var html = '<tr>' +
                        '<td>'+value.P_NAME+'</td>' +
                        '<td>'+value.P_IDX+'</td>' +
                        '<td>'+value.P_COST+'</td>' +
                        '<td><input type="text" name="psCost" value="'+value.PS_COST+'"></td>' +
                        '<input type="hidden" name="psIdx" value="'+value.PS_IDX+'">' +
                        '<td><button type="button" class="btn btn-sm btn-secondary ml-1" onclick="deleteProcessSpec('+value.PS_IDX+','+value.PN_IDX+');">삭제</button></td>' +
                        '</tr>';
                    $('#processCompSpec').append(html);
                });
            }
        })
    }

    function setProcessNeedInfo(pnIdx) {
        var dataMap;
        $.ajax({
            url: '/process/selectProcessNeed.ajax',
            data: {
                "pnIdx" : pnIdx
            },
            type: 'POST',
            async: false,
            success(data) {
                dataMap = data.data[0];
            }
        })

        $('select[name=pnState] option[value='+dataMap.PN_STATE+']').prop('selected', true);
        $('input[name=pnContent]').val(dataMap.PN_CONTENT);
    }

    function deleteProcessSpec(psIdx, pnIdx) {
        if (confirm("해당 공정 내역을 삭제 하시겠습니까?")) {
            $.ajax({
                url: '/process/deleteProcessSpec.ajax',
                data: {
                    "psIdx" : psIdx,
                    "pnIdx" : pnIdx
                },
                type: 'POST',
                async: false,
                success(data) {
                    dataMap = data;
                }
            })
        }
    }

    function saveProcessComp() {
        $.ajax({
            url: '/process/saveProcess.ajax',
            data: new FormData($('#processCompModal')[0]),
            processData: false,
            contentType: false,
            type: 'POST',
            async: false
        })
    }

    function setProcessModalGoodsStock(gsIdx) {
        var dataMap;
        $.ajax({
            url: '/stock/stockGoods.dataTable',
            data: {
                "gsIdx" : gsIdx
            },
            type: 'POST',
            async: false,
            success(data) {
                dataMap = data.data[0];
            }
        })

        var html = '<tr>' +
            '<td>'+dataMap.P_NAME+'</td>' +
            '<td>'+dataMap.P_IDX+'</td>' +
            '<td>'+dataMap.P_COST+'</td>' +
            '<td><input type="text" name="gsCost" value="0"></td>' +
            '<input type="hidden" name="gsIdx" value="'+dataMap.GS_IDX+'">' +
            '<td><button type="button" class="btn btn-sm btn-secondary ml-1" onclick="deleteProcessSpec('+dataMap.PS_IDX+','+dataMap.PN_IDX+');">삭제</button></td>' +
            '</tr>';
        $('#processCompSpec').append(html);
    }

    function openStockProcessDiv() {
        $('#openStockProcessDiv').attr('style', 'display:block');
    }

    function stockProcessModal() {
        stockTable.page('first').ajax.url('/stock/stockGoodsParts.dataTable?'+$('#stockProcessModalForm').serialize()).load();
    }

    var stockTable = $('#stockProcessModalTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/stock/stockGoodsParts.dataTable?'+$('#stockProcessModalForm').serialize(),
            type:'post'
        },
        buttons: buttonsSelect(false),
        "columns" : [
            {'class':'m-w-max', 'title':'선택','data':'','render':  function(data,type,full,meta){
                    return '<a onclick="setProcessModalGoodsStock('+full.GS_IDX+')" class="badge badge-primary">선택</a>';
                }}
            ,{'class':'m-w-max', 'title':'스펙','data':'SPECL_VALUE', 'defaultContent':''}
            ,{'class':'m-w-max', 'title':'재고코드','data':'GS_CODE', 'defaultContent':''}
            ,{'class':'m-w-max', 'title':'재고상품명','data':'GS_NAME', 'defaultContent':''}
            ,{'class':'m-w-max', 'title':'기준판매가(재고)','data':'GS_PRICE', 'defaultContent':''}
            ,{'class':'m-w-max', 'title':'판매채널','data':'GS_SALE', 'defaultContent':''}
            ,{'class':'m-w-max', 'title':'등급','data':'GS_RANK', 'defaultContent':''}
            ,{'class':'m-w-max', 'title':'옵션1','data':'OPTION1', 'defaultContent':''}
            ,{'class':'m-w-max', 'title':'옵션2','data':'OPTION2', 'defaultContent':''}
            ,{'class':'m-w-max', 'title':'옵션3','data':'OPTION3', 'defaultContent':''}
        ]
    });
</script>
</html>