<div class="modal" tabindex="-1" role="dialog" id="goodsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">자산 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="card mb-1">
                        <div class="card-body popup-contents mb-1">
                            <form id="goodsModalForm" onkeypress="if(event.keyCode==13){searchGoodsModal();return false;}">
                                <fieldset class="mb-0">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">자산상태</span>
                                                    </span>
                                                    <input type="text" class="form-control" value="입고검수대기" readonly>
                                                    <input type="hidden" name="gState" value="RECEIVED">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상품명</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="pName" placeholder="검색">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">바코드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="barcode" placeholder="검색">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                            <div class="justify-content-end mt-2 mb-2">
                                <button type="button" class="btn btn-sm btn-secondary" onclick="searchGoodsModal()">
                                    <i class="icon-search4 mr-1"></i>조회
                                </button>
                            </div>

                            <table class="table" id="goodsModalTable">
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                <button type="button" class="btn btn-sm btn-secondary ml-1" onclick="setGoods();">자산 추가</button>
                <button type="button" class="btn btn-primary" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기 </button>
            </div>
            <!-- /footer -->
        </div>
    </div>
</div>

<script th:inline="javascript">
    function openGoodsModal() {
        $('#goodsModal').modal('show');
        selectGoodsDataTable()
    }

    <!-- 상품 검색 -->
    function searchGoodsModal(){
        $('#goodsModalTable').DataTable().page("first").ajax.url("/goods/goods.dataTable?" + $('#goodsModalForm').serialize()).load(null, false);
    }

    function selectGoodsDataTable(){
        $('#goodsModalTable').DataTable({
            dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
            ordering:false,
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            serverSide: true,
            ajax:{
                url:'/goods/goods.dataTable?'+$('#goodsModalForm').serialize(),
                type:'post'
            },
            columnDefs: [ {
                width: '40px',
                orderable: false,
                autoWidth: false,
                className: 'select-checkbox',
                targets:   [0]
            },
                {
                    width: '40px',
                    targets:    [1]
                }],

            "columns" : [
                {'title':'선택','data':'G_IDX', 'defaultContent':'', 'render' : function (data, type, full, meta) {
                        return '<input type="hidden" name="gIdx" value="' + full.G_IDX + '">';
                    }}
                ,{'title':'자산코드','data':'G_IDX', 'defaultContent':''}
                ,{'title':'바코드','data':'G_BARCODE', 'defaultContent':''}
                ,{'title':'상품명','data':'P_NAME', 'defaultContent':''}
            ]
        });
    }
</script>

<script th:inline="javascript">
    var userFlag = '';
    function inOperationModal(flag){
        $('#operationModal').modal('show');
        userFlag = flag;
    }

    function selectUser(obj, u_idx) {
        if (userFlag == 'JISI') {
            $('input[name=uName]').val(obj.innerText);
            $('input[name=uIdx]').val(u_idx);
        } else {
            $('input[name=uName2]').val(obj.innerText);
            $('input[name=uIdx2]').val(u_idx);
        }
        $('#operationModal').modal('hide');
    }

    function selectCompany(row) {
        var rowData = getDatatablemap('comModalTable', row);
        $('input[name=comIdx]').val(rowData.COM_IDX);
        $('input[name=comName]').val(rowData.COM_NAME)
        $('input[name=uName3]').val(rowData.U_NAME);
        $('#searchComModal').modal('hide');
    }

    function saveResell() {
        if (window.confirm("해당 자산들을 반품 처리 하시겠습니까?")) {
            $.ajax({
                url: '/process/resellPop.ajax' + location.search
                , type: 'post'
                , data: $('#tempForm').serialize()
            }).done(function (res) {
                window.close();
            });
        }
    }

    function saveBtn() {
        if ($('input[name=uIdx]').val() == '') {
            alert('작업지시자(내부)를 선택해주세요');
            return false;
        }

        if ($('input[name=comIdx]').val() == '') {
            alert('업체를 선택해주세요');
            return false;
        }

        if (window.confirm('저장하시겠습니까?')) {
            $.ajax({
                url: location.pathname + '.ajax' + location.search
                , type: 'post'
                , data: $('#tempForm').serialize()
            }).done(function (res) {
                window.close();
            });
        }
    }

</script>
<script th:inline="javascript">
    $('#userTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax:{
            url:'/process/user.dataTable?'+$('#userForm').serialize(),
            type:'post'
        },
        columnDefs: [ {
            orderable: false,
            targets:   [0]
        } ],
        "columns" : [
            {'class':'m-w-2', 'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1;
                }}
            ,{'class':'m-w-max', 'title':'이름','data':'U_NAME','render':function (data,type,full,meta){
                    return '<a class="btn btn-secondary" onclick="selectUser(this, '+full.U_IDX+')">'+data+'</a>';
                }}
            ,{'class':'m-w-max', 'title':'사원번호','data':'U_ID'}
            ,{'class':'m-w-max', 'title':'직급','data':'U_POSITION'}
            ,{'class':'m-w-max', 'title':'이메일(개인)','data':'U_PERSON_MAIL', 'render': function (data,type,full,meta){
                    if(data==null){
                        return '';
                    }else{
                        return '';
                    }
                }}
            ,{'class':'m-w-max', 'title':'전화번호','data':' U_PHONE' ,'render': function (data,type,full,meta){
                    if(data==null){
                        return '';
                    }else{
                        return '';
                    }
                }}
        ]
    });

    //자산 임시 테이블
    $('#goodsTempTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering:false,
        serverSide: true,
        ajax:{
            url:'/goods/temp.dataTable?ggt_idx='+[[${param.ggt_idx}]],
            type:'post'
        },
        buttons: buttonsSelect(false),
        "columns" : [
            {'class':'m-w-2', 'title':'No','data':'No','render':function(data,type,full,meta){
                    return meta.settings._iDisplayStart+meta.row+1 + '<input type="hidden" name="gIdx" value="' + full.G_IDX + '">';
                }}
            ,{'class':'m-w-max', 'title':'바코드','data':'G_BARCODE'}
            ,{'class':'m-w-max', 'title':'삭제','data':' G_IDX' ,'render': function (data,type,full,meta){
                    return '<a class="btn btn-sm badge-danger" onclick="deleteGgtGoods(' + full.G_IDX + ',' + full.GGT_IDX + ')">삭제</a>';
                }}
        ]
    });







    $('#userForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });


    function deleteGgtGoods (gIdx, ggtIdx) {
        if(confirm("삭제하시겠습니까?")){
            $.ajax({
                url:'/goods/ggtGoodsDelete.ajax',
                type:'post',
                data: {
                    'ggtIdx' : ggtIdx,
                    'gIdx' : gIdx
                },
                success:function(){
                    location.reload();
                }
            })
        }
    }

    function setGoods () {
        var ggtIdx = [[${param.ggt_idx}]];
        var gIdx = '';

        $.each($('.selected'), function (index, value) {
            gIdx += $(this).children('td').children('input').val() + ',';
        });
        gIdx = gIdx.slice(0, -1);

        if(confirm("추가하시겠습니까?")){
            $.ajax({
                url:'/goods/ggtGoodsInsert.ajax',
                type:'post',
                data: {
                    'ggtIdx' : ggtIdx[0],
                    'gIdx' : gIdx,
                    'cgsType' : $('input[name=cgsType]').val()
                },
                success:function(){
                    location.reload();
                    // $('#goodsTempTable').DataTable().ajax.reload();
                }
            })
        }
    }
</script>