<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${location != null} ? '로케이션 조회/수정'">로케이션 등록</title>
    <th:block th:replace="common/css.html"></th:block>
    <style>
        .table-hover {
            width: 100%!important;
        }
    </style>
</head>

<body>

<!-- 본문 영역 시작 -->
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="page-header page-header-dark">
                <div class="page-header-content container-fluid header-elements-md-inline px-3">
                    <div class="d-flex">
                        <div class="page-title">
                            <h4 class="font-weight-semibold" th:if="${location == null}"><i class="icon-office mr-1"></i>로케이션 신규등록</h4>
                            <h4 class="font-weight-semibold" th:unless="${location == null}"><i class="icon-office mr-1"></i>로케이션 조회/수정</h4>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Content area -->
            <div class="content container-fluid">
                <div class="row">

                    <div class="col-lg-12">

                        <form id="regiForm" method="post" enctype="multipart/form-data">
                            <div class="card">
                                <div class="card-body popup-contents">
                                    <!-- 타이틀 -->
                                    <fieldset class="mb-2">
                                        <legend>1. 등록정보</legend>

                                        <div class="row">
                                            <div class="col-md-6 pr-0">
                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">로케이션구분</span>
                                                            </span>
                                                            <select name="locType" class="form-control select">
                                                                <option th:each="opt: ${T(com.newper.constant.LocType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}" th:selected="${#strings.toString(location?.locType) eq opt.name()}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">로케이션형태</span>
                                                            </span>
                                                            <select name="locForm" class="form-control select">
                                                                <option th:each="opt: ${T(com.newper.constant.LocForm).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"
                                                                        th:selected="${#strings.toString(location?.locForm) eq opt.name()}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    존
                                                                </span>
                                                            </span>
                                                            <input type="text" name="locZone" class="form-control location" th:value="${location?.locZone}">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    열
                                                                </span>
                                                            </span>
                                                            <input type="text" name="locColumn" class="form-control location" th:value="${location?.locColumn}">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    행
                                                                </span>
                                                            </span>
                                                            <input type="text" name="locRow" class="form-control location" th:value="${location?.locRow}">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12" id="locMax" th:classappend="${location?.locForm ne T(com.newper.constant.LocForm).SHELF} ? 'gu-hide'">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    최대적재수량
                                                                </span>
                                                            </span>
                                                            <input type="text" name="locMax" class="form-control" th:value="${location?.locMax}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 pl-0">
                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested">
                                                                    로케이션
                                                                </span>
                                                            </span>
                                                            <input type="text" name="locCode" class="form-control" placeholder="존/열/행 입력" th:value="${location?.locCode}" tabindex="-1" readonly>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    바코드
                                                                </span>
                                                            </span>
                                                            <input type="text" name="locBarcode" class="form-control location" th:value="${location?.locBarcode}">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text requested d-flex justify-content-between">
                                                                    담당자<a href="#" id="searchUserBtn" class="badge badge-sm badge-primary ml-1" tabindex="-1">검색</a>
                                                                </span>
                                                            </span>
                                                            <input type="text" name="uName" class="form-control" th:value="${location?.user?.uName}" tabindex="-1" readonly>
                                                            <input type="hidden" name="uIdx" th:value="${location?.user?.uIdx}">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    등록일
                                                                </span>
                                                            </span>
                                                            <input type="text" class="form-control location" th:value="${location?.createdDate}" tabindex="-1" readonly>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    등록자
                                                                </span>
                                                            </span>
                                                            <input type="text" class="form-control location" th:value="${location?.createdBy}" tabindex="-1" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <!-- 입력필드 -->
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    메모
                                                                </span>
                                                            </span>
                                                            <input type="text" name="locMemo" class="form-control" th:value="${location?.locMemo}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                        <!-- #regiForm end -->
                    </div>
                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

        <!-- Footer -->
        <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
            <button type="button" class="btn btn-sm btn-light float-left" onclick="window.close();"><i class="icon-cross2 mr-1"></i>닫기</button>
            <button type="button" class="btn btn-sm btn-secondary ml-1" th:id="${location != null} ? 'updateBtn' : 'saveBtn'"><i class="icon-floppy-disk mr-1"></i>저장</button>
        </div>
        <!-- /footer -->
    </div>
</div>

<th:block th:replace="modal/userModal.html"/>

<!-- 공통 js -->

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- 메뉴 호버 -->
<script th:src="@{/assets/js/plugins/buttons/hover_dropdown.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 에디터 -->
<script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>

<!-- 드래그&드랍 -->
<script th:src="@{/assets/js/plugins/ui/dragula.min.js}"></script>

<!-- 컬러픽커 -->
<script th:src="@{/assets/js/plugins/pickers/color/spectrum.js}"></script>

<!-- 그래프 -->
<script th:src="@{/assets/js/plugins/visualization/echarts/echarts.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>
<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>


<script th:src="@{/assets/js/common.js}"></script>
<!-- 멀티 선택 (숫자) -->
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<!-- 다음 주소 api -->
<script th:src="@{/assets/js/daum_address.js}"></script>

<script th:inline="javascript">
    function saveAction(){
        $.ajax({
            url: location.pathname + '.ajax',
            type: 'post',
            data: $('#regiForm').serializeArray(),
            success: function () {
                window.opener.refreshTable('#locationTable');
            }
        });
    }

    function updateAction() {
        if (confirm("로케이션 정보를 수정하시겠습니까?")) {
            saveAction();
        }
    }

    function selectUser(row) {
        var rowData = getDatatablemap('userModalTable', row);
        $('#searchUserModal').modal('hide');
        $('#regiForm input[name="uName"]').val(rowData.U_NAME);
        $('input[name="uIdx"]').val(rowData.U_IDX);
    }

    function setLocation() {
        var location = $('input[name="locZone"]').val()+$('input[name="locColumn"]').val()+$('input[name="locRow"]').val();
        $('input[name="locCode"]').val(location);
    }

    function locationRegex(el) {
        var val = el.val().replace(/./g, str => str.toUpperCase()).replace(/[^0-9A-Z]/g, '');
        el.val(val);
    }
</script>
<script th:inline="javascript">
    setLocation();
    $("#saveBtn").on("click", saveAction);
    $("#updateBtn").on("click", updateAction);
    $("#searchUserBtn").on("click", showUserModal);
    $(".location").on("input", function (event) {
        locationRegex($(event.target));
        setLocation();
    });
    $("select[name=locForm]").on("change", function (event) {
        var el = $(event.target);
        if (el.val() == [[${T(com.newper.constant.LocForm).SHELF}]]) {
            $('#locMax').removeClass('gu-hide')
        } else {
            $('#locMax').addClass('gu-hide')
        }
    });
</script>
</body>
</html>