<div class="modal" tabindex="-1" role="dialog" id="searchCompanyDeliveryModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">입점사 배송지 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <div class="row">


                            <div class="table-responsive">
                                <table class="table table-hover" id="companyDeliveryModalTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="icon-cross2 mr-1"></i>닫기</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function selectCompanyDelivery(res) {
        $('#searchCompanyDeliveryModal').modal('show');
        selectCompanyDeliveryDatatable(res);
    }


</script>
<script th:inline="javascript">
    function selectCompanyDeliveryDatatable(res) {
        if ($.fn.DataTable.isDataTable('#companyDeliveryModalTable')) {
            $("#companyDeliveryModalTable").DataTable().page('first').ajax.url('/company/companyDelivery.dataTable?COM_IDX=' + res).load();
        }else {
            $("#companyDeliveryModalTable").DataTable({
                dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
                ordering: false,
                autoWidth: true,
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                serverSide: true,
                ajax: {
                    url: '/company/companyDelivery.dataTable?COM_IDX=' + res,
                    type: 'post'
                },
                columnDefs: [{
                    orderable: false,
                    targets: [0]
                }],
                columns: [
                    {'title': '배송비 종류설정', 'data': 'CD_TYPE', 'defaultContent': ''}
                    , {
                        'title': '배송비 금액',
                        'data': 'CD_FEE',
                        'defaultContent': '',
                        'render': function (data, type, full, meta) {
                            return comma(data);
                        }
                    }
                    , {'title': '택배사', 'data': 'CD_COMPANY', 'defaultContent': ''}
                    , {
                        'title': '배송비 무료조건 금액',
                        'data': 'CD_FREE',
                        'defaultContent': '',
                        'render': function (data, type, full, meta) {
                            return comma(data);
                        }
                    }
                    , {
                        'title': '제주도 및 그 부속도서 배송비',
                        'data': 'CD_JEJU',
                        'defaultContent': '',
                        'render': function (data, type, full, meta) {
                            return comma(data);
                        }
                    }
                    , {
                        'title': '도서산간 배송비',
                        'data': 'CD_ETC',
                        'defaultContent': '',
                        'render': function (data, type, full, meta) {
                            return comma(data);
                        }
                    }
                    , {
                        'title': '반품비',
                        'data': 'CD_RETURN_FEE',
                        'defaultContent': '',
                        'render': function (data, type, full, meta) {
                            return comma(data);
                        }
                    }
                    , {
                        'title': '배송비 템플릿 기본설정',
                        'data': 'CD_BASIC',
                        'defaultContent': '',
                        'render': function (data, type, full, meta) {
                            if (data == 0) {
                                return 'N';
                            } else {
                                return 'Y';
                            }
                        }
                    }
                    , {
                        'title': '선택',
                        'data': 'CD_IDX',
                        'defaultContent': '',
                        'render': function (data, type, full, meta) {
                            return '<a class="btn btn-sm badge-indigo" onclick="deliverySelect(' + meta.row + ')">선택</a>';
                        }
                    }
                ]
            });
        }
    }


</script>