<div class="modal" tabindex="-1" role="dialog" id="searchCompanyModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">거래처 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <div class="row">
                            <form id="companyModalForm">
                                <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                    <div class="form-group">
                                        <label class="d-block">등록일</label>
                                        <input type="text" name="createdDate" class="form-control form-control-sm w-datarange daterange-basic">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">상호법인명</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="COM_NAME">
                                        <input type="hidden" name="CT_TYPE">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">사업자번호</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="COM_NUM">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">대표자명</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="COM_CEO">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">MID</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="COM_MID">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">사업자분류</label>
                                        <div class="input-group">
                                            <select name="COM_TYPE" data-placeholder="multi select" class="form-control form-control multiselect-reset" multiple="multiple">
                                                <option th:each="opt: ${T(com.newper.constant.ComType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">상태</label>
                                        <div class="input-group">
                                            <select name="COM_STATE" data-placeholder="multi select" class="form-control form-control multiselect-reset" multiple="multiple">
                                                <option th:each="opt: ${T(com.newper.constant.ComState).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group end">
                                        <button type="button" class="btn btn-secondary" onclick="searchCompanyDataTable()">
                                            <span class="ladda-label">조회하기</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table table-hover" id="companyModalTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="icon-cross2 mr-1"></i>닫기</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function showCompanyModal(res) {
        $('#searchCompanyModal').modal('show');
        $('input[name=CT_TYPE]').val(res);
        selectCompanyDatatable();
    }

    function searchCompanyDataTable() {
        $("#companyModalTable").DataTable().page('first').ajax.url('/company/companyCtType.dataTable?'+$('#companyModalForm').serialize()).load();
    }

</script>
<script th:inline="javascript">
    function selectCompanyDatatable() {
        var CT_TYPE=$('input[name=CT_TYPE]').val();
        if ($.fn.DataTable.isDataTable('#companyModalTable')) {
            searchCompanyDataTable();
        } else {
            $("#companyModalTable").DataTable({
                dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
                ordering: false,
                autoWidth: true,
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                serverSide: true,
                ajax:{
                    url:'/company/companyCtType.dataTable?CT_TYPE='+CT_TYPE,
                    type:'post'
                },
                columnDefs: [ {
                    orderable: false,
                    targets: [0]
                } ],
                columns : [
                    {'title':'No','data':'No','render':function(data,type,full,meta){
                            return meta.settings._iDisplayStart+meta.row+1;
                        }}
                    ,{'title':'등록일','data':'COM_CREATED_DATE','defaultContent':''}
                    ,{'title':'등록시간','data':'COM_CREATED_TIME','defaultContent':''}
                    ,{'title':'거래처구분코드','data':'CT_TYPE','defaultContent':''}
                    ,{'title':'사업자 분류','data':'COM_TYPE_STR','defaultContent':''}
                    ,{'title':'상태','data':'COM_STATE_STR','defaultContent':''}
                    ,{'title':'MID','data':'COM_MID','defaultContent':''}
                    ,{'title':'상호법인명','data':'COM_NAME','defaultContent':''}
                    ,{'title':'대표자명','data':'COM_CEO','defaultContent':''}
                    ,{'title':'선택','data':'COM_IDX', 'render': function (data, type, full, meta) {
                            return '<a onclick="selectCompany('+data+')" class="badge badge-primary">선택</a>';
                        }}
                ]
            });
        }
    }


</script>