<div class="modal" tabindex="-1" role="dialog" id="searchProductModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">상품코드 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <div class="row">
                            <form id="productModalForm">
                                <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                    <div class="form-group">
                                        <label class="d-block">상품코드</label>
                                        <input type="text" name="P_CODE" class="form-control form-control-sm w-120px">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">상품명</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="P_NAME">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">모델명</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="P_MODEL">
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">브랜드</label>
                                        <input type="text" class="form-control form-control-sm w-120px" name="P_BRAND">
                                    </div>


                                    <div class="form-group">
                                        <label class="d-block">카테고리 대분류</label>
                                        <div class="input-group">
                                            <select name="CATEGORY1" data-placeholder="multi select" class="form-control form-control multiselect-reset" multiple="multiple">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="d-block">카테고리 중분류</label>
                                        <div class="input-group">
                                            <select name="CATEGORY2" data-placeholder="multi select" class="form-control form-control multiselect-reset" multiple="multiple">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block">카테고리 소분류</label>
                                        <div class="input-group">
                                            <select name="CATEGORY3" data-placeholder="multi select" class="form-control form-control multiselect-reset" multiple="multiple">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group end">
                                        <button type="button" class="btn btn-secondary" onclick="searchProductDataTable()">
                                            <span class="ladda-label"><i class="icon-search4 mr-1"></i>조회하기</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table table-hover" id="productModalTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="icon-cross2 mr-1"></i>닫기</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function showProductModal(res) {
        $('#searchProductModal').modal('show');
        selectProductDatatable();
    }

    function searchProductDataTable() {
        $("#productModalTable").DataTable().page('first').ajax.url('/product/product.dataTable?'+$('#productModalForm').serialize()).load();
    }

</script>
<script th:inline="javascript">
    function selectProductDatatable() {
        if ($.fn.DataTable.isDataTable('#productModalTable')) {
            searchProductDataTable();
        } else {
            $("#productModalTable").DataTable({
                dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
                ordering: false,
                autoWidth: true,
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                serverSide: true,
                ajax:{
                    url:'/product/product.dataTable',
                    type:'post'
                },
                columnDefs: [ {
                    orderable: false,
                    targets: [0]
                } ],
                columns : [
                    {'title':'No','data':'No','render':function(data,type,full,meta){
                            return meta.settings._iDisplayStart+meta.row+1;
                        }}
                    ,{'title':'대표썸네일','data':'P_THUMB_FILE1','render':function(data,type,full,meta){
                            if(data==''){
                                return '';
                            }else{
                                return '<img src="'+data+'" class="input-thumb">'
                            }
                        }}
                    ,{'title':'상품코드','data':'P_CODE','defaultContent':''}
                    ,{'title':'상품명','data':'P_NAME','defaultContent':''}
                    ,{'title':'모델명','data':'P_MODEL','defaultContent':''}
                    ,{'title':'브랜드','data':'BRAND_NAME','defaultContent':''}
                    ,{'title':'카테고리 대분류','data':'CATE_NAME1','defaultContent':''}
                    ,{'title':'카테고리 중분류','data':'CATE_NAME2','defaultContent':''}
                    ,{'title':'카테고리 소분류','data':'CATE_NAME3','defaultContent':''}
                    ,{'title':'입점사','data':'STORE_NAME','defaultContent':''}
                    ,{'title':'제조사','data':'MANUFACTURE_NAME','defaultContent':''}
                    ,{'title':'AS업체','data':'AFTERSERVICE_NAME','defaultContent':''}
                    ,{'title':'선택','data':'P_IDX', 'render': function (data, type, full, meta) {
                            return '<a onclick="selectProduct('+data+')" class="badge badge-primary">선택</a>';
                        }}
                ]
            });
        }
    }


</script>