<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="goodsModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">입고검수 리포트 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="col-lg-12" id="ProductDiv">
                    <form id="goodsModalForm">
                        <div class="card mb-1">
                            <div class="card-body popup-contents mb-1">

                                <fieldset class="mb-0">
                                    <legend class="">1. 자산정보</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상품코드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="pIdx" id="pIdx" readonly>
                                                    <input type="hidden" name="poIdx" id="poIdx">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상품명</span>
                                                    </span>
                                                    <input type="text" class="form-control" id="pName" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">자산코드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="gIdx" id="gIdx" readonly>
                                                    <input type="hidden" name="cgsIdx" id="cgsIdx">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">IMEI</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="gImei" id="IMEI">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <!-- 타이틀 -->
                                <fieldset class="mt-3">
                                    <legend class="">2. 예상비용</legend>
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>공정구분</th>
                                                    <th>예상공정항목</th>
                                                    <th>예상비용</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>도색</td>
                                                    <td><input type="text" name="paintMemo" class="form-control"></td>
                                                    <td><input type="text" name="paintCost" value="0" class="form-control"></td>
                                                </tr>
                                                <tr>
                                                    <td>수리</td>
                                                    <td><input type="text" name="fixMemo" class="form-control"></td>
                                                    <td><input type="text" name="fixCost" value="0" class="form-control"></td>
                                                </tr>
                                                <tr>
                                                    <td>가공</td>
                                                    <td><input type="text" name="processMemo" class="form-control"></td>
                                                    <td><input type="text" name="processCost" value="0" class="form-control"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>

                                <fieldset class="mt-3">
                                    <legend class="">3. 상품 SPEC정보</legend>
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>SPEC명</th>
                                                <th>입고SPEC(확정)</th>
                                                <th>가공SPEC(예정)</th>
                                                <th>가공SPEC예상비용</th>
                                            </tr>
                                            </thead>
                                            <tbody id="productSpecListTable">

                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>

                                <fieldset class="mt-3">
                                    <legend class="">4. 옵션</legend>
                                    <div class="row">
                                        <!-- 입력필드 -->
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">옵션1</span>
                                                    </span>
                                                    <select name="productOption" id="productOption1" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 입력필드 -->
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">옵션2</span>
                                                    </span>
                                                    <select name="productOption" id="productOption2" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 입력필드 -->
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">옵션3</span>
                                                    </span>
                                                    <select name="productOption" id="productOption3" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="mt-3">
                                    <legend class="">5. 첨부파일</legend>
                                    <div class="row">
                                        <!-- 입력필드 -->
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">첨부파일</span>
                                                    </span>
                                                    <input type="file" class="form-control" name="gFile" multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-sm btn-primary mt-1" onclick="">사진</a>
                                </fieldset>

                                <fieldset class="mt-3">
                                    <legend class="">6. 메모</legend>
                                    <div class="row">
                                        <!-- 입력필드 -->
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">메모</span>
                                                    </span>
                                                    <input type="input" class="form-control" name="gMemo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <!-- Footer -->
            <div class="navbar navbar-dark border-bottom-0 border-top d-flex justify-content-between py-2">
                <button type="button" class="btn btn-sm btn-secondary ml-1" onclick="goodsInCheck();">저장</button>
            </div>
            <!-- /footer -->
        </div>
    </div>
</div>

<script>
    function goodsInCheck () {
        var flag = true;
        $.each($('input[name=spec1]'), function (index, value) {
            if ($(this).val() == '') {
                flag = false;
                return false;
            }
        });

        if (flag == false) {
            alert('입고SPEC(확정)을 입력해 주세요');
            return false;
        }


        $.ajax({
            type: "POST",
            url:"/in/goodsInCheck.ajax",
            processData: false,
            contentType: false,
            data: new FormData($('#goodsModalForm')[0]),
            async: false,
            success : function(result){
                location.reload();
            }
        });
    }

    function openInGoodsModal (id, rowIdx) {
        $('#goodsModal').modal('show');
        var dataMap = getDatatablemap(id, rowIdx);
        $('input[name=gImei]').val(dataMap.G_IMEI);

        if(dataMap.CATE_SPEC_LIST != null){
            var specList = JSON.parse(dataMap.CATE_SPEC_LIST);
            $('#productSpecListTable').empty();
            for (var i = 0; i < specList.length; i++) {
                var inSpec2 = "";
                var specValue4 = "";
                if (dataMap.SPEC3 != null) {
                    inSpec2 = dataMap.SPEC3.split("/")[i].split(":")[1]
                }

                if (dataMap.SPEC4 != null) {
                    specValue4 = dataMap.SPEC4.split("/")[i].split(":")[1]
                }

                var specTr
                    ='<tr>'
                    +'<td id="specList'+i+'" class="specListTd">'+specList[i]+'</td>'
                    +'<input type="hidden" name="specName" value="' + specList[i] + '">'
                    +'<td><input type="text" specList="'+i+'" name="inSpec2" class="form-control" value="' + inSpec2 + '"></td>'
                    +'<td><input type="text" specList="'+i+'" name="specValue4" class="form-control" value="' + specValue4 + '"></td>'
                    +'<td><input type="text" specList="'+i+'" name="psCost" class="form-control" value="0"></td>'
                    +'</tr>';

                $('#productSpecListTable').append(specTr);
            }


            var specListTd = $('.specListTd');
            for (var i = 0; i < specListTd.length; i++) {
                $.ajax({
                    type: "GET",
                    url:"/goods/specList.ajax?specName=" + specListTd[i].innerHTML,
                    async:false,
                    success : function(result){
                        $('input[specList='+i+']').autocomplete({
                            source: result
                            ,minLength: 0
                        });
                    }
                });
            }
        }

        var options = JSON.parse(dataMap.P_OPTION);
        for (var i = 0; i < 3; i++) {
            var num = parseInt(i) + 1;
            $('#productOption' + num).empty();
            $('#productOption' + num).append('<option value="">없음</option>');
        }

        for (var i = 0; i < options.length; i++) {
            var text = '';
            for (var j = 0; j < options[i].values.length; j++) {
                text += '<option value="' + options[i].title + ':' + options[i].values[j] + '">' + options[i].values[j] +'</option>'
            }
            var num = parseInt(i) + 1;
            $('#productOption' + num).empty();
            $('#productOption' + num).append(text);
        }

        var gJson = JSON.parse(dataMap.G_JSON);

        $('input[name=paintMemo]').val(gJson.paintMemo);
        $('input[name=paintCost]').val(gJson.paintCost);
        $('input[name=fixMemo]').val(gJson.fixMemo);
        $('input[name=fixCost]').val(gJson.fixCost);
        $('input[name=processMemo]').val(gJson.processMemo);
        $('input[name=processCost]').val(gJson.processCost);
        $('input[name=gMemo]').val(dataMap.G_MEMO);

        var text = '';
        // $.each(gJson.gFile, function(index, value) {
        //     text += '<a href="javascript: fileDownload(\''+gJson.gFile[index]+'\',\''+gJson.gFileName[index]+'\')" className="badge badge-sm badge-primary ml-1">'+gJson.gFileName[index]+'</a>'
        // });
        $('#fileSpan').append(text);


        $('#pIdx').val(dataMap.P_IDX);
        $('#pName').val(dataMap.P_NAME);
        $('#gIdx').val(dataMap.G_IDX);
        $('#cgsIdx').val(dataMap.CGS_IDX);
        $('#poIdx').val(dataMap.PO_IDX);
    }
</script>
</html>
