<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="productModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">상품코드 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="productModalForm" onkeypress="if(event.keyCode==13){searchProductModal();return false;}">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body popup-contents">
                                <fieldset class="mb-0">
                                    <legend class="">상품코드 검색</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상품코드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="pCode" placeholder="검색">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">상품명</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="pName" placeholder="검색">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">브랜드</span>
                                                    </span>
                                                    <input type="text" class="form-control" name="pBrand" placeholder="검색">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">카테고리 대분류</span>
                                                    </span>
                                                    <select name="category1" data-placeholder="다중선택가능" class="form-control">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">카테고리 중분류</span>
                                                    </span>
                                                    <select name="category2" data-placeholder="다중선택가능" class="form-control">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">카테고리 소분류</span>
                                                    </span>
                                                    <select name="category3" data-placeholder="다중선택가능" class="form-control">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </fieldset>
                            </div>

                            <div class="card-footer bg-white d-flex justify-content-end align-items-center">

                                <button type="button" class="btn btn-sm btn-secondary ml-1" onclick="searchProductModal()">
                                    <i class="icon-search4 mr-1"></i>조회
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
                <table class="table" id="productModalTable">
                </table>
                <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-primary" onclick="selectProduct()">일괄추가</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function openProductModal(){
        $('#productModal').modal('show');
        selectCategoryAjax(null, '1');
        selectProductDataTable();
    }

    function selectCategoryAjax(idx, type) {
        $.ajax({
            type: "POST",
            url:"/product/category/selectCategory.ajax?cateIdx=" + idx,
            dataType:"json",
            success : function(result){
                var text = '<option>선택</option>';

                $.each(result, function (index, value) {
                    text += '<option value="' + value.CATE_IDX + '">' + value.CATE_NAME + '</option>'
                });

                if (type == '1') {
                    $('select[name=category1]').empty();
                    $('select[name=category2]').empty();
                    $('select[name=category3]').empty();
                    $('select[name=category1]').append(text);
                } else if (type == '2') {
                    $('select[name=category2]').empty();
                    $('select[name=category3]').empty();
                    $('select[name=category2]').append(text);
                } else {
                    $('select[name=category3]').empty();
                    $('select[name=category3]').append(text);
                }

            },
            error : function(a, b, c){
                alert(a + b + c);
            }
        });
    }

    // 일괄추가(체크박스)
    function selectProduct(){
        var pIdx = dataTableGetSelectedDataArray('productModalTable', 'P_IDX');
        // var pCode = dataTableGetSelectedDataArray('productModalTable', 'P_CODE');
        var pName = dataTableGetSelectedDataArray('productModalTable', 'P_NAME');
        var brandName = dataTableGetSelectedDataArray('productModalTable', 'BRAND_NAME');
        var cateName1 = dataTableGetSelectedDataArray('productModalTable', 'CATE_NAME1');
        var pSellPrice = dataTableGetSelectedDataArray('productModalTable', 'P_SELL_PRICE');

        if(pIdx.length == 0){
            alert('선택된 구매사 상품이 없습니다.');
            return false;
        }else{
            for(var i=0; i< pIdx.length; i++){
                if($('input[name="pIdx"][value='+pIdx[i]+']').length > 0){
                }else{
                    var tr = '';
                    tr += '<tr id="tr_' + pIdx[i] + '">';
                    tr += '<td>' + pCode[i] + '</td>';
                    tr += '<td>' + pName[i] + '</td>';
                    tr += '<td>' + brandName[i] + '</td>';
                    tr += '<td>' + cateName1[i] + '</td>';
                    tr += '<input type="hidden" name="sell_price" value="' + pSellPrice[i] + '">';
                    tr += '<td>' + pSellPrice[i] + '</td>';
                    tr += '<td><input type="text" name="purchase_count" value="0" onkeyup="addPurchaseCount();"></td>';
                    tr += '<td><input type="text" name="purchase_cost" value="0" readonly></td>';
                    tr += '<td><button type="button" onclick="deleteProduct(' + pIdx[i] + ')">삭제</button></td>';
                    tr += '<input type="hidden" name="pIdxs" value="' + pIdx[i] + '">'
                    tr += '</tr>'

                    $('#productTbody').append(tr);
                }
            }
        }

        $('#productModal').modal('hide');
    }



    // 추가버튼
    function chooseProduct(id, rowIdx){
        var dataMap=getDatatablemap(id, rowIdx);

        if($('input[name=pIdx][value='+dataMap.P_IDX+']').length > 0){
            alert('이미 추가된 상품 입니다');
            return false;
        }
        var tr = '';
        tr += '<tr id="tr_' + dataMap.P_IDX + '">';
        tr += '<td>' + dataMap.P_IDX + '</td>';
        tr += '<td>' + dataMap.P_NAME + '</td>';
        tr += '<td>' + dataMap.BRAND_NAME + '</td>';
        tr += '<td>' + dataMap.CATE_NAME1 + '</td>';
        tr += '<input type="hidden" name="sell_price" value="' + dataMap.P_SELL_PRICE + '">';
        tr += '<td>' + comma(dataMap.P_SELL_PRICE) + '</td>';
        tr += '<td><input type="text" name="purchase_count" value="0" onkeyup="addPurchaseCount();"></td>';
        tr += '<td><input type="text" name="purchase_cost" value="0" readonly></td>';
        tr += '<td><button type="button" onclick="deleteProduct(' + dataMap.P_IDX + ')">삭제</button></td>';
        tr += '<input type="hidden" name="pIdxs" value="' + dataMap.P_IDX + '">'
        tr += '</tr>'

        $('#productTbody').append(tr);
        $('#productModal').modal('hide');
    }
    <!-- 상품 검색 -->
    function searchProductModal(){
        $('#productModalTable').dataTable().table.page("first").ajax.url("/product/product.dataTable?" + $('#productModalForm').serialize()).load(null, false);
    }

    function deleteProduct (pIdx) {
        $('#tr_' + pIdx).remove();
        addPurchaseCount();
        addPurchaseCost();
    }

    function addPurchaseCount () {
        var count_total = 0;
        $.each($('input[name=purchase_count]'), function(index, value){
            var count = $(value).val();
            var price = $(this).parent().prev().text().replace(/,/gi, '');
            $(this).parent().next().children().val(comma(count * price));
            count_total += parseInt(count);
        });
        $('input[name=peCount]').val(comma(count_total));
        addPurchaseCost();
    }

    function addPurchaseCost () {
        var cost_total = 0;
        $.each($('input[name=purchase_cost]'), function(index, value){
            var cost = $(value).val().replace(/,/gi, '');
            cost_total += parseInt(cost);
        });
        $('input[name=peCost]').val(comma(cost_total));
    }
</script>
<script th:inline="javascript">
    function selectProductDataTable(){
        destroyDatatable('productModalTable');
        $('#productModalTable').DataTable({
            dom: '<"datatable-header"Bip><"datatable-scroll"t>',
            ordering: false,
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            serverSide: true,
            ajax:{
                url:'/product/product.dataTable',
                type:'post'
            },
            columnDefs: [ {
                width: '40px',
                orderable: false,
                autoWidth: false,
                className: 'select-checkbox',
                targets:   [0]
            },
            {
                width: '40px',
                targets:    [1]
            }],
            "columns" : [
                {'class':'select-checkbox', 'title':'선택','data':'PE_IDX','defaultContent':'','render':  function(data,type,full,meta){
                        return '';
                    }}
                , {'title':'상품코드','data':'P_IDX', 'defaultContent':''}
                ,{'title':'상품명','data':'P_NAME', 'defaultContent':''}
                ,{'title':'브랜드','data':'BRAND_NAME', 'defaultContent':''}
                ,{'title':'대분류','data':'CATE_NAME1', 'defaultContent':''}
                ,{'title':'기준매입가','data':'P_SELL_PRICE', 'defaultContent':''}
                ,{'title':'선택','data':'P_IDX','defaultContent':'', 'render':function(data,type,full,meta){
                        return '<button type="button" onclick="chooseProduct(\'' + meta.settings.sTableId + '\' , ' + meta.row + ');">선택</button>'
                    }}

        ]
    });
    }
</script>
</html>
