<div class="modal" tabindex="-1" role="dialog" id="sabangModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">사방넷 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="collapse show" id="collapse-button-collapsed">
                    <div class="card-body pt-0">
                        <div class="row">
                            <form id="sabangModalForm">

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                              원산지
                                            </span>
                                        </span>
                                            <input type="text" class="form-control" name="ORIGIN">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                  상품상태
                                                </span>
                                            </span>
                                            <select name="STATUS" class="form-control">
                                                <option value="1">대기중</option>
                                                <option value="2">공급중</option>
                                                <option value="3">일시중지</option>
                                                <option value="4">완전품절</option>
                                                <option value="5">미사용</option>
                                                <option value="6">삭제</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                  배송비구분
                                                </span>
                                            </span>
                                            <select name="DELV_TYPE" class="form-control">
                                                <option value="1">무료</option>
                                                <option value="2">착불</option>
                                                <option value="3">선결제</option>
                                                <option value="4">착불/선결제</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                              배송비
                                            </span>
                                        </span>
                                            <input type="text" class="form-control" name="DELV_COST" onkeyup="numCommaKeyUp()" value="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                              원가
                                            </span>
                                        </span>
                                            <input type="text" class="form-control" name="GOODS_COST" onkeyup="numCommaKeyUp()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                              판매가
                                            </span>
                                        </span>
                                            <input type="text" class="form-control" name="GOODS_PRICE" onkeyup="numCommaKeyUp()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                              TAG가(소비자가)
                                            </span>
                                        </span>
                                            <input type="text" class="form-control" name="GOODS_CONSUMER_PRICE" onkeyup="numCommaKeyUp()">
                                        </div>
                                    </div>
                                </div>


                            </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" onclick="sabangSave()"></i>등록</button>
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="icon-cross2 mr-1"></i>닫기</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function showSabangModal() {
        $('#sabangModalForm')[0].reset();
        $('#sabangModal').modal('show');
    }

</script>
