<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>발송내역</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="common/css.html"></th:block>
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title">
                                    <div class="breadcrumb breadcrumb-caret">
                                        <span class="breadcrumb-item">
                                            <i class="mr-1" th:classappend="${mainIcon}"></i>
                                            <th:block th:text="${mainTitle}"></th:block>
                                        </span>
                                        <span class="breadcrumb-item font-weight-bold text-secondary">
                                            <i class="mr-1" th:classappend="${subIcon}"></i>
                                            <th:block th:text="${subTitle}"></th:block>
                                        </span>
                                    </div>
                                </h6>
                            </div>
                            <div class="collapse show" id="collapse-button-collapsed">
                                <div class="card-body pt-0">
                                    <form id="sendingForm">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center align-content-end align-items-end flex-wrap">
                                                <div class="form-group">
                                                    <label class="d-block">발신타입</label>
                                                    <select name="SH_TYPE" data-placeholder="다중선택가능"  class="form-control multiselect-reset" multiple="multiple" data-fouc>
                                                        <option th:each="opt: ${T(com.newper.constant.ShType).values()}" th:text="${opt.getOption()}" th:value="${opt.name()}"></option>
                                                    </select>
                                                </div>
                     <!--                           <div class="form-group">
                                                    <label class="d-block">고객명</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="SH_NAME">
                                                </div>-->
                                                <div class="form-group">
                                                    <label class="d-block">수신전화번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="SH_TO">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">발신전화번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="SH_FROM">
                                                </div>
                             <!--                   <div class="form-group">
                                                    <label class="d-block">주문번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">발신자</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="d-block">발신번호</label>
                                                    <input type="text" class="form-control form-control-sm w-120px" placeholder="" name="">
                                                </div>-->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-footer bg-white d-sm-flex justify-content-sm-between align-items-center">
                            </div>
                            <table class="table" id="sendingTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>

<!-- input -->
<script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
<script th:src="@{/assets/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>

<!-- 맞춤 js -->
<script th:src="@{/assets/js/app.js}"></script>


<!-- input -->
<script th:src="@{/assets/js/demo_pages/picker_date.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_select2.js}"></script>
<script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script th:src="@{/assets/js/demo_pages/form_multiselect.js}"></script>

<script th:src="@{/assets/js/common.js}"></script>

<script th:inline="javascript">

    function searchBtn() {
        var table = $('#smsSendingTable').DataTable();
        table.page('first').ajax.url('/customer/sendingHistory.dataTable?' + $('#sendingForm').serialize()).load(null, false);
    }

    function sendingDetailPop(shIdx) {
        var focusPopup = window.open('sendingHistoryPop/' + shIdx, 'sendingHistoryPop', 'width=1000, height=800, left=' + screenX + ', top=' + screenY + ',scrollbars=yes, resizable=yes');
        focusPopup.focus();
    }

</script>
<script>

    var sendingTable = $('#sendingTable').DataTable({
        dom: '<"datatable-header"Bip><"datatable-scroll"t><"datatable-footer">',
        ordering: false,
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        serverSide: true,
        ajax: {
            url: '/customer/sendingHistory.dataTable?' + $('#sendingForm').serialize(),
            type: 'post',
        },
        columnDefs: [{
            orderable: false,
            targets: [0]

        }],


        "columns" : [
            {'title':'발신타입','data':'SH_TYPE_STR','defaultContent':''}
           /* ,{'title':'고객명','data':''}*/
            ,{'title':'수신전화번호','data':'SH_TO','defaultContent':''}
            ,{'title':'발신전화번호','data':'SH_FROM','defaultContent':''}
            ,{'title':'내용','data':'SH_CONTENT','defaultContent':''}
            ,{'title':'주문번호','data':null,"render" : function(data, type, full, meta){
                    return '<a href="javascript: sendingDetailPop(' + data['SH_IDX'] + ')" class="badge badge-primary">' + data['SH_TO'] + '</a>';}}
            ,{'title':'발송일','data':'SH_DATE','defaultContent':''}
            ,{'title':'발송자','data':'CREATED_BY','defaultContent':''}
            ,{'title':'발송결과','data':'SH_CODE_STR','defaultContent':''}

        ]
    });
</script>
<script>

    $('#sendingForm').on('keyup',function(event){
        if(event.keyCode==13){searchBtn();return false;}
    });



</script>
</html>
