<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="part/head :: head('아이디/비밀번호 찾기')"></head>

<body th:classappend="${@shopComp.getShopDesign()}">
<div class="page-container">

    <!-- 헤더 카테고리 -->
    <th:block th:replace="part/header :: main-header"></th:block>

    <!-- 헤더 카테고리 모바일 -->
    <th:block th:replace="part/header_mobile :: main-header-mobile"></th:block>

    <!-- 로그인 모달창 -->
    <th:block th:replace="part/modal :: login-modal"></th:block>

    <section class="padding-section">
        <!--메뉴 : 행 전체 메뉴 - 박스형 하단 라인 : 이벤트 분류-->
        <div id="findCustomer">

        </div>
    </section>

    <!-- 푸터 -->
    <th:block th:replace="part/footer :: main-footer"></th:block>

    <!-- 플로팅 -->
    <th:block th:replace="part/floating :: main-floating"></th:block>

    <!--js-->
    <th:block th:replace="part/js"></th:block>

</div>
</body>
<script>
    function findCustomer(step){
        $.ajax({
            url: '/customer/findCustomer/step/'+step+'.load'
            ,type: 'post'
        }).done(function(res){
            $('#findCustomer').empty();
            $('#findCustomer').append(res);

            if(step == 'findId' || step == 'findPw'){
                // action
                $('#findCustomerTab').children('li').removeClass("on");
                $('#findCustomerTab').find($('#'+step)).addClass("on");
            }
        });
    }
    $(function(){
        findCustomer('findId');
    })
</script>
</html>