<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="part/head :: head('회원가입 정보입력')"></head>

<body th:classappend="${@shopComp.getShopDesign()}">
    <div class="page-container">

<!-- 헤더 카테고리 -->
<th:block th:replace="part/header :: main-header-join"></th:block>


<div class="join-content">
    <p class="font-xlg semi-bold">회원가입</p>
    <div class="join-banner">
        <p class="font-xxsm">회원가입 하시면 즉시 사용 가능한 <span class="font-sm">5% 할인쿠폰</span> 증정드려요.<br>
            할인 혜택으로 첫 쇼핑을 시작해보세요!</p>
    </div>
    <div>
        <p class="color-grey999">※ 만 14세 이상 고객님만 회원가입 가능합니다.</p>
        <p class="color-grey999"><span class="color-red">*&nbsp;</span>표시 필수입력</p>
    </div>

    <form id="joinForm">
        <ul class="join-table">
            <!-- 아이디 -->
            <li>
                <div class="table-title font-md semi-bold">아이디<span class="color-red">&nbsp;*</span></div>
                <div class="table-content">
                    <input type="text" id="joinID" name="cuId" class="form-control" maxlength="20" title="아이디" placeholder="이메일 형식" is-checked="false" checked-id="">
                    <a onclick="checkId()" class="btn btn-point radius-small width-100">중복확인</a>
                </div>
            </li>
            <!-- 비밀번호 -->
            <li>
                <div class="table-title font-md semi-bold">비밀번호<span class="color-red">&nbsp;*</span></div>
                <div class="table-content joinPW-input-wrap">
                    <input type="password" class="form-control" id="joinPW" name="cuPw" maxlength="20" title="비밀번호" placeholder="비밀번호 영문, 숫자 혼합 8~12자" value="">
                    <input type="password" class="form-control" id="joinPWConfirm" name="cuPwConfirm" maxlength="20" title="비밀번호 확인" placeholder="비밀번호 확인" value="">
                </div>
            </li>
            <!-- 이름 -->
            <li>
                <div class="table-title font-md semi-bold">이름<span class="color-red">&nbsp;*</span></div>
                <div class="table-content">
                    <input type="text" id="joinName" name="cuName" class="form-control" maxlength="20" title="이름" placeholder="휴대폰 본인인증하기를 클릭해 주세요." readonly>
                </div>
            </li>
            <!-- 이메일 -->
            <!--<li>
                <div class="table-title font-md semi-bold">이메일<span class="color-red">&nbsp;*</span></div>
                <div class="table-content joinEmail-input-wrap">
                    <div>
                        <input type="text" id="joinEmail" name="email1" class="form-control" placeholder="이메일">
                        <span class="at">@</span>
                        <select class="form-control" id="domainSelector">
                            <option value="">직접입력</option>
                            <option value="naver.com">naver.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="hotmail.com">hotmail.com</option>
                            <option value="nate.com">nate.com</option>
                            <option value="yahoo.co.kr">yahoo.co.kr</option>
                            <option value="paran.com">paran.com</option>
                            <option value="empas.com">empas.com</option>
                            <option value="dreamwiz.com">dreamwiz.com</option>
                            <option value="lycos.co.kr">lycos.co.kr</option>
                            <option value="korea.com">korea.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="hanmir.com">hanmir.com</option>
                        </select>
                    </div>
                    <input type="text" id="emailDomain" name="email2" class="form-control">
                </div>
            </li>-->
            <!-- 휴대폰 번호 -->
            <li class="phone">
                <div class="table-title font-md semi-bold">휴대폰 번호<span class="color-red">&nbsp;*</span></div>
                <div class="table-content joinPhone-input-wrap">
                    <div>
                        <input type="text" id="phone1" class="form-control phone" maxlength="3" name="phone1" title="휴대폰번호 첫 네자리" readonly>
                        <span>&nbsp;-&nbsp;</span>
                        <input type="text" id="phone2" class="form-control phone" maxlength="4" name="phone2" title="휴대폰번호 중간 네자리" readonly>
                        <span>&nbsp;-&nbsp;</span>
                        <input type="text" id="phone3" class="form-control phone" maxlength="4" name="phone3" title="휴대폰번호 마지막 네자리" readonly>
                    </div>
                    <a href="javascript:fnPopNiceRequest('join');" class="btn btn-dark-gray radius-small width-100">휴대폰 인증번호 받기</a>
                    <input type="hidden" name="saIdx" id="saIdx">
                </div>
            </li>
            <!-- 추천인 -->
            <li>
                <div class="table-title font-md semi-bold">추천인</div>
                <div class="table-content recommender">
                    <input type="text" id="recommender" name="cuRecommender" class="form-control" maxlength="20" title="추천인" placeholder="(선택) 추천인 아이디 입력">
                </div>
            </li>
        </ul>
        <div class="consent">
            <div>
                <input type="checkbox" id="allConsent" class="custom-checkbox" name="" value="">
                <label for="allConsent"><span class="bold font-sm">전체동의</span><span class="color-grey999 font-xxsm">&nbsp;(선택 정보 포함)</span></label>
            </div>
            <div>
                <p>
                    <input type="checkbox" id="joinConsent1" class="custom-checkbox" name="" attr="agree" opt="essential">
                    <label for="joinConsent1">[필수] 만 14세 이상</label>
                </p>
                <p>
                    <input type="checkbox" id="joinConsent2" class="custom-checkbox" name="" attr="agree" opt="essential">
                    <label for="joinConsent2">[필수] 이용 약관 동의</label>
                </p>
                <p>
                    <input type="checkbox" id="joinConsent3" class="custom-checkbox" name="" attr="agree" opt="essential">
                    <label for="joinConsent3">[필수] 개인정보 처리방침 동의</label>
                </p>
                <p>
                    <input type="checkbox" id="joinConsent4" class="custom-checkbox" name="" attr="agree" opt="essential">
                    <label for="joinConsent4">[필수] 개인정보 제공 동의</label>
                </p>
                <p>
                    <input type="checkbox" id="joinConsent5" class="custom-checkbox" attr="agree">
                    <label for="joinConsent5">[선택] 쇼핑혜택 및 광고성 정보 수신동의</label>
                </p>
                <div>
                    <p>
                        <input type="checkbox" id="joinSMS-check" class="custom-checkbox" name="cuMarketingSms" value="" attr="agree" opt="opt">
                        <label for="joinSMS-check">SMS</label>
                    </p>
                    <p>
                        <input type="checkbox" id="joinEmail-check" class="custom-checkbox" name="cuMarketingMail" value="" attr="agree" opt="opt">
                        <label for="joinEmail-check">이메일</label>
                    </p>
                </div>
            </div>
            <div class="join-button-group">
                <div class="btn btn3 semi-bold">
                    <a href="/">취소</a>
                </div>
                <div class="btn btn2 semi-bold">
                    <a onclick="joinComplete()">가입완료</a>
                </div>
            </div>
        </div>
    </form>
</div>

<!--js-->
<th:block th:replace="part/js"></th:block>

    </div>
</body>
<script>
    function joinComplete(){
        if(window.confirm("가입 하시겠습니까?")){
            // 아이디 유효성 검사
            var id = $('#joinID');
            var idRegex = /\w+[@]+\w+[.]+\w+/g
            if (id.val() == null || id.val() == '') {
                alert('아이디를 입력해주세요.');
                id.focus();
                return false;
            } else if (!idRegex.test(id.val())) {
                alert('아이디는 이메일 주소를 입력해주세요');
                id.focus();
                return false;
            } else if (!id.attr('is-checked') || id.attr('checked-id') != id.val()) {
                alert('아이디 중복확인이 필요합니다.');
                return false;
            }

            // 비밀번호 유효성 검사
            var pw = $('#joinPW');
            var pwConfirm = $('#joinPWConfirm');
            var pwRegex = /[0-9a-zA-Z]{8,12}/g;
            if (pw.val() == null || pw.val() == '') {
                alert('비밀번호를 입력해주세요.')
                pw.focus();
                return false;
            } else if (!pwRegex.test(pw.val())) {
                alert('비밀번호는 영문과 숫자를 혼합하여 8~12자로 구성해야합니다.');
                pw.focus();
                return false;
            } else if (pw.val() != pwConfirm.val()) {
                alert('비밀번호가 일치하지 않습니다.');
                pwConfirm.focus();
                return false;
            }

            // 약관체크 확인
            var essential = $('input[opt=essential]').length;
            var isAgreed = $('input[opt=essential]:checked').length;
            if (essential != isAgreed) {
                alert('필수약관에 동의해주세요.');
                return false;
            }
            // 선택약관 확인
            $('input[opt=opt]').each(function(){
                var agree = $(this);
                if(agree.prop('checked')){
                    agree.val(true);
                }else{
                    agree.val(false);
                }
            });

            $.ajax({
                url: '/customer/join.ajax'
                ,type: 'post'
                ,data: $('#joinForm').serialize()
                ,success:function(res){
                    location.href=res.location;
                }
            });
        }
    }

    /**아이디 중복체크*/
    function checkId() {
        var id = $('#joinID');
        var idRegex = /\w+[@]+\w+[.]+\w+/g
        if (id.val() == null || id.val() == '') {
            alert('아이디를 입력해주세요.');
            id.focus();
            return false;
        } else if (!idRegex.test(id.val())) {
            alert('아이디는 이메일 주소로 입력해주세요');
            id.focus();
            return false;
        }

        $.ajax({
            url: '/customer/checkId.ajax'
            ,type: 'post'
            ,data: {'id':id.val()}
            ,success: function(res){
                if (res.data.result) {
                    id.attr('is-checked',true);
                    id.attr('checked-id', id.val());
                    $('#joinPW').focus();
                } else {
                    id.attr('is-checked',false);
                    id.attr('checked-id', '');
                    id.focus();
                }
            }
        });
    }

    /**도메인 select시*/
    function selectDomain(el) {
        var domain = $('#emailDomain');
        domain.val(el.val());
        if (el.val() == null || el.val() == '') {
            domain.attr('readonly', false);
        } else {
            domain.attr('readonly', 'readonly');
        }
    }

    /**전체동의*/
    function agreeAll(target, isTrue) {
        $(target).prop('checked', isTrue);
    }

    /** 체크박스 전체선택 확인 */
    function isCheckedAll(source, targetId) {
        var input = $(source).length;
        var checked = $(source+':checked').length;
        if (input == checked) {
            $('#'+targetId).prop('checked',true);
        } else {
            $('#'+targetId).prop('checked',false);
        }
    }

    /**input입력제한*/
    function replaceValue(el, regex) {
        var val = el.val().replaceAll(regex, '');
        el.val(val);
    }
</script>
<script>
    $('#allConsent').change(function () {
        agreeAll('input[attr=agree]',$(this).prop('checked'));
    });
    $('#joinConsent5').change(function () {
        agreeAll('input[opt=opt]',$(this).prop('checked'));
    });
    $('input[opt=opt]').change(function () {
        isCheckedAll('input[opt=opt]', 'joinConsent5');
    });
    $('input[attr=agree]').change(function () {
        isCheckedAll('input[attr=agree]', 'allConsent');
    });
    $('#joinPW').keyup(function () {
        replaceValue($(this),/[^0-9a-zA-Z]/g);
    });
    $('#domainSelector').change(function () {
        selectDomain($(this));
    });
</script>
</html>